[2013-11-20 20:22] yzhwang opened #2 "Possible CUDA memory allocation failure on huge datasets"
When running BFS (and possibly BC) on kron_g500-logn21 and soc-LiveJournal1 for undirected graph and choose to keep predecessor for each node, there is possible CUDA memory allocation failure if the device memory of the card you are using is not enough. Need to add free device memory detecting code.

[2015-02-05 21:47] fvella opened #13 "Compile error"
error: no instance of function template "gunrock::oprtr::advance::LaunchKernel" matches the argument list
argument types are: (int *, gunrock::app::EnactorStats, gunrock::app::FrontierAttribute, gunrock::app::bfs::BFSProblem::DataSlice *, VertexId *, __nv_bool *, __nv_bool *, unsigned int *, int *, int *, VertexId *, int *, int *, int *, SizeT *, VertexId *, int, int, gunrock::util::CtaWorkProgres

[2015-02-05 21:51] yzhwang commented on #13
Hi, can you try to pull the latest version: https://github.com/gunrock/gunrock/commit/b588f8920bc2424eeeab0d778ab4da4b15d9b2c1
I think I have fixed this.

[2015-02-05 22:01] yzhwang commented on #13
So we are currently checking the interface inconsistency for other graph primitives. We have recently added the neighborhood gather reduce feature. That should be the problem which caused the issue. Will let you know when we fix this.

[2015-02-05 22:01] ydwu commented on #13
@fvella  The cmake list out-of-date, will fix this later.

[2015-02-05 22:53] fvella commented on #13
Thanks guys!
From scratch installation, after run make:
"/usr/src/gunrock/gunrock-master/gunrock/util/sort_utils.cuh:21:23: error: cub/cub.cuh: No such file or directory
CMake Error at gunrock_generated_topk_app.cu.o.cmake:206 (message):
  Error generating
  /usr/src/gunrock/gunrock/CMakeFiles/gunrock.dir/app/topk/./gunrock_generated_topk_app.cu.o

make[2]: *** [gunrock/CMakeFiles/gunrock.dir/app/

[2015-02-06 00:22] yzhwang opened #14 "PageRank radixsort error on directed graphs."
[../../gunrock/app/pr/pr_enactor.cuh, 466] cub::DeviceRadixSort::SortPairsDescending failed (CUDA error 9: invalid configuration argument)
[test_pr.cu, 339] pr Problem Enact Failed (CUDA error 9: invalid configuration argument)

[2015-02-06 00:25] yzhwang opened #15 "PageRank and Personal PageRank CPU reference algorithms"
PageRank BGL reference algorithm fails to remove dangling nodes, causing inconsistent results with our GPU results. (Boost version 1.53.0). Also, need to find a personal PageRank reference algorithm (Currently no ref algorithm so the validity test will fail).

[2015-02-06 07:05] ydwu commented on #14
This issue is not related to cub sort actually. Some invalid reads are reported by memcheck.

[2015-02-06 07:37] ydwu commented on #13
@fvella You should be able to compile now, currently we breadth_first_search, direction-optimizing-bfs, minimum_spanning_tree, connected_component, hyperlink_induced_topic_search and single_source_shortest_path in the CMakeList. Several other primitives are have some issues that might due to the recent interface change, will add those once we done tests.

[2015-02-06 18:19] fvella commented on #13
I have downloaded the last release, but I have the same problem.
I have copied cub e moderngpu onto externals.
Cmake works!
run make
Here's the output:
In file included from /usr/src/gunrock/gunrock-master/gunrock/app/topk/topk_enactor.cuh:19,
                 from /usr/src/gunrock/gunrock-master/gunrock/app/topk/topk_app.cu:21:
/usr/src/gunrock/gunrock-master/gunrock/util/sort_utils.cuh:21:23: er

[2015-02-06 18:53] ydwu commented on #13
You actually do not need to copy those dependencies manually you can follow these steps:
1. git clone https://github.com/gunrock/gunrock
2. cd gunrock/
$ git checkout 7a43bc8da (simply because I tested this version yesterday.)
3. git submodule init
4. git submodule update (after step 3 and 4, you should have the cub and moderengpu in the externals)
5. cd ../ && mkdir build (if you want to have a b

[2015-02-06 20:26] fvella commented on #13
Works!
**Minor** Please check run.sh samples (i.e. BFS). Maybe the paths into the script are not correct.

[2015-02-06 23:12] ydwu commented on #13
Thanks for your feedback, we will updates those scripts.

[2015-02-06 23:12] #13 closed

[2015-02-10 00:51] fvella commented on #13
Hi guys,
Does bc work in current branch ?

[2015-03-10 18:47] yzhwang opened #16 "Do not write output frontier when not necessary"
Should add a switch to turn off output frontier generation when next operator's input frontier is not dependent on the output frontier of the previous operator.

[2015-04-09 00:12] Adam27X opened #17 "Illegal memory access for BC computation on as-Skitter"
Hi all,

I'm trying to run some Betweenness Centrality tests using the following graph: http://www.cise.ufl.edu/research/sparse/matrices/SNAP/as-Skitter.html

Here's how I'm running the program:

$ ./bin/test_bc_7.0_x86_64 market ~/github/graph-utils/graphs/as-Skitter.mtx --device=0 --src=-1 --quick

and here's the output up until the first error:

  Reading directly from previously stored CSR arr

[2015-04-09 01:14] yzhwang commented on #17
Hi Adam!
Thanks for the report. Currently Gunrock team are working hard for two papers (SC and IISWC) due on April 17th. Will look into this problem as soon as we pass the deadline.

[2015-04-09 14:28] Adam27X commented on #17
Yangzihao,

No worries. Good luck with your submissions!

-Adam

[2015-04-13 23:32] fvella opened #18 "bc algorithm"
Hi,
I am trying to perform your bc implementation.
/bin/test_bc_6.5_x86_64 market ../../dataset/small/test_bc.mtx

I have several errors:
Computing reference value ...
CPU BC finished in 0.000000 msec.
[../../gunrock/app/bc/bc_enactor.cuh, 299] edge_map_forward::Kernel failed (CUDA error 77: an illegal memory access was encountered)
[../../gunrock/app/bc/bc_enactor.cuh, 512] filter_forward::Kernel

[2015-04-13 23:47] yzhwang commented on #18
Hi Flavio, the program passed the tests here. I'm meeting multiple paper deadlines right now. I will get back to you after two weeks time. Meanwhile, you probably can try this repo which also has a BC implementation on the GPU: https://github.com/Adam27X/graph-utils

[2015-04-13 23:55] fvella commented on #18
Thanks!

[2015-05-01 15:19] yzhwang commented on #17
Hi Adam,

Sorry for the delay. I'm looking into this right now. Will keep you posted.

[2015-05-02 19:19] yzhwang commented on #17
Hi Adam,

Hopefully I've fixed the bug in the latest commit. Since I'm adding a new operator which can do neighborlist reduce and advance in one pass. To use both exclusive/inclusive scan result on one array I introduced one offset but forgot to enlarge that array size by one too. Here's the result for as-Skitter graph:

bin/test_bc_7.0_x86_64 market /data/gunrock_dataset/large/as-Skitter/as-Skitt

[2015-05-02 19:19] #17 closed

[2015-05-02 19:20] yzhwang commented on #18
Hi Flavio, I've just fixed a bug in BC and you can try it and see if it works now. Would love to help you with any comparisons.

[2015-05-02 19:20] #18 closed

[2015-05-04 18:43] jowens opened #19 "cmake no longer has wizard mode (at least on OS X)"
[code]

(docs need to be updated: http://gunrock.github.io/gunrock/doc/0.2/building_gunrock.html)

[2015-05-04 18:58] jowens commented on #19
[code]

works fine, btw.

[2015-05-04 18:59] jowens opened #20 "duplicate symbols in OS X build"
Just wondering if this has come up in any other builds.

[code]

[2015-05-04 20:36] jowens commented on #20
@yzhwang I actually don't know how this code compiles anywhere. If I look at gunrock/graphio/utils.cuh, for instance, I see that there's not only a declaration but a /definition/ of a function (in this case, Sprng). So anyplace this header is included will result in a Sprng in that compilation unit (foo.o), and then linking foo.o and bar.o will have two Sprng functions, which is bad. My understand

[2015-05-04 21:51] yzhwang commented on #20
I will assgin this to @ydwu since he is the guy who added the code. Yuduo, can you look into the Sprng function problem here? Thanks!

[2015-05-04 21:54] yzhwang commented on #20
I think the reason we haven't noticed this problem is that on linux we haven't used cmake to build. But this needs to be fixed for users who use cmake.

[2015-05-04 22:04] jowens commented on #20
It's all util and graphio functions.

[2015-05-04 22:58] jowens commented on #20
It's pretty ugly, but I think inlining the functions in question would temporarily solve the problem (not a great solution, but would work). That's util/{stringprint,Sprng} and graphio/{Flip,VaryParams}, as best I can tell.

[2015-05-04 23:01] ydwu commented on #19
I'll check why this happens. But seems not on Linux.

[2015-05-04 23:04] jowens commented on #19
Mario has cmake 2.8.7, which is ancient.

[2015-05-04 23:19] ydwu commented on #19
That's true, got same issue when I updated to cmake 3.2.2.

[2015-05-04 23:32] jowens opened #21 "OS X current build failures"
These are all Boost-related errors (but that doesn't mean it's Boost's fault). The Gunrock library builds after inlining all header functions. Some tests build, some do not. Summary below.

[code]

[2015-05-05 16:19] jowens commented on #20
Fixed in 25b4a2636431663806243a255d35188049293216 - thanks!

[2015-05-05 16:19] #20 closed

[2015-05-05 23:44] Adam27X commented on #17
Cool! Looks like it works. I actually just wrote up a paper that basically describes a programming abstraction that generalizes my BC techniques to algorithms that have independent BFSs.

[2015-05-06 04:38] yzhwang commented on #17
That's awesome! I'd love to read the paper if it's possible. Our multi-GPU graph analytics paper is on arxiv if you are interested to read: http://arxiv.org/abs/1504.04804

[2015-05-07 22:20] jowens opened #22 "__any / __all conflicts / please only include the std:: things we need"
@ydwu @yzhwang Can you narrow down the "using namespace std" directive? Import only the symbols we need, not the whole namespace?

https://isocpp.org/wiki/faq/coding-standards#using-namespace-std

e.g. "using std::cout" ?

Cliff says:

[2015-05-07 23:35] ydwu opened #23 "Who-To-Follow cudaMemcpy d_rank_curr[src] failed"
[yuduo@mario]build$ bin/who_to_follow market /data/gunrock_dataset/small/chesapeake.mtx
Reading from /data/gunrock_dataset/small/chesapeake.mtx:
  Parsing MARKET COO format (39 nodes, 170 directed edges)... Done parsing (0s).
  Converting 39 vertices, 170 directed edges (unordered tuples) to CSR format...
Done converting (0s).

Degree Histogram (39 vertices, 170 edges):
    Degree   0: 4 (10.26%)

[2015-05-08 00:23] ydwu commented on #23
due to lack of default settings.

[2015-05-08 00:24] yzhwang commented on #23
I haven't fixed this Yuduo. So I will reopen this for now. Will fix this tonight.

[2015-05-08 02:46] jowens commented on #22
@ydwu So I know it'll *work* if you ::__any instead of __any, but I don't think that's the right option; someone's going to add code in 6 months, not know that rule, and break it again. I think it's safer if we just import only the std stuff we actually need/use, rather than the whole namespace. Other opinions? @yzhwang ?

[2015-05-08 02:49] jowens commented on #22
@ydwu Also if you only change our __all and __any calls, you will not get the CUB __all and __any calls, and that's a lot harder for us to patch.

[2015-05-08 02:52] jowens commented on #22
@ydwu of course CUB does the same thing—using namespace std—not helpful, @dumerrill. :)

[2015-05-08 03:50] ydwu commented on #22
Perhaps I didn't understand the problem well, I eliminated importing whole namespace std in the commit: [1380f62e6e746f3bf5e7011e4dc19fc80844fcdb](https://github.com/gunrock/gunrock/commit/1380f62e6e746f3bf5e7011e4dc19fc80844fcdb), does this corresponding to "rather than the whole namespace"?

[2015-05-08 04:06] jowens commented on #22
Great. Thank you. I think this fixes up my issues. I appreciate it!

Now to track down tr1/random errors.

[2015-05-08 04:06] #22 closed

[2015-05-08 04:17] yzhwang commented on #23
fixed.

[2015-05-08 04:17] #23 closed

[2015-05-08 17:47] ydwu commented on #15
when will " inconsistent results" happens?

[2015-05-08 17:52] yzhwang commented on #15
BGL's PageRank seems to have a bug in their remove_dangling_nodes function. This happens in the directed graph since we need to get rid of any "black hole" node which only take in score but not distribute out. Undirected graphs won't have such problem. My other finding is all other graph libraries seems to assume undirected PageRank in their benchmark so as to avoid the time consuming dangling nod

[2015-05-08 22:20] jowens commented on #21
OK, good news, OS X builds and runs OK now, with the exception of the MST test. Getting it working with pure C++11 was a fun exercise.

@ydwu @yzhwang @sgpyc : Question. To make this work with C++11 requires using a different set of <random> calls in moderngpu; the <random> in C++11 is different than gcc's or boost's. I currently just have a locally modified mgpuutil.cpp, but I would prefer to hav

[2015-05-09 00:12] yzhwang commented on #15
@ydwu The current version gives me inconsistent results on ak2010 dataset. Both directed and undirected. A node which should get 0 score gets 47655 in the BGL implementation.

[2015-05-09 00:16] yzhwang opened #24 "Minimum Spanning Tree got illegal memory access error on ak2010 dateset"
@ydwu I'm testing MST today and found out this bug.

[code]

[2015-05-09 01:10] ydwu commented on #24
So... MST only takes graphs with *#Connected Components == 1*. ak2010 has 50. So this is not a bug. I wish I can add some detection code for input graphs before running on GPU but don't know how.

[yuduo@mario]build_gunrock$ bin/connected_component market /data/gunrock_dataset/large/ak2010/ak2010.mtx
Using device 0: Tesla K40c
Reading from /data/gunrock_dataset/large/ak2010/ak2010.mtx:
  Parsing M

[2015-05-10 02:47] #14 closed

[2015-05-10 19:36] yzhwang opened #25 "SALSA primitive Advance V2E and E2V bug"
SALSA uses V2E and E2V which causes memory access error on several datasets. Probably due to a series change of operator but only tested for V2V.

[2015-05-12 04:14] 1duo opened #26 "CPU Reference (BGL) for Connected Component incorrect."
BGL Connected Component results inconsistent with Gunrock and NetworkX on generated twitter graphs.

[2015-05-12 04:40] yzhwang commented on #26
@sgpyc has encountered some inconsistency when running cc on multi-GPUs, but we were sure Gunrock was giving the correct answer. I guess maybe we should file a bug for BGL if Gunrock always agrees with NetworkX?

[2015-05-12 05:53] ydwu commented on #26
I guess there is a bug in Boost. From limited tests I've done, yes, Gunrock always consistent with NetworkX.

[2015-05-22 06:32] ctcyang opened #27 "Possible Bug with Direction-Optimized BFS"
Hey guys, I was running some tests with direction-optimized BFS and I noticed a problem with kron scale20 from source nodes 1 and 3. Strangely enough, the other nodes seem to be fine.

./bin/test_dobfs_7.0_x86_64 market /data/gunrock_dataset/large/kron_g500-logn20/kron_g500-logn20.mtx --src=0 --idempotence
./bin/test_dobfs_7.0_x86_64 market /data/gunrock_dataset/large/kron_g500-logn20/kron_g500-lo

[2015-05-31 23:54] ydwu commented on #27
Strangely, It's actually work for me:

[yuduo@mario]dobfs$ ./bin/test_dobfs_7.0_x86_64 market /data/gunrock_dataset/large/kron_g500-logn20/kron_g500-logn20.mtx --src=1 --idempotence
Reading from /data/gunrock_dataset/large/kron_g500-logn20/kron_g500-logn20.mtx:
  Parsing MARKET COO format (1048576 nodes, 44620272 directed edges)... Done parsing (16s).
  Converting 1048576 vertices, 44620272 direct

[2015-06-10 13:45] ctcyang commented on #27
Yeah, it works for me too now. I think possible explanations are: 1) I was using outdated commit for gunrock, 2) someone else was using GPU at the same time.

[2015-06-10 13:46] #27 closed

[2015-06-15 20:32] ydwu commented on #24
fixed in 1d2ff81fdb1515b44bf7033b7076e2a32f33ebf7.

[2015-06-15 20:32] #24 closed

[2015-06-16 19:45] yzhwang opened #28 "Improve Gunrock's Documentation"
Need to add details on how to create new graph primitives with problem, functor, and enactor. Proposed method: Add functionality and interface explanation for app/template (the empty sample template graph primitive) so that users can create a minimal running graph primitive by walking through the template code.

[2015-06-20 00:56] odedgreen opened #29 "Multi-GPU Pagerank algorithm is returning incorrect results"
Calling the Mgpu-pr algorithm with --device=0,0 or --device=0,1 results in the output being inconsistent with the CPU reference code.

[2015-06-20 00:59] #29 closed

[2015-06-20 01:00] odedgreen commented on #29
Turns out the mgpu-pr algorithm requires --undirected graphs.

[2015-06-23 19:13] yzhwang opened #30 "Add switch to disable unnecessary work in Filter"
For operation we know we do not need to filter out anything, we should add a switch to allow users to disable scan+compact for some extra performance.

[2015-06-26 20:07] ydwu opened #31 "merge multi-dev branch to master todos"
TODO: Merge mgpu-dev branch into master. Temporary branch for merging: mgpu-merge
[Link: https://github.com/gunrock/gunrock/tree/mgpu-merge]

0. ~~Solve merge conflict after commit 15cc802197ed8ea5f6ab3a4690f5b7172f9c0bcd;~~
   - merged in a95cd421ad5a5b4b7c802ee2dbbcc6bf826eaa71
    BC, BFS, CC, HITS, PR, SSSP, TOPK, WTF passed tests
   - ~~DOBFS yield INCORRECT results on directed inputs~~ fixed

[2015-06-30 13:36] yzhwang commented on #30
Added here: https://github.com/gunrock/gunrock/blob/master/gunrock/oprtr/filter/kernel.cuh#L251
When the switch is set the Filter will become an ordinary apply.
Used only in CC's Hook for now: https://github.com/gunrock/gunrock/blob/master/gunrock/app/cc/cc_enactor.cuh#L386

[2015-06-30 13:36] #30 closed

[2015-06-30 13:40] yzhwang commented on #16
Added in both partitioned advance and filter. Only write to output frontier when it's not empty.

[2015-06-30 13:40] #16 closed

[2015-06-30 14:40] yzhwang opened #32 "Better way to handle kernel call parameters"
CUDA stores kernel parameters in shared memory. The limit is 256 bytes total. If using 64-bit, that's only 32 pointers/ints/floats. Currently Gunrock's number of arguments for kernel calls are getting more and more. Putting them all together in a struct and passing a handle would make the interface much cleaner.

[2015-07-08 00:21] sashkiani commented on #14
@ydwu Could you fix this? On a different topic, I'm having exactly the same error in my code using CUB.
I just realized that whenever I include thrust/sort.h in my code as well, I get this error. By not including that, everything looks fine and works perfectly.

[2015-07-08 03:06] ydwu commented on #14
Hi @sashkiani, this problem was originally observed running `bin/pagerank market directed_graph.mtx`, but now I actually cannot reproduce the same issue when I switch back using `CUB's sort` (for safety I changed it to `mgpu::sort` in current `master` branch). Changing [pr_enactor.cuh L393](https://github.com/gunrock/gunrock/blob/master/gunrock/app/pr/pr_enactor.cuh#L393) back to:

    util::CUBRa

[2015-07-09 15:02] yzhwang opened #33 "Matrix Market File Format"
Add code to handle mm file header. Also, should we keep using column major or adding support for both row/column major?

[2015-07-09 15:36] sgpyc opened #34 "To change openmp routines to use C++11 threads"
getting clang working with openmp is too much to just let gunrock run on Mac OS X. Need to use C++11 multi-thread support for the graph generators. But C++11 mutex support is still not available (or at least not though the usual way) under current version of clang coming with Mac OS X (Apple LLVM version 6.1.0, clang-602.0.53, based on LLVM 3.6.0svn), need to wait till it's supported, and mgpu-mer

[2015-07-09 16:37] ydwu opened #35 "Hang in BC, observed only on mgpu dev/merge branch"
using graph: `test_bc.mx` when setting `--src=-1` no matter whether add `undirected` or setting `device`.

    [yuduo@mario]bc$ bin/test_bc_7.0_x86_64 market /data/gunrock_dataset/small/test_bc.mtx --src=-1 --device=0,1
    Using 2 gpus:  0  1
    src = -1
    partition_method = random
    Partition begin. seed=1436459662
    1	   	   	 out_offsets = 0, 4, 7
    0	   	   	 out_offsets = 0, 3, 7

[2015-07-09 18:41] sgpyc commented on #35
mgpu dev/merge currently do not support running multiple times of the same algorithm

[2015-07-09 18:51] ydwu commented on #35
got it. Developing in `mgpu-cq` branch.

[2015-07-09 18:51] #35 closed

[2015-07-16 05:29] May989 opened #36 ".mtx to .gr file conversion"
Hi,
      The input to the Gunrock code is .mtx file . However we got boost Parallel Boost Graph Library which takes input in the form of .gr file. We wanted help from you in this regards.

   1. How can I convert file from .mtx format to .gr format ?

   2. How can I convert file from .gr format to .mtx format ?

   3. Can I get some performance numbers of performance of gunrock implementations o

[2015-07-16 14:19] yzhwang commented on #36
Hi Mayank,

Thanks for the interest of trying out our tool. Please refer to the scripts located here:
https://github.com/gunrock/gunrock/tree/mgpu-merge/tools

[2015-07-16 14:19] #36 closed

[2015-07-16 14:25] ydwu commented on #36
@May989 For 3, we are developing and testing mostly on K40c, you can find out some numbers in our arXiv papers.

[2015-07-21 15:36] ydwu commented on #31
Mostly done here. Temporary ignore/remove MIS because lack of support for GatherReduce feature in current branch.

[2015-07-21 15:36] #31 closed

[2015-07-21 15:50] jowens opened #37 "priority_queue/kernel has a warning"
```/home/jowens/working/gunrock/gunrock/priority_queue/kernel.cuh(487): warning: variable "far_size" was set but never used```

[2015-07-21 15:57] ydwu commented on #37
fixed in `mgpu-merge` branch here: 08fddb9676de303cec1efb95cfdafc2e50e84064

[2015-07-21 15:58] jowens commented on #37
OK good thanks.

[2015-07-21 15:58] #37 closed

[2015-07-22 14:23] yzhwang commented on #25
E2V works correctly with no memory access error. SALSA results for some large graphs doesn't converge. Also V2E+E2V can generate far more elements in the frontier, using matrix-based method might be a better way to implement SALSA.

[2015-07-22 15:11] yzhwang commented on #25
Works for all graphs 100K V and 5M E.

[2015-07-22 15:11] #25 closed

[2015-07-22 15:32] ydwu commented on #19
no long need wizard mode now.

[2015-07-22 15:32] #19 closed

[2015-07-23 16:54] yzhwang opened #39 "Making pull-based traversal in dobfs a general operator."
New advance should look like this:
if (meets_some_metric)
  push-based-advance //could be either TWC or LB
  pull-based-advance //again, could be either TWC or LB

Need to be very careful when switching/generating frontiers for pull/push based advance.

[2015-07-25 22:01] jowens opened #40 "gitsha1.c: should not be in repo"
I'm not 100% sure I did this right, but I think I did: gitsha1.c is generated by CMake and should not be in the repo. However, in the merge, it *is* in the repo and I believe it should not be. (The header and .in files SHOULD be in the repo, and are.) Whoever added it to the repo, please check that you did the right thing, and remove it if it shouldn't be there.

http://stackoverflow.com/questions

[2015-07-27 13:53] ydwu commented on #40
deleted in 577d05ef287de0a39f7950f40f2a0cb4a7e77831.

[2015-07-27 13:53] #40 closed

[2015-07-30 05:25] May989 opened #41 "Query"
I am working on cuda implementation of breadth first search using gunrock.
Can you explain how the cuda threads are distributing their work among each other and the algorithmic details.
Also which are the relevant files to explore for getting to understand the 'gunrock bfs' implementation.

[2015-07-30 11:58] May989 opened #42 "BFS Algorithm Detail"
Hi,
I am exploring the BFS algorithm implementation in cuda gunrock, in this regards I read the paper "High Performance and Scalable GPU Graph Traversal". However the paper lists a number of algorithms. Could you please let me know the exact algorithm that is used in gunrock. Where can I get more details about this algorithm?

Thanks

[2015-08-03 20:00] ydwu opened #43 "TODOs before 0.3 release."
- [x] Primitive interface (MST, SALSA, WTF, HITS)
- [x] Update documentations, add release notes, change-log and some other docs.
- [x] Update all the `run.sh`, `ppopp-test.sh` under `test/primitive` dir.
- [x] Git remove broken/template primitives in `master` branch (MIS, VIS and Template).

~~- [ ] Hide memory info `printf`s in 5 primitives. (optional?)~~
- [x] Link why-gunrock.md into the top-l

[2015-08-03 20:13] yuduowu opened #44 "[--iteration-num=<num>] flag doesn't work."
Setting --iteration-num=<num> flag (num > 1) will cause testing never end (hang in the 2nd test run). This call cannot stop: `util::GRError(enactor->Enact(src, traversal_mode)`.

[2015-08-07 20:53] jowens commented on #41
First, we are preparing for a 0.3 release of Gunrock, which might actually happen today but certainly within the next week. You should use the "dev" branch for a preview of that release, and you should start with tests/bfs/test_bfs.cu and the files in gunrock/app/bfs.

[2015-08-07 20:53] #41 closed

[2015-08-07 20:54] jowens commented on #42
In terms of work distribution, we use two strategies. One is (broadly) Merrill's; the one he calls "scan+warp+cta"; you read his paper. The other is Davidson's; http://escholarship.org/uc/item/8qr166v2; he calls it "load-balanced partitioning".

[2015-08-07 20:54] #42 closed

[2015-08-08 18:16] #43 closed

[2015-08-11 22:00] jowens commented on #21
The latest moderngpu checkin (yesterday) finally solved this one. Woo!

[2015-08-11 22:00] #21 closed

[2015-08-12 13:21] May989 opened #45 "Gunrock implementation"
I have gone through the Gunrock paper "Gunrock: A High-Performance Graph Processing Library on the GPU", but still unable to understand the implementation of Gunrock sssp algorithm. Can you please tell details about the implementation of cuda version of sssp(gunrock).

[2015-08-18 16:18] anshumang opened #46 "Cmake error configuring v0.3"
I copied the cmake output [here](https://gist.github.com/anshumang/f4f3eca1b91e65f8a31f).

[2015-08-21 09:50] randinterval opened #47 "Build Error"
Hi,
I'm trying to build using CMake and getting the following error
'Parse error.  Expected "(", got newline with text "
".'

[2015-08-24 16:34] ydwu commented on #47
@randinterval Can you try it again using latest `master` branch? (cause the error doesn't show for me)

[2015-09-03 08:53] May989 opened #48 "Support for Nvidia Tesla C2075 Fermi architecture"
Hi,

I have installed gunrock-v0.2-145-g57842ba on Nvidia Tesla C2075, while running the test: $GUNROCK_ROOT/tests/bfs after make, it gets hanged although process consumes memory on gpu seen from "nvidia-smi". May I know whether this particular GPU which has Fermi arch with compute capability 2.0 supports this version of gunrock or not? If not, is there any way to make gunrock running for this arc

[2015-09-07 20:12] yzhwang opened #49 "Misalignment of BFS perf (traversal-mode=1) between single-node and master(multi-GPU) version"
@sgpyc and @ydwu ,

I noticed that there is a misalignment for BFS perf when using traversal-mode=1 (dynamic grouping strategy of Merrill et al's paper) between the single-node branch and the master branch. It happens on two regular graphs: rgg_n24 and europe_osm. Could you guys look into this problem and find out why master branch performs worse when using the same traversal-mode=1 as the single-

[2015-09-07 20:14] yzhwang commented on #48
Could you try pulling our latest release (v0.3) and try to use CMake for build?
Instruction here:
http://gunrock.github.io/gunrock/doc/0.3/building_gunrock.html

[2015-09-25 18:38] jowens opened #50 "add a minimum compute-capability version to docs"
"Operating System Support and Requirements" in readme.md would be good.

[2015-09-25 19:02] jowens opened #51 "refine documentation creation, document it"
I'm a little unclear on how to generate documentation. I understand we can use Jekyll, which I haven't used. But our docs are split between three places: (1) the gunrock-docs repo; (2) the README in the gunrock repo (which produces nice HTML on gunrock.github.io); and (3) the "doc" directory, which also generates the doxygen documentation (but does not appear to produce nice HTML on gunrock.github

[2015-09-25 19:10] jowens commented on #45
Sorry, didn't see this. Here's the latest text we wrote on it:

[2015-09-25 19:17] jowens commented on #45
I believe ```Subqueue_Core``` in ```gunrock/app/sssp/sssp_enactor.cuh``` has the core of the logic (@ychpan?).

[2015-09-25 21:04] shubho commented on #51
I recommend Jekyll - we are moving towards Jekyll + Github. It is a
lightweight wordpress and suits our needs.

Shubho

On Fri, Sep 25, 2015 at 12:02 PM, John Owens <notifications@github.com>
wrote:

[2015-09-25 21:12] jowens commented on #51
I'll take a peek. We've internally discussed it before and we think it's just fine, but it's a question of figuring out a workflow to answer the questions above.

[2015-09-25 22:34] jowens commented on #51
This seems to be useful: http://rickfoosusa.blogspot.com/2011/10/howto-use-doxygen-with-github.html
Also: https://github.com/smartell/APIDemo (derives from the above)

The problem it solves is how to put doxygen output into github-pages.

[2015-09-25 22:35] sgpyc commented on #45
Yes, SubQueue_Core in gunrock/app/sssp/sssp_enactor.cuh is the core logic,
with actual computation in SSSPFunctor in gunrock/app/sssp/sssp_functor.cuh.

It basically contains two steps: 1) advance: visit the neighbors (d_id) of
the vertices (s_id) in a frontier, and update the neighbors' weight if new
ones (labels[s_id] + weights[e_id]) are smaller than the old ones
(labels[d_id]); 2) filter: form

[2015-09-25 22:35] #45 closed

[2015-09-26 01:09] jowens opened #52 "Need raw data for comparison against other engines"
I've now recreated several graphs using vega-lite and Gunrock data (input is Gunrock json files). This is good. I now would like to start using non-Gunrock data. I am not finding the raw data from which we
made the tables in the current version of the Gunrock paper, except for a "wee-table.xlsx", which isn't exactly what I want anyway.

Specifically, I'd like to be able to get runtime data (elapse

[2015-09-26 01:17] jowens opened #53 "Storing output stats & scripts for processing them"
How did you want to organize storing output performance data (JSON files) and the scripts that generate them? Some other repo under the gunrock org? Something within the gunrock org? Your call. I'll move stuff per your orders here.

[2015-09-29 02:32] #47 closed

[2015-09-29 02:34] #46 closed

[2015-09-29 02:34] #48 closed

[2015-09-29 02:37] #50 closed

[2015-09-29 02:56] anshumang commented on #46
@yzhwang is there any update on this?

[2015-09-29 03:45] jowens commented on #46
a) what version of cmake are you running? It's odd that an included cmake file would fail.
b) @ydwu commented on your gist that you need to manually install Metis.

[2015-09-29 03:56] anshumang commented on #46
Ah, my bad...I didn't see the followup comment on my gist...cmake version 2.8.12.2

[2015-09-29 04:13] jowens commented on #46
Oddly, I don't even see that cmake include file in my current snapshot. Anyway, 2.8.12 is pretty old. I'm using 3.3.2. Could you upgrade your cmake and see if the problem is still there?

[2015-09-29 04:28] yzhwang commented on #51
Currently the steps of updating docs are as follows:
1) Write new pages in markdown under gunrock/doc/;
2) In gunrock.doxygen file, append newly added file names to INPUT;
3) Run doxygen gunrock.doxygen to generate all html pages (including documentation and all other markdown files);
4) git checkout gh-pages, manually update documentations and links in index.html (I know this looks silly and I th

[2015-09-29 04:46] anshumang commented on #46
The following errors do not appear with 3.1.0

CMake Error: Error in cmake code at
/opt/data2/anshuman/gunrock-repos/gunrock-0.3/cmake/FindPackageHandleStandardArgs.cmake:3:
Parse error.  Expected "(", got newline with text "
".
CMake Error at cmake/FindOpenMP.cmake:229 (include):
  include could not find load file:

    /opt/data2/anshuman/gunrock-repos/gunrock-0.3/cmake/FindPackageHandleStandard

[2015-09-29 05:41] yzhwang commented on #52
List of engines/hardwired algorithms binaries:
Hardwired binaries:
  BFS: /data/Compare/b40c/test/bfs/ppopp-test-b40c.sh
  BC: /data/Compare/gpu_BC/ppopp-test.sh
  CC: /data/Compare/conn/ppopp-test.sh
  SSSP: Currently N/A.
Galois: /data/Compare/Galois-2.2.1/results
PowerGraph: /data/Compare/graphlab/release/toolkits/graph_analytics/{cc,pagerank,sssp}.sh
Ligra: /data/Compare/ligra_may22-2014/{BC,B

[2015-09-29 06:52] yzhwang commented on #53
I'd like to add a repo with the name Stats or Performance Graph Generator (feel free to try new names, I suck at giving names). You can go ahead and create the repo and then we can add stuff to it together.

[2015-09-29 14:05] jowens commented on #46
Your problem is solved then with a new cmake version (and a manual install of Metis)?

[2015-09-29 15:21] jowens commented on #52
Yow. OK. That is messy. Maybe make another repo under gunrock that's "scripts" and put all *input* scripts into it, including Gunrock scripts. (Other engines should be built/maintained separately, outside of any repos that we maintain.) I agree with the idea of having a "giant shell" (would Python be OK?) and that shell might take a JSON file as input that says where the {binaries, datasets} are.

[2015-09-29 15:45] jowens commented on #52
You can totally veto this effort, btw, if what we currently have is totally working. I'm not the one who's on the front lines of collecting results. I just tend to be fairly organized in result-collection and automation, since I'm lazy and only want to write and collect stuff automatically and not have to do a bunch of manual stuff the next time I need to gather results again.

[2015-09-29 16:10] jowens commented on #51
I could imagine this is probably a solved problem. I don't mind adding new file names to doxygen files, although it seems like it's probably better to keep .md documentation outside of doxygen entirely (the top-level Gunrock doc is at gunrock.github.io and is outside of doxygen) and have doxygen docs point to it. But manually updating docs/links is ugly. Hm. This might be an initial project for a

[2015-09-30 03:54] yzhwang commented on #52
No you are right. What you suggested seems to be the right thing to do in the long term. I will start working on this when I have time. I really like the way @sgpyc handles script, I guess I will first write a skeleton script. I think Python is a good choice for 1) its good JSON support, and 2) easiness of calling *nix commands by import os and subprocess.

[2015-09-30 04:00] jowens commented on #52
What does @sgpyc do with scripts?

I wrote gunrock/bfs in Python here: https://github.com/gunrock/gunrock/blob/master/output/bfs.py

[2015-09-30 04:04] yzhwang commented on #52
He handles datasets and running parameters very well (better than me, for lots of those scripts I just made them quick and dirty). His used bash though.
The python code looks nice. Let's use python.

[2015-09-30 23:15] jowens commented on #53
gunrock/io

[2015-09-30 23:15] #53 closed

[2015-10-05 20:43] anshumang commented on #46
Only a install of Metis was necessary...cmake 2.8.12.2 works fine.

[2015-10-06 19:59] sgpyc opened #54 "Debug and optimization of mGPU framework using circular-queue"
Currently BFS produces correct results if enough space is pre-allocated; if starts with --queue-sizing=0 and --in-sizing=0, the program runs with correct frontier lengths and number of iteration, but wrong result, even for small data set (small/test.mtx --undirected --src=largestdegree).

[2015-10-06 20:01] sgpyc opened #55 "Align SSSP, BC, CC and PR with the mGPU-cq framework"
To be done after the mGPU framework is mostly debugged and stable

[2015-10-06 20:03] sgpyc opened #56 "Merge mGPU-cq with the 64-bit (from ONU) and the dev branches"
To be done after the 5 main primitives are aligned

[2015-10-06 20:08] sgpyc opened #57 "Performance evaluation on single node"
To be done after (mGPU-cq, dev, 64bit) branches are merged.
More graph generators? More partitioners? Larger graphs?
64-bit vs. 32-bit performance difference is still unclear at the moment.

[2015-10-06 20:10] sgpyc opened #58 "Debug and merge with the MPI branch (from ONU), + optimization"
To be done after the 3 branches are merged
This will expand gunrock onto GPU cluster

[2015-10-06 20:16] sgpyc opened #59 "Asynchronized algorithm support"
Add support for asynchronized primitives, e.g. n-iteration compute - 1-communicate PR, no-iteration BFS/SSSP/PR

[2015-11-06 21:11] kaatish opened #60 "undefined reference to `InitSetup'"
When trying to compile gunrock I get this message.

[code]

How do I get gunrock to compile?

[2015-11-06 21:25] yzhwang commented on #60
Could you provide the command you used to compile and the steps you have done after you cloned Gunrock to your local machine? Thanks!

[2015-11-06 21:28] jowens commented on #60
OS might be helpful too. We can try to reproduce.

[2015-11-06 21:34] jowens commented on #60
... and your compiler, since this is probably a compiler issue. That code should be in gunrock/gunrock.h (please confirm); since it's got some weird compiler juju around it, we want to work this out. (Generally our Linux builds are with gcc and our Mac builds are with clang; we haven't tested anything else.)

[2015-11-06 21:41] kaatish commented on #60
Thank you for your replies. I did the following:
[code]

My OS is Arch Linux. Compiler version is gcc/g++ 5.2.0. The InitSetup() function is in fact in gunrock.h. The cmake output seems to be correct. I could put that over here if you want. I have had Boost 1.58 version installed on my system.

[2015-11-06 21:53] jowens commented on #60
Presuming that's ```cmake ../gunrock``` .

[2015-11-06 21:55] jowens commented on #60
Can you try using the ```dev``` branch of gunrock? ```git checkout dev``` ?

[2015-11-06 22:00] yzhwang commented on #60
Please paste your cmake output too. Also, we haven't tested with gcc version > 4.9 yet.

[2015-11-06 22:03] sree314 opened #61 "Connected components (CC) drops single-node components"
(Gunrock 0.3) cc  does not report single-node components in the final output. This is different from most cc implementations.

[2015-11-06 22:05] sree314 opened #62 "SSSP reports all zeroes if run after BFS"
When SSSP is run after BFS on the same graph, it reports all zeroes because it reuses the cache files that BFS created. Removing the cache files helps it run correctly.

Example:

`First 40 labels of the GPU result.
[0:0 1:2147483647 2:0 3:0 4:0 5:0 6:0 7:0 8:0 9:0 10:0 11:0 12:0 13:0 14:0 15:0 16:2147483647 17:0 18:0 19:2147483647 20:0 21:0 22:0 23:0 24:0 25:0 26:2147483647 27:0 28:0 29:0 30:0 31

[2015-11-06 22:08] kaatish commented on #60
@jowens I tried it with the `dev` branch as well. I am getting the same results as before. I am not doing `cmake ../gunrock` but just `cmake ..` when I am inside the build directory that is inside the main gunrock directory. Doing `cmake ../gunrock` from inside `build` directory cause cmake to not find the relevant libraries.

[code]

The cmake output for `cmake ..` is as follows :
[code]

[2015-11-06 22:11] jowens commented on #60
[code]

[2015-11-06 22:19] yzhwang commented on #60
Could you try doing the following:
1) With the current settings, go to gunrock/tests/bfs, and type "make" to build from there, see if it works. For all primitives, you should be able to build them separately under each tests directory
2) Use gcc/g++ 4.8/4.9 for compilation
3) Use CUDA 7.0 (haven't tested on 7.5 yet) this one seems irrelevant to your problem though

I tried to reproduce it on our s

[2015-11-06 22:47] kaatish commented on #60
@jowens Yeah that is 3.3.2. @yzhwang 1) gives the following :
[code]

I can see the line g++4.8 in there, even though I don't have it in my system.

I will try steps 2) and 3) after this.

[2015-11-06 22:54] sree314 opened #63 "BFS, DOBFS and SSSP report incorrect results for random and RMAT-style graphs"
I modified these programs (patch included) to store the results in an
output file which is then compared against a database of reference
outputs we maintain (created using Merrill's BFS and Davidson's SSSP).

I enclose the smallest rmat graph where the incorrect behaviour
manifests along with the reference outputs and the output generated by
gunrock.

Notably, the number of unreachable nodes is hi

[2015-11-07 00:15] yzhwang commented on #63
I think I know where the confusion came from. All inconsistencies are due to the different graph IO implementation. In Gunrock we read in each line of matrix market format in column-major order, meaning:
col, row, val
https://github.com/gunrock/gunrock/blob/master/gunrock/graphio/market.cuh#L160
This causes all our directed graph results different from the reference algorithm if in reference algor

[2015-11-07 00:17] yzhwang commented on #62
You are right, we cached the unweighted graph, but then when we encounter the weighted one, we should clear the cache. Will fix this bug.

[2015-11-07 05:09] jowens commented on #60
Almost certainly, once you get to it, nvcc is going to fail with your version of gcc.

http://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#system-requirements
I don't even see Arch Linux on there, but all the other (recent) Linuxes are gcc 4.8 or 4.9. I'm presuming that since your makefiles are asking for g++4.8, you need to use gcc/g++4.8; the CUDA release isn't qualified for any

[2015-11-07 21:21] sree314 commented on #63
Yep, I fixed that and the results for DOBFS, BFS and SSSP now match the reference outputs.

I guess that also explains why the results for road networks were correct

I checked the formats for Matrix Market and there seems to be no column-major order. The clearest statement that it is always in row, column, value is here:

http://people.sc.fsu.edu/~jburkardt/data/mm/mm.html

Thank you for the quic

[2015-11-09 20:44] yzhwang commented on #61
This is all because of our preprocessing of the graph. Which will drop the single-node components. I'm thinking of either adding a flag to specify whether or not to preprocess the graph, or just get rid of the preprocessing phase. I will do some regression test, if removing this won't cause any bug or performance drop, I will remove this. Will let you know when I'm done. Thanks again for pointing

[2015-11-09 20:47] yzhwang commented on #60
Let me know whether it works when you use gcc 4.8, so that we can update the status of this issue. Thanks :-)

[2015-11-12 13:44] ranjanan opened #64 "Generate bfs tree with parent information for every vertex rather than level array"
Hello,
I was wondering how I could use gunrock to generate a bfs tree that starts from `src` (input) and gives me the parent id for every vertex, instead of the levels that the bfs() function in `libgunrock.so` returns right now. The result should be an array which, at every position, contains the id of the immediate predecessor in the bfs tree.

Just to be clear: the `src`'s parent id is `src` it

[2015-11-12 17:06] ydwu commented on #64
There's a **MARK_PREDECESSOR** flag: `[--mark-pred] Keep both label info and predecessor info.` (But we defined `src`'s parents id is `-1`).

[2015-11-12 17:21] yzhwang commented on #64
Thanks @ydwu ! @ranjanan Let us know if adding this flag works. Note that for nodes with multiple parents, our algorithm doesn't guarantee that it will always find the parent with the smallest node ID.

[2015-11-13 05:01] ranjanan commented on #64
Could I just change mark_predecessors = true here:
https://github.com/gunrock/gunrock/blob/master/gunrock/app/bfs/bfs_app.cu#L511
and rebuild the .so file?

[2015-11-13 06:05] yzhwang commented on #64
@ydwu So it seems that our bfs_app hard coded the mark predecessor and idempotent option to be both false? How should we change that? Just tell me your thought and I can fix it.
@ranjanan Yes I think your method would work (but it's not ideal since there is no way to set those two flags in command line, which is not good). We will fix this asap.

[2015-11-13 06:13] ranjanan commented on #64
@yzhwang I tried doing that, and it didn't work for me. The function still returned the distance from `src`.

[2015-11-13 07:54] ranjanan commented on #64
@yzhwang @ydwu Oh hey, it turns out that I need to return `grapho->node_value2` instead of `node_value1` and I get what I need. Thanks!

[2015-11-13 17:47] ydwu commented on #64
@ranjanan Right, after enabling **mark-predecessors**, `grapho->node_value1` will still outputs label information, and `grapho->node_value2` will be predecessors. You should be able to get it by changing only the here: https://github.com/gunrock/gunrock/blob/master/shared_lib_tests/shared_lib_bfs.c#L34. Lemme know if there's any other issues.

[2015-11-13 17:48] ydwu commented on #64
Reopen: need to fix mark-predessesor flag.

[2015-11-13 18:17] ranjanan commented on #64
@ydwu Yes, that's exactly what I did. Thanks! Though I was wondering if you think it might be a better idea to do this without changing source code, maybe as a parameter one can pass to `bfs()` or something?

[2015-11-13 18:24] ydwu commented on #64
@ranjanan Yes, that's why I'm reopening this issue, we'll fix this. Thank for reporting!

[2015-11-15 19:43] yzhwang commented on #63
Fixed.

[2015-11-15 19:43] #63 closed

[2015-11-15 19:43] yzhwang commented on #62
Fixed.

[2015-11-15 19:43] #62 closed

[2015-11-15 19:44] #60 closed

[2015-11-17 14:52] ranjanan opened #65 "Generate multiple bfs trees on one single device transfer"
Hi.
I was working on an implementation of the Graph500 benchmark in Julia (www.graph500.org). I was using Gunrock to generate the bfs trees. The way Julia interacts with Gunrock is through a `ccall`, which essentially calls the function `void bfs()` through `libgunrock.so` by passing the appropriate arrays, as well as `bfs_label`, and getting the tree in `bfs_label`. Everytime I make this `ccall`,

[2015-11-17 18:15] yzhwang commented on #65
Hi @ranjanan , the bfs() call there was not initially designed for doing benchmarks, so we integrated the host<->device memcpy with the bfs running together. Let me try to make a hack version in a temporary branch so that you can do a bunch of bfs calls with the data stay in memory. Will let you know when I finish.

[2015-11-17 18:31] ranjanan commented on #65
Thanks @yzhwang

[2015-11-18 00:24] jowens commented on #65
We have always thought that Gunrock would be a good substrate for Graph500. We support you in your efforts here (and frankly, we probably will *actually* support you in your efforts if you need help, as we're doing here).

[2015-11-18 06:16] ViralBShah commented on #65
Thanks @jowens This will nicely feed into our other collaboration!

[2015-11-18 08:37] ViralBShah commented on #65
@ranjanan Could you post the link to our initial efforts of graph500? Also, I think you should be able to paste the performance chart here.

[2015-11-18 08:38] ViralBShah commented on #65
Another comment - since bfs is the building block for many other algorithms, it is useful to have it as a kernel where the graph stays on the gpu, and one can keep running operations on it. With Julia not too far away from GPU codegen, we should be able to do more interesting things.

[2015-11-18 08:41] jowens commented on #65
cc: @veb61 (Viral, you know we're working with Jake/Jiahao/Alan on this :) )

[2015-11-18 09:34] ViralBShah commented on #65
Yes. :-)

[2015-11-18 09:38] ranjanan commented on #65
Here is a link to our initial efforts of implementing Graph500 in Julia:
https://github.com/ranjanan/MT-Workloads/tree/master/Graph500/. The folder 'gpu' contains our implementation using the Gunrock library.

Here are a couple of performance charts:

![image](https://cloud.githubusercontent.com/assets/9101377/11237407/ba24ef48-8e05-11e5-8911-6e57225bcd4c.png)
Varying edgefactor with Scale = 18 (N

[2015-11-23 14:50] kongfujianlong opened #66 "Congratulations with PPoPP 2016"
Just see Gunrock from the accepted paper list of PPoPP 2016 http://conf.researchr.org/info/PPoPP-2016/list-of-accepted-papers

Congratulations!

[2015-11-23 16:54] jowens commented on #66
This is my new favorite issue. Thanks @kongfujianlong!

[2015-11-24 13:11] ViralBShah commented on #65
Just bumping this one. Even if you have some branch or non-standard way to do this, we'll be happy to wrap those routines in Julia.

[2015-11-24 23:17] yzhwang commented on #66
Thanks @kongfujianlong Let me know next time you visit bay area, we should meet up and talk about graph processing :-)

[2015-11-24 23:17] #66 closed

[2015-11-25 07:14] yzhwang opened #67 "Improve pointer jumping in CC"
Currently pointer jumping in CC is implemented using a O(n) depth method, it could actually get improved to a O(logn) depth method.

[2015-11-26 22:51] yzhwang opened #68 "Planned new primitives using current operator set"
- [ ] Graph Construction: taking k-dimension unstructured data, use similarity metric (such as dot product) to generate weighted/unweighted graphs.
- [ ] Local Structure: K-hop neighbor primitive k in [1,3]
- [ ] General centrality computing primitive: reference paper: http://arxiv.org/pdf/1308.2140v2.pdf
- [ ] Belief propagation

[2015-11-30 21:45] jowens opened #69 "If you pass a bogus filename as the input matrix, you get a non-helpful output"
`Unable to open file: No such file or directory
Unable to open file: No such file or directory
[/home/jowens/working/gunrock/gunrock/util/array_utils.cuh, 510 @ gpu 0] row_offsets cudaMemcpy H2D failed (CUDA error 11: invalid argument)`

A much more meaningful error message would be nice. Perhaps assign to one of the new students?

[2015-12-04 23:21] yzhwang opened #70 "Refactoring Plan"
- [ ] Add kernel-level parameter struct
- [ ] Add Problem-level parameter struct
- [ ] Add Primitive Launch Plan handle like CUDPP
- [ ] Use clearer (hierarchical) parameter name for command line
- [ ] Redesign TWC and filter's framework, get rid of template meta-programming without (much) perf drop

[2015-12-06 20:16] yzhwang opened #71 "Add utility functions for csr struct"
Current issue: Current implementation of gunrock::app::Init() in enactor_base.cuh will cause overhead in graph loading phase and potential bugs when choosing to generate graph using R-Mat equation but not from file (See https://github.com/gunrock/gunrock/blob/master/gunrock/app/enactor_base.cuh#L489). The correct way to do this is for directed graph, first generates csr, then use a csr2csc functio

[2015-12-12 09:35] huanzhang12 opened #72 "Doxygen warnings on .cu and .cuh files"
In previous Doxygen generated documentation pages, .cu and .cuh files were not included. This was a mistake, and has been fixed in commit 95ed5c4.

After we included .cu and .cuh files in Doxygen file list, a lot of new warnings inside .cu and .cuh files are reported by Doxygen because some source code commenting requirements are not met and Doxygen failed to extract all necessary information. We

[2015-12-16 05:43] yzhwang opened #73 "rgg dataset download link is stale"
rgg dataset is part of our standard tests. So we need to provide the dataset or ways to generate the dataset.
https://github.com/gunrock/gunrock/blob/master/dataset/large/rgg_n_2_24_s0/readme.txt
The google drive link is expired, we need a stable place to store this dataset, or provide a script/program to generate this rgg graph. @sgpyc can you take charge of this?

[2015-12-16 06:10] yzhwang opened #74 "Improving dataset download script on Mac"
https://github.com/gunrock/gunrock/blob/master/dataset/large/common.mk#L7
According to our PPoPP 2016 artifact evaluation reviewer, wget is not available directly on Mac systems. We should improve this script. For Mac system, "curl -O" is equivalent. A Mac user is desirable to perform this task.

[2015-12-16 06:11] yzhwang opened #75 "Add source directory structure description in our github.io page"
Also from our PPoPP 2016 artifact evaluation reviewer: It would be better that the artifact package includes a detailed introduction of information about the source directory structure.

[2015-12-16 06:16] yzhwang opened #76 "For non-ubuntu linux distributions, handle METIS dependency properly..."
...by either adding code in CMakeLists.txt for users to input their own METIS installation directory, or providing a InstallMetis script.

[2015-12-16 06:24] jowens commented on #74
I think we just suggest / provide links to use homebrew or macports, both of which are exceptionally standard package managers on Mac systems. I mean, Windows doesn't have wget built in either; you have to install it using a package manager. Linux too, right? apt-get?

[2015-12-16 18:53] yzhwang opened #77 "Opening new repo under Gunrock org to hold reference results"
This repo will contain tarballs of binary files that store reference results for all standard tests we provided in gunrock/dataset/test-scripts/.

[2015-12-17 18:56] jowens opened #78 "what's happening with this dobfs/orkut run?"
Besides the fact it doesn't appear to work, it also reads the mtx file twice (with different histogram results), which is kind of weird.

Appears to be a consequence of selecting `-directed`. Only the livejournal and indochina datasets work with `--directed`. DOBFS, BFS: same issue with both.

[code]

[2015-12-17 19:35] yzhwang commented on #78
Reading graph file twice is redundant. This is related to Issue 71: https://github.com/gunrock/gunrock/issues/71
dobfs needs both csr and csc (even for directed graph), we should have a csr2csc() function to turn csr into csc in memory.

If you add --mark-pred flag, the results cannot be validated because any parent of a node can claim it as its child. So there is no "CORRECT". The seemingly wrong

[2015-12-17 19:39] jowens commented on #78
All I care about is that we either a) get a meaningful result or b) an error message that tells us that we can't get a meaningful result. If `--mark-pred` is incompatible with a particular graph, then let's say so.

[2015-12-17 19:40] jowens commented on #78
Same thing happens with `--directed` without `--mark-pred`, btw.

[code]

[2015-12-17 19:53] yzhwang commented on #78
--mark-pred cannot be validated even using atomic. It can only be validated if the algorithm force the parent with the smallest node ID to claim its child. This feature is for people who want to trace back the visiting paths. I checked the code and found that it does not work with --idempotence too, because of the way we implement the kernel. I will update the information in our Usage() to indicat

[2015-12-17 19:57] jowens commented on #78
OK. Maybe close this issue and open the issues it created? :) It is just fine if we say "these are not compatible options, we're not gonna run this".

[2015-12-17 19:57] sgpyc commented on #78
I remember in some version we check the labels of output preds (the correct pred should have edge to the child and has label 1 less then the child)? That will validate the preds

[2015-12-17 19:59] yzhwang commented on #78
@sgpyc That's right, the validation method should be different, and we need label value to help us. OK, I will create another issue on improving mark-pred validation. Thanks guys!

[2015-12-17 19:59] #78 closed

[2015-12-17 20:05] yzhwang commented on #72
Thanks @jowens !

[2015-12-17 20:05] #72 closed

[2015-12-17 20:34] yzhwang opened #79 "Improving Matrix Market Loading experience"
Add option of reading matrix market file using row major or column major.

[2015-12-17 20:36] yzhwang opened #80 "Improving mark-pred validation code"
Currently Gunrock has no validation code for mark predecessor in BFS. Actually with the help of label values, we could verify the correctness of predecessor by checking whether its label value is one less than its child. We should add this validation in our BFS/DOBFS code.

[2015-12-21 21:35] sgpyc opened #81 "BFS (master branch) produces wrong result when using idempotence"
on the friendster-10M dataset
command line: ./bin/test_bfs_7.5_x86_64 market /data/gunrock_dataset/large/soc-friendster/soc-friendser_edges_gte_10M.mtx --src=largestdegree --queue-sizing=0 --idempotence
output:
Loading Matrix-market coordinate-formatted graph ...
  Reading directly from stored binary CSR arrays ...
Done reading (2s).

Degree Histogram (124836417 vertices, 1342099766 edges):
    De

[2015-12-24 07:13] ctcyang opened #82 "Q: Should cmake [subdirectory] be able to generate Makefile?"
Currently CMake shows an error if cmake [subdirectory] is called from command-line:
CMake Error at CMakeLists.txt:15 (CUDA_ADD_EXECUTABLE):
  Unknown CMake command "CUDA_ADD_EXECUTABLE".

Even if find_package(CUDA) is added to the CMakeLists.txt in the subdirectory, another error message pops up:
  Cannot find source file:
    /home/ctcyang/gunrock_build/gunrock/tests/bfs/gunrock/util/test_utils.c

[2015-12-30 18:35] jowens opened #83 "pagerank compile errors (OS X, clang)"
Presumably related to @sgpyc's recent checkins. I'm nervous about in-progress code being checked into master. @yzhwang shouldn't that go into dev instead?

Compile errors here: https://gist.github.com/jowens/34bab2ee0406599367bf

[2015-12-30 18:41] yzhwang commented on #83
I agree. @sgpyc If it's possible. Could you first cherrypick or merge the pagerank checkin yesterday into dev branch then revert the master commit? (The dev branch has been merged with master last week, so if you have any other new comments, please make them into dev too)

[2015-12-30 18:59] jowens commented on #83
Yeah, there's a lot of broken builds in master on OS X currently, not just PageRank. (MST has never worked properly on OS X.)

[code]

[2015-12-30 19:10] yzhwang commented on #83
Let me fix it. I plan to merge dev with master again (which should be easy), and then revert 5 commits from YC, then cherrypick John's latest commit back to master. Just FYI.

[2015-12-30 19:19] jowens commented on #83
It was weird that my latest commit wasn't merged to master a week ago ... that's a fix I made in dev months ago.

[2015-12-30 19:25] yzhwang commented on #83
That's because I was merging master back to dev to keep dev up-to-date. But if it was an old commit in dev, should have been merged into master before the v0.3 release. Carl did something to the repo last week and destroyed the master branch (brought it back to July), but later he fixed it. Might be related to that change too. For what I am sure, now (after I finish the things I said in the previo

[2015-12-30 19:33] jowens commented on #83
@ctcyang! Destroyer of branches!

[2015-12-30 19:34] jowens commented on #83
My impression on our best-practice was:
- Master should correspond to actual releases, i.e., what's checked into master should have a version x.y.z. It should of course be stable and pass ctest. It should give us stable but good performance.
- Dev should also be stable and pass ctest.
- If you're making changes that will break something, then make your own branch, work in it until it passes ctest,

[2015-12-30 19:35] yzhwang commented on #83
I've finished the process. @sgpyc If you have uncommited change in your current master local repo, please "git stash" then "git stash branch dev" to move them to dev. Other than that, everything should be back to normal in master. @jowens Does master's MST never work on OS X? If so please open another issue.

[2015-12-30 19:39] jowens opened #84 "MST does not compile on OS X/clang"
This is dev branch, but this has been the case since summer camp.

[code]

[2015-12-30 19:44] jowens opened #85 "Codify best practices wrt git and branches for Gunrock development"
My impression on our best-practice was:
- We are trying to follow this: http://nvie.com/posts/a-successful-git-branching-model/
- Master should correspond to actual releases, i.e., what's checked into master should have a version x.y.z. It should of course be stable and pass ctest. It should give us stable but good performance.
- Dev should also be stable and pass ctest. But it might have features

[2015-12-30 19:45] jowens commented on #83
Best practice issue filed as https://github.com/gunrock/gunrock/issues/85

[2015-12-30 21:41] ydwu commented on #84
@jowens Is it only on **dev** branch or both dev and master? What's the **boost** version? I can take a lot but first need to get OpenMP and all dependencies installed on Mac.

[2015-12-30 22:00] jowens commented on #84
Almost certainly both dev and master.

`boost @1.59.0_2+no_single+no_static+python27 (active)`

[2015-12-30 22:01] jowens commented on #84
I installed both boost and openmp via Macports. Openmp version: `libomp @0.0_253200 (active)`

[2015-12-30 22:06] sgpyc commented on #83
Sorry for messing with the master vs. dev thing. Working on dev now.
@jowens Do you have the actual error message from the compilation? I got something saying pthread_barrier not supported in the x86_64 architecture (or similar) on latest OS X with clang and cuda 7.5 (when compiling from gunrock/tests/bfs and redirecting the boost and openmp include / lib paths to the correct place). Both dev and

[2015-12-30 22:08] jowens commented on #84
The error itself is in a CUDA-generated file, it appears, so this is probably something that NVIDIA will have to fix. But if we could figure out what generates it and what that file looks like (so keep around all the CUDA-generated temp c files), that will help them.

[2015-12-30 22:11] sgpyc commented on #83
@yzhwang thanks a lot for the reverting / merging.

[2015-12-30 22:16] jowens commented on #83
@sgpyc [errors.txt](https://github.com/gunrock/gunrock/files/75230/errors.txt)

[2015-12-30 22:22] sgpyc commented on #83
@jowens Oh, I haven't changed the pr_app.cu file yet. Will do that after the normalized pr is tested (GPU version coded, working on CPU version for result comparison).

[2015-12-30 22:22] jowens commented on #83
@sgpyc gunrock/util/misc_utils has pthread calls that are specific to Apple (I added 'em last summer camp when I was making it work on Mac). See if those calls are getting compiled in for you? I don't actually see any calls called `pthread_barrier` though, instead they're all `pthread_barrier_X`.

[2015-12-30 22:23] jowens commented on #83
@sgpyc Sure, no problem on pr_app, but if you're going to make changes that break the dev build, make your own branch and develop there and merge them back in when the build works again.

[2015-12-31 00:35] yzhwang commented on #81
@sgpyc I tracked the bug and it seems that the problem is triggered by this line:
https://github.com/gunrock/gunrock/blob/master/gunrock/oprtr/edge_map_partitioned/kernel.cuh#L210
my_id is bounded by max_edge, which is set to the current frontier length. I couldn't find the allocation code for scanned_edges, but I guess is that the frontier_length is too large and the preallocated scanned_edges is

[2015-12-31 00:44] sgpyc commented on #81
@yzhwang the size of scanned_edges is checked here https://github.com/gunrock/gunrock/blob/dev/gunrock/app/bfs/bfs_enactor.cuh#L309 , it will be at least equal to current frontier length. You can check whether that line is called or what's the size it requested there.

[2015-12-31 04:01] jowens commented on #83
Current status on ctest on dev branch/OS X (just FYI):

[code]
(hangs on test 9 forever)

[2015-12-31 04:06] yzhwang commented on #81
@sgpyc Thanks! I think the scanned_edges is alright. From another run with --v I got the attached results. First error happened after this line:
0    2   0   stage3  1   Queue_Length = 1086842
[../../gunrock/app/enactor_base.cuh, 2076 @ gpu 0] cudaStreamSynchronize failed (CUDA error 77: an illegal memory access was encountered)
seems to be related to streams[].
[result.txt](https://github.com/gun

[2016-01-02 16:38] jowens opened #86 "add compiler/version to JSON output"

[2016-01-02 16:38] jowens opened #87 "add CUDA version to JSON output"

[2016-01-02 16:50] jowens commented on #86
http://www.boost.org/doc/libs/1_60_0/libs/predef/doc/html/predef/reference/boost_comp_compiler_macros.html

[2016-01-03 04:30] jowens commented on #87
Never mind, this is in gpuinfo already.

[2016-01-03 04:30] #87 closed

[2016-01-03 16:15] jowens commented on #83
@yzhwang @sgpyc It appears to me that test 9 also hangs on mario for the dev branch.

[2016-01-03 22:19] yzhwang commented on #83
Yep. That started to happen after I separate BFS's data load, run, and extraction process. I'm still trying to figure out the problem. I should change the test to prevent this.

[2016-01-04 05:31] jowens commented on #86
09b591b48d2293e79f8fa6a10ee827cd910de0e0

[2016-01-04 05:31] #86 closed

[2016-01-04 17:15] jowens opened #88 "why is my OS X ctest 10x faster than mario, when mario has a GPU that's 10x faster?"
Just curious.

[code]

[code]

[2016-01-12 15:56] sgpyc commented on #88
The slowdown is caused by cudaGetDeviceCount() in getGpuinfo(), refer to commit 3e7030fa1135d0eb6715a604154a4a64a995e6e6 . Nothing much we can do here.

[2016-01-12 16:04] yzhwang commented on #88
Discussion on dev forum is several years ago. Couldn't find any other info. @jowens Could you point us to someone from NVIDIA to see if the problem still exists for current CUDA release? Not a priority of course.

[2016-01-12 16:56] sgpyc commented on #88
the driver persistence mode is discussed in the dev doc http://docs.nvidia.com/deploy/driver-persistence/index.html#persistence-daemon . but currently under ubuntu 14.04, changing etc/init/nvidia-persistenced.conf with --persistence-mode does not work; need to run nvidia-smi -pm 1 as sudoer each time after reboot. on luigi ctest now reports as follow (after setting driver persistence mode)
Test pr

[2016-01-12 17:00] yzhwang commented on #88
Thanks @sgpyc Then maybe put that nvidia-smi-pm 1 in everone's .bashrc?

[2016-01-13 18:10] jowens commented on #88
Submitted as NVIDIA bug # 1719020.

[2016-01-13 20:40] neoblizz commented on #73
@yzhwang
1. Where can I find the dataset that was on the google drive?
2. We need to generate a random geometric graph or find a way to provide the dataset (which one would you prefer)?
Can I get some more information on how you want this done?

[2016-01-13 21:01] yzhwang commented on #73
Actually, I checked the link is not expired, the reviewer said so because in the paper there is a linebreak in the link, I've fixed this and it can be downloaded here:
https://drive.google.com/uc?export=download&id=0Bw6LwCuER0a3VWNrVUV6eTZyeFU

For dataset with such large size, I don't have a good idea right now. I think a script/program to generate not only rgg but also r-mat graph would be great

[2016-01-14 17:02] jowens opened #90 "docs need to say how we're calculating MTEPS"
We need to be precise about this. We want to make sure that if anyone else is using our MTEPS numbers, they calculate their MTEPS in the same way that we do. Good new-student project.

[2016-01-14 17:08] jowens commented on #88
@yzhwang @sgpyc if it's easy for one of you to try this (no giant hurry), I'd appreciate it.

[code]

[2016-01-14 22:34] yzhwang commented on #88
@jowens I just repeated the command sequence Kevin provided and it worked the same as in his situation. But I could not visit the bug report page.

[2016-01-15 00:33] jowens commented on #88
Added to report page. Thx @yzhwang !

[2016-01-15 22:36] wetliu commented on #69
I want to try this problem. How can do I need to get assigned?

[2016-01-15 23:17] jowens commented on #69
@wetliu On the right side of this page is "Assignee". Assign yourself!

[2016-01-16 00:24] sgpyc commented on #69
One more thing about input: if passing invalid arguments, like -undirected (missing one -), --undirect (wrong argument), --undirected --undirected (twice), --device=0, --device=1,2 (twice with different values), the behavior now is not as expected.

[2016-01-16 00:26] jowens commented on #69
@sgpyc that should be a different issue, don't wedge it into this one

[2016-01-16 00:28] sgpyc opened #91 "Input verification"
One more thing about input: if passing invalid arguments, like -undirected (missing one -), --undirect (wrong argument), --undirected --undirected (twice), --device=0, --device=1,2 (twice with different values), the behavior now is not as expected.

[2016-01-16 00:29] sgpyc commented on #69
Moved to issue #91 , thanks @jowens

[2016-01-16 00:31] neoblizz commented on #73
@yzhwang Got it! I will work on the script for this, sounds like an interesting issue. I was wondering if we have a server for the website where we're hosting gunrock's main site, maybe allow them also to download it from there instead of google drive, since we will be able to manage it (this is an idea in addition to the script).

[2016-01-16 00:37] jowens commented on #73
@neoblizz If you want to host it somewhere, make another github repo under the gunrock org and host it there. We don't want to be in the business of maintaining a web server.

[2016-01-21 22:27] wetliu commented on #91
I just wonder what are the expected results? I may try to fix them with the bogus input file issue. For example, if we passes the twice --undirected, what are the expected results?

[2016-01-22 00:56] jowens commented on #91
I would personally replace what's in test_utils with getopt and then do whatever getopt does as its default. Or, just look at getopt's defaults. Failing any other guidance (@sgpyc?), I suggest:
- If you don't know what to do because it's not a valid flag (like `-undirected` or `-undirect`), print the error to stderr and `exit(1)`
- If you set a flag (`--undirected`) more than once, that's OK
- If

[2016-01-22 01:35] sgpyc commented on #91
Anything that will help to figure out what's wrong (or not so good) with the inputs will be good.
For passing the same parameter more than once (now the program will crash if using market graph as input and passing the same parameter more than once),  maybe give some warning (without quitting the program)?

Also the parameters are supposed to be typed, (e.g. non-negetive int(s) to --device, nothin

[2016-01-22 01:37] wetliu commented on #69
The gunrock has the exception case for inputting the wrong file name. Thanks for the help from gunrock team, I edited a little bit and right now it can catch the bogus file name.

However, I need some help in identifying what the main function will do if the LoadGraph is has an error. The output right now is this:

weitang@slaking:~/gunrock/tests/bc/bin$ ./test_bc_7.5_x86_64 market ../test_bc.mLoa

[2016-01-22 01:44] sgpyc commented on #69
Maybe capture the cudaError_t returned by info->Init("BFS", *args, csr);, if it's not cudaSuccess, then stop the program / throw an exception. Same checking should be added to Init and Reset for both problem and enactor.

[2016-01-22 01:44] wetliu commented on #91
Thank you. If you have time, can you please let me know if gunrock has the function that can stop executing the main function? If there isn't, then we can figure out the best way to solve the bad enough problems together.

[2016-01-22 01:50] yzhwang commented on #91
Like I commented in the previous email. For detecting bogus file name. You can add something in https://github.com/gunrock/gunrock/blob/master/gunrock/app/enactor_base.cuh#L649
And exit/return error info from there.
For other command line argument handling functions, I think you should handle it here:
https://github.com/gunrock/gunrock/blob/master/gunrock/app/enactor_base.cuh#L241

Or inside Comma

[2016-01-22 01:55] wetliu commented on #91
Thank you! I think the comments are really helpful!

[2016-01-22 03:10] jowens commented on #91
JDO still recommends getopt to replace CommandLineArgs. getopt has known and widely used semantics.

[2016-01-22 03:26] yzhwang commented on #91
@jowens Thanks for the recommendation. Never heard of getopt. Just checked and it seems to be a better way. So, @wetliu wanna take the responsibility to upgrade our command line argument handling module and try using getopt? Your effort will be appreciated!

[2016-01-22 17:29] wetliu commented on #91
I can try it. But I think I need to get more familiar with the structure of the programs first. :-)

[2016-01-22 17:41] jowens commented on #91
@wetliu how can we most easily help you get started? The nice part is that this effort is largely self-contained, replacing CommandLineArgs with something better. I don't want to see you stuck. We want you to move forward on this.

[2016-01-22 17:55] wetliu commented on #91
The gunrock team has provided enough support already. The team members are really helpful as they have posted  a lot of comments. Right now I am trying to fix the problem #69; this is a good start for me. If I have questions, I will comment on the github and send you emails. Thank you @jowens

[2016-01-22 18:57] Laurawly opened #93 "Input a list of graphs"
Currently, Gunrock supports taking in only one input graph file at runtime. For future applications (e.g. subgraph matching), we probably want to pass a list of input graphs. Since subgraph matching needs two input graph (query graph and data graph) as well as their corresponding labels in .label files, temporarily, I redefined LoadGraph and Init functions specially for SM in enactor_base.cuh file

[2016-01-26 17:26] shariiiyy commented on #71
A quick question! I have implemented two functions and tested my code in a separate c++ with dummy csc and car variables. How should I test it in gunlock?

[2016-01-26 17:32] yzhwang commented on #71
Hi @shariiiyy Could you point me to your implementation of the functions? I will take a look and help you figure out a way to test them.

[2016-01-26 18:22] shariiiyy commented on #71
Sure! I didn't push them on git yet. I will put them up this afternoon! Thanks

[2016-01-27 02:32] neoblizz commented on #73
Progress update: I am able to generate *.mtx files with a data, a few things came up when discussing this issue with @yzhwang the implementation using gunrock/graphio/rgg.cuh was that the function `BuildRggGraph` assigns the graph to `csr` instead of giving an option to write to .mtx file or .csr. A possible fix and better implementation will be having `BuildRggGraph` just generate the rgg and the

[2016-01-27 04:07] jowens commented on #73
Separating input/generation and output, as you suggest, seems sensible to me. Then the question is "what is the internal representation"; input/generation produces what format? and output starts from what internal format?

[2016-01-27 04:43] neoblizz commented on #73
My suggestion; Input/generation produces `typedef Coo<VertexId, Value>;` which can be used to allocate the graph to either `csr` or an output file. There are variety of output files that I can code this into, but the first one will be `mtx` format.

Output starts from the same `Coo` internal format, defined here: https://github.com/gunrock/gunrock/blob/master/gunrock/coo.cuh

[2016-01-27 16:35] sgpyc commented on #80
Already added pred validation for BFS, can copy it to DOBFS or simply wait for merging DOBFS into BFS

[2016-01-27 16:49] sgpyc commented on #81
Now it has (almost) no issue after solving the traversal-mode=1 bug, works under single or multiple-GPU.

[2016-01-27 16:49] #81 closed

[2016-01-28 05:20] jowens commented on #73
I'm agnostic on what it should be. @yzhwang and @sgpyc ought to have an opinion ...

[2016-01-28 05:25] jowens opened #96 "make drand work on OS X"
Recent checkins use `drand48` and `srand48`. OS X/clang does not have these routines. utils.cuh has a fix that makes them work. Possibly including that in the files that use them will fix the problem, but I need to try that out. Also I have no idea what `lrand48_r` is/does. That's a new one for me.

[code]

[2016-01-28 20:42] neoblizz opened #97 "Metis is required right now for Gunrock installation but it shouldn't be..."
`find_package(Metis 5.0 REQUIRED)` this doesn't give an error/warning in CMakeLists, I will have it corrected in issue #76 where it will warn the users.

But after talking to @sgpyc it is not suppose to be required, Gunrock should be able to work as long as it doesn't use Metis. Support can be added where Metis `includes` can be commented for use without this dependency.

[2016-01-28 21:29] jowens commented on #97
oops

[2016-01-28 21:29] jowens commented on #97
I support fixing this.

[2016-01-29 19:57] neoblizz commented on #76
Solved with the latest merge, I will test the scripts on more OS just to see how it handles (maybe on OSX too).

[2016-01-29 19:57] #76 closed

[2016-01-29 20:19] jowens opened #99 "make openmp handling better (at least on os x), also fix link/include directories"
Muhammed, you now have some experience with cmakelists, can you look at this one?

I use Macports's libomp for OpenMP (clang does not have OpenMP), which appears to work nicely:

https://www.macports.org/ports.php?by=library&substr=libomp

In CMakeLists.txt, we enable this with:

[code]

This works. Unfortunately cmake gives us a message that looks like it doesn't work. I'd like to fix that messag

[2016-01-29 20:54] jowens opened #100 "switch random number generation to C++ random?"
We're currently using GNU-specific reentrant random number generators. ("This function is a GNU extension and should not be used in portable programs.", http://www.gnu.org/software/libc/manual/html_node/SVID-Random.html)

It seems like we should consider switching to C++11's random-number-generating facilities instead of the 48_r functions we're using now. Note https://isocpp.org/files/papers/n355

[2016-01-29 22:22] neoblizz commented on #99
I can take care of this! I actually implemented the `find_library` with `find_package` for the metis include that I fixed in the last issue. A quick question, if I end up testing this on OSX, does the lab Mac has Nvidia GPU because my macbook does not.

[2016-01-29 22:23] jowens commented on #99
The lab Mac is old and has ATI graphics. I will test it if you check it in.

[2016-01-29 22:23] neoblizz commented on #97
@sgpyc (or @yzhwang) I would like to try this, can you point me to the places where metis is included (or if there is a way I can search that on my own)?

[2016-01-29 22:24] neoblizz commented on #99
Alright, thanks.

[2016-01-29 23:35] jowens opened #101 "bfs and soc-LiveJournal1: output should be quieted?"
[code]

I don't know if this is an error or simply a printing message, but if it's the latter, it should be disabled by `--quiet`.

[2016-01-29 23:49] sgpyc commented on #101
It's a printing message, by the array size checking mechanism. I wanted to disable it by --quiet, but the quiet_mode flag is not past down to the level that message is print. Shall I create a global variable (quite_mode, but I remember that, in general, using global variables is dis-encouraged, as their scope is not protected and vulnerable to hack / attack / mess up), or find a way to pass quiet_

[2016-01-29 23:53] jowens commented on #101
I agree that global variables are bad. I went to a lot of effort last summer to distribute the quiet variable to all of the places it was needed. I guess find a way to pass it down the stack ...

[2016-01-29 23:55] jowens commented on #101
Probably the better long-term solution is perhaps looking into logging packages for C++, but that's overkill for what we're currently doing.

[2016-01-29 23:58] jowens commented on #101
Fixing this is not at all high priority. I mostly wanted to know nothing was wrong here.

Another option is to write the interesting queue-oversize info into the JSON (instead of to cout).

[2016-01-29 23:59] sgpyc commented on #101
Maybe I can past a pointer to the Info object? It contains all possible flags, and @yzhwang and I have discussed this possibility. This can save the work next time when we need to pass another thing down.

[2016-01-30 00:00] jowens commented on #101
Works for me.

[2016-01-30 00:07] sgpyc commented on #100
I use rand48_r for its thread safety feature (std::rand() is known for not thread safe). Checking on the <random> library in C++11 to see whether it's thread safe. So far it seems C++11 libraries are mostly thread safe, but not clear for the specific ones (i.e. <random>).

[2016-01-30 00:32] sgpyc commented on #97
It's here https://github.com/gunrock/gunrock/blob/dev/gunrock/app/metisp/metis_partitioner.cuh#L17

[2016-01-30 00:34] jowens commented on #100
Good stackoverflow thread here. Basically it appears that if you use a per-thread engine and per-thread distribution, C++11/<random> is thread safe ... http://stackoverflow.com/questions/21237905/how-do-i-generate-thread-safe-uniform-random-numbers

[2016-01-30 00:48] jowens commented on #101
Also PageRank:
[code]

[2016-01-30 01:18] jowens opened #102 "pagerank has illegal memory accesses"
This is top-of-tree dev build on mario.

[code]

[code]

[2016-01-30 07:27] yzhwang commented on #102
memcheck shows all illegal mem accesses happen for threadIdx.x > 127, should be related to the changing of launch settings on dev branch (or the normalized PR implementation). Will investigate the problem more during the weekend.

[2016-01-31 07:25] Laurawly opened #103 "Segmentation fault occurs for mst under dev branch when setting device other than 0"
$ bin/minimum_spanning_tree market ~/gunrock/dataset/small/test_mst.mtx --device=1
Loading Matrix-market coordinate-formatted graph ...
  Reading directly from stored binary CSR arrays ...
Done reading (0s).

Degree Histogram (9 vertices, 34 edges):
    Degree   0: 0 (0.00%)
    Degree 2^0: 1 (11.11%)
    Degree 2^1: 3 (33.33%)
    Degree 2^2: 5 (55.56%)

Using 1 GPU(s): [ 1 ].

MINIMUM SPANNING T

[2016-01-31 20:09] yzhwang commented on #102
Just fixed the bug on dev branch (master branch's setting is correct). Please verify by running the script again. I see some incorrect results for delaunay_n24 though. @sgpyc Could you take a look at the following results and see what's wrong? (This is not normalized pr) Thanks!

results taken from running bin/test_pr_7.0_x86_64 market /data/gunrock_dataset/large/delaunay_n24/delaunay_n24.mtx --un

[2016-01-31 23:41] sgpyc commented on #102
The validation code have changed for PR: any difference larger than error_threshold (default is 1%) will be counted as errors; I remember the original validation code accepted 5% difference. The total rank is ~3.7% less than reference, and maximum relative difference is 4.7%: a bit higher than expected, but don't know is caused by precision errors or programming bugs.

[2016-02-01 04:41] jowens opened #104 "betweenness centrality build failure on mario"
It's noted that this error is in nvcc 7.0 and fixed in 7.5.

[code]

[2016-02-01 05:28] yzhwang commented on #104
I think sssp and mst on dev branch with CUDA 7.0 also have such issue (same error). I think it is related to the adding of c++11 flag. Maybe it causes some conflict with boost when using CUDA 7.0.

[2016-02-01 05:30] ctcyang opened #105 "Bug with --disable-size-check"
I was playing around with bfs-test.sh on the dev branch, and I noticed a bug when running Kron21 on normal BFS (not direction optimized). When I run "../../../gunrock/bin/breadth_first_search market /data/gunrock_dataset/large/kron_g500-logn21/kron_g500-logn21.mtx --src=0 --undirected --idempotence --traversal-mode=1 --iteration-num=10 --disable-size-check"

I receive the following error, but when

[2016-02-01 13:34] jowens commented on #104
yes, the internet seems to indicate that it's a nvcc 7.0 error with C++11 (boost is the symptom).

[2016-02-01 16:41] sgpyc commented on #105
--disable-size-check only works when correct queue-sizing (and / or queue-sizing1, + in-sizing for multiple GPU) is specified. For "/data/gunrock_dataset/large/kron_g500-logn21/kron_g500-logn21.mtx --src=0 --undirected --idempotence --traversal-mode=1", the correct setting is "--queue-sizing=1 --queue-sizing1=60". If --disable-size-check and the allocated array size is not sufficient, https://gith

[2016-02-01 16:44] jowens commented on #105
If we specify incompatible command-line parameters, we should print to cerr what we're doing. Somewhere in the code, there's likely something that sees that queue-sizing isn't specified and ignores disable-size-check. We should print to cerr that we're ignoring disable-size-check and why.

[2016-02-01 16:53] sgpyc commented on #105
For this particular situation, the best the program can do is to report something like "Error, Array X on Device y is not sufficient: allocated = abcd, required = efgh". There is no (easy) way to enable the size checking during run-time, and no way to know what the correct sizing parameters are before a full successful run.

[2016-02-01 16:57] jowens commented on #105
Throwing an error is fine. The worst case is for a user to specify a set of parameters, have something go wrong (either silently or with error messages), and not know what to do to fix it. Your error message is perfectly good, but should also say "Don't use --disable-size-check if sizing parameters are unknown."

[2016-02-01 17:41] wetliu commented on #105
Since I am taking care of the problem of the command line, I think I can do it when I am checking the command line. Could you please send me a list of the old command line parameters that are already in use and the parameters that you want to write more error messages? @jowens @sgpyc @yzhwang

[2016-02-01 17:46] jowens commented on #105
gunrock/util/info.cuh and gunrock/app/problem_base.cuh are good places to start (look for `CheckCmdLineFlag` and `GetCmdLineArgument`).

[2016-02-01 17:53] wetliu commented on #105
Thank you!

[2016-02-01 19:02] sgpyc commented on #103
Pervious mst has issue propagating and using gpu_idx. Solved in commit 89db9cd

[2016-02-01 19:27] sgpyc commented on #104
Anyway to get the actual make commend? The problem is introduced by commit 390f5b1 (added --std=c++11 in CMakeLists.txt ), but may not be an CUDA 7.0 vs. 7.5 issue : my default nvcc is 7.5, but it still fails to make the build directory (it passes tests/bc make though).

[2016-02-01 19:32] jowens commented on #104
http://stackoverflow.com/questions/31940457/make-nvcc-output-traces-on-compile-error

[2016-02-01 19:33] jowens commented on #104
https://stackoverflow.com/questions/31969644/compilation-error-with-nvcc-and-c11-need-minimal-failing-example

[2016-02-01 19:33] jowens commented on #104
https://github.com/psteinb/libmultiviewnative/issues/1#issuecomment-111060769

[2016-02-01 19:45] #103 closed

[2016-02-01 19:45] sgpyc commented on #104
Built make past on top of dev on luigi, looks like we have no so updated software on mario.

Luigi:
  Ubuntu 14.04.1
  gcc 4.8.5
  nvcc 7.5.17
  boost 1.58.0

Mario:
  ubuntu 14.04
  gcc 4.8.4
  nvcc 7.5.6
  boost 1.58.0

[2016-02-01 19:46] yzhwang commented on #102
Let's consider this issue solved.

[2016-02-01 19:46] #102 closed

[2016-02-01 19:50] yzhwang commented on #65
Sorry for the delay for handling this issue. I did some experiments separating graph load, execution, and result extraction, but for multiple primitive execution, it stalls after the first one. @sgpyc I remember we discussed this couple of weeks ago. You mentioned it is because of some thread context resetting issue? Can you elaborate more on this? Do we have any workaround?

[2016-02-01 19:55] huanzhang12 opened #106 "Add the ability of reading SNAP format to Gunrock"
There are large amount of datasets available in this format available at https://snap.stanford.edu/data/. Basically, those files are just edge lists. We should support SNAP format natively.

Example files (the two files represent the same graph, but in different formats):
SNAP format (edge list): https://snap.stanford.edu/data/wiki-Talk.txt.gz
Matrix Market format: http://www.cise.ufl.edu/research

[2016-02-01 20:08] yzhwang commented on #73
@neoblizz Since most graph file format represent graph as edge list (mtx, gr, snap). I think using Coo as the internal format for taking the graph file input is sensible. We might need to change some design of coo and csr for both better performance and better usability. We can discuss this in person.

[2016-02-02 13:03] sgpyc commented on #104
1. when software on mario updated to the same as luigi, problem still existed;
2. CUDA_NVCC_EXECUTABLE was been set to /usr/local/cuda-7.0/bin/nvcc, even after running cmake <gunrock_dir> ;
3. CUDA_NVCC_EXECUTABLE is cached in <build_dir>/CMakeCache.txt, that file seems have not been updated frequently;
4. delete <build_dir>/CMakeCache.txt, run cmake <gunrock_dir> to generate a new CMakeCache.txt

[2016-02-02 17:36] yzhwang commented on #104
Thank you @sgpyc! Is this a runtime mismatch issue or does this mean our latest version won't work for CUDA version <= 7.0? Just want to make sure.

[2016-02-02 18:33] sgpyc commented on #104
I think nvcc (<= 7.0) has known issue (pointed by @jowens 's links) working with boost when c++11 is enabled. nvcc (>=7.5 RC) solved the issue.

[2016-02-02 18:36] jowens commented on #104
If we want to require 7.5, let's make that an explicit decision (and we need to update the docs accordingly). Since we've indicated we will move to C++11, that's a sensible decision, and I'm fine with it.

[2016-02-02 18:49] sgpyc commented on #65
Yes, the original cpu lock is not reusable and that stops running enact multiple times.
Since now we have c++11 now (refer to #104 ), I can try to bring the new inter CPU thread communication under mgpu-cq branch into dev branch, which allows multiple enact.

[2016-02-03 00:52] jowens opened #107 "test Windows build"
We don't know if Gunrock builds on Windows. We also don't know what compiler might work (MSVC being the most important). We hope cmake gives us what we need. Go to, @neoblizz!

[2016-02-03 02:04] neoblizz commented on #107
Time to delve into the strange strange world of Windows OS! I will report back once I have a copy installed on the workstation.

[2016-02-04 07:45] neoblizz opened #108 "Improving gunrock's graphio..."
@yzhwang and I got together and came up with a design we'd like to go for when revamping the `graphio` of gunrock. The objective here is to improve the overall functionality allowing more ways to incorporate/import and generate graphs of different filetypes and formats.
- [x] `class GraphFormats` Stores all graphs in two formats `Coordinate list (COO)` and `Compressed Sparse Row (CSR)`. This allow

[2016-02-04 14:29] jowens commented on #108
This looks good. Yes, close the other issues after referencing them in this issue. I hope we can do this without a config file. I think we can.

Please also propose a command-line format for specifying imports and generates. Keep it simple so the simple case is easy. You might want to look at how other graph packages do this for inspiration (e.g., giraph, graphx), although when I take a quick look

[2016-02-04 15:07] wetliu commented on #108
I am happy to help with this problem. Let's talk about the format today. @neoblizz

[2016-02-04 17:21] neoblizz commented on #108
Yes I believe we can do this without config file, that is for later if the parameters and arguments get more and more complicated. I will look at some examples of how they implement it.

Thanks @wetliu.

[2016-02-04 17:24] #73 closed

[2016-02-04 17:24] #33 closed

[2016-02-04 17:24] #79 closed

[2016-02-04 17:25] #106 closed

[2016-02-05 21:41] wetliu commented on #91
After talking with Yangzihao, we come up an idea of improving the input command line. We will use getopt to get the keys and corresponding values and analyze them by using two different ways.

The first way is about the input file type. We can add one class called input file type only for market, rgg, etc, which have multiple values, such as filenames (market) or some general parameters for genera

[2016-02-06 01:25] narayanan2004 opened #109 "Changing the mtx file does not change output"
I am trying out the gunrock pagerank benchmark and run it like this -
./build/bin/pagerank market dummy.mtx

where dummy.mtx is this -
4 4 5
1 2
2 1
3 4
4 3
2 3

However, if I change the file dummy.mtx to remove the last edge (which will change the pagerank values), the printed result does not change. It is clear that gunrock is caching the graph using the filename (instead of the value), which is

[2016-02-06 01:51] jowens commented on #109
Are you suggesting that if you run pagerank once with one version of dummy.mtx, end the pagerank run, change dummy.mtx, and then run pagerank again, pagerank will use the old version of the file? I don't see how that would happen; I don't think we maintain any state at all between different invocations of any of our programs.

[2016-02-06 01:58] sgpyc commented on #109
Gunrock do use cache files to keep formatted data on .mtx files, as reading and converting .mtx files is time consuming.
They are located on the same directory of the .mtx file, using similar names, and maybe hidden.
Once written, those file will not be changed.
If this is not desired, please do either 1) change the directory containing the .mtx file to read-only; 2) delete the cache files.

[2016-02-06 01:59] jowens commented on #109
Shows what I know. @narayanan2004, don't listen to me.

[2016-02-06 02:00] jowens commented on #109
One thing we could consider—and this is frankly low-priority—is checking modification dates. If the source mtx file is newer than the cached file, we'd regenerate the cached file.

[2016-02-06 02:08] sgpyc commented on #109
@jowens Good suggestion. Another way is to speed up the .mtx file reading routine, and don't use cache files at all (there are multiple version of the cache, depending on graph types, i.e. directed / undirected, 32bit / 64bit, etc., and can occupy quite large space on disk).

[2016-02-06 02:24] sgpyc commented on #108
Any reason we need to select CSR or COO at compile time? Well, we're not supporting BOTH CSR and COO for all algorithms, and the main kernels (advance / filter) will do different things depends on graph type. @yzhwang corrects me if that's indeed the plan.

Now the compile time is long enough that it shows down the development process (full package takes ~10min to build; single primitive also take

[2016-02-06 02:34] sgpyc opened #110 "Reduce compilation time by reorganize template parameters"
The compilation time is too long, should downgrade some template parameters to just run time parameters. Suggest only make something a template parameter if it either 1) determines data type, or 2) crosses CPU-GPU boundary and have performance impact. Flags that only affect CPU control flow should not be template parameters (e.g. DEBUG, SIZE_CHECK). One extra template parameter doubles the compila

[2016-02-08 18:40] yzhwang commented on #110
Agree. Here is my thought:
1) VertexID, SizeT can be replaced with long/long long and unsigned long separately. Only Value should be preserved since it varies according to different algorithms. Not sure if this will affect the 64-bit setting.
2) LOAD_PER_TILE and LOAD_VEC_SIZE could be removed once we find a better way to do  traversal-mode=1 (Now it loads data from global mem to local mem and use

[2016-02-08 19:23] narayanan2004 commented on #109
That explains the behavior I was seeing. Since these generated graph files are hidden by default, it is hard to track them. Perhaps consider just printing a line to the output saying that you are reading from the cached file until other fixes become available (using modification date etc.).

I agree with @sgpyc . These files can get quite large, so please make their management user-visible.

Naray

[2016-02-08 19:30] jowens commented on #110
make *sure* that if you remove those datatypes (`VertexID`, `SizeT`) from the templates, they're at least made typedefs somewhere. Honestly, though, will that save any time? If you only instantiate those datatypes with one instance each in practice, the template cost is free. It's only when we have multiple choices for any particular template argument that it costs us; but then that's exactly what

[2016-02-08 19:35] dylanht opened #111 "Support TinkerPop"
This is perhaps a stupid idea, and I am in no position to call if feasible. But here's the gist of it -

1) TinkerPop (https://tinkerpop.incubator.apache.org/) is an open standard and "stack" for graph processing, consisting of a Turing Complete query language (http://arxiv.org/pdf/1508.03843.pdf), a "Graph Server", and a console environment, which is supported by most graph database vendors. Whil

[2016-02-08 19:41] jowens commented on #111
TinkerPop is in fact very interesting to us. We've tried to identify the right high-level approach to graph analytics, under which Gunrock could be the substrate. (There are numerous contenders, e.g., GraphX). Thank you for pinging us on this. We do think it's worthwhile work.

[2016-02-08 19:41] jowens commented on #111
(It's not a small project though. :) )

[2016-02-08 19:41] yzhwang commented on #110
After looking at some of the code, I assume that a large part of the compilation time is caused by the latter two items. Even the last item, which uses flag as template parameter, will only go into one branch in a multiple-branch path. For the first item, I agree it does not contribute much to the compilation time, the only difference between VertexId and SizeT is SizeT is actually just size_t, Ve

[2016-02-08 19:42] sgpyc commented on #110
datatypes (VertexId, SizeT, Value) are being kept in the template, and they can be 32 or 64 bits depending on command line parameters (like here https://github.com/gunrock/gunrock/blob/dev/tests/bfs/test_bfs.cu#L815 ). However, I guess normally these selections should be OFF for now.

Things that really matter is 2) and 3) mentioned by @yzhwang . I'm doing 3), and compilation time for bfs reduced

[2016-02-08 19:55] sgpyc commented on #109
@narayanan2004 When reading from cache files, "Reading directly from stored binary CSR arrays ..." are shown (most likely at the 2nd line of print out). But that may be easy to miss, since sometimes the print out can be quite long.

We haven't do anything involving file permissions. My personal guess is file permission control is tricky under multi-OS environment, but maybe my guess is wrong.

[2016-02-08 21:47] narayanan2004 commented on #109
Yes, I see the "Reading directly from stored binary CSR arrays ..." line in the output. Maybe it can unambiguously say something like "Reading stored binary CSR arrays from .test.mtx.di.1.bin". The user will now know that such a file exists on their system.

[2016-02-08 21:57] neoblizz commented on #107
Some progress on this, it was definitely an interesting ride! I used Windows 10 (x64). Things we need on Windows to generate build files:
- CUDA (I am running 7.5) & Visual Studio 2015 (MSVC)
- CMake GUI 3.4.3: [Cmake](https://cmake.org/download/)
- Boost 1.55.0: [Boost Installer](http://iweb.dl.sourceforge.net/project/boost/boost-binaries/1.55.0/boost_1_55_0-msvc-12.0-64.exe)
- Metis 5.0.2: [Meti

[2016-02-08 22:03] jowens commented on #107
it would be fair to require the user to install nvcc before running this (they will expect this). i agree with your inclination to use a package manager. i am *sure* that folks have used nvcc + cmake together before. anyway, this seems like very good progress, keep it goin'.

[2016-02-08 22:43] ffarhour opened #112 "Type warnings when running "make""
Build was completed successfully, but with type warnings. Log file attached.
Note: I followed the build directions [here](http://gunrock.github.io/gunrock/doc/latest/building_gunrock.html)
[make_2.8.16.log.txt](https://github.com/gunrock/gunrock/files/122329/make_2.8.16.log.txt)

[2016-02-08 22:48] dylanht commented on #111
I wouldn't think so - we have a GPU cluster in our lab, but the CUDA and conceptual barrier definitely deters people like me from using it for their work. From that perspective, I really like the accessibility and interoperability that comes with TinkerPop. I came across this older thread where the TinkerPop/Blazegraph guys have a brief exchange about getting the MapGraph GAS GPU model working wit

[2016-02-08 22:59] jowens commented on #111
We haven't worked with Java<->CUDA interoperability in our group before. I agree, it is an obstacle. We would probably be inclined to at least start by understanding how the TinkerPop abstraction matches the Gunrock abstraction so we can decide if it's a good match (by that, I mean "here's a few TinkerPop programs, here's how we'd map them to Gunrock, is that straightforward? difficult? what would

[2016-02-10 16:48] ptheywood opened #113 "Null pointer exception caused by getlogin()"
On my Ubuntu 14.04.3 system a null pointer exception is being caused by the call to `getlogin()` in `gunrock/util/sysinfo.h:109`

    terminate called after throwing an instance of 'std::logic_error'
      what():  basic_string::_S_construct null not valid

    #0  0x00007ffff6786cc9 in __GI_raise (sig=sig@entry=0x6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
    #1  0x00007ffff678a0d8 in __GI_

[2016-02-10 18:26] yzhwang commented on #113
Thanks @ptheywood If you see an easy fix you can apply, could you try it and submit a pull request? If you prefer to wait a bit longer, we can fix it too. I see a relevant discussion here:
http://stackoverflow.com/questions/4785126/getlogin-c-function-returns-null-and-error-no-such-file-or-directory
@neoblizz @wetliu @shariiiyy could one of you guys take a look at this issue? Thank you!

[2016-02-10 18:38] neoblizz commented on #113
I'll give it a try, seems like an easy fix.

[2016-02-10 18:40] neoblizz commented on #108
Just to document, after discussion with @sgpyc and @yzhwang it seems like compile time won't be an issue as my implementation only stores both CSR and COO ready for use but only one of them is initialized depending on which one is required for the job. So, we don't have to worry about this.

[2016-02-10 21:12] ptheywood commented on #113
I think that I tried the alternative from SO earlier and it did work, I can submit a PR when I get to my work machine tomorrow (~12h), I don't currently have a linux box at home.

[2016-02-10 21:29] neoblizz commented on #113
Maybe something like this could be added in? Let us know how the test go, thank you!
[code]

[2016-02-11 20:53] neoblizz commented on #113
Thank you for identifying and fixing this @ptheywood!

[2016-02-11 20:53] #113 closed

[2016-02-13 00:51] sgpyc opened #117 "BFS traversal-mode=1 (small) error"
BFS using traversal-mode=1 still has very small chance to get wrong results for the last iteration (2 out of 4.8M vertices got wrong labels, happened 11 out of 4000 tests);

command line: `./bin/test_bfs_7.5_x86_64 market /data/gunrock_dataset/large/soc-LiveJournal1/soc-LiveJournal1.mtx --src=largestdegree --traversal-mode=1 --undirected --device=0 --queue-sizing=12.0 --idempotence`

[2016-02-13 01:03] sgpyc opened #118 "PR correctness test fails under strengthen error-threshold"
PR now use more strengthen condition to match output results with reference, and previously considered past results are reported as INCORRECT. e.g. `./bin/test_pr_7.5_x86_64 market /data/gunrock_dataset/large/ak2010/ak2010.mtx --undirected --max-iter=100 --error=0.01` has the following output. Given 1% as error-threshold, ~4% maximum differences are indeed not acceptable. Please verify the PR form

[2016-02-13 01:09] sgpyc opened #119 "Compensate 0-out-degree vertices for PR"
Currently ranking of 0-out-degree vertices is lost. Un-normalized PR forces the input graph to be directed as an easy fix, and normalized PR allows the ranking lost. There should be a better way to deal with this, such as redistributing the ranking of 0-out-degree vertices to all vertices (this will make the total ranking of normalized PR to be 1).

[2016-02-13 01:11] sgpyc opened #120 "validation code for HITS, SALSA and SM"
These three primitives do not have CPU reference implementation, so there is no way to know whether Gunrock's implementation is correct or not.

[2016-02-13 01:19] sgpyc opened #121 "test/*/run.sh issues"
run.sh for CC, DOBFS, MST, template, topk is broken:

`./run.sh: Syntax error: "(" unexpected`
for the line `files=(./bin/*)`

[2016-02-13 01:20] sgpyc opened #122 "run.sh missing"
HITS, SALSA, WTF and SM do not have run.sh for testing

[2016-02-13 01:24] sgpyc opened #123 "MST runs out of GPU memory for median datasets"
`./bin/test_mst_7.5_x86_64 market /data/gunrock_dataset/large/delaunay_n21/delaunay_n21.mtx` gives out of memory on a K40c

[2016-02-13 01:33] sgpyc opened #124 "CUB warpers issue in util/scan_utils.cuh and select_utils.cuh"
Gunrock advance and filter kernels are launched into GPU streams (most likely non-0 stream), and mgpu functions (which use context[]) are launched into GPU streams also. But the CUB wrappers in util/scan_utils.cuh and util/slect_utils.cuh do not have interface to support GPU stream. The main issue is in MST, which jumps between non-0 and 0 GPU streams. Now MST is correct, because cudaStreamSynchro

[2016-02-13 01:39] sgpyc opened #125 "SALSA seems to have randomly choose memory sizing factors"
https://github.com/gunrock/gunrock/blob/dev/tests/salsa/test_salsa.cu#L317 , https://github.com/gunrock/gunrock/blob/dev/gunrock/app/salsa/salsa_enactor.cuh#L369 , https://github.com/gunrock/gunrock/blob/dev/gunrock/app/salsa/salsa_enactor.cuh#L413

[2016-02-13 01:42] sgpyc opened #126 "memory requirement checking and reallocation for DOBFS, HITS, MST, SALSA, TOPK, WTF and SM"
memory requirement is not checked before kernel launching for these primitives. should find a way to do the checking and reallocation, even they are not under the multi-GPU framework.

[2016-02-13 01:45] sgpyc opened #127 "64bit-VrtexId support"
oprtr::filter::KernelPolicy::SmemStorage is too large if VertexId is set to 64bit (long long), and bit shift is too large at https://github.com/gunrock/gunrock/blob/dev/gunrock/oprtr/filter/kernel_policy.cuh#L179

[2016-02-13 01:47] sgpyc opened #128 "VertexId, SizeT and Value for MST"
the three data types are not clearly separated in MSTProblem::DataSlice. It's still okey if they are all int, but when 64bit supports are turned on, the code have type mismatches.

[2016-02-13 01:49] sgpyc opened #129 "code in util/join.cuh"
util/join.cuh defines functions under gunrock::util namespace that only used by SM, and named as mark, update, debug_0, debug_1, etc. If these functions are only used by SM, please put them in gunrock::app::sm namespace; if they are indeed utility functions, please give more descriptive names

[2016-02-13 22:58] neoblizz commented on #97
Ok, so this is really cool. I worked on this issue @sgpyc and here's my fix for not forcing users to include/use `metis_partitioner.cuh`:
Edits to `CMakeLists.txt` so that it adds a pre-compiler flag `METIS_FOUND` that can be checked in the `metis_partitioner` file using `add_definitions`:

[code]

Then, just add `#ifdef METIS_FOUND ... #endif` in the  `metis_partitioner` file. Now, here's the coo

[2016-02-13 23:01] neoblizz commented on #97
How the test build looks like when printing `METIS_FOUND` (in this build I forced set it to false):

[code]

[2016-02-15 19:04] #99 closed

[2016-02-16 00:09] neoblizz commented on #107
Visual Studio 2015 doesn't work, switching to 2013: `nvcc fatal   : nvcc cannot find a supported version of Microsoft Visual Studio. Only the versions 2010, 2012, and 2013 are supported`

[2016-02-19 15:48] jowens opened #131 "current ctest on dev is failing on sssp and mst"
Ran this on Mario this morning.

[code]

[2016-02-19 19:59] jowens opened #132 "JSON needs to output number of nodes/edges in the graph"
`{nodes,edges}_{queued,visited}` are useful but don't actually say how many nodes and edges are in the actual graph (what's read in from a file). Add `{nodes,edges}_in_graph`?

Assigning to @neoblizz as a desirable output of the read-from-a-graph refactoring.

[2016-02-20 23:15] neoblizz commented on #112
I didn't get these warnings in the dev version, I believe the `printfs` were fixed. Instead now, after switching to c++ 11 I got the following warnings for `moderngpu` (This is just one set, it repeats throughout the installation) :

[code]

http://stackoverflow.com/questions/29865638/how-to-resolve-g-warning-with-std-c11-auto-ptr-is-deprecated

[2016-02-20 23:20] yzhwang commented on #112
I think this should be a moderngpu issue. They need to switch to shared_ptr

[2016-02-20 23:23] yzhwang commented on #112
Actually I really want to know the future of moderngpu. It seems that the whole lib hasn't been updated for a while. I wish Duane could take it over and integrate some of it into cub.

[2016-02-20 23:25] neoblizz commented on #112
Wow, last it was updated was 2 years.

[2016-02-20 23:34] jowens commented on #112
They fixed a C++11 compile issue last fall that we found (https://github.com/NVlabs/moderngpu/commit/1c1cc9e23463bf4e82bad29a3ab34a4ddac99e3d) but I don't expect they'll go fix warnings.

[2016-02-23 23:12] hamsal opened #134 "SEGFAULT when running some algorithms on large graph and multiple GPUs"
Here https://github.com/gunrock/gunrock/pull/133 I wrote tests that run on the large graphs and multiple GPUs. If the tests are run on one GPU they all pass, if they are run on multiple GPUs some errors occur.

[code]

[2016-02-24 00:06] hamsal opened #135 "pr_test.cu expects directed graph"
Is there a way to run test_pr with a directed graph? on line 670 it seems to force the undirected flag.

[code]

[2016-02-24 00:18] yzhwang commented on #135
@sgpyc Can you confirm that PR works on directed graph for dev branch? How do we handle the dangling node problem for directed graph? Thanks!

[2016-02-24 00:19] yzhwang commented on #134
Hi @hamsal Please provide more info (command line and full output of your test script would be preferable) so that we can try to figure out what's the problem.

[2016-02-24 00:20] yzhwang commented on #134
topk and mst are known to work only on single-GPU. Again, @sgpyc can you confirm that if dobfs works on m-gpu or not? Thanks!

[2016-02-24 00:24] hamsal commented on #134
Hey @yzhwang after configuring cmake with both the `ALLTEST` and `DEVICES=0,1` here is the full output of `make test`

[code]

[2016-02-24 18:46] wetliu commented on #91
In terms of the input parameters, there is a question here. For example, "max-iter" uses the dash, while "quiet_mode" uses the underscore. Does that matter if we change them into the same format by using only dash or underscore?

Another question is some configuration has a flag that is different from the name in info struct, like this
info["idempotent"] =  args.CheckCmdLineFlag("idempotence");
In

[2016-02-24 18:48] jowens commented on #91
I encourage using the underscore rather than the dash, since with an underscore it's a valid variable name. At any rate, make it consistent. I think you should also make all flags/stats entries the same as well. I am agnostic as to which name to choose (others may have a preference).

[2016-02-24 18:49] wetliu commented on #91
Cool, thanks.

[2016-02-24 23:19] jowens commented on #104
Closing this because we now require 7.5.

[2016-02-24 23:19] #104 closed

[2016-02-25 20:36] jowens commented on #84
This is NVIDIA bug 1726281 (I filed it on 3 Feb). Current status changed today:

[2016-02-28 21:05] neoblizz commented on #132
@jowens had some questions regarding this one. @yzhwang pointed me to [gunrock/util/info.cuh](https://github.com/gunrock/gunrock/blob/dev/gunrock/util/info.cuh) file to add these changes;

1. Is that the right file we're look at?
2. It currently does not have any original graph related statistics, it all primitive related info that is being worked on by the algorithm. So, I would need to pass `CSR

[2016-02-28 21:23] jowens commented on #132
I know you're redoing the read-a-graph-file support, so I can't say where you should put it exactly. But it makes sense to me to compute that info when you first see a graph (read it from disk, generate it, etc.); you'll surely have the info you need at that point. Adding it to Info makes sense; you could set it in LoadGraph for instance, passing in info by reference? I don't want to make a sugges

[2016-02-28 21:44] jowens commented on #96
@sgpyc did you switch to C++11 random everywhere? I think you did. If so please close this.

[2016-02-28 21:47] jowens commented on #132
BTW, right now we go through some pretty serious contortions to avoid using global variables anywhere. This is safe, of course, and allows us to not worry about multiple threads or processors etc. I frankly don't know best practices when it comes to "when does a global variable make sense and how do you expose it if so". The info structure would be a good candidate for a global structure if we cou

[2016-02-28 21:55] neoblizz commented on #132
Makes sense, while working on `graphio` support I have been running into a lot of discussions regarding security, global variables, public/private class variables etc. I will look into this a bit more and discuss it with other members to determine the best course of implementation. Right now, I already have the statistics stored that I'd like to pass, adding it to `info.cuh` shouldn't be too hard.

[2016-02-28 21:56] jowens commented on #132
I can enlist outside help (from Actual Software Developers) if needed. I don't pretend that my academic-only-C++ experience qualifies me in any way to make the best decisions by myself.

[2016-02-29 22:02] neoblizz opened #139 "CMakeLists.txt files should update based on root CMakeLists.txt..."
Thinking about separating the CMakeLists.txt stuff into `.cmake` modules and including them in all CMakeLists.txt.

[2016-02-29 22:07] jowens commented on #139
Yes.

[2016-03-01 01:33] neoblizz commented on #139
Findings; The structure we have right now is actually pretty good. I have been working on separating the modules into .cmake include files, which can easily be included in the root `CMakeLists.txt`. It generates a Makefile for the whole project and Makefiles for the tests primitives in the same build dir.

Now, here's an issue. @jowens we were hoping you could ask cmake people if there is a better

[2016-03-01 04:02] jowens commented on #139
@neoblizz Please start by asking the cmake list (https://cmake.org/mailman/listinfo/cmake). I will happily call in the big cmake guns if necessary, but it's always better to try the list, since any answers written to the list will benefit everyone.

[2016-03-01 18:32] neoblizz commented on #97
Fixed in issue #138 (Temporary fix added for Makefiles, but will automatically work once we fix CMakeLists.txt issue #139).

[2016-03-01 18:32] #97 closed

[2016-03-01 20:27] neoblizz commented on #139
I will do that first then, thank you! :+1:

[2016-03-08 13:05] nsakharnykh opened #141 "DOBFS gives incorrect results for RMAT generated graphs"
Command line:
`./bin/direction_optimizing_bfs rmat --rmat_scale=21 --alpha=2 --beta=2 --idempotence --undirected`

Gives the following output:
`Validity:
INCORRECT: [8063]: 3 != -1
result[...2, 2, 2, 2, 2, 3, 1, 1, 2, 2, ...]
reference[...2, 2, 2, 2, 2, -1, 1, 1, 2, 2, ...]
First 40 labels of the GPU result.
[0:0 1:1 2:1 3:1 4:1 5:1 6:1 7:1 8:1 9:1 10:1 11:1 12:1 13:1 14:1 15:1 16:1 17:1 18:1 19:1

[2016-03-16 06:14] jowens commented on #88
NVIDIA closed the bug as not a bug. Outcome:

[code]

[2016-03-16 06:15] #88 closed

[2016-03-28 20:07] #139 closed

[2016-03-29 16:23] yzhwang opened #142 "Major code refactoring"
Simplify the interfaces.
Reduce code size by using C++11 features such as lambda function.

[2016-03-29 20:06] michel-steuwer opened #143 "Build errors on Scientific Linux"
Hi,

I'm trying to get gunrock running on our machine running Scientific Linux.
When I try to compile examples such as SSSP I get the following error message:

[code]

Any help on how to overcome this issue?

I'm happy to provide more information on our configuration if required.

[2016-03-29 22:55] yzhwang commented on #143
Hi there. I think that issue is related to metis library. It is used only as one partitioning method for multi-GPU execution. We have changed the cmake module in our dev branch and added code to handle missing metis situation. But we haven't propagated that change back to master branch yet. The solution might be either checking whether you have metis library installed properly, or switch to our cu

[2016-03-29 23:08] neoblizz commented on #143
What might help recreate the error is initial `cmake ..` output. Just so we know what versions of different dependencies you're using. I am not sure if metis will cause this, but you could definitely try switching to the dev branch `git checkout dev` and try making it again.

[2016-03-30 16:44] michel-steuwer commented on #143
Thanks for your suggestions.

I successfully compiled the `dev` branch on my machine.
For that I had to compile `boost 1.60` myself as well as `gcc 4.9` because the system wide gcc was too old.
Compiling the most reason `gcc 5.3` did not work, as cuda 7.5 seems to be unhappy with it.

[2016-03-31 16:37] #141 closed

[2016-03-31 16:42] neoblizz commented on #107
Windows alternatives/versions of linux libraries:
https://github.com/Polyfun/libimobiledevice-windows/tree/master/libgen (dependency)
https://www.sourceware.org/pthreads-win32/ (dependency)

This might be something we can consider when we revisit the gunrock's code base, some of the dependencies can only be found in linux, but their alternatives, as far as I can tell right now, exist in windows.

[2016-04-04 19:31] jowens opened #144 "default "make" build does not appear to build primitive-specific executables"
I think it should; I think asking our users to run `make; ctest` is reasonable, that `make` should build everything that `ctest` requires.

[code]

[2016-04-04 22:29] neoblizz commented on #144
@jowens did you try this in dev or master branch?

[2016-04-04 22:29] jowens commented on #144
dev

[2016-04-04 22:39] neoblizz commented on #144
Default make does build the executables, the problem is under add_test it is not looking in the correct directory, which is `/bin/<primitive-name>`;

[code]

I got this!

[2016-04-05 23:13] jowens opened #145 ""lift" has cmake recipes for cub, does that make our life any easier?"
https://github.com/nsubtil/lift/tree/master/cmake

@neoblizz can you take a quick look and see if this is a good idea to use?

[2016-04-05 23:34] neoblizz commented on #145
@jowens Not at all useful, they're just including the directory where cub is for their project. We put cub in a different directory and do a better job at including it (cache). I have it separated in https://github.com/gunrock/gunrock/blob/dev/cmake/FindCUB.cmake for gunrock already. :)

[2016-04-05 23:48] jowens commented on #145
Niiiiice thx for looking

[2016-04-05 23:48] #145 closed

[2016-04-06 17:43] jowens opened #146 "nvshmem"
After all papers are in, no hurry, @sgpyc can you look at the "nvshmem" API and report back to the team? Supports PGAS model across multiple GPUs, will be a good model for NVLink.

GTC talk:
S6378, Simplifying Multi-GPU Communication with SHMEM
Nathan Luehr
Sreeram Potluri

[2016-04-08 19:30] neoblizz commented on #146
They have the talk online:
S6378, Simplifying Multi-GPU Communication with SHMEM: http://on-demand.gputechconf.com/gtc/2016/video/S6378.html
S6418 - Bringing NVIDIA GPUs to the PGAS/OpenSHMEM World: Challenges and Solutions: http://on-demand.gputechconf.com/gtc/2016/video/S6418.html

[2016-04-12 19:38] #144 closed

[2016-04-13 05:01] yzhwang commented on #134
@neoblizz Hamzeh is our colleague at Onu. He hacked CMake a bit to enable multi-GPU test (in PR #133) I think here the problem is that DOBFS, TOPK, and MST only work on single-GPU. So if one runs multi-GPU test on those 3 primitives, they will fail. Could you take a look at this? Maybe add some flag in CMake file to forbid multi-GPU test on those three primitives? Thank you!

[2016-04-13 05:37] neoblizz commented on #134
Yup! I will add it to the new `CMakeLists.txt` we made.

[2016-04-13 17:28] neoblizz commented on #143
Yeah, according to CUDA 7.5's [installation guide](https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#system-requirements) it only supports gcc 4.9 or less. But I found a cool hack that works pretty well:

### Hack CUDA to support GCC 5
By default, CUDA 7.5 does not support compling with GCC 4.10 or later versions. It will report the following errors when compiling.
[code]
To so

[2016-04-13 17:28] #143 closed

[2016-04-13 17:45] yzhwang commented on #134
@hamsal Also please note that our CTEST is only used as a regression test to see whether the code could compile and run correctly. If you want to do thorough tests on large datasets with multi-GPUs, a better way would be to write up scripts like here: https://github.com/gunrock/gunrock/tree/master/dataset/test-scripts
@neoblizz is working on getting rid of the error messages when running multi-GPU

[2016-04-13 18:37] neoblizz commented on #112
Suppressed moderngpu warnings in PR #140, more detail in this [post](https://github.com/gunrock/gunrock/pull/140#issuecomment-202542219).

[2016-04-13 18:37] #112 closed

[2016-04-13 20:54] jowens opened #148 "ctest is failing on mario in dev build, regexps are broken?"
[code]

@neoblizz, pls take a quick look?

[2016-04-13 21:05] neoblizz commented on #148
@jowens Can you please post `Testing/Temporary/LastTest.log`? This file should be in the build directory after you have run ctest once.

[2016-04-13 21:18] neoblizz commented on #148
Nvm, I was able to find it in your directory. Here's the reason why the tests failed:

SSSP: Input graph file /home/jowens/working/gunrock/dataset/small/chesapeake.mtx does not exist.
MST: Input graph file /home/jowens/working/gunrock/dataset/small/chesapeake.mtx does not exist.
TOPK: is a small bug, I am fixing it in the next push.

[2016-04-13 21:25] jowens commented on #148
Oh, thx, great. The error message should tell me I'm missing the data set then!

[2016-04-13 21:38] neoblizz commented on #148
It does! You can use commands like `ctest -V`, `ctest -VV` or `ctest --debug` for in depth information about the tests that were run. Also, fixed the topk bug with the last commit I just did.

[2016-04-13 21:42] jowens commented on #148
Awesome! OK. We can go with that. Um, any way you could just print what you just said if any tests failed? All I'm trying to do is eliminate issues filed by external people who run `ctest`, have it fail, and don't know why. If at the end of a failed run it says "Run `ctest -V` or `ctest -VV` or `ctest --debug` for more detailed information about the failure", maybe that will eliminate problems dow

[2016-04-13 21:42] jowens commented on #148
Also topk works great, thanks!

[2016-04-13 21:44] neoblizz commented on #148
I will add that message at the end telling them about other commands for a detailed test. Because the general `ctest` command is suppose to be a very simple execution of all the tests and a clean output.

[2016-04-13 21:47] jowens commented on #148
But only if it fails. (Hope that's possible.)

[2016-04-14 18:13] neoblizz commented on #134
All tests pass for multi-gpu except betweenness centrality, here's the output that I get; @yzhwang @sgpyc is MGPU BC suppose to work on bips98_606.mtx dataset?

`./bc market /home/muhammad/gunrock/simple_example/bips98_606.mtx --device=0,0 --undirected --src=0`

[code]

[2016-04-14 18:16] yzhwang commented on #134
@sgpyc Did multi-GPU BC work on dev branch before? Test Failed doesn't give too much info.

[2016-04-14 20:28] neoblizz commented on #134
Added all the multi-GPU primitive tests, but commented out the ones that fail as of now. Maybe later when we import the working multi-GPU implementations to dev we can uncomment them. @hamsal See `dev` branch for these changes.

[code]

[2016-04-14 20:28] #134 closed

[2016-04-15 18:51] neoblizz commented on #131
@jowens this can be closed now.

[2016-04-15 19:42] jowens commented on #131
I fetched latest from dev, rebuilt, and get the same errors. Can you look in my build directory to see what's up?

[2016-04-15 20:01] neoblizz commented on #131
`Error: Input graph file /home/jowens/working/gunrock/dataset/small/chesapeake.mtx does not exist.` I think you manually somehow removed chesapeake.mtx dataset and pull is not fetching it. I don't have permission to add it to your directory, but just execute the following command and try the tests again:

[code]

[2016-04-15 20:08] jowens commented on #131
I thought there was a message you were going to add to the end ... a message that said how to get more info in the case of a failure.

[2016-04-15 20:10] jowens commented on #131
Anyway, yeah, it works now. Woo!

[2016-04-15 21:47] neoblizz commented on #131
I am working on the message thing in case of failure for ctest, apparently it is not as simple because you have to add a custom target in CMakeLists.txt. I asked the mailing list to find a better/right way to do it. Will push the changes soon!

[2016-04-19 20:41] neoblizz commented on #148
@jowens There is no neat way to add message (with if test_fails) condition for ctest, and the only way to add one is through a ctest script. But for it to properly work, users will have to run `ctest -S /path/to/script.cmake` instead of just ctest. That looks messy too. Instead, I have added a custom target `make check` which runs ctest with a special flag `--output-on-failure` it gives more infor

[2016-04-19 20:42] neoblizz commented on #148
Running `make check` is sufficient:

[code]

[2016-04-19 20:44] jowens commented on #148
Thanks for the update. I have no strong opinion on which option is best in the docs so will happily accept your judgment there. Update away!

[2016-04-19 20:59] neoblizz commented on #148
I will add the [changes](https://github.com/gunrock/gunrock/commit/bfc42812cf50e2d2b635903f252379ced896d950) to documentation.

[2016-04-19 20:59] #148 closed

[2016-04-19 21:00] neoblizz commented on #131
https://github.com/gunrock/gunrock/commit/bfc42812cf50e2d2b635903f252379ced896d950

[2016-04-19 21:00] #131 closed

[2016-04-22 21:58] yzhwang opened #149 "support graphs in binary format"
Text-based graph files become an I/O bottleneck in Gunrock's loading phase. We need to support our own binary format. Current proposed method is:
do memory dump for each graph-topology related array (row offsets, column indices, row indices, column offsets, node weights, edge weights). Create .tar files.
Things to be careful of: 32bit 64bit edge IDs. Keep both, or migrate 32b to 64b. Add a 64b fla

[2016-04-22 22:01] jowens commented on #149
Per @sgpyc's comment on slack: If we store only a 64b segment, then we assume the data doesn't fit into 32b. If we store only a 32b segment, we assume the data fits into 32b and that we can extend it if necessary. If we store both 32b and 64b, we assume that the 64b segment is the same data as the 32b segment except with a leading 32 0 bits. I'm not sure that I can think of any other interesting u

[2016-04-22 22:06] sgpyc commented on #149
I think only one of 32bit and 64bit will do, no need to store both of them, and do run-time conversion when required. That can save quite large disk space.

[2016-04-23 02:08] felipegb94 opened #150 "Random Spanning Tree Question/Feature"
Hi,

Does gunrock have a forum for questions?

I skimmed through the functions in the toolbox looking for a random spanning tree (RST) function but was unable to find any. Do you have an implementation of it? Or I'm I right in assuming that it is not a feature (yet?). Assuming RST is not a feature in gunrock, how hard would it be to implement it using the currently existing data structures and fun

[2016-04-23 07:12] neoblizz opened #151 "Benchmarking gunrock's partitioning methods."
I got `parmetis` to work on gunrock's, have couple of questions regarding the partitioning methods;
- How do we benchmark these methods?
- What statistics are important when deciding, which partitioning method to use (do we look at elapsed time, etc.)?
- Is `randombias` the best partitioning method we have right now? (I want those graphs that @yzhwang showed me couple of days ago that showed the c

[2016-04-23 07:12] neoblizz commented on #151
Ran some really quick rgg tests for all partitioning methods (they may not mean anything at all, I was just testing if the methods worked):

**Random Partitioner**
[code]

**Bias Random Partitioner**
[code]

**Metis Partitioner**
[code]

**Parmetis Partitioner**
[code]

[2016-04-23 22:13] yzhwang commented on #150
Hi @felipegb94 We do not have a forum, but I think you are doing the exactly right thing: putting questions and feature requests in issues.
As for RST. We currently do not support this primitive. And since we don't have a good parallel random walk implementation on the GPU too, it is gonna be hard to present the algorithm using Gunrock. We do have a MST implementation but it only works on single-G

[2016-04-29 22:17] sgpyc opened #152 "Function interfaces / APIs"
The problem we are facing in Gunrock APIs is how can we pass parameters to different layers of the library in a nice, clean and easily manageable way.

Currently gunrock has roughly the following layers (from bottom up): functor, operator, single GPU iteration, multi-GPU primitive, enactor / problem, and application. Each of these layers has some data and several methods (C++ functions). It's hard

[2016-04-29 22:23] sgpyc commented on #119
--compensate for PR added in edc474c4ce22961b5c7a8f1686ff425808182b0c

[2016-04-29 22:23] #119 closed

[2016-04-29 22:29] yzhwang commented on #152
Cool! I will dump some of the TODOs when I did the merge. These are all very small things, not high-level ideas. Not a complete list:

Problem level:
1) We need an easier way to initialize problem data and frontier queues. Lots of redundant code for each primitive now.
2) The settings for launching operators should be declared in problem.
3) MaskT should be an operator-related variable.

Primitive

[2016-04-29 22:41] sgpyc commented on #152
Just a few samples of the layers:

Functor: https://github.com/gunrock/gunrock/blob/dev_debug/gunrock/app/bfs/bfs_functor.cuh#L53
Operator: https://github.com/gunrock/gunrock/blob/dev_debug/gunrock/app/bfs/bfs_enactor.cuh#L1002
Iteration: https://github.com/gunrock/gunrock/blob/dev_debug/gunrock/app/bfs/bfs_enactor.cuh#L938
Primitive: https://github.com/gunrock/gunrock/blob/dev_debug/gunrock/app/b

[2016-04-29 22:48] sgpyc commented on #152
@yzhwang I'm more concerning about the API design in this issue. I think you already have the TODOs listed in a previous issue? We can add things to it, and moving / combining code is certainly one of them.

[2016-04-30 00:40] izaid commented on #152
Hey guys, Travis pointed me here, I'm happy to lend my C++ knowledge if that is useful. I'm one of the lead developers of DyND, a C++ nd array library -- see https://github.com/libdynd/libdynd. So, I'd be glad to be helpful if I can.

[2016-04-30 03:50] jowens commented on #152
@izaid Very happy to hear your thoughts! @sgpyc outlined the problem in the first post. What more info can we give you?

[2016-04-30 18:58] jowens commented on #151
What matters in the long term is the relationship between partitioning-time and primitive-run-time. For any value of partitioning-time, we want the optimal primitive-run-time. Now, @sgpyc has noted that the best partitioners for Gunrock appear to be those that minimize the border size of a partition, by which I think he means "the number of vertices in the partition that have a neighbor outside of

[2016-04-30 19:06] jowens commented on #150
Hi @felipegb94. We discussed this problem in group meeting yesterday. Can you comment from the point of view of your application what you expect in terms of "random"? What are you prioritizing when you randomize? If you generated a zillion random trees, you would expect a uniform random distribution of ... what? (For instance, you might say that every edge connected to vertex v should have an equa

[2016-05-01 16:40] izaid commented on #152
Okay, so the best thing I can speak to here is how to create CPU / GPU functors with arbitrary signatures, but still easily interactable. This is exactly something we've dealt with in DyND.

In DyND, we have a compute primitive (called a "kernel") that represents a function call on array elements. This works on either the CPU or GPU, and the signature is always `void single(char *res, char *const

[2016-05-01 16:53] jowens opened #153 "add multi-GPU scripts to reproduce our results"
@sgpyc, 14 April: "I used .sh scripts to do the tests. Will push them to dev_debug and eventually dev and master."

No giant hurry; just making sure this gets done as the merge takes place. Nikolai and team would like to reproduce on their end.

[2016-05-01 17:35] neoblizz commented on #151
That helps, and @sgpyc also showed me exactly what we need to compare the partitioning methods on Friday. So, I will run those commands and report the output back.

[2016-05-01 18:08] jowens commented on #151
You should:
1) Make sure any comparison you make within Gunrock outputs to the JSON output structure (perhaps any partitioner comparison would not run by default but would run if you pass a particular flag); that is how we want to report every single result from within Gunrock
2) Work with @ffarhour if you think any of your output would benefit from visualization (graph)

[2016-05-02 13:49] robertmaynard commented on #152
Hi, Jeff Baums directed me to this issue. I am one of the lead developers for VTK-m ( https://gitlab.kitware.com/vtk/vtk-m ) a C++ template code base that is trying to bring scientific visualization algorithm development to gpus/accelerators. The issues you have brought up are fairly similar to issues we have tackled.

My primary questions for the gunrock team is both what are the secondary goals

[2016-05-02 14:49] jowens commented on #152
Thanks, Rob! Compile time and smaller binary are not particularly important to us. Faster runtime is certainly a goal, but we're rarely API bound, but if you have suggestions that will improve runtime we're all ears.

[2016-05-02 15:04] jowens commented on #152
Anonymous developer friend comments:

[2016-05-02 16:25] jowens opened #154 "Martin Butscher issues with Gunrock install"
(Pasting in Martin's comments on his experience with installing Gunrock. Let's try to address these issues!)

1. Gunrock can only be installed via git hub. One of our test machines does not have git installed, making it pretty much impossible to install Gunrock on it.
2. Gunrock requires 4 other libraries (Boost, Metis, ModernGPU, CUB). These dependencies make it time intensive and cumbersome to i

[2016-05-02 16:27] jowens commented on #154
1. I don't think we've ever seen a development machine without git. OK. On the gunrock main page (https://github.com/gunrock/gunrock) there's a "Download ZIP" link: https://github.com/gunrock/gunrock/archive/master.zip . Does that work? Of course we strongly recommend git, because as we fix stuff, you can easily update.

[2016-05-02 16:30] jowens commented on #154
2. @neoblizz has been working on libraries and compilation. I believe in the dev branch, one can compile without metis—@neoblizz, can you comment? I am not sure about Boost. Our validation is against Boost. We do require both ModernGPU and CUB because we use them internally within Gunrock, but they are set up as external submodules, so when you fetch Gunrock and use --recursive, you'll get them au

[2016-05-02 16:32] jowens commented on #154
3\. Not sure if we've ever tried to compile with a separate ModernGPU and CUB. We should support this. Could you paste in the issues you had when you tried to compile this way?

[2016-05-02 16:33] jowens commented on #154
4\. Definitely we use separate Boost libraries, usually installed through the OS's package manager. I know this works for both our Linux box and my Mac laptop. So please let us know what your compiler told you when this wasn't work and we'll look right at it.

[2016-05-02 17:11] neoblizz commented on #154
1. Actually isn't true, you don't **need** git to install gunrock, it is sort of an engine to download gunrock. Other ways like you mentioned to download gunrock are click on the link on our main github page "Download ZIP" another way is if you have linux and I believe mac type:

[code]
([Source](http://stackoverflow.com/questions/8377081/github-api-download-zip-or-tarball-link))

And I believe [w

[2016-05-02 17:13] neoblizz commented on #154
2. Gunrock does require 3 libraries, but out of these 3 two you just have to use wget (if not using git) to download CUB and MGPU and move them in the `externals` directory. Metis is now optional in dev branch, if you wish to not use metis partitioner it is not required. Boost I believe is required in several different things.

[2016-05-02 17:14] neoblizz commented on #154
3. I am not sure how Martin is installing MGPU and CUB, but I don't think they really need to be installed. All you have to do is wget or git clone the two repositories into externals directory.

[2016-05-02 17:17] neoblizz commented on #154
4: Installing boost most of the time installs only the main library, but gunrock also uses the following:
[code]
So maybe one of the above is missing that is causing that error?

[2016-05-02 18:08] robertmaynard commented on #152
I would first look at categorizing your parameters into different groups when developing your structs.
Currently you have Enactor ( and Problem ) types but you might want to also have:
[code]
I would try to make these types to be as orthogonal as possible, maybe with them being defined by the Enactor?

Lastly the ```gunrock::oprtr::advance::KernelPolicy``` seem to be using template parameters to d

[2016-05-02 18:20] sgpyc commented on #152
Thanks for @robertmaynard 's suggestion on using a structure to encapsulating user defined template parameters. I think that can save a lot of code when defining a brunch of kernel policies.

Just some add-on to @jowens answer about the trade-offs. Faster runtime on GPU is our primary goal. I think runtime on CPU can be relaxed a little bit, as the CPU is mainly a GPU controller at the moment. Mos

[2016-05-02 18:41] sgpyc commented on #152
Thanks for @izaid 's pointer to DyND and the way to use string for dynamic function signatures. Internally we had some discussion of using lambda functions for functor, but are looking for a good way to deal with it. The string-encapsulated signature sounds suitable for this purpose (correct me if wrong) and I would want to know more about it:
1) when is the casting of args[...] to individual para

[2016-05-02 18:45] yzhwang commented on #152
Thanks @izaid and @robertmaynard ! These are very nice advice!

To answer @robertmaynard 's question on our goal. I think having a cleaner API for internal developing without losing performance (on GPU) is our primary goal. I will try to provide a high-level framework of our current library here later today (just to give myself a recap) and @sgpyc can add multi-GPU part. So that people may have be

[2016-05-02 19:49] izaid commented on #152
@sgpyc To be clear, we're not casting to / from strings, but from `char *` -- a pointer to bytes, really. This is a standard thing to do when you want to lose the type of the data -- it is how NumPy works, for instance. If I have a `double` argument, I cast from from `char *` to  `double *` when I need to apply my innermost operation that requires a `double`.

1) The casting happens at compile tim

[2016-05-02 20:16] yzhwang commented on #152
As a graph processing library, Gunrock takes in a graph, start with an initial frontier (array or nodes or edges), do different type of operations in parallel with the input frontier and generate an output frontier, until frontier is empty or other stop condition is met. So in an ideal world, We would like users to develop a new graph algorithm using Gunrock like this:
g = Graph(input_file)
f = Fr

[2016-05-02 21:01] robertmaynard commented on #152
VTK-m does something fairly similar to what @izaid mentioned but instead of using ```char*``` pointers we use portals (range like objects) that allow us to support fancy iterators. For example a vtk-m worklet ( functor) looks like:

[code]
This GenerateSurfaceWorklet will execute across all values in an array (field). The  ```ControlSignature``` provides us with the information on the number of in

[2016-05-02 21:49] DhariniCool commented on #154
Hi,
I am working under Dr.Burtscher and it was me who was trying to install Gunrock and faced these issues.

About the 2nd one. We wanted to confirm if these benchmarks are mandatory for Gunrock. I believe it was not mentioned in the Gunrock build page that Metis is optional.

[2016-05-02 21:50] DhariniCool commented on #154
3. Gunrock did not recognise already installed MGPU and CUBB. I got errors saying that CUBB and MGPU were not found.

But cloning gunrock again (now recursively) solved the issue.

[2016-05-02 21:51] jowens commented on #154
In the master (released) version, Metis is required. @neoblizz changed the makefiles in the dev version to make it optional. When we do our next release (0.4) in master, we will change the docs; thanks for making sure we do that!

[2016-05-02 21:53] DhariniCool commented on #154
About the last one. I verified the installed Boost version (its path) and also that it has all the 4 required libraries installed. Still Gunrock couldn't recognise all the 4 libraries.

This was the error message

  Boost version: 1.60.0

  Boost include path: /home/jayadharini/Gunrock/boost_1_60_0

  Could not find the following static Boost libraries:

          boost_system
          boost_file

[2016-05-02 22:15] neoblizz commented on #154
@DhariniCool Can you please tell us how you installed boost? I can try and recreate the issue on my end and see why it is not recognizing boost.

Also, for reference, my boost libraries are found in `/usr/lib/x86_64-linux-gnu`.
If you can do a re-install, try running the shell [script](https://github.com/gunrock/gunrock/blob/dev/dep/install_boost.sh) provided in the dev version:

[code]

[2016-05-02 22:55] DhariniCool commented on #154
@neoblizz For Boost installation, I followed the steps provided in the Boost installation page. (Its link is provided in Gunrock build page)

1.  tar -xvf boost_1_60_0_tar.bz2
2.  under tools/build/
    ./bootstrap.sh
3. ./b2 install --prefix=DIRECTORY_PATH

I guess the boost installation is fine as I am able to run a sample application.

[2016-05-03 00:23] neoblizz commented on #154
@DhariniCool If you have installed boost in `/home/jayadharini/Gunrock/boost_1_60_0` might be the reason gunrock isn't detecting boost. The FindBoostHeaders.cmake in cmake only looks in the default directories, mainly under `usr/` for boost headers.

I will recommend uninstalling boost from the directory you currently have and running the script as I mentioned above. I just tested it and that work

[2016-05-04 22:06] smsaladi opened #155 "CUDA version requirement"
I would like to run gunrock on a GPU resource, but the latest CUDA installed is 6.5 on one and 7.0 on another. Unfortunately, upgrading the CUDA toolkit on either resource doesn't seem to be possible at the moment. Does the 7.5 requirement comes from some specific feature requirement, or is it just what has been tested with?

I know the following is written on the README, but I thought I'd still a

[2016-05-04 22:14] jowens commented on #155
We switched to 7.5 when we found a compiler bug in 7.0 that got fixed in 7.5. So there is at least part of Gunrock that won't compile correctly if you use something < 7.5. That might be OK with you, in which case you have our blessing to use 7.0. I believe at least some development was done in 6.5, but at this point we use C++11 features and that requires at least 7.0 IIRC.

The README requirement

[2016-05-04 23:18] #155 closed

[2016-05-05 18:24] DhariniCool commented on #154
@neoblizz Installing Boost under /usr/local/ solved the issue! Thanks

[2016-05-05 18:30] DhariniCool commented on #154
@neoblizz I had a similar issue with Metis (NOTFOUND METIS_LIBRARY). But adding its path to .bash_profile solved the issue. I successfully built Gunrock.
Thanks a lot @neoblizz and @jowens

[2016-05-05 18:32] #154 closed

[2016-05-05 19:01] nsakharnykh opened #156 "Custom active edge mask or condition for BFS traversal"
I'm trying to integrate Gunrock BFS into my application. I have some additional data assigned to each edge. In the simplest scenario it is a bit mask whether the edge is active or not. This information is changing from one traversal to another in my application. Basically, certain edges could be "disabled" and I'd like to specify this somehow for Gunrock. For performance reasons such mask can be a

[2016-05-06 07:14] ranjanan opened #157 "Gunrock binaries"
Hello, are there Gunrock binaries that you guys host somewhere? It would be good to have them and not build them from source every time. Also, it'd be convenient for CI.

[2016-05-06 12:45] jowens commented on #157
Not really on our roadmap; building for different Linux distributions, different OSes, for particular versions of the (4) external libraries ... at least at this stage of Gunrock's development, probably not the best place where hardworking graduate students need to be spending our time.

In good news, my understanding is CUDA 8 will deliver significant compile-time speedups. :)

We would like to h

[2016-05-06 12:45] #157 closed

[2016-05-09 16:48] yzhwang commented on #156
Hi @nsakharnykh ! Sorry for the delay. Here is some information which hopefully will be useful:

I'd add the edge bitmask operation inside the functor. You can detect the edge you want to deactive by its s_id (source node ID), d_id (destination node ID), and/or edge_id (index of column indices array) in EdgeCond function from [bfs_functor.cuh](https://github.com/gunrock/gunrock/blob/dev_debug/gunr

[2016-05-10 21:04] nsakharnykh commented on #156
Thanks for additional information and suggestions. I forked Gunrock repo and created a simplified test example to show what I would like to achieve with Gunrock, see https://github.com/nsakharnykh/gunrock/blob/dev_debug/tests/bfs_mask/test_bfs.cu. I included a reference CPU implementation for now. If you can look into it and help me modify Gunrock to run this case it would be very useful, i.e. a p

[2016-05-10 21:11] yzhwang commented on #156
Cool! I will try to make this work and let you know when I have additional questions along the way.

[2016-05-13 23:04] dylanht opened #158 "Path for cluster stuck with CUDA 5.5"
Hello,

Taking note of the recent commit describing the C++11 -> CUDA 7.0 and above dependency, where some primitives would require CUDA 7.5 due to the compiler bug your team discovered -

https://github.com/gunrock/gunrock/commit/c0678c645c5d5175562ce329b8e6d40a4d977ebb

If we were stuck with CUDA 5.5 what kind of refactoring effort would be required on our part to get Gunrock running on our clus

[2016-05-13 23:06] jowens commented on #158
Oh my. That would be ugly. Rip out all the C++11 constructs and replace them with C++98, I suppose? @sgpyc ? I can't think of any CUDA-7-specific features that we have used other than C++11 support. We ran with 6.5 for a long time.

[2016-05-13 23:13] sgpyc commented on #158
Anything C++11 won't run, including the boost reference, and several multithread CPU / random number generator parts. Gunrock core wise, some optimizations (like __ldg?) and / or 64bit support may need to be disabled.

[2016-05-13 23:28] jowens commented on #158
If you're really determined to do this, you can probably dig through the diffs to find non-C++11 equivalents for some of this. In particular the threading and random number generation was implemented in C++98 for a while, but that was not particularly multiplatform; the C++11 equivalents were much cleaner and nicely multiplatform. But the previous constructs did work.

[2016-05-13 23:28] #158 closed

[2016-05-14 19:57] dylanht commented on #158
Thank you for the direction @jowens and @sgpyc - I will let you know how it goes if we make some progress on this.

[2016-05-15 22:12] yzhwang opened #159 "Add back priority queue in our current framework"
We have disabled 2-level priority queue after our PPoPP 2016 release. We should add it back. @sgpyc What's the difficulty of having priority queue in the multi-GPU scenery? Could we keep a separate local priority queue for each individual GPU?

[2016-05-16 20:19] yzhwang commented on #156
@sgpyc So I'm trying to modify Gunrock to take raw GPU arrays (row_offsets, col_indices, edge_values, etc.) because only by doing this Gunrock could serve as one stage in other applications which probably already have their graph data on GPU already. And they only want to call a Gunrock primitive function which takes raw GPU arrays and returns the answers also on the GPU. So currently in Gunrock,

[2016-05-30 17:36] jowens opened #160 "runtime variance issue (Jayadharini Jaiganesh)"
Placeholder for this issue to make sure we don't lose it.

[2016-06-01 07:01] smsaladi opened #161 "Integration with other network analysis packages"
Do you know if there is any development being done (either by the gunrock team or elsewhere) to integrate gunrock functionality into other network analysis packages like `igraph`, `networkx`, or `statnet`/`sna`? For example, the gunrock's sssp method with a GPU presumably could accelerate [`sna.geodist`](http://www.inside-r.org/packages/cran/sna/docs/geodist).

[2016-06-01 07:46] yzhwang commented on #161
Thanks @smsaladi ! We do have noted this as one future direction of our research/development. Currently we have a student @shariiiyy working on integrating Gunrock into networkx. For now we do have python callable interfaces for each of our primary primitive. But as we refactoring and releasing the new version, we will sure start working on the integration with other packages. I will put updates h

[2016-06-01 20:25] shariiiyy commented on #161
I will look into statnet/sna. Thanks

[2016-06-01 20:43] smsaladi commented on #161
Thanks @yzhwang and @shariiiyy !

[2016-06-03 19:59] yzhwang commented on #160
The runtime fluctuations are caused by iteration variation, which can be as large as 5 for weblink datasets. The reason for iteration variation is because of the way Gunrock relax edges in parallel:
https://github.com/gunrock/gunrock/blob/dev_debug/gunrock/app/sssp/sssp_functor.cuh#L76
For example, suppose we have 4 nodes with current distance to source all set to 1, they all have a common child n

[2016-06-03 19:59] #160 closed

[2016-06-06 04:20] ctcyang opened #162 "Betweenness Centrality Run from All Sources Bug"
I found a bug when running BC from all source nodes (setting --source=-1) in Master branch.

../../../gunrock_build/bin/betweenness_centrality market ../small/test_bc.mtx --src=-1 --iteration-num=10 --quick

[2016-06-06 20:09] yzhwang opened #163 "shared_lib_cc and mst do not pass CTEST on dev_debug branch"
Just figured out this as I was cleaning up the code this morning. Probably due to the inconsistency of old parameter class implementation and new info class implementation.

[2016-06-06 23:13] neoblizz commented on #163
@yzhwang after running ctest, check the new folder created in build, it should say something like Test_result, it will have more detail on the test that failed. Alternatively you can also run `ctest -v`.

[2016-06-08 12:58] siamakgoudarzi opened #164 "Use gonrock Bfs on my laptop?!Anyone can help me?"
Hi i only want to run gunrock bfs and sssp function in my c++ program .
I write my program in visual studio 2013 and i have cuda 7.5 on it.
My question about if i  only #include gunrock to my project and call BFS function and SSSP function so is it work for me or not?Or i need to migrate to Ubuntu and my application , some feature i use in my application must be re written again in Ubuntu?
Anyone

[2016-06-08 16:40] neoblizz commented on #164
@siamakgoudarzi It is going to be somewhat difficult to install Gunrock on Windows, we have an issue #107 open for a Windows test build, but there has been some problems with it. Some dependencies used are linux only, so you will need to do some hacking to get it to work on Windows. If you attempt Windows installation, please let us know how it goes!

On Ubuntu it should be a fairly simple install

[2016-06-08 17:30] yzhwang commented on #164
Thanks @neoblizz ! If you only want to use gunrock's primitives in your C/C++ code, you need to build Gunrock and make the shared library (in linux it will generate libgunrock.so) Then you can call our primitives via functions in gunrock.h. Since the interface is C/C++, Python and other languages can also call it. The examples are given in the links @neoblizz provided. Let us know if you have any

[2016-06-16 17:49] yzhwang commented on #162
This has been fixed in dev_debug branch. Will close this issue when we merge dev_debug back to master.

[2016-07-10 12:54] siamakgoudarzi opened #165 "When Build gounrock i gave these errors! Anyone can help me?Thanks"
Hi this is Error log file:
`ddd`
`    The system is: Linux - 3.13.0-91-generic - x86_64`
`Compiling the C compiler identification source file "CMakeCCompilerId.c" succeeded.`
`Compiler: /usr/bin/cc `
`Build flags: `
`Id flags: `
`The output was:`
`0`
`Compilation of the C compiler identification source "CMakeCCompilerId.c" produced "a.out"`
`The C compiler identification is GNU, found in `
`"/home

[2016-07-10 13:07] siamakgoudarzi commented on #165
~/gunrock/build$ make
make: *** No targets specified and no makefile found.  Stop.
~/gunrock/build$ ls
CMakeCache.txt  CMakeFiles  gunrock  shared_lib_tests  tests

[2016-07-10 13:08] siamakgoudarzi commented on #165
cmake ..
CMake Error at /usr/share/cmake-2.8/Modules/FindBoost.cmake:1131 (message):
  Unable to find the requested Boost libraries.

  Unable to find the Boost header files.  Please set BOOST_ROOT to the root
  directory containing Boost or BOOST_INCLUDEDIR to the directory containing
  Boost's headers.
Call Stack (most recent call first):
  CMakeLists.txt:24 (find_package)

CMake Warning at CMak

[2016-07-10 14:11] jowens commented on #165
Looks like you need to set your environment variables before you can successfully configure:

Please set them or make sure they are set and tested correctly in the CMake files:
`METIS_LIBRARY`

[2016-07-10 14:11] #165 closed

[2016-07-10 14:36] siamakgoudarzi commented on #165
-- Boost version: 1.54.0
-- Found the following Boost libraries:
--   system
--   filesystem
--   timer
--   chrono
CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
METIS_LIBRARY
    linked by target "gunrock" in directory /home/siamac/gunrock/gunrock
    linked by target

[2016-07-10 14:57] siamakgoudarzi opened #166 "Error In Build Gunrock - cmake .. not found boost-include"
Hi i am new to use this Library :8ball:
[This Thread closed ](https://github.com/gunrock/gunrock/issues/165) But I can not Solve my problem and i can not use gonrock .
For build Gunrock I use this Link and step by step follow instruction ([Building Gunrock](http://gunrock.github.io/gunrock/doc/latest/building_gunrock.html))
For install boost i use this link ([Boost installation ] (http://www.boost

[2016-07-10 15:30] jowens commented on #166
Yes, we do require Boost 1.58. I believe that you can run without Metis, but I would bet it's easier to simply install Metis and link against it.

I personally don't use Linux as my primary OS, but I would encourage you to use a package manager to install these packages (e.g., `apt-get`) if at all possible.

We are generally going to be much more able to help you with Gunrock installation and issu

[2016-07-10 15:30] #166 closed

[2016-07-10 18:22] siamakgoudarzi commented on #166
You say linux is not your primary OS!But in [building Gunrock link](http://gunrock.github.io/gunrock/doc/latest/building_gunrock.html) Only Speak About Ubuntu  , Ubuntu And Ubuntu!!!!!
`Gunrock current release has been tested on Linux Mint 15 (64-bit), Ubuntu 12.04, 14.04 and 15.10` `with CUDA 7.5 installed, compute architecture 3.0 and g++ 4.8. We expect Gunrock to build and `
`run correctly on o

[2016-07-11 13:20] siamakgoudarzi commented on #166
Hi dear  Jowens , Finally i install boost correctly
When i run cmake .. command i give these follwing output
<hr>
-- Boost version: 1.58.0
-- Found the following Boost libraries:
--   system
--   filesystem
--   timer
--   chrono
CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake f

[2016-07-11 17:04] jowens commented on #166
You need to install Metis. Hopefully it puts parmetis.h in /usr/local/include or /usr/include, and the parmetis library in /usr/local/lib or /usr/lib.

[2016-07-12 06:36] siamakgoudarzi commented on #166
Thanks Dear jowens
Hi.
In your first comment of this issue you say

...

But in last comment you say

!!!

[2016-07-12 08:48] siamakgoudarzi commented on #166
-- Boost version: 1.58.0
-- Found the following Boost libraries:
--   system
--   filesystem
--   timer
--   chrono
-- Configuring done
-- Generating done
-- Build files have been written to: /home/siamac/gunrock/build
I think Finally Done!
So i now will to start with gunrock , Thanks Thanks Dear jowens and all of your team members :)

[2016-07-12 09:12] siamakgoudarzi commented on #166
[  1%] Building NVCC (Device) object gunrock/CMakeFiles/gunrock.dir/__/externals/moderngpu/src/./gunrock_generated_mgpucontext.cu.o
CMake Error at gunrock_generated_mgpucontext.cu.o.cmake:206 (message):
  Error generating
  /home/siamac/gunrock/build/gunrock/CMakeFiles/gunrock.dir/__/externals/moderngpu/src/./gunrock_generated_mgpucontext.cu.o

make[2]: *** [gunrock/CMakeFiles/gunrock.dir/__/exter

[2016-07-12 10:04] siamakgoudarzi opened #167 "Error in Make Gunrock"
Hi in this [issue i finally install boost and metis correctly ](https://github.com/gunrock/gunrock/issues/166) , Now i have a problem with make command
`1%] Building NVCC (Device) object [  1%] Building NVCC (Device) object `
`gunrock/CMakeFiles/gunrock.dir/__/externals/moderngpu/src/./gunrock_generated_mgpucontext.cu.o`
`CMake Error at gunrock_generated_mgpucontext.cu.o.cmake:206 (message):`
 ` E

[2016-07-12 15:54] jowens commented on #167
I can't tell what's going wrong from what you've posted. Can you first run `cmake` and then run `make` and paste in the output from both, as in below? If that doesn't work, run `make -d` and paste that in too?

[code]

[2016-07-12 16:21] neoblizz commented on #167
I think @siamakgoudarzi is missing the externals: https://github.com/gunrock/gunrock/tree/master/externals

When you cloned gunrock, did you do recursive cloning?
`git clone --recursive https://github.com/gunrock/gunrock`

[2016-07-13 05:46] siamakgoudarzi commented on #167
Hi guys  , thanks for your responses
1.cmake ../gunrock
`cmake ../gunrock
CMake Error: The source "/home/siamac/gunrock/gunrock/CMakeLists.txt" does not match the source "/home/siamac/gunrock/CMakeLists.txt" used to generate cache.  Re-run cmake with a different source directory.`

2.cmake ..
`-- Boost version: 1.58.0
-- Found the following Boost libraries:
--   system
--   filesystem
--   timer
-

[2016-07-13 06:22] siamakgoudarzi commented on #167
I clone and build gunrock again every thing as root access
in this case `nvidia-detector` command result is `none` too:

I post the steps of clone and build gunrock again
@download :+1:
`git clone --recursive https://github.com/gunrock/gunrock`
Result :
`Cloning into 'gunrock'...
remote: Counting objects: 25382, done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 25382 (delta 2),

[2016-07-13 06:23] siamakgoudarzi commented on #167
The full [result here in a doc file at google doc ](https://goo.gl/xbz6SV)

[2016-07-13 13:37] jowens commented on #167
Looks to me like building as root worked for you. Note all the "Built target ..." that should have built executables properly. You can test them with `ctest`.

Building not as root appears to have permission problems; you're not allowed to write files where you're trying to write them; `CMake Error: Could not create /home/siamac/gunrock/build/gunrock/CMakeFiles/gunrock.dir/cmake_clean.cmake`; you

[2016-07-16 07:32] siamakgoudarzi commented on #164
Hi , i want to run example provided by  @neoblizz  , when i compile it , giv this error
What's wrong with me?

`bfs.c:7:29: fatal error: gunrock/gunrock.h: No such file or directory `
`#include <gunrock/gunrock.h>`
              .             ^
`compilation terminated.`

[2016-07-16 07:34] siamakgoudarzi commented on #167
Hi , i want to run example provided by @neoblizz , when i compile it , giv this error
What's wrong with me?

bfs.c:7:29: fatal error: gunrock/gunrock.h: No such file or directory
#include <gunrock/gunrock.h>
. ^
compilation terminated.
ctest in build directory give these output

`Test project /home/siamac/newgun/gunrock/build
      Start  1: TEST_BFS
 1/13 Test  #1: TEST_BFS ......................

[2016-07-16 13:16] jowens commented on #164
Presumably your include paths in your compiler command line do not include the parent directory of gunrock.h.

[2016-07-16 13:19] jowens commented on #167
What does `Testing/Temporary/LastTest.log` say?

[2016-07-16 14:32] siamakgoudarzi commented on #167
bash : Testing/Temporary/LastTest.log: Permission denied

[2016-07-16 14:35] siamakgoudarzi commented on #164
Where is the parent directory gunrock.h?
We add directory of libgonrock.so  to libconf !

[2016-07-16 14:47] jowens commented on #164
Link paths and include paths are two different things.

[2016-07-16 14:49] jowens commented on #167
Read it as root, I guess.

[2016-07-16 15:00] siamakgoudarzi commented on #167
[LastTest.log.zip](https://github.com/gunrock/gunrock/files/367323/LastTest.log.zip)
Hi Again thanks i Uploading file and paste it here:
Start testing: Jul 16 12:03 IRDT
----------------------------------------------------------
1/13 Testing: TEST_BFS
1/13 Test: TEST_BFS
Command: "/home/siamac/newgun/gunrock/build/bin/breadth_first_search" "market" "/home/siamac/newgun/gunrock/simple_example/bips9

[2016-07-16 15:01] jowens commented on #167
`(CUDA error 35: CUDA driver version is insufficient for CUDA runtime version)` Fix that.

[2016-07-17 06:56] siamakgoudarzi commented on #164
Where is the parent directory of gunrock.h.?!

[2016-07-17 07:16] siamakgoudarzi commented on #164
The gunrock.h file is directory gunrock/gunrock , It's true?

[2016-07-17 12:40] siamakgoudarzi commented on #167
Hi Thanks Dear @jowens
I work on graphic driver and have to  install ubutu 14.04 again . and install dependencies and build gunrock again.
The result of `ctest` is
‍      Start  1: TEST_BFS
 1/13 Test  #1: TEST_BFS .........................   Passed    0.29 sec
      Start  2: TEST_BC
 2/13 Test  #2: TEST_BC ..........................   Passed    0.12 sec
      Start  3: TEST_CC
 3/13 Test  #3: TE

[2016-07-17 13:01] jowens commented on #164
In the cloned repo, gunrock.h is in gunrock/gunrock.h.

[code]

[2016-07-17 13:03] jowens commented on #167
That's great. You've now successfully built and run both standalone and shared-library Gunrock.

[2016-07-17 13:03] #167 closed

[2016-07-17 14:35] siamakgoudarzi commented on #164
Hi dear @jowens
1.Copy libgonrock.so to /usr/local/lib
` cp build/lib/libgunrock.so /usr/local/lib/ `

2.Add this line to bashrc
`export LD_LIBRARY_PATH=/home/siam/s/gunrock/build/lib/:/usr/local/lib:$LD_LIBRARY_PATH`

3.Download the  bfs.c test file that @neoblizz  [shared_lib_test ](https://github.com/gunrock/gunrock/tree/master/shared_lib_tests)
and change #include "gunrock/gunrock.h"
then Comp

[2016-07-18 02:48] pkuwalter opened #168 "Undefined references error occurred when make the code"
Hi, I cloned the code to my laptop, there are some errors when I make the code, can you help me how can  solve this problem?

When I type `make -j16` the error occurs, which is list below:
`[ 90%] Linking CXX executable ../../bin/breadth_first_search
CMakeFiles/breadth_first_search.dir/__/__/externals/moderngpu/src/breadth_first_search_generated_mgpucontext.cu.o：Founction ‘mgpu::CudaDevice::Device

[2016-07-18 03:16] yzhwang commented on #168
Hi @pkuwalter ,
Could you let us know your OS, CUDA version so that we can better understand the issue?
Also, could you provide the sequence of your commands since the git clone?

[2016-07-18 03:18] yzhwang commented on #164
Hi @siamakgoudarzi ,

Looks like your results are correct. You can find the toy graph we use for bfs test here in the code:
https://github.com/gunrock/gunrock/blob/master/shared_lib_tests/shared_lib_bfs.c#L19

[2016-07-18 03:28] pkuwalter commented on #168
Hello, @yzhwang ,
Thank you for your quickly response.  The detailed information is as follow:
I run the code under ubuntu 16.04 with gcc 4.8.5.
And the commands sequence are as follow:
`git clone https://github.com/gunrock/gunrock.git`
`cd gunrock`
`git submodule init && git submodule update`
`cd ../`
`mkdir gunrock_build && cd gunrock_build`
`cmake ../gunrock/`
`make -j16`

[2016-07-18 04:05] yzhwang commented on #168
Hi @pkuwalter ,
We haven't tested our library on ubuntu 16.04 yet. AFAIK, it works fine on ubuntu 14.04 with the same gcc and CUDA version you are using.
Could you step in the gunrock directory: gunrock/tests/bfs/ and run make (or make -j16) from there and report the results? If it complains that gitsha1.c cannot be found, you can run:
cp gunrock/gunrock/util/gitsha1.c.in gunrock/gunrock/util/gits

[2016-07-18 07:50] siamakgoudarzi commented on #164
siam@siam1404-2:~/s/gunrock$ nvcc shared_lib_bfs.c -I/home/siam/s/gunrock/ -L/home/s/gunrock/build/lib -lgunrock
siam@siam1404-2:~/s/gunrock$ ./a.out

Node_ID [0] : Label [0]
Node_ID [1] : Label [1]
Node_ID [2] : Label [1]
Node_ID [3] : Label [1]
Node_ID [4] : Label [2]
Node_ID [5] : Label [2]
Node_ID [6] : Label [2]

[2016-07-18 08:26] siamakgoudarzi commented on #164
I have some question about [ shared_lib_bfs.c](https://github.com/gunrock/gunrock/blob/master/shared_lib_tests/shared_lib_bfs.c)

Assume that i want to run a huge graph (4.8milion(4847571) nodes and 68.9milion(68993773) edges) like as [liveJurnal in snap](https://snap.stanford.edu/data/soc-LiveJournal1.html)

I have a application read this data as from file  , and can load data to memory
In Line 1

[2016-07-18 13:34] jowens commented on #164
You should just read the graph in MatrixMarket format, which you can
download from the University of Florida repository (maybe SNAP too):

http://www.cise.ufl.edu/research/sparse/matrices/SNAP/soc-LiveJournal1.html

and then run

breadth_first_search market soc-livejournal.mtx

Reading the graph in MatrixMarket format builds all the graph data
structures for you.

If you want to run it as an undir

[2016-07-19 15:57] siamakgoudarzi commented on #164
Hi dear @jowens
This picture is an example graph , it's true for this values
`int num_nodes  , num_edges ` and `int row_offsets[]`  and `int col_indices[]  `

![Easy Graph Example](https://cloud.githubusercontent.com/assets/7514876/16956763/ef6b9dc4-4dee-11e6-9083-88371feb0399.JPG)

Thanks

[2016-07-19 17:13] jowens commented on #164
I'm not sure what you're asking. In general Gunrock is *only* going to be useful for large graphs, and you certainly don't want to enter those by hand. You want to read them into Gunrock in a standard matrix format (and let Gunrock build all the data structures for you); for us, that's MatrixMarket format.

[2016-07-19 19:29] siamakgoudarzi commented on #164
I understand what you say. But I say assume that we have an application that use gonrock and don't have any MMx format.
Clearly My question is , in this link we have an example for using gonrock and in this example use `num_nodes  , num_edges , row_oofsets and col_indices ` , this variables set to graph data structure for input data called garphi , and create same graph for output data grapho.
So

[2016-07-19 19:58] yzhwang commented on #164
Hi @siamakgoudarzi ,
If you want to use Gunrock that way, you are doing exactly the right thing. In this case, you only have a small graph, so we manually input it. But if you have a very large graph you generated from other stage of the application, you need to present it using the CSR format:
https://en.wikipedia.org/wiki/Sparse_matrix#Compressed_sparse_row_.28CSR.2C_CRS_or_Yale_format.29
And, i

[2016-07-19 20:15] siamakgoudarzi commented on #164
Thanks My Answer is CSR format. Very Niceeeeeeeeeeeeeeeeeeeeeeeeeeeee ;)
Now i use ubuntu But If my work done in right time , I switch back to windows and test it on windows
Thanks!

[2016-07-28 02:40] huch159 opened #169 "An error occurred while running direction_optimizing_bfs"
terminate called after throwing an instance of 'std::logic_error'
  what():  basic_string::_M_construct null not valid
Aborted (core dumped)

I hope someone can help me.

[2016-07-28 06:00] yzhwang commented on #169
Hi @huch159 ,
Please provide more info so that we can help you.
We need your OS info, CUDA version, and the command lines you ran before you saw the error. And if possible, the complete output of the error. Thanks!

[2016-07-28 06:10] huch159 commented on #169
Thank you,
my system is ubuntu 16.04 and cuda version is 8.0
command lines is:../../gunrock_build/bin/direction_optimizing_bfs market ../large/roadNet-CAroadNet-CA.mtx --src=0 --undirected --idempotence --alpha=2 --beta=2 --iteration-num=10 --queue-sizing=1.5 --queue-sizing1=1.5
the result is :
       Loading Matrix-market coordinate-formatted graph ...
  Reading directly from stored binary CSR ar

[2016-07-28 06:38] yzhwang commented on #169
You mean CUDA 8 RC right? Looks like a string is assigned to NULL. http://coliru.stacked-crooked.com/a/6abd8a3807f8a528
We haven't tested Gunrock on ubuntu 16.04 + CUDA 8 yet. Could you either try ubuntu 14.04 + CUDA 8 (that has been tested) or ubuntu 16.04 + CUDA 7.5? You could also dive into the code and figure out the string related bug, if not we will try to test ubuntu 16.04 + CUDA 8 when we

[2016-07-28 07:21] huch159 commented on #169
thank you@yzhwang,I will try to test Gunrock again on ubuntu 16.04 +CUDA 8.0.AND if you  successfully test Gunrock on ubuntu 16.04 +CUDA 8.0 one day，I hope you can tell me how to do it.

[2016-07-28 07:57] ptheywood commented on #169
This looks the same as #113 which I had on Ubuntu 14.04 a while ago, which has been fixed in the `dev` branch but has not yet been merged into master.

PR #116 contains the fix for an issue with the same error message (Update the `getUserinfo` routine in `/gunrock/utils/sysinfo.h` to use `getpwuid` rather than `getlogin`)

[2016-08-01 13:56] siamakgoudarzi commented on #164
Node_ID [425839] : Label [2147483646]
Node_ID [425840] : Label [2147483646]
Node_ID [425841] : Label [2147483646]
Node_ID [425842] : Label [2147483646]
Node_ID [425843] : Label [2147483646]
Node_ID [425844] : Label [2147483646]
Node_ID [425845] : Label [2147483646]
Node_ID [425846] : Label [2147483646]
Node_ID [425847] : Label [2147483646]
Node_ID [425848] : Label [2147483646]
Node_ID [425849] : L

[2016-08-01 14:44] jowens commented on #164
That label is a curious number because it is at the boundary between 31 and 32 bits. So I'm guessing maybe you are overflowing? We have a 64b Gunrock (the base version is 32b) that will handle larger labels; @yzhwang can you offer commentary?

[2016-08-02 05:57] siamakgoudarzi commented on #164
I check this result again  , I thinks it's because this node can not reach from source node .In the shared_lib_bfs , the source node for default is node by id 0?
Where i can change source node ?

[2016-08-02 13:09] jowens commented on #164
Command-line option `--src=N`, where `N` is the starting node number.

[2016-08-02 22:46] yzhwang commented on #164
Hi @siamakgoudarzi

You are right that the label is unreachable (so they are set to Invalid, where it should be ther MAX_UINT in this case).

In our master branch, we actually provide an interface where you can set source:
https://github.com/gunrock/gunrock/blob/master/gunrock/app/bfs/bfs_app.cu#L496
But we didn't expose it in the shared lib example.

In our dev_debug branch, you can see we actual

[2016-08-02 22:49] yzhwang commented on #164
What @jowens suggested is also correct, setting source in the command line option is used when user include Gunrock's header files but not use the shared lib. All of those codes are here:
https://github.com/gunrock/gunrock/tree/master/tests

Which I don't think is what you want, but just in case you just want to run a BFS with a mtx file as the input, you can try running make in https://github.com

[2016-08-05 05:31] yzhwang commented on #169
Thanks @ptheywood !
@huch159 If this solves your problem, let me know so that I can close this issue.

[2016-08-05 05:31] #163 closed

[2016-08-05 05:44] yzhwang opened #170 "mst invalid memory access bug in dev_debug branch"
When using LB_CULL as the advance method, MST will generate incorrect value in the EgRm functor during an advance call:
https://github.com/gunrock/gunrock/blob/dev_debug/gunrock/app/mst/mst_enactor.cuh#L675
At first I thought it might be the V2E bug, but when I changed it into V2V it still exists. I could track it into Write_Global_Output function:
https://github.com/gunrock/gunrock/blob/dev_debug

[2016-08-05 05:49] sgpyc commented on #170
LB_CULL = LB advance + CULL filter, is that what the original code intended to do?

[2016-08-05 08:12] siamakgoudarzi commented on #164
Hi Dear @yzhwang  , Thanks

https://github.com/gunrock/gunrock/blob/dev_debug/shared_lib_tests/shared_lib_bfs.c
You can try using dev_debug branch for now or wait for our next release so that we can merge the new feature into master.

This Link Help me  , But I have a Question , When i running this code with `int srcs[3] = {0,1,2};` array and setup config with   `struct GRSetup *config = InitSetup

[2016-08-06 03:06] yzhwang commented on #170
So LB_CULL fused advance+filter? And if I only want to use advance, I should not use LB_CULL?

[2016-08-06 07:37] siamakgoudarzi opened #171 "Benchmarking : Time of Shared Lib ( BFS and sssp) with socLiveJurnal DataSet"
Hi dear i want to run BFS and SSSP in sharedLib
I Use [socLiveJournal ](https://snap.stanford.edu/data/soc-LiveJournal1.html) with 4,847,571 nodes and 68,993,773 edges.

I want to give result from gunrock Library for two algorithms
1.BFS 2.SSSP
I read data from txt file and copy them to row_offset and col_indice array
I run gunrock_bfs(grapho, graphi, config, data_t); in a do _ while first time re

[2016-08-06 19:55] yzhwang commented on #171
Hi @siamakgoudarzi

I'd say this is because of the first time initialization overhead. You can refer to the documentation here:
http://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#initialization
If you like, you can also find out more about the details of run time by using CUDA profiler. There are lots of resource out there.

[2016-08-08 17:34] smsaladi commented on #161
@shariiiyy , any thoughts about this? Currently, I avoid calculating centrality metrics involving geodesics on my networks because they are too large resulting in these calculations taking too long. I'd be happy to try contributing by submitting a PR if you have a suggestion/could point me in the right direction regarding how I might implement this within the existing code.

[2016-08-08 23:22] yzhwang commented on #161
Hi @smsaladi ,

We have both Pagerank and betweenness centrality interfaces in Gunrock and they are callable from Python:
PR: https://github.com/gunrock/gunrock/blob/master/python/pagerank.py
https://github.com/gunrock/gunrock/blob/master/gunrock/app/pr/pr_app.cu
BC: https://github.com/gunrock/gunrock/blob/master/python/betweenness_centrality.py
https://github.com/gunrock/gunrock/blob/master/gunro

[2016-08-11 01:50] huch159 commented on #169
@yzhwang，Yes,it really works!Thanks@ptheywood ！

[2016-08-12 09:31] siamakgoudarzi commented on #171
how am i give serial time of BFS and SSSP and other algorithm  in gunrock paper?!
I wrote a serial version for SSSP and gives many time to execute !?

[2016-08-18 05:47] sgpyc commented on #170
Yes. Don't use LB_CULL if what you want is not advance + filter.
I think putting null filter (condFilter always true) should achieve the same effect of LB, but at this moment, just keep the traversal-mode of MST to LB_LIGHT, which was what it originally set, or LB if that pass all the tests.

[2016-08-28 07:00] yzhwang commented on #170
Thanks for the reply @sgpyc !
I switched to LB advance, and advance worked fine. Currently the program will collapse before the second filter operator call:
https://github.com/gunrock/gunrock/blob/dev_debug/gunrock/app/mst/mst_enactor.cuh#L818
If I step into the kernel call, it looks like in cta_work_progress's Reset_() function, there is a illegal mem access of p_counter:
https://github.com/gunro

[2016-08-29 18:54] jowens commented on #170
@sgpyc just hopin' you can provide a little insight for @yzhwang, we'd like to get the release out the door. Thanks!

[2016-08-29 21:25] sgpyc commented on #170
I just push a commit 0793e1d, changed mst traversal mode to LB and added a enactor.Reset().
It didn't solve the problem, now cuda-gdb complains about https://github.com/gunrock/gunrock/blob/dev_debug/gunrock/oprtr/advance_base.cuh#L59 , called by https://github.com/gunrock/gunrock/blob/dev_debug/gunrock/oprtr/edge_map_partitioned/kernel.cuh#L464 , called by https://github.com/gunrock/gunrock/blob/

[2016-08-29 21:29] yzhwang commented on #170
Thanks @sgpyc ! I will look into that functor. I didn't think it went wrong at such early stage since the data flow has been correct until the very last filter call. I will see what happened in that MarkFunctor then.

[2016-08-29 21:32] sgpyc commented on #170
I used cuda-gdb on the tests/mst/test_mst.cu (can't find bin/mst_executable) with -O0 -g -G flags. @yzhwang let me know if you have other method / version of code to test out.

[2016-08-29 21:36] yzhwang commented on #170
@sgpyc  mst_executable just means any executable you generated from the latest dev_debug branch, so I think you are using the correct version. Will let you know when I have new findings. Thanks!

[2016-08-30 10:13] yzhwang commented on #170
@sgpyc Could you check out the current head of dev_branch and try running the mst again? I committed my changes and now the code should be the same with the local version I'm using. With debug_info set to 1 in mst_enactor.cuh, the data flow before filter with EgRmFunctor is the same with the correct version in the master branch. cuda-gdb shows that the program still dies at:
oprtr/cull_filter/kern

[2016-08-30 23:52] sgpyc commented on #170
@yzhwang please check whether 653b3fa fix the bug

[2016-08-31 00:09] jowens commented on #170
:hushed:

[2016-08-31 01:24] yzhwang commented on #170
Thanks @sgpyc . It did fix the bug. I didn't notice that the original version in master uses values for the latter two filter calls. Now when I go through the code, I think the reason is that the pointer jumping filter could get loaded multiple times with two key ping-pong arrays, and that will pollute the key array. It's good that now the bug is out of the way.

Unfortunately, it is not the last

[2016-08-31 01:24] #170 closed

[2016-08-31 01:27] jowens commented on #170
:stuck_out_tongue_winking_eye:

[2016-09-01 18:05] amirsani opened #172 "How can I visualize the results of a graph clustering?"
I would like to use gunrock for graph clustering and subsequent visualization in Python. Is this possible?

Thank you,

Amir

[2016-09-01 20:29] yzhwang commented on #172
Hi @amirsani ! We currently don't have any visualization function integrated in Gunrock. Which graph clustering algorithm do you want to use?

[2016-09-01 21:09] amirsani commented on #172
I am open to using any graph clustering algorithm in gunrock. I have a k40
active and a binary 10 dimensional dataset with 1 million samples. The data
is quite imbalanced, with only 3% positives, so I was hoping to get a nice
visualization for intuition. I can input the final clustering in Gephi, so
I'm more interested in trying different graph clustering algorithms
efficiently to see how well the

[2016-09-01 21:17] jowens commented on #172
We don't have any sort of production-ready graph clustering algorithm within Gunrock at this time. (@yzhwang, I think, has done some experiments, but nothing is in our current suite of "this is a supported primitive we've implemented".) I believe many graph clustering algorithms will map well to Gunrock, but that doesn't make them available to you in any near-term timeline. (We would of course be

[2016-09-02 08:11] amirsani commented on #172
Thank you John,

Once this deadline passes, I'll spend some time learning more about Gunrock and have a better idea of how to contribute.

Thanks for the links,

Amir

Get Outlook for Android

On Thu, Sep 1, 2016 at 11:19 PM +0200, "John Owens" <notifications@github.com> wrote:

We don't have any sort of production-ready graph clustering algorithm within Gunrock at this time. (@yzhwang, I think, h

[2016-09-02 14:43] #172 closed

[2016-09-05 05:04] yzhwang commented on #171
I've already answered the question in email, so will close this issue.

[2016-09-05 05:04] #171 closed

[2016-09-05 05:05] #169 closed

[2016-09-05 05:05] #164 closed

[2016-09-08 11:13] bobper opened #173 "Question about gunrock running time nad speedup fo 7 graphs"
Hi
I run SSSP and BFS with gunrock using Shared lib model for 7 graphs
these are my result:
DataSet   ---------- speedup against serail version for **[BFS ]**
1.[web-NotreDame](http://snap.stanford.edu/data/web-NotreDame.html) ------- : 6.1x
2.[roadNet-TX](http://snap.stanford.edu/data/roadNet-TX.html) ------------ : 36.97x
3.[roadNet-CA](http://snap.stanford.edu/data/roadNet-CA.html) -----------

[2016-09-08 13:08] jowens commented on #173
What is the serial code against which you are comparing?

[2016-09-10 13:35] siamakgoudarzi commented on #173
I implemented my own BFS and SSSP single thread app
For gunrock I use [Shared_lib model BFS](https://github.com/gunrock/gunrock/blob/master/shared_lib_tests/shared_lib_bfs.c) nad [shared lib model SSSP](https://github.com/gunrock/gunrock/blob/master/shared_lib_tests/shared_lib_sssp.c)

[2016-09-10 14:44] jowens commented on #173
Without knowing anything about your code, it would be difficult to compare Gunrock to it. More meaningful is comparing against other published graph packages, which you will find in Section 5 of the Gunrock paper (http://escholarship.org/uc/item/6xz7z9k0#page-8).

[2016-09-10 16:00] siamakgoudarzi commented on #173
I think for small-degree large-diameter graphs , the result of gunrock is so good?
Which optimization techniques help to give these Speedup?
My code is single thread of these pseudocode
![This is BFS Algorithm](https://cloud.githubusercontent.com/assets/7514876/18411813/0fafc6ee-7795-11e6-97df-df0726d4913f.png)
And it's SSSP algorithm :
![sssp1](https://cloud.githubusercontent.com/assets/7514876/1

[2016-09-10 16:05] siamakgoudarzi commented on #173
I think this issue can be open :(

[2016-09-10 16:39] jowens commented on #173
In general, Gunrock looks better on small-diameter, large-degree graphs (as measured by edge traversals per second, for instance). Social networks would be representative examples. Road networks (low-degree, high-diameter) are ones where Gunrock does not do so well. The primary reason is there is more concurrency in social-network-type graphs and Gunrock does a good job of turning that into parall

[2016-09-10 16:49] siamakgoudarzi commented on #173
I read Gunrock ppop2016 paper many times:)
I think Road networks( small-degree large-diameters ) for all parallel algorithm is difficult parallelism , but for gunrock , Because use Thread-Warp CTA
![threadwarpcta](https://cloud.githubusercontent.com/assets/7514876/18412108/0e289434-779c-11e6-9cb0-793917ab317b.JPG)
But I think , I don't know and don't full understand concept of  Thread warp CTA cor

[2016-09-10 16:53] siamakgoudarzi commented on #173
And these good Performance for Road networks , Because of my sequential implementation not good at these networks.

[2016-09-10 17:25] jowens commented on #173
At least in our comparisons, serial implementations are really good at road-network SSSP (for instance: http://escholarship.org/uc/item/8qr166v2#page-9, Figure 5).

[2016-09-10 17:27] jowens commented on #173
Thread-warp CTA is the best strategy for road networks in our implementation, but it doesn't solve the larger problem of road networks simply not exposing enough parallelism to keep the whole GPU busy.

[2016-09-10 18:33] siamakgoudarzi commented on #173
gunrock for single thread comparison uses boost , Where can i found  Boost BFS and Boost SSSP of your implementation?

[2016-09-11 01:23] jowens commented on #173
http://www.boost.org/doc/libs/1_61_0/libs/graph/doc/breadth_first_search.html
http://www.boost.org/doc/libs/1_61_0/libs/graph/doc/dijkstra_shortest_paths.html

[2016-09-12 04:54] yzhwang opened #174 "Thorough test of current graph primitives in dev_debug"
The basic set is bfs, sssp, cc, bc, and pr.
wtf/salsa/hits have no CPU references, but can test runtime errors instead of correctness.

[2016-09-12 04:55] yzhwang opened #175 "Add known issue and limitations to each primitive"
Known issues include "X workload mapping strategy will cause incorrect answers for Y primitive."
Limitations include memory requirement and single/multi-GPU support.

[2016-09-12 04:57] yzhwang opened #176 "Merge TC from dev_intersection branch"
It passes all tests in dev_intersection branch. But haven't tried using the new interface yet.

[2016-09-12 04:58] yzhwang opened #177 "Add cmd line option for edge BC computation for bc"
so that it won't return error when comparing against CPU reference algorithm for edge bc.

[2016-09-12 05:00] yzhwang opened #178 "Update documentations"
For all the updated code, should update their doxygen docs. When finished and run doxygen, there should be zero warning.

[2016-09-12 05:02] yzhwang opened #179 "Update programming model/operator description"
https://github.com/gunrock/gunrock/blob/pre-release/doc/programming_model.md
@sgpyc Could you push a new version containing your updated operators? I will help update it when you commit your input there.

[2016-09-12 05:04] yzhwang opened #180 "Update building gunrock documentation"
https://github.com/gunrock/gunrock/blob/pre-release/doc/building_gunrock.md
@neoblizz Please update it and I will edit it after you finish your editing.

[2016-09-12 05:06] yzhwang opened #181 "Update roadmap info"
https://github.com/gunrock/gunrock/blob/pre-release/doc/road_map.md

[2016-09-12 05:07] yzhwang opened #182 "Update the annotated code examples using new interface"
I will try a version and let @sgpyc do an editing pass afterwards.

[2016-09-12 16:35] jowens opened #183 "need eyeballs on OS X Gunrock failure on prerelease ctest"
@yzhwang or others, just want a pair of eyeballs on this to tell me if you've seen it before. If not, I'll dig in. This is OS X with CUDA 8 prerelease. It built fine.

(Also I note `NOT COMPILED WITH COMPATIBLE PTX VERSION FOR DEVICE 0`, which has never occurred before. Problem with cmake? @neoblizz ?)

[code]

[2016-09-12 16:36] jowens commented on #183
It fails on every test; here's a different one.

[code]

[2016-09-12 18:19] neoblizz commented on #183
@jowens is this output with verbose? Can you please post output of `make check`?

Also what GPU does you mac runs on; it will be good to know the driver version as well to figure out the compatibility with CUDA 8.0.

[2016-09-12 18:24] jowens commented on #183
Yes, that was verbose. Here is `make check`:

[code]

After this it hangs.

[2016-09-12 18:26] jowens commented on #183
[code]

[2016-09-12 18:30] sgpyc commented on #183
I think somewhere in the Makefile has a line to enable compilation for 3.0 device, it need to be enabled. So we are looking for support of device {3.0 (latest Mac with CUDA compatible GPU), 3.5 (K40c), and 6.x (Pascal generation)} and CUDA version {7.5 (latest stable release), 8.0} on {Linux, OS X}?

[2016-09-12 18:32] neoblizz commented on #183
@jowens please make sure `GUNROCK_GENCODE_SM30` https://github.com/gunrock/gunrock/blob/dev/CMakeLists.txt#L170 is on and every other GENCODE in CMakeLists is turned off. GT 750M is CUDA compatibility 3.0.

[2016-09-12 18:37] jowens commented on #183
oh, wow, i really did not expect that compiling for 3.0 would make a difference. but it does!

[code]

[2016-09-12 18:38] jowens commented on #183
Here's the failure:

[code]

[2016-09-12 18:42] neoblizz commented on #183
Under your build directory, there should be a new folder called `Testing` and in it should be LastTest log file, can we see that for shared library sssp test? It should have more information on why that test failed.

[2016-09-12 18:45] jowens commented on #183
[LastTest.log.txt](https://github.com/gunrock/gunrock/files/468104/LastTest.log.txt)

[2016-09-12 18:46] jowens commented on #183
(but it's the same as you see that I posted above)

[2016-09-12 18:55] jowens commented on #183
Does seem a little weird if it passes `TEST_SSSP` but not `SHARED_LIB_TEST_SSSP`.

[2016-09-12 18:56] jowens commented on #183
... but it's a different test set, so perhaps it is not so weird.

[2016-09-12 19:00] neoblizz commented on #183
It's not that weird. Just ran it on my machine (Ubuntu w/ 3.5 CUDA compatibility and CUDA 7.5) and it failed;
[code]
So, something changed in the last commits because it used to pass just fine. I am looking into this.

[2016-09-12 19:12] neoblizz commented on #183
@yzhwang I think this is due to the multi-pass configuration; https://github.com/gunrock/gunrock/blob/dev_debug/shared_lib_tests/shared_lib_sssp.c#L18 changing `srcs` to `NULL` should fix it.
[code]

[2016-09-12 19:13] neoblizz commented on #183
@jowens tested. Fixed.

[code]

I can't push the changes from the station I am working on.

[2016-09-12 19:16] jowens commented on #183
@yzhwang please chime in when you have a chance!

[2016-09-12 19:27] jowens commented on #183
@neoblizz maybe submit a pull request for @yzhwang so that he can look at it and approve it at the same time.

[2016-09-12 23:47] jowens opened #185 "need eyeballs on GTX 1080 failure on midas"
5 tests failed. It seems like lots is wrong here, so I'm surprised any succeeded, actually. @yzhwang, happy to have your input, but I'm assigning to @neoblizz, who can hopefully repro on midas.
[61.txt](https://github.com/gunrock/gunrock/files/468560/61.txt)

[2016-09-12 23:48] jowens commented on #185
It appears that even when we get the wrong result, we pass some regexps, which is a separate issue, which I'll open now.

[2016-09-12 23:49] jowens opened #186 "some regexps appear to pass even if result is very very wrong"
[61.txt](https://github.com/gunrock/gunrock/files/468564/61.txt)

[2016-09-13 00:41] sgpyc commented on #185
I tested using a GTX1070 on centOS 7 with CUDA 8.0, and most tests passed (except the one mentioned for the SSSP shared library). So it's most-likely a configuration / setup issue, rather than a actual bug. I remember midas has two GPUs, the older one (Tesla Cxxxx? with compute capability < 3.0) may not be able to run gunrock at all.

[2016-09-13 00:46] yzhwang commented on #183
Thanks @neoblizz . You are right that the problem was due to multi-pass SSSP. But actually you do not need to disable it since the multi-pass works fine. The reason it failed is because we only used simple regex which assume that the source node is 0 (and when you set the source array to NULL, it will be set to 0 by default) and when I was testing multi-pass feature, I accidentally put 1 there, so

[2016-09-13 01:08] jowens commented on #185
I wasn't building 6.1 correctly. Hopefully this is better. Now they're all failing.

[61-2ndtry.txt](https://github.com/gunrock/gunrock/files/468644/61-2ndtry.txt)

[2016-09-13 01:10] yzhwang commented on #185
Hi @sgpyc I've fixed the shared lib sssp bug. Could you do a thorough test (run run.sh, run_real.sh, and run_rmat.sh) to make sure that there is no errors for large datasets?

[2016-09-13 01:12] yzhwang commented on #185
@jowens Sorry I might have missed the context, but what do you mean by 6.1?

[2016-09-13 01:12] sgpyc commented on #185
I'm running the tests, but that takes time

[2016-09-13 01:13] jowens commented on #185
Compute capability 6.1, which matches the GTX 1080 in midas AFAIK.

[2016-09-13 01:13] yzhwang commented on #185
@sgpyc Awesome! Thank you!

[2016-09-13 01:17] yzhwang commented on #183
The latest pre-release now should pass all the ctest (passed on luigi with CUDA 8 RC and compute_35). Haven't tested compute_61 yet.

[2016-09-13 01:21] sgpyc commented on #185
the "unknown CUDA error" from problem::Init normally means the GPU it runs on is not compatible. Is it possible that the GTX 1080 is device 1 not 0? which means "--device=1" need to input as a command line argument, but I don't know whether the app / shared-library version support this or not.

[2016-09-13 01:21] jowens commented on #185
It's device 0.

[code]

[2016-09-13 01:22] jowens commented on #183
I confirm this fixes the OS X issue.

[2016-09-13 01:22] #183 closed

[2016-09-13 01:36] neoblizz commented on #185
@sgpyc what compute capability are you compiling for on your GTX 1070?

[2016-09-13 01:39] sgpyc commented on #185
I think 35, as what's stated in the CMakeLists.txt under pre-release branch. I can add 61 to see what will happened

[2016-09-13 01:40] neoblizz commented on #185
I will try it out. Can you also post your config settings here (output of cmake ..)? Thanks!

[2016-09-13 01:48] sgpyc commented on #185
Changed to 61, it works as before.

my output of cmake:
-- The C compiler identification is GNU 4.8.5
-- The CXX compiler identification is GNU 4.8.5
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compi

[2016-09-13 01:50] neoblizz commented on #185
I have the same configs;
[code]

I don't think it can even access 1080 properly, the init fails;

[code]

[2016-09-13 01:56] sgpyc commented on #185
I think it's more of a configuration issue than GTX 1070 vs. GTX 1080. Any other computer has GTX 1080?

[2016-09-13 01:58] neoblizz commented on #185
My home machine does, but I won't be able to test it until tomorrow night.

[2016-09-13 02:00] sgpyc commented on #185
I can swap my GTX 1070 with the 1080 on midas latter tonight.

[2016-09-13 02:02] neoblizz commented on #185
I don't think it is that, they have the same arch. I am going to look more into midas settings.

[2016-09-13 02:24] neoblizz commented on #185
It fails on compute arch 3.5 with CUDA 7.5 as well;

[code]

[2016-09-13 02:31] neoblizz commented on #185
@sgpyc can you please tell me what driver do you have installed for your 1070? `cat /proc/driver/nvidia/version`

[2016-09-13 03:03] sgpyc commented on #185
there is some issue of using cudaHostRegister() on midas, which gives out cudaErrorUnknown.
the simpleStreams program in cuda library sample (cuda-8.0/samples/0_Simple/simpleStreams) can reproduce the same error, as following:
sgpyc@midas:~/cuda-8.0-samples/0_Simple/simpleStreams$ ./simpleStreams
[ simpleStreams ]

Device synchronization method set to = 0 (Automatic Blocking)
Setting reps to 100 t

[2016-09-13 03:05] sgpyc commented on #185
it's the same version as midas, 367.44, the latest one for 64bit Linux.

It's not a driver issue, since the K20c on Midas can pass the test.

[2016-09-13 04:56] yzhwang commented on #185
I agree with @sgpyc as I ran into the exact same problem.

[2016-09-13 07:54] siamakgoudarzi commented on #173
Thanks a lot

[2016-09-13 08:02] siamakgoudarzi opened #187 "Reason for First initialization BFS smaller than SSSP"
Why first Initialization Of BFS is very smaller than SSSP.
One of a reason I think in SSSP sent more data from host to device , Like Weight array within size of |E|.
in this [comment](https://github.com/gunrock/gunrock/issues/171#issuecomment-238045790) spoken about first initialization Cuda and Gunrock.
Someone give me Other reason for this behavior of SSSP

[2016-09-13 09:41] yzhwang commented on #187
What is smaller? Run time? And by first initialization, do you mean loading time before the actual execution of the algorithm?

[2016-09-13 09:46] yzhwang opened #188 "pre-release branch edge bc incorrect results with --partition_method=random"
The problem can be repeated by running run.sh in gunrock/tests/bc.
When removes the flag --partition_method=random, the results of edge bc is correct.

[2016-09-13 15:55] siamakgoudarzi commented on #187
Yes Run time.
For SSSP First launch  is [ Time: 0.610935 sec ]
and other launch is [ Time: 0.383 ] sec  in average.

For BFS First launch is [ Time:  0.354 sec ]
and other launch is [ Time: 0.123 ]
Time: Loading time + execution of algorithms

[2016-09-13 16:29] jowens commented on #187
You could probably run it through the profiler to see where the time is going. Assuming it's the same graph, I think "sends more data for SSSP" is a sensible explanation, since SSSP has to send edge weights.

[2016-09-13 16:40] siamakgoudarzi commented on #187
Yes , Edge weights send and I think Gunrock need more data  for execute SSSP  , is it true?
Maybe Some Local Updating distance Array |V| ?? Is it true?

[2016-09-13 16:52] jowens commented on #187
I think the difference between {data needed for BFS, data needed for SSSP} is that SSSP needs edge weights for each vertex.

[2016-09-13 17:32] siamakgoudarzi commented on #187
Thanks , I think i can not ask my question very well :(

[2016-09-13 17:34] jowens commented on #187
I encourage you to run both programs through the profiler to understand where the difference in time is coming from.

[2016-09-13 17:34] #187 closed

[2016-09-13 21:13] sgpyc commented on #178
how to show doxygen warnings? I run "doxygen gunrock.doxygen" within the doc directory, there is no warning in the output; when checking the generated documents, there is no sign pointing to warning or such things. But it's impossible that after so much interface changes, the warnings are not triggered.

[2016-09-13 21:22] jowens commented on #178
I think there's a `warn.log` that's generated.

[2016-09-13 21:24] sgpyc commented on #178
thanks, saw it and working on that

[2016-09-14 06:40] yzhwang opened #189 "Add changelog and known issues"
Now these are in a google doc:

https://docs.google.com/document/d/1GU3AfIy3vB8XZH7u2kd7pBo9lkbvdnHru_U5FHvKTGk/edit?usp=sharing

[2016-09-14 11:03] siamakgoudarzi opened #190 "Gunrock on diffrent device(Gpu)."
Hi
Is the performance of gunrock related to the device (GPU device)? How much? Which devices best to use gunrock?Assume we have a gtx 780 , and Tesla K20 and Tesla K40 ?! On which devices gunrock have better results? Why?

[2016-09-14 12:55] jowens commented on #190
It is likely that running Gunrock on devices (primarily) with the highest peak memory bandwidth and (secondarily) the newest microarchitectures will give the highest performance.