[2018-07-17 05:46] neoblizz commented on #352
Saving this here:
[code]

[2018-07-19 14:07] Hugovb7 commented on #358
@neoblizz  , OS is Ubuntu 16.04.4. I'll post the output of cmake

[2018-07-19 14:13] Hugovb7 commented on #358
@neoblizz Also, this issue does not exist on Kepler

[2018-07-24 22:38] sgpyc opened #361 "Check whether the result of the wrapper function is indeed atomicExch, not atomicMin as claimed here"
https://github.com/gunrock/gunrock/blob/f57653327000bbebe157161045134be857f843a6/gunrock/util/device_intrinsics.cuh#L170

It seems to me the wrapper is doing atomicExch, not atomicMin

[2018-07-24 22:42] neoblizz commented on #361
This should just be for older architectures, right? @sgpyc

[2018-07-24 22:45] sgpyc commented on #361
https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#atomic-functions
No, there is no atomicMin or atomicMax for float.
The wrapper seems not functionally correct to me.

[2018-07-24 22:54] neoblizz commented on #361
That seems correct to me, I can write a small unit test for this. This is choosing the minimum and storing that into the address and returning the old value.

atomicExch would always store the new value back into the address and return the old value.

[2018-07-24 22:57] sgpyc commented on #361
I see, fminf do the trick. Sorry, my bad.

[2018-07-24 22:57] #361 closed

[2018-07-24 23:19] ctcyang commented on #358
As another datapoint, all tests pass on Tesla V100 (16GB), 9.0.176 + Driver 384.111, Boost 1.58.0, GCC 5.4.0

[code]

It might be your Boost installation like @neoblizz pointed out

[2018-07-30 16:23] ylfdq1118 opened #362 "SSSP example concurrency issue"
Hi, I am curious about in your SSSP example whether the predecessors are recorded correctly .

In the `SSSPFunctor::CondEdge` ([here](https://github.com/gunrock/gunrock/blob/master/gunrock/app/sssp/sssp_functor.cuh#L79)):
`Value old_distance = atomicMin(d_data_slice->distances + d_id, new_distance);`
`bool result = (new_distance < old_distance);`

It's possible that there are multiple paths whose

[2018-07-30 16:56] Hugovb7 commented on #358
Thanks @ctcyang . I'm indeed not able to reproduce this bug on another machine using this exact configuration. We're trying to locate the source, I'll keep you updated.

Thanks!

[2018-07-30 19:06] neoblizz commented on #358
@Hugovb7 I'll still be curious to see your cmake output, that usually has all the info we need. You should definitely look at the boost version too.

[2018-07-31 17:55] Hugovb7 commented on #358
@neoblizz Here's the outputs from the commands during the build process :

[07_make.log](https://github.com/gunrock/gunrock/files/2246504/07_make.log)
[06_cmake.log](https://github.com/gunrock/gunrock/files/2246505/06_cmake.log)
[05_submodule_checkout.log](https://github.com/gunrock/gunrock/files/2246506/05_submodule_checkout.log)
[04_submodule_clone.log](https://github.com/gunrock/gunrock/files/2

[2018-08-02 22:00] neoblizz opened #365 "Second one should be "edges""
Quick fix. Recording here so I don't forget: https://github.com/gunrock/gunrock/blob/f57653327000bbebe157161045134be857f843a6/gunrock/graph/coo.cuh#L216-L217

[2018-08-03 21:06] bkj opened #366 "[branch dev-refactor] Incorrect IO for COO format"
`graphio::LoadGraph` appears to have a bug for COO format.

To reproduce -- compile `tests/pr` on `dev-refactor`:
[code]
you get the incorrect message that 20 duplicate edges have been removed:
[code]
If you run w/ `--remove-duplicate-edges=false`, you get the incorrect message that 20 self-loops have been removed:
[code]

`chesapeake.mtx` doesn't have any self-loops or duplicate edges.

__EDIT:__

[2018-08-03 21:33] neoblizz commented on #366
Good catch, thanks! 👍

[2018-08-03 21:33] #366 closed

[2018-08-03 22:08] sgpyc commented on #362
It's true that SSSP may incorrectly label the predecessors, because of this data race condition.
I have seen a very small percentage of the predecessors are wrong.

There are two ways to solve this issue:
1) group the distance check-update and the predecessor update into a critical section; it's quite hard to do using public librarys;
2) assign the predecessor labels in filter; this requiring pass

[2018-08-06 05:51] neoblizz commented on #365
Fixed in https://github.com/neoblizz/gunrock @ `dev-refactor`.

[2018-08-06 20:05] Hugovb7 commented on #358
If by any chance I can help you reproduce the bug please let me know!

[2018-08-06 20:12] neoblizz commented on #358
I think I was able to reproduce this as well, I am gonna debug this maybe later in the week. Busy with some other stuff right now. Thank you for providing all the logs, I will report back here. @Hugovb7

[2018-08-14 03:49] #365 closed

[2018-08-14 15:30] bkj opened #370 "[branch:dev-refactor] Call to `BaseDataSlice::Init`"
Calling `BaseDataSlice::Init` like
[code]
as in the template [here](https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/app/Template/Template_problem.cuh#L134) appears to get parsed incorrectly [here](https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/app/problem_base.cuh#L98): `gpu_idx` gets assigned to `num_gpus`, etc.

I think the line in the template is supposed to look like

[2018-08-15 21:36] kkaramete opened #372 "650 Mil edge graph with sssp solve on eight-GPUs (K80 of 12 Gb each)"
650 Mil edge graph with sssp solve on eight-GPUs (K80 of 12 Gb each)
Here is the run:
Partition begin. seed=1534366464
partition end. (24592.999935 ms)
[../gunrock/util/array_utils.cuh, 209 @ gpu 0] value__associate_outs[] cudaMalloc failed (CUDA error 2: out of memory)

Here is the setup:
    struct GRSetup *config = InitSetup(num_iters, source);  // primitive-specific configures
    config -> ma

[2018-08-16 07:59] WANG-lp opened #373 "Does gunrock's betweenness centrality results correct?"
For the example graph in [shared_lib_bc.c](https://github.com/gunrock/gunrock/blob/b3416cbcd59c393e3bb9a7fccc81810acf5f04d5/shared_lib_tests/shared_lib_bc.c),

what does gunrock's betweenness centrality results mean?

here is the results of gunrock:
[code]

however, NetworkX gives this results:
[code]

and here is the NetworkX scripts:
[code]

Does gunrock's results correct?

[2018-08-16 13:49] kkaramete commented on #372
Above is the run for 4 GPUs but I did try eight and the result was the same.

[2018-08-16 14:04] neoblizz commented on #372
What interface are you using to input that graph? And what format is your graph in?

[2018-08-16 18:54] neoblizz commented on #373
Hi @WANG-lp, this question was discussed/addressed in issue: https://github.com/gunrock/gunrock/issues/251 in the new branch/api, we plan to make this more intuitive. Hope this answers your question.

[2018-08-16 18:54] #373 closed

[2018-08-18 14:06] kkaramete commented on #372
gunrock_sssp interface and I am converting from my own graph format to CSR to input to Gunrock.
Thanks,
K.

[2018-08-18 14:07] kkaramete commented on #372
It is a simple undirected graph of a uniform lattice of NxN.

[2018-08-18 19:58] jowens commented on #372
So we do graphs in our 2017 IPDPS paper on multiple GPUs that are over a billion edges. How many vertices in your graph?

@sgpyc maybe there's an issue with the just-enough memory allocator, that not setting any `--in-sizing` or --queue-sizing` parameters might blow up the allocation?

[2018-08-18 21:53] sgpyc commented on #372
Is it a graph with very low averaged out degrees and almost uniform degree distributions over the vertices?
Assuming the graph has 128M vertices, "undirected" graph doubles the edge count to 1.3B, and the random partitioner cuts every edge, the memory usage can be quite high. From the output, the sssp runs out of memory in the initialization stage.

One thing to try is to set a low number for the

[2018-08-20 17:38] kkaramete commented on #372
@jowens Here is teh graph details:
Graph G(V,E) has 225000000 nodes, 674940001 edges. Memory: 45858685008 Bytes.
@sgpyc I have set up the max_queue_sizing of the config structure to 0.1 per your suggestion, but the result did not change:
Here is the output:
Partition begin. seed=1534784189
partition end. (21710.054874 ms)
gunrock/util/array_utils.cuh, 209 @ gpu 0] vertex_associate_outs[] cudaMallo

[2018-08-20 18:00] jowens commented on #372
If you have 11.3 GB just from the graph stored on one GPU that has 12 GB of memory, then I think there is not going to be enough room for Gunrock to make progress at all (because it has to allocate frontiers etc.). Not sure why the division is not even across GPUs, actually. But this just might be a graph that's too big for Gunrock to handle.

[2018-08-20 18:49] kkaramete commented on #372
Is the Graph data partitioned or shared identically in GPUs ?
If the latter is true, the the max  graph size is limited by the minimum GPU size in the cluster.

The graph in my DB holds 45 G in Ram and I have 8 x 12 = 72 Gb in  VRAM (GPU) to solve in Gunrock.
Please advise.
Thanks,
Kaan.

[2018-08-20 18:52] jowens commented on #372
Yes, partitioned. Not replicated. Yes, limited by the minimum GPU size. Also partitioning adds size to the graph since some data has to be replicated (but not all, of course). But looking at your last run, it still looks like the partitioner put 11.3 GB in the first GPU, which doesn't leave hardly any room for the GPU to store all the other data it needs to use for computation.

[2018-08-20 18:55] sgpyc commented on #372
The graph is distributed onto multiple GPUs.
We don't have a 8 GPU setup in hand; let me try to make a similar graph but 1/2 in size, and see whether it's possible to run on 4 K40s. If yes, I will share the steps; if not, I can tell how much it's actually needed, or what's the maximum graph size Gunrock can process for SSSP with similar graph type.

[2018-08-20 19:02] kkaramete commented on #372
@jowens thanks.  So, It looks like 1st GPU device is occupying max of its content, whereas the rest of seven is partially full. Do you not think that if the load was partitioned evenly, this graph should be OK to process ? With all due respect, I'd say there is a problem there.  @sgpyc Thank you, that would be useful, but the main problem stems from even loading it seems. Thank you again.
K.

[2018-08-20 19:04] jowens commented on #372
@sgpyc is the best person to comment on partitioning quality. Partitioning is a very hard problem.

[2018-08-26 20:44] zronaghi opened #376 "CUDA error running PageRank"
BFS and SSSP are working but fails with PageRank: Driver Version: 396.44, Cuda 9.1.85 on V100

./pr market  ../../../twitter/twitter.mtx:
Loading Matrix-market coordinate-formatted graph ...
Reading from ../../../twitter/twitter.mtx:
  Parsing MARKET COO format (41652230 nodes, 2936730364 directed edges)... Error parsing MARKET graph:coo allocation failed, sizeof(EdgeTupleType) = 12, edges = -1358

[2018-08-27 14:30] bkj opened #377 "Style guide/code linter"
I notice there is a lot of use of whitespace to align operations across lines -- Is there a style guide or code linter for contributions to Gunrock code?

~ Ben

[2018-08-27 14:34] jowens commented on #377
We haven't used lint before (not sure how it works with CUDA). I would personally be happy to see a consistent style (I think clang-format was suggested before, and with gnu indent we can obviously set up anything we want), but I'm not the one writing code so I don't want to impose this on the folks who do. @sgpyc, thoughts?

[2018-08-27 14:36] jowens commented on #376
Are you running from the master branch? We can try to reproduce this.

@sgpyc a negative value for edges and allo_size seems ... concerning.

[2018-08-27 15:01] bkj commented on #377
I don't have much preference on the specifics, but haveing _somethingit might make code review a little easier by reducing the number of diffs.

[2018-08-27 16:47] zronaghi commented on #376
Yes I'm running from master and it's a fairly large graph

[2018-08-27 17:27] neoblizz commented on #376
@zronaghi which twitter dataset are you using for this run? It is possible that PR is using more memory than SSSP or BFS (which work in this case) and therefore you see this error.

But to add to this, the issue #358 also discusses the same problem and I have also seen this during my runs. @sgpyc definitely worth inspecting and addressing soon.

[2018-08-27 18:00] zronaghi commented on #376
@neoblizz we're using a 23GB local dataset on V100 32GB. That's my guess too that PR is using more memory

[2018-08-27 18:10] jowens commented on #376
yeah, hard to have a lot of scratch space when more than half of the memory is taken up by the dataset. for many apps (e.g., BFS, SSSP), the size of the frontier is relatively small, so it might fit, but for PR, usually at the beginning, the whole graph is in the frontier. so i could imagine that PR would have more challenges.

@sgpyc I think if the graph is too big for us to handle, we should exp

[2018-08-27 20:12] zronaghi commented on #376
@jowens makes sense, thanks! Is there a multi-gpu version? (running on a DGX-1)

[2018-08-27 20:16] jowens commented on #376
Yes, though @sgpyc and @neoblizz will be better able to comment on what the right configuration of Gunrock would be (e.g., "use this branch")

[2018-08-28 18:04] jowens commented on #370
@sgpyc can you comment on this please?

[2018-08-28 19:27] neoblizz commented on #370
You are right, I can issue a fix for this.

I have had some issues with this as well, having default parameters could cause confusion specially when a lot of the stuff is templated. I think on the other hand, it is also a common practice and handy sometimes to expect from user to not type in literally every parameter if it is a simple NULL, 0 or a default value. I am iffy about this.

[2018-08-28 19:30] neoblizz commented on #376
@zronaghi you should be able to run the multi-gpu version with `--devices=0,1,2,3` parameter in the command line. I also recommend looking at the run scripts we have for pagerank for right configuration: https://github.com/gunrock/gunrock/tree/master/tests/pr there are some examples of social network datasets in there ( for twitter: https://github.com/gunrock/gunrock/blob/master/tests/pr/run.sh#L7

[2018-08-28 19:32] neoblizz commented on #233
See PR #369 #371 #374.

[2018-08-29 20:51] bkj opened #379 "[dev-refactor] Speeding up app compilation"
Compiling eg. `tests/bc` takes >30 seconds, even when you're only making changes to `tests/bc/test_bc.cu`.  It seems like there may be an opportunity to precompile some of the dependencies.

I tried briefly to precompile the headers using a `stdafx.h`file, but learned that this doesn't place nice with `nvcc`.

I spoke with @neoblizz and he thinks it should be possible (potentially using `ninja`) b

[2018-08-29 22:26] sgpyc commented on #377
I don't have preference on specific styles. We did try some formatting tools long time ago, but there were a few issues, the main one I remembered is when function parameters are too long, the standard format indentation on following lines are way too much. For example:
`someVeryLongLongLongLongLongLongLongLongFunction(

[2018-08-29 22:30] jowens commented on #377
@bkj if you have specific suggestions, we're all ears. I'd prefer something that could be enforced on the command line (I automatically do this to any python code I write, for instance, for pep8 compliance). gnu indent? clang-format?

[2018-08-29 22:43] sgpyc commented on #370
Parameter matching is terrible, and I spent quite sometime doing that, but couldn't catch all the mismatches.
I really hope C/C++ can have named parameters, but...
A workaround is using a structure to hold some parameters (like what oprtr_parameters does). But it will be too much if using parameter structures for a large number of functions.

If anything works better, I would love to know and try

[2018-08-30 03:56] bkj commented on #377
I don't have specific suggestions -- I haven't used C++ linters before, just the standard python ones.  I can poke around a bit, but open to suggestions from anyone who has an opinion.   I agree that something w/ a command line autoformatter would be ideal.

[2018-08-30 03:56] bkj commented on #370
Should I open a quick PR for this?

[2018-08-30 04:32] neoblizz commented on #370
@bkj yes please!

[2018-08-30 04:33] neoblizz commented on #377
Was discussing this with @sgpyc today, I will ask around at NVIDIA as well because their code formatting stuff is very neat and printable.

[2018-08-30 04:35] neoblizz commented on #377
I think this is something we can get help from professionals -- I just thought @yzhwang had something in place, but I think it was just something we tried a while back that didn't work as nicely. Will report my findings soon.

[2018-08-30 05:01] #335 closed

[2018-08-30 09:26] ctcyang commented on #377
At Amazon, we use pylint and cpplint for MXNet. I love how neat it makes the code and how it pinpoints the formatting problems for you--all you need to do is type `make lint`. The way the automation works is the CI system performs a `make lint` check each time you submit a PR, and it will fail if your code does not follow the Lint guideline.

However for Gunrock, there will need to be a one-time m

[2018-08-30 14:09] bkj commented on #377
Yeah I was going to say -- it's worth thinking about how/whether we'd apply
this retrospectively. It may be the most reasonable thing is just to use
the linter on new apps as they're written, rather than applying it to the
entire codebase.

On Thu, Aug 30, 2018 at 5:26 AM ctcyang <notifications@github.com> wrote:

[2018-08-30 14:35] neoblizz commented on #370
Solved with PR #381, thanks @bkj!

[2018-08-30 14:35] #370 closed

[2018-08-30 15:03] jowens commented on #377
I'd probably be inclined to just apply it to the whole codebase, or at least do so gradually. For the tiny number of files I touch, I'd probably have my editor do it automatically. Also this is the kind of project we could assign to an undergrad wandering through who wants a little experience.

[2018-08-30 15:08] bkj commented on #377
Re @sgpyc 's comments above -- most linters should let you enable/disable rules as you like, to fix the kinds of problems you're talking about.

While we're on the subject of aesthetics, I'll note I _really_ don't like the 80 character line limits. :)

[2018-08-30 15:17] jowens commented on #377
@bkj you're on thin ice there, don't get fired

[2018-08-31 00:20] bkj opened #382 "[dev-refactor] Random edge weights?"
https://github.com/gunrock/gunrock/blob/a8307014372a0cfb5411e4e2103c7c091e069c71/gunrock/graphio/market.cuh#L238

Is this block randomly generating edge weights when no edge weights are present in the input file?

If so, I'd strongly recommend that the default behavior be changed so that edge weights are set to 1 when missing.

[2018-08-31 00:29] sgpyc commented on #382
Yes, when the program asks for edge weights, but the weights are not present in the mtx file, they will be randomly generated. `edge-value-min` and `edge-value-range` controls how the edge values are generated; if weights should have 1 as default, I can set the `edge-value-min=1` and `edge-value-range=0` as defaults.

[2018-08-31 00:55] bkj commented on #382
That's super unexpected behavior -- every other graph library I've ever seen sets edge weights to 1 unless otherwise defined.

I can do a PR that exposes the random edge weight behavior via an explicit `--random-weights` flag, and sets edge weights to 1 otherwise.  Does that sound reasonable to you?

[2018-08-31 01:07] sgpyc commented on #382
I guess change the edge-value-min and edge-value-range defaults may be better? That has the same effect of assigning 1 as default weights.

If not remembered wrongly, the pervious default [0, 64] was for SSSP. That maybe the only time we have edge weights

[2018-09-04 18:29] neoblizz commented on #382
Solved in PR #383

[2018-09-04 18:29] #382 closed

[2018-09-06 03:26] sgpyc commented on #372
@kkaramete  I tried a lattice with 121M vertices and 726M edges on 4 K40c, the SSSP runs with `--queue-sizing=0 --in-sizing=0`; memory usage on each GPU is about 7.4GB.

Here is the log:
[code]

The nvidia-smi output
[code]

[2018-09-06 03:44] sgpyc commented on #376
The issue is 2.9 billion is larger than 2^31-1, and needs to be represent by 64bit number. So `--64bit-SizeT` is needed in the command line. PR on the twitter_rv.net dataset can run using 12GB memory, but we removed some self circles and duplicated edges. 32GB should be pretty sufficient.

[code]

[2018-09-06 03:54] sgpyc commented on #376
@zronaghi If you want the more standard normalized PR, add `--normalized --compensated` to the command line, that will almost guarantee the sum of rankings to be 1.

[2018-09-06 16:56] jowens commented on #376
@sgpyc can we do a quick check for `(edge_size_too_big && 32_bit_edge_indexes)` and error out with a helpful message?

[2018-09-06 18:50] neoblizz commented on #376
If we can detect this, why don't we automatically switch to 64bit SizeT?

[2018-09-06 18:58] jowens commented on #376
I don't think that is the right behavior for our graph library. If the default is 32b, we shouldn't automatically switch to something else. We should error and make sure the caller knows why. I would philosophically be opposed to automatically switching away from a default in favor of an error. Explicitness is more important to me here than smoothness.

[2018-09-06 19:01] sgpyc commented on #376
It's not easy (~impossible) to switch `64bit-SizeT` based on num edges: the switch is set at the very beginning of the program, before calling `LoadGraph`, where `graph.edges` got its value.

[2018-09-06 22:19] Hugovb7 commented on #358
@neoblizz just wanted to check if you were able to take a look ?

[2018-09-06 22:28] neoblizz commented on #358
I think there is a bug in PR, I have asked @sgpyc to check it out.

[2018-09-07 17:11] neoblizz commented on #377
Talked to John Hubbard at Nvidia, he recommended us to look at [indent](https://www.gnu.org/software/indent/manual/indent.html) and clang-format for cpp. He suggested similar things to what @ctcyang pointed out they do for amazon. We can leverage Jenkins to suggest if the pull request followed our styling guidelines.

Also, these programs provide very fine control of how you want the code to look

[2018-09-07 18:56] neoblizz commented on #377
Yes, I agree, and we can make minor changes to suit what looks good for gunrock as well. After my internship I will try to get the auto fix thing working with clang and see how it goes.

[2018-09-07 21:05] kkaramete commented on #372
@sgpyc  Thank you. Having assign max_queue_sizing param to zero, I was able to populate GPUs but the run gets stuck at some stage. Here is how I run shortest path via the config and using the float weights (yes I did add the float template option):

float floatsssp(
        float*               distances,
        int*                  preds,
        const int           num_nodes,
        const int

[2018-09-11 19:45] Hugovb7 commented on #358
@sgpyc were you able to reproduce with nvidia driver 396 ?

[2018-09-11 19:47] jowens commented on #358
@Hugovb7 Kind of not fair to ask us to roll back to a previous driver to test something if it's fixed in a later driver ... that would tend to indicate that the problem was with the driver and has been fixed as opposed to a problem with our code. Am I missing something here?

[2018-09-11 19:58] sgpyc commented on #358
Not rolling back the driver, but I can try to test within a docker with older driver. If the issue can be reproduced, that confirms the bug is with the driver and has been resolved in some newer version

[2018-09-11 20:30] Hugovb7 commented on #358
@jowens Like @sgpyc said, it's just to make sure that the driver actually fixed the issue. I'll try it myself, but if you already have the info, I was interested. If it is confirmed that the driver was the problem it's of course not necessary to fix it within gunrock :)

@sgpyc Usually you won't be able to have the cuda driver inside of the docker image - the host driver is used.

[2018-09-11 21:16] bkj opened #387 "0s in market format"
Right now, the `graphio.market` silently skips edges w/ one node equal to zero.  Eg, if my input is

[code]

Gunrock will just load a graph w/ one edge `1 - 2`, possibly w/ arrays allocated to the wrong size.

I think (?) that zeros in data are _not allowed in the matrix market format_ -- so the above graph is actually an invalid input.  However, 0-based indexing is common enough that we should be

[2018-09-11 23:48] sgpyc commented on #387
There is a `vertex-start-from-zero` flag for this. When true (the default), the market file reader will subtract 1 from the vertex numbers.
https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/graphio/graphio.cuh#L81

[2018-09-11 23:52] bkj commented on #387
I saw that -- even with that flag, I don't think you can use zero based
indexing in the market input file. I'll post a script reproducing my issue
later.

[2018-09-12 04:49] bkj opened #388 "External `CPU_Reference`"
For more complicated apps, where we're reproducing an app written by a third-party, it may be nontrivial to implement a `CPU_Reference` function inside Gunrock in a way that guarantees correctness.

What do we think about (sometimes) using an external CPU reference implementation?  The `CPU_Reference` function could call a shell script that passes the appropriate arguments and datasets.

[2018-09-12 05:00] neoblizz commented on #388
We currently do this already by using Boost, and I don't see why we couldn't do it using other external sources. The reference run should be self contained though if you are gonna do this, by that i mean get the code, run it, extract results and then compare. And "getting the code" could depend on the thing you would like to compare against and how it is implemented.

[2018-09-12 05:11] neoblizz opened #390 "cudaThreadSynchronize() is deprecated..."
... replace with `cudaDeviceSynchronize()`.

[2018-09-12 05:12] neoblizz commented on #390
[code]

[2018-09-14 18:28] Hugovb7 commented on #358
My bad, this bug actually looks fixed by 410. Got confused with #359, which is still there

[2018-09-14 18:28] Hugovb7 commented on #359
Attached are the logs with driver 410 :
[Run_Gunrock.zip](https://github.com/gunrock/gunrock/files/2384510/Run_Gunrock.zip)

[2018-09-14 18:30] neoblizz commented on #358
Yeah, I don't see any PR errors there. So, assuming it was a driver issue, I am closing the PageRank issue. Let's discuss `BC` in #359. Which is what failed:

[code]

[2018-09-14 18:30] #358 closed

[2018-09-24 20:09] Hugovb7 commented on #359
Were you guys able to reproduce this bug ?

[2018-10-04 19:42] neoblizz opened #401 "Googletests"
**[difficulty]** description of category
- [ ] individual test

**[medium]** Core textbook primitives in `gtest`:
- [ ] pagerank
- [ ] maxflow
- [ ] minimum spanning tree
- [ ] triangle counting

**[hard]** Correctness checking for hive apps using `gtest`:
- [ ] sparse fused lasso
- [ ] graph search
- [ ] community detection louvain
- [ ] geolocation
- [ ] scan statistics
- [ ] vertex nomination
-

[2018-10-07 12:15] bookug opened #402 "How can I help to improve this project?"
It seems not easy to understand the structure of this project. Can you provide more detailed documents? How can I develop new graph algorithms based on the operators provided by Gunrock?

[2018-10-07 12:36] neoblizz commented on #402
I will highly recommend working on our `dev-refactor` branch, we have slides and a video of "How to write a primitive in gunrock?", the talk goes through SSSP as an example, and there are several active pull requests and new applications added to `dev-refactor` that you could also use as reference.

http://on-demand.gputechconf.com/gtc/2018/video/S8586/

https://github.com/gunrock/gunrock/blob/mas

[2018-10-08 11:34] bookug commented on #402
Thank you very much!
How can I implement the subgraph matching algorithm in the paper below:
http://www.hpdc.org/2016/posters/poster/O13-HPDC16_Posters_paper_17.pdf

[2018-10-08 17:38] neoblizz commented on #402
@bookug maybe @Laurawly can comment on that, but a good place to start will be to look at `dev` implementation of subgraph matching and help us port to `dev-refactor`, the new API.

You'll find it way easier to represent that algorithm in refactored branch.

Link to current implementation:
`app` : https://github.com/gunrock/gunrock/tree/dev/gunrock/app/sm
`tests/examples` : https://github.com/gunr

[2018-10-09 16:29] bkj opened #405 "[HIVE] graph_projections OOM error?"
When I try to run on the `hollywood` dataset, I get an error like this:
[code]
I'm guessing this is an OOM error?  `graph_projections` allocates a `|V|x|V|` matrix, so it's going to be prone to memory issues -- is there a good way to handle them more gracefully?

[2018-10-09 16:31] jowens commented on #405
@sgpyc has looked at better OOM notifications before ...

[2018-10-09 16:31] jowens commented on #405
And @neoblizz make sure this limitation is in the writeup (totally reasonable, we've only been asked to look at apps that fit on one GPU).

[2018-10-09 16:33] bkj opened #406 "[HIVE] random_walks OOM error?"
When I run
[code]
I get the following output:
[code]
However, when I run
[code]
the app completes as expected.

The outputs of these two parameter settings have the same memory usage, so presumably the error is getting thrown because of some intermediate data structure.  Any thoughts on how best to hunt this down?

[2018-10-09 16:37] jowens commented on #406
@bkj would like your thoughts here ... I rather prioritize at this point "let the user know what has happened, clearly" over "try to fix it". Might not be fixable. But we can do a much better job with notifications. The `queue3 oversize` notes may be useful for @sgpyc but not sure anyone else knows what they mean.

[2018-10-09 16:43] bkj commented on #406
@jowens Definitely agree -- given certain inputs graphs / parameter settings, this app will definitely run out of memory, so better logging is always going to be useful.

It'd be good to know if I've done something particularly stupid memory-management wise here as well, since I don't see anything obviously wrong.  Could help us see if there's somewhere we should put guard rails in place for peopl

[2018-10-09 16:47] jowens commented on #406
The magic feature I'd like to have is a memory allocator that recorded call info for every, say, allocation over 100 MB and could dump that list.

@bkj it seems exceedingly likely to me that you're not doing anything dumb, that it's either just that the data set is too big or that our intermediate data structures are too big and not under your control. I will say that both @sgpyc and @yzhwang went

[2018-10-09 17:29] neoblizz commented on #406
@bkj can you run the 2nd command multiple times to check with the "randomness" factor and see if that actually finishes every time?

Yes, you are right that at some point we won't have enough memory for some dataset. Here's why the first one passes and second doesn't:

[code]
Your `rand` is:
- 1st one: `2 x nodes`
- 2nd one: `1 x nodes`

Where as your `walks` is the same for both:
- 1st: `nodes* 1

[2018-10-10 04:03] #402 closed

[2018-10-14 04:19] #390 closed

[2018-10-14 04:32] neoblizz commented on #93
Noting that  this is now easier to do in dev-refactor using `parameters` and `LoadGraph`, also there are multiple ways to read in labels, one of them is within Array utilities called `Read` and another I wrote for Geolocation called `Labels`, we can refine these later or add one for SM.

[2018-10-14 04:32] #93 closed

[2018-10-14 04:33] #309 closed

[2018-10-14 04:41] neoblizz commented on #359
Haven't gotten a chance to work on this bug, this has been pushed to after November 1st (we have some deadlines till then). Didn't forget, will see if I can address this after 1st.

[2018-10-16 17:43] bkj commented on #406
This is fixed by https://github.com/gunrock/gunrock/pull/413

[2018-10-16 17:43] #406 closed

[2018-10-16 17:43] bkj commented on #405
This is fixed by https://github.com/gunrock/gunrock/pull/413

[2018-10-16 17:43] #405 closed

[2018-10-16 17:46] bkj opened #414 "SSSP on `soc-orkut` dataset"
Running:
[code]
throws
[code]
The app runs on other datasets.  Any ideas what might be going on here?  Are we able to run other apps on the `soc-orkut` dataset?

~ Ben

[2018-10-16 19:18] sgpyc commented on #414
I can reproduce the bug on top of dev-refactor branch.
It should be easy to track down, but may need to push it after the beginning of Nov.

PageRank works on soc-orkut

[2018-10-16 19:46] sgpyc commented on #414
This issue is caused by the COO->CSR or COO->CSC converter, when the first vertices don't have any neighbor. Solved by commit 1f5b83c
[code]

[2018-10-17 02:42] bookug opened #415 "How can I generate a rmat graph using Gunrock?"
How can I generate a rmat graph using Gunrock?

[2018-10-25 03:33] #415 closed

[2018-10-29 18:59] AjayBrahmakshatriya opened #423 "Error while freeing memory when Frontier is declared at global scope"
Noticed an issue with declaring a Frontier at global scope. Whenever a Frontier is declared at global scope we get the error -

This apparently happens because the destructor of the object calls `cudaFree` somewhere. But the cuda device object already starts unloading (it’s destructor is called before) and we get this error. Declaring the object inside main fixes the issue.  Can the free be moved

[2018-10-30 06:49] bookug opened #424 "Can gunrock support subgraph isomorphism now?"
If not, when can it support graph-subgraph isomorphism?

[2018-10-30 10:00] jowens commented on #424
We're actively working on this. Stay tuned.

[2018-10-30 19:04] archenroot opened #425 "Warnings with Boost 1.67.0"
There are some warnings when building with latest boost, could be useful for developers:
`zangetsu@venus ~/proj/private/gpu/gunrock/build $ cmake ..
-- The C compiler identification is GNU 7.3.0
-- The CXX compiler identification is GNU 7.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler A

[2018-10-30 19:13] neoblizz commented on #425
We recommend using Boost version 1.58.0, this is being addressed in later release where Boost will be optional. For master branch, please install 1.58 instead.

[2018-10-30 19:13] #425 closed

[2018-10-30 19:13] archenroot opened #426 "Build failure on Gentoo system - metis.h no such file"
[code]
I was under impression that it has something to do maybe obsolete version of metis installed:
[code]

[2018-10-30 19:21] archenroot commented on #111
I suggest to get in touch with guys bytedeco guys, they work on Javoized API for C++ libs, they have already migrated quite large number of stuff into form of ready to use presets, mainly related to high performance computing.

https://github.com/bytedeco/javacpp

This way, Gunrock can be wrapped as backend by Java API (better to work with then JCUDA for Java/Scala devs) and integration with Think

[2018-10-30 19:31] neoblizz commented on #111
That's actually very exciting for us as well @archenroot, we have been thinking about some of these things for a while now just not enough resources to get to it. But definitely something for near future.

Let me know if you have any questions, and we welcome pull requests!

[2018-10-30 19:37] archenroot commented on #111
@neoblizz - I will discuss with bytedeco if they can help and will try to produce some dummy sample at first. Instead of this repository, this could become to be maintained and distributed from here (mainly, you can of course link it to your repo via docs for example):
https://github.com/bytedeco/javacpp-presets

There you can look what all c++ projects has been "javoized". As stated the good appr

[2018-10-31 12:49] archenroot commented on #111
@neoblizz - do you plan some release, it is better to maintain in Java interfaces, but I will work with up-to-date git version in main branch for testing purposes

[2018-10-31 14:19] mahmoodn opened #427 "Run command"
Although I searched the manuals, I still haven't find out the correct run command for the binaries. For example, `bfs market /data/Compare/topc-datasets/hollywood-2009.mtx --src=0 --undirected` works while `bfs market /data/Compare/topc-datasets/hollywood-2009.mtx --src=0 --undirected` doesn't work.

Is there any document which explains what options should be used for dataset inputs?

[2018-10-31 17:08] neoblizz commented on #111
@archenroot I am not sure what you mean, we have 2 releases planned in future, one is in `dev` branch and the other is in `dev-refactor`. Refactored one is our main work right now, and dev just have some minor improvements over master.

[2018-10-31 17:14] neoblizz commented on #427
@mahmoodn aren't those two the same command lines? And it works for me:

[code]

[2018-10-31 17:32] jowens commented on #427
https://gunrock.github.io/docs/engines_topc.html has linked https://gunrock.github.io/docs/tables/engines_topc_table.html with a JSON output for every data point, where the JSON outputs include the command-line used to generate each of them.

[2018-10-31 17:51] mahmoodn commented on #427
Excuse me, there was a problem with with the pasted data. Please see the output below
[code]
I think there is an out-of-memory problem as noted. But I also see an invalid argument error. So, I wonder what is the problem?

[2018-10-31 17:56] mahmoodn commented on #427
@jowens:
IN the json files you mentioned, some of the contain the command line [1] and some of them don't have that [2].

[1] https://github.com/gunrock/io/blob/master/gunrock-output/topc/SSSP_road_usa_Fri%20Nov%2018%20004204%202016.json
[2] https://github.com/gunrock/io/blob/master/Ligra-output/topc/BC-indochina-2004.json

[2018-10-31 17:56] jowens commented on #427
The Gunrock ones contain the Gunrock command lines. If you see any Gunrock ones that don't, please let us know.

[2018-10-31 18:05] mahmoodn commented on #427
You are right. They have the command line.
Still the reason for the error is unclear for me.

I also have another question. I see that all large datasets that are finished without memory error, have small runtime. For example,  indochina-2004  with 2.3GB memory usage has about 0.6ms! All runtimes are in the range of ten and hundreds of miliseconds except the asia_osm which is about 4 seconds. Othe

[2018-10-31 18:19] jowens commented on #427
The largest dataset sizes we can handle are ones that fit on the GPU, and so we're then limited in terms of the length of runtime we can support. And the primitives that are currently in the repos are relatively simple in terms of computation. If you wanted a real long one, then doing a full BC run (from all vertices, not just the default of from-one-vertex) on a large dataset would tend to take a

[2018-10-31 18:35] neoblizz commented on #427
@mahmoodn I think M2000 has 4GB global memory, and in the command-line above you are trying to run a graph with the allocation size of: `15359986992 B`. You'll either need a V100 with 32GB or run in a multi-GPU environment with the flag `--device=0,1,2,3`.

[2018-11-01 11:28] mahmoodn commented on #427
@jowens
Do you mean that for my purpose, I have to run bc command and not bfs or other commands? Also, can you point the right direction on how to define such an option (bc on all nodes).
I need that for some tests. Thank you.

[2018-11-01 18:08] jowens commented on #427
You can run bfs, of course, but on any graph that fits in GPU memory, bfs finishes very quickly and may not be long enough for whatever your reasons are for needing a longer run. As you note, road network graphs will be the slowest (because of their high diameters).

For how to do a "full" BC run, check out this issue:

https://github.com/gunrock/gunrock/issues/251

[2018-11-01 19:24] AjayBrahmakshatriya opened #430 "PageRank incorrect output on soc-Livejournal1"
Running

    /pr market ~/scratch/gunrock/dataset/large/soc-LiveJournal1/soc-LiveJournal1.mtx --quick --device=3

produces the output -

    Run 0 elapsed: 1756.908894 ms, src = 4294967295, #iterations = 34
    Total_rank = 0.999995
    Top 10 Ranked vertices and PageRanks:
    Vertex ID: 10009, PageRank: 0.000162
    Vertex ID: 8737, PageRank: 0.000144
    Vertex ID: 2914, PageRank: 0.000142

[2018-11-01 20:04] archenroot commented on #111
I mean what is downloadable under releases in github:

@yzhwang yzhwang released this on Nov 11, 2016

@neoblizz - I have produced Java interface for Gunrock. Will try some basic sample as soon as I didn't try any real java project yet and will let you know how it goes, or you can track here:
https://github.com/archenroot/javacpp-presets

[2018-11-01 21:41] neoblizz commented on #111
I like this! I am excited to see it work, we have plans to update gunrock.h which might require the java stuff to be updated as well. But at least for 0.4 and 0.5 the gunrock.h you have will work.

[2018-11-01 21:41] neoblizz commented on #111
Also @archenroot if you are gonna actively develop some of this, feel free to open a new issue on jgunrock.

[2018-11-01 22:03] archenroot commented on #111
@neoblizz - upgrade of gunrock.h shouldn't be a problem as soon as it is out, just release 0.6 and I can upgrade java bindings looks like out of the box :-)

I finished now some basic sample but realized on my machine I had CUDA not working related to this:
https://devtalk.nvidia.com/default/topic/1037521/linux/cuda-broken-in-396-24-02-and-396-24-10-vulkan-beta-drivers-on-linux/3

Looks like lates

[2018-11-01 22:13] archenroot opened #431 "[question] Gunrock buffering for large graphs"
This is regarding some POC I would like to prepare, at moment especially for Shortest path algo. We have currently in our graph db about 1bil vertices and 1,5bil edges and about almost 1TB db size (we store on vertices also some properties, so not pure ids only. It performs quite good only on CPU, I plan to push it to the limit and find treshold and test against gunrock on multigpu system.

Q1: Ha

[2018-11-01 22:19] archenroot commented on #111
@neoblizz - as suggested, jgunrock will be maintained and publicly available under:
https://github.com/bytedeco/javacpp-presets

As there are maintained 20-30 other C/C++ libs wrapped into Java....

[2018-11-01 22:40] neoblizz commented on #431
https://github.com/gunrock/gunrock/issues/322#issuecomment-368286550

There has been work done in our group on distributed (multi-node) graph processing, which may see its way in gunrock eventually.

There's also research done in how to handle streaming graphs, which I assume you mean by graph buffering? Aside from that, if you don't care a whole lot about performance, this big of a graph can be h

[2018-11-01 22:45] neoblizz commented on #414
Assuming this is resolved!

[2018-11-01 22:45] #414 closed

[2018-11-01 22:47] neoblizz opened #432 "Warnings for data overflow (--64bit-SizeT)"
Switch to `64bit-SizeT` based on number of edges: the switch is set at the very beginning of the program, before calling `LoadGraph`, where `graph.edges` gets its value.

This is basically a data overflow problem. I can add in checks and print out warnings, assuming the number of vertices is within limit.

_Originally posted by @sgpyc in https://github.com/gunrock/gunrock/issues/376#issuecomment-4

[2018-11-01 22:48] #376 closed

[2018-11-01 23:13] jowens commented on #430
I don't exactly know what's going on here, but in a previous issue (https://github.com/gunrock/gunrock/issues/376) @sgpyc suggested `--normalized --compensated` as command-line flags ...

[2018-11-01 23:15] archenroot commented on #431
@neoblizz - definitelly we can talk on DGX{1,2} about tens of bilions of V/E, that is good to hear. I plan to prepare incremental batches starting with 1-X bilions until it crashes actually.

[2018-11-01 23:16] neoblizz commented on #431
@archenroot looking forward to your findings as well, let us know how your CPU results for those incremental batches compare against gunrock.

[2018-11-01 23:28] archenroot commented on #431
I will come back of course. The focus will be only on shortest path algorithm at moment to start with with incremental size of V/E.

[2018-11-01 23:30] archenroot commented on #111
@neoblizz - So I finished rewriting sssp sample code from C to Java interfaces, but it is failing on execution:
https://github.com/bytedeco/javacpp-presets/issues/641

[2018-11-01 23:31] jowens commented on #111
You're probably not going to get a great deal of help on Java-C interoperability issues from our team, I'm afraid. This would be a new topic for us. But we will support you as you work on this.

[2018-11-01 23:37] archenroot commented on #111
@jowens - I know :-) I just put here reference for anyone interested/being able to help, I hope @saudet will help me :-) (bytedeco org)

[2018-11-01 23:38] AjayBrahmakshatriya commented on #430
Doesn't seem like an issue with `--normalize` because the Total_rank does sum up to ~1.
I tried all combinations with and without normalization and compensate, but still the results remain the same.

[2018-11-01 23:48] archenroot commented on #111
@jowens But you can help me understand actually with what this code is doing :-)

graphi->row_offsets = (void*)&row_offsets[0];

So I can try to replicate is as much as possible in Java

[2018-11-01 23:50] jowens commented on #111
I didn't write that code, but it looks like it's using a void pointer to avoid any casting errors/warnings, and it's just assigning the pointer to `row_offsets`directly to the `row_offsets` pointer in the `graphi` structure/class.

[2018-11-02 01:01] archenroot commented on #431
@neoblizz - just to confirm I read somewhere each node is stored as 4 byte integer. So am I or not limited by max value (unsign) of 4,294,967,295 of unique vertices/edges? Just to confirm.

[2018-11-02 01:04] neoblizz commented on #431
@archenroot I believe with `--64bit-SizeT` you can go more than that (int64).

[2018-11-02 05:54] archenroot commented on #431
@neoblizz - nice.

So, I didn't sleep much this night :-) more due to my stupidity of uinitialized variables, etc. even the sample are quite straighforward, but thx to help of saudet from bytedeco I finished my first Java code which runs gunrock from within Java.

The code looks (dirty at moment) like this, but I will probably remap the C method naming to Java names (minor cosmetic task):
[code]
A

[2018-11-02 05:59] archenroot commented on #431
I saw on some issue discussion that edge is stored by using 4 bytes...:
https://github.com/gunrock/gunrock/issues/322

[2018-11-02 06:17] sgpyc commented on #431
The maximum graph I tried has about 1 billion vertex and several billion edges, but that's on 6 GPUs if I remember correctly (only the master branch supports multiple GPUs at the moment). On a single GPU, the memory size is the limiting factor of how large the graph can be.

`--64bit-SizeT` will enable support for more than 2 billion edges, provided the app you run has that option turned on.

[2018-11-02 06:24] archenroot opened #433 "discussion/question - offload compressed data into GPU to speedup"
On large graphs would it be some possible performance improvement to save both disk IO and memory trougput to offload data in highly compressed form, GPUs are known to compress/decompress superior quickly in parallel... just something which could potentially improve results a lot on multigpu higher vram systems...

I think this could be simple candidate to integrate - ok for multigpu version it wi

[2018-11-02 06:28] archenroot commented on #431
@sgpyc  - What GPU types?

[2018-11-02 06:29] archenroot commented on #111
So, I didn't sleep much this night :-) more due to my stupidity of uinitialized variables, etc. even the sample are quite straighforward, but thx to help of saudet from bytedeco I finished my first Java code which runs gunrock from within Java.

The code looks (dirty at moment) like this, but I will probably remap the C method naming to Java names (minor cosmetic task):
[code]
And the result from

[2018-11-02 06:31] archenroot commented on #111
**Q**: I cover in current Java bridge only gunrock.h header file, but there are other files under util subfolder, should I work on creating bridge as well, or gunrock.h is enough for any kind of graph operations?

[2018-11-02 06:32] sgpyc commented on #431
6 K40 GPUs

[2018-11-02 06:59] sgpyc commented on #430
@AjayBrahmakshatriya can you check whether the graph used by GraphIT is directed or undirected?
When taken as it is, `soc-LiveJournal1` is a directed graph, and the top ranking vertices are:
[code]
Vertex 4847571 is the one added to compensate the zero-degree vertices.

When the graph is treated as undirected via edge doubling, the top ranking vertices are:
[code]
These are the same from the resul

[2018-11-02 07:03] sgpyc commented on #430
And also, Gunrock removes self loops and duplicated edges (there are 518382 self loops / duplicated edges in the directed version of `soc-LiveJournal1`, and 52285072 of them in the undirected version) by the graph loader. This can also create some mismatches in the result.

[2018-11-02 07:47] neoblizz commented on #111
I think a well written gunrock.h should be more than enough to get most function out of gunrock. Things get tricky when you start talking about java <-> implementation of a primitive/operator/enactor/app/tests, but if there is a simple C API, java should work.

[2018-11-06 10:39] CMCDragonkai commented on #231
I'm wondering why this is in a google doc, and not just posted on Github issues. It doesn't seem like there's much information there.

Also as for mapping, are you saying that Gunrock could eventually support GraphBLAS API calls? If this interface adapter is possible, what are the possible downsides? Are these any leaky abstractions here?

[2018-11-06 17:52] ctcyang commented on #231
Our current plan is to make [Gunrock-GrB](https://github.com/gunrock/gunrock-grb) (Gunrock GraphBLAS on GPU) a Gunrock extension (or Gunrock + x). This means that we'll be doing the graph processing on Gunrock. However, when we run into a matrix operation, we can use no-copy semantics to create a GraphBLAS object (Matrix, Vector, etc.) using the GPU device pointers. This is possible because both G

[2018-11-06 17:55] liammcgold opened #434 "Connected components in 3D"
I would like to use Gunrock to run connected components in 3D on a binary volume. Currently this is not possible. I would be using this in python as the final step in an automatic segmentation pipeline. What steps would need to be taken to allow for this capability?

[2018-11-06 22:05] jowens commented on #434
What is insufficient about Gunrock's CC implementation for you? Is your input graph in a MatrixMarket/CSR format?

[2018-11-06 22:12] neoblizz commented on #434
I have been talking to Liam about this, I believe he wants to do CC on a 3D image data. One way to implement this is by flattening the 3D array into one 1D array with padding (something like this: https://github.com/seung-lab/connected-components-3d), and then change the operator to handle the padding. Currently, gunrock doesn't have support for this padding (as far as I know).

Here's whats curre

[2018-11-06 22:16] neoblizz commented on #433
There has been some past work on compression, but gunrock doesn't deploy any of the compression schemes currently. This is definitely a trade-off to consider, because you are leveraging some compute to do compression instead of computation on the graph. Would be interesting to further analyze this.

[2018-11-06 22:17] neoblizz commented on #427
Closing this for now, let us know if you encounter any other issues regarding the command line.

[2018-11-06 22:17] #427 closed

[2018-11-06 22:21] neoblizz commented on #377
In issue 00d425925c005c5a5548141ab297eb811665ab75, I have added a basic clang format using Google's formatting scheme: https://github.com/gunrock/gunrock/blob/dev-refactor/.clang-format This can be further improved, the results it produces are shown in geolocation's committed files:

https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/app/geo/geo_enactor.cuh

It is as simple as `clang-for

[2018-11-07 13:06] mahmoodn commented on #427
@neoblizz:
I read your post at [1] however, I am not sure if I understand that correctly. It seems that I have to modify one of the source files to perform a full BC test. I expected to see an option in bc command for that. Can you explain more what should I do to run full BC?

[1] https://github.com/gunrock/gunrock/issues/251#issuecomment-311839910

[2018-11-07 18:04] mahmoodn commented on #427
Hi again
I saw that shared_lib_* binaries are there in the bin/
This is the output I get
[code]
And the execution is very very quick. Sounds like an error.

[2018-11-09 10:02] mahmoodn opened #437 "Running a full BC"
Hi
In order to run a full BC, I saw that shared_lib_* binaries are there in the bin/
This is the output I get

[code]
And the execution is very very quick. Sounds like an error.

Even I modified similar to what is said in https://github.com/gunrock/gunrock/issues/251#issuecomment-311839910

[code]
And I get
[code]
Again the execution time is very very small

[2018-11-09 20:31] mahmoodn commented on #437
So, may I know how can I feed the large datasets?

[2018-11-09 22:58] neoblizz commented on #437
https://github.com/gunrock/gunrock/blob/master/shared_lib_tests/shared_lib_bc.c#L19-L22 instead of this, load your graph as a CSR: row_offsets, col_indices.

[2018-11-10 04:21] jowens opened #438 "check with stjones re: iterate over kernel with a global barrier (but not kernel boundary) at end of each iteration"
Placeholder since @neoblizz is gonna look into this.

[2018-11-10 14:16] mahmoodn commented on #437
@neoblizz
For a 1M node graph, I can create something like this

[code]
However, I wasn't able to find how to feed in the input file. Didn't find any example. Please let me know if there is a example for that?

[2018-11-10 14:41] jowens commented on #437
Our input format is MatrixMarket. Executables usually run as:

`executable market filename.mtx ...`

There's a `dataset` directory with small and large datasets at the root level of the repo.

[2018-11-10 16:19] mahmoodn commented on #437
Guys, something is going messy here... It seems that I couldn't point to the problem correctly.

I can run the market format. For example

[code]

As you can see, the execution time is very small. I was seeking a way to run for a larger amount of time. In my previous post, you said, I may have to run full BC for that purpose (at least that is what I understood).

So, the question was, how to run a

[2018-11-11 00:38] neoblizz commented on #437
I see, I am sorry, I misunderstood. If you just wanna run a long BC on a large graph, just pick a fairly large graph, build gunrock, and call the BC command line as follows:

[code]
with `--src=-1` to run the full BC. Note that this will be a long run.

--

You can do the same thing using `shared_lib_bc.c` or the python interface by passing in the mtx file as two arrays: row_offsets and col_indice

[2018-11-12 22:31] sgpyc commented on #423
The program wants to call cuda functions when default destructors are called when the main function finishes.
The workaround is to comment out https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/util/cta_work_progress.cuh#L253.
This won't happen when the frontier's destructor is not called at the every end of the program.

[2018-11-13 00:37] jowens commented on #423
Nonetheless this is unexpected behavior ... asking people to edit the source code to make it work is not the ideal situation. Anything possible that's cleaner?

[2018-11-13 17:50] mahmoodn commented on #437
@neoblizz:
Thanks. I got it. That is very very large for even moderate graphs, e.g hollywood
!

[2018-11-13 17:50] #437 closed

[2018-11-13 18:09] AjayBrahmakshatriya commented on #423
Will commenting the mentioned line lead to leaks for locally scoped frontiers, or if frontiers are created using new and delete?

[2018-11-14 09:00] agalup commented on #285
Can you add me here. I want to write based on my experience.

[2018-11-14 15:04] jowens commented on #285
We have nothing beyond what you see in gunrock/docs and the talks that @neoblizz / @sgpyc gave earlier this year at GTC. So whatever you want to write is very welcome.

[2018-11-26 19:59] ajaleel123 opened #442 "Running algorithms by providing a source list"
Hi,

We have been running Gunrock sssp with the following command

[code]

On Pascal, the above command was running fine, though we get a random number in the output for "Source vertex" see beow.

Source vertex: 3184103447833097273

Interesting, the same command no longer runs on Volta, in fact it crashes.

Any suggestions would be helpful.

Thanks,
  Aamer (and the NVIDIA team)

[2018-11-27 09:49] ychmc opened #443 "ERROR ENUMERATING CUDA DEVICES."
I have some problems when I make test. However, I didn't understand how the error has been resolved!
I'm Strange some tests is passed, but others are failed.The failed tests's problem is the same.
      Start  1: TEST_BFS
 1/11 Test  #1: TEST_BFS .........................   Passed    0.01 sec
      Start  2: TEST_BC
 2/11 Test  #2: TEST_BC ..........................   Passed    0.01 sec
      Star

[2018-11-27 18:42] neoblizz commented on #443
`CUDA driver version is insufficient for CUDA runtime version` I am not sure if the tests that pass really passed. If you can share the output of cmake verbose, we will be able to see if that's true.

Also, you need to update your nvidia driver. That is why this is failing.

[2018-11-27 18:42] #443 closed

[2018-12-02 11:08] archenroot commented on #433
@neoblizz - Actually I have found another library for multiGPU processing called Lux: https://github.com/LuxGraph/Lux

They claim to be using:

Maybe it is something to look at or just adopt :-)

[2018-12-02 12:21] archenroot opened #445 "Integration with Spark via RAPIDS"
I see big potential for Gunrock to integrate with RAPIDS:
https://github.com/RAPIDSai

RAPIDS implements GPU DataFrame (one of Spark base objects). Spark itself implements also extensions of DataFrame for graph processing in form of GraphX project, where Edge and Vertex DataFrame extended classes implemented. If RAPIDS support GraphX it could use Gunrock as raw engine for graph processing.

I open

[2018-12-02 14:52] jowens commented on #445
Kindly note "community contributors" at https://rapids.ai/community.html .

[2018-12-02 14:52] #445 closed

[2018-12-02 18:46] neoblizz commented on #111
@archenroot this repository IS the code for this paper, and under scripts, we have a lot of different tests that we can run to benchmark all of this.

Looking forward to some numbers. :)

[2018-12-02 18:58] neoblizz commented on #431
@archenroot as John pointed out in the RAPIDS issue, we are already one of the contributors to RAPIDS and in conversation with the NVIDIA folks.

I have not looked at LuxGraph yet, if I get a chance, I'll take a look -- but it seems like a project in progress. From first glance, I don't see a lot of algorithms mapped, legion is definitely interesting work!

[2018-12-02 19:01] neoblizz commented on #433
@archenroot we actually have `CSC` representation already, we have native support for `CSR`, `CSC` and `COO` representations and allow ability to add more.

[2018-12-03 07:39] archenroot commented on #431
@neoblizz - I see now, make sense. Thx for link about legion, looks promising.

[2018-12-03 07:40] archenroot commented on #433
@neoblizz - I need to dig more into gunrock more, I was focused on algo only so far, thx for explanation.

[2018-12-03 07:40] #433 closed

[2018-12-06 09:07] ychmc opened #446 "Result Is Incorrect from library about BFS in shared_lib_bfs"
When I use "make test " the result of shared_lib_bfs is:
[code]

I don't know what the label of Node[0]=Label [2147483647] and Node[1] = Label [2147483647]
happen

[2018-12-06 13:07] Michael2397 commented on #343
The problem is gcc version.
CUDA 9.1, with our Ubuntu 16.04 and gcc 5.4.0.  I am is Ok.

following this
mahmood@orca:~$ sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 10
update-alternatives: using /usr/bin/gcc-7 to provide /usr/bin/gcc (gcc) in auto mode
mahmood@orca:~$ sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-6 20
update-alternatives: using /usr/bin/gcc

[2018-12-06 14:11] Michael2397 opened #447 "python api or more examples"
Where can I find gunrock's API in python ? or there are more complex examples in python? thank you !

[2018-12-06 14:15] Michael2397 opened #448 "343"

[2018-12-06 15:09] #448 closed

[2018-12-06 18:13] neoblizz commented on #447
https://github.com/gunrock/gunrock/tree/master/python this is all we have right now, we are working towards a closer relation to python with gunrock's API.

[2018-12-06 18:13] #447 closed

[2018-12-06 18:34] neoblizz commented on #343
https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#system-requirements

[2018-12-07 18:13] Jakub-Golinowski opened #449 "Build problems + segfault on .mtx on Linux SUSE"
I am trying to build and use gunrock on the shared computing infrastructure and am facing problems described below.
### System specifics
**Distro:** SUSE Linux Enterprise Server 12 SP3  (x86_64)
**Kernel:** 4.4.143
**Built-in compiler:** gcc version 4.8.5 (SUSE Linux)
**GPU:** NVIDIA® Tesla® P100 16GB

On top of that the modules environment allows to easily how-swap the programming and CUDA enviro

[2018-12-14 02:06] BowieHsu commented on #345
i meet the same problem when i compile caffe on MacOs with egpu, I think the reason should be the conflict between Xcode version and boost version, i am now trying to downgrade my boost version to check this problem, you guys have anything new?

[2018-12-14 05:46] jowens commented on #345
We have nothing new. It does not seem like Apple is interested in either supporting NVIDIA eGPUs or NVIDIA's latest toolchain.

I'd like to see this fixed. I have two (useless) eGPUs at home and at work that I'm ready and willing to put through their paces with Gunrock.

[2018-12-16 14:06] archenroot commented on #343
@neoblizz - we are ready to go with cuda10 against gunrock?

[2018-12-16 17:35] neoblizz commented on #343
@archenroot yes, I have tested gunrock on CUDA 10 and latest NVIDIA drivers, work perfectly.

[2018-12-17 09:41] archenroot commented on #343
@mahmoodn - just for your info, I am testing Gunrock Java interface (to finally merge it into JavaCPP presets) and as Gentoo user I already migrated to GCC 7. By facing similar issues as you did. I finally found following setup which compiles  gunrock. So my env is:

- dev-util/nvidia-cuda-sdk-9.2.88
- dev-util/nvidia-cuda-toolkit-9.2.88
- sys-devel/gcc-7.3.0-r4 (r4 might be internal Gentoo subver

[2018-12-17 09:58] archenroot commented on #111
@neoblizz - can you do dummy test of Java API for Gunrock? Your system is pure DEV (with supported versions of boost/gcc/cuda, I am doing some hacks...so ...)
[code]

Thank you.

[2018-12-17 12:49] archenroot commented on #343
@jowens - was receiving in my env exactly this:
https://github.com/BVLC/caffe/issues/5994

[2018-12-17 17:23] neoblizz commented on #449
@Jakub-Golinowski what seems like is different configurations conflicting with each other. A question for you is when you switch and compile with a different gcc, how do you make that switch? What has worked for me in the past is `update-alternatives` instead of adding it in your bashrc.

[code]
The way you are building just for BFS should work, it shouldn't need the complete libgunrock.so, the on

[2018-12-17 17:40] neoblizz commented on #446
I think the label `2147483647` means MAX_INT value, or infinity. Have you tried running the same graph on another library and compared its results? Pretty sure the bfs is correct.

[2018-12-17 17:42] neoblizz commented on #442
@porumbes were you able to reproduce this?

[2018-12-17 17:43] neoblizz commented on #438
Waiting for Stepehen's reply, documenting stuff here.

[2018-12-17 17:47] neoblizz opened #451 "SNN/KNN -- allow to run SNN application with a flag..."
... currently it does KNN + SNN. Use an input parameter for this `--snn`.

SNN = Shared Nearest Neighbor
KNN = K-Nearest Neighbor

links:
https://github.com/gunrock/gunrock/tree/dev-refactor/gunrock/app/knn
https://github.com/gunrock/gunrock/tree/dev-refactor/tests/knn

[2019-01-05 13:18] Stefanlyy opened #452 "possible divergence and data race between block"
Hello there!

Currently I am learning gunrock source code and may find a barrier divergence and  a read-write data race for kernel function in gunrock/util/join.cuh.
For kernel function Join
[code]
In line 140, there is an if statement ```if(x>=0 && x<size * edges)``` ,but what confuses me is that line 150 Join calls _ syncthreads(), in other words, this barrier function in the branch will lead to

[2019-01-06 08:48] eagleShanf commented on #452
I found it is the same as line 228's function Collect(). Did we try to use it in a wrong way?

[2019-01-06 13:56] archenroot opened #453 "Combination with external K,V store"
I as I have that Java API in place, I am playing with idea (not much based on research) to do some simple POC for real world graph database in minimalist setup as follows:
When you store real data in graph you usually need more than ID of the vertices and edges. To both, you should be able to store some data/metadata. Gunrock cannot do this directly as designed as pure math based engine. So I was

[2019-01-06 18:13] jowens commented on #453
It is straightforward in Gunrock to store a struct per edge or per vertex (cf. edge weights in SSSP). Our ongoing graph-matching work (@Laurawly) also uses edge/vertex properties. We've had (small) discussions with Neo4j. That being said, storing significant amounts of data per edge/vertex has not at all been our focus. My general expectation would be that such a feature would require spilling to

[2019-01-06 18:15] jowens commented on #431
So it is really desirable from an API/implementation point of view to use CUDA's peer access feature within a node to access data across GPUs. DGX-2 supports this across all GPUs, for instance. However, this feature is not available between nodes.

[2019-01-06 18:44] archenroot commented on #453
@jowens - thx for response!

I understand storing metadata wasn't your focus. Also when you get to WHERE X=Y world, at the same moment you are leaving pure Graph world going closer to Cartesian world again :-), but one can really imagine that the properties of Vertices/Nodes could be really massive, so you need more VRAM and whole graph algorithm execution will be affected and it won't be efficien

[2019-01-06 18:48] jowens commented on #453
I think very highly of the OmniSci product and team :) (scroll down: https://www.omnisci.com/company/leadership-team/)   Integrating this is an interesting project, although it's not on our short-term roadmap.

We support:
- given one node, finding shortest path to any other node (SSSP)
- given a set of nodes, finding shortest path from anywhere in the set to any other node (vertex nomination)
but

[2019-01-06 18:50] archenroot commented on #453
I really not ask for support this :-), its more a discussion, I am myself also not capable to do this, but at least I was thinking to try some dummy POC, mapd has JDBC driver, I have Gunrock Java API working, so lets try some real world scenario with these 2 :-)

[2019-01-06 18:52] jowens commented on #453
My expectation is that processing on graphs with any sort of key-value store that doesn't have data directly attached as structs to vertices/edges will have its runtime dominated not by graph computation but instead by the key-value store.

[2019-01-06 18:54] archenroot commented on #453
Hm, true is that if you attach it directly to V/E, you don't need to offload all K/V pairs to VRAM, only those which are part of the query.

[2019-01-06 19:01] archenroot commented on #453
@jowens - Now I scrolled down a little bit more on OmniSci - haha :-) nice

[2019-01-07 21:58] ajaleel123 commented on #442
Can you let me know which version of Gunrock you are using?  Perhaps we
need to upgrade our Gunrock version.

On Tue, Dec 18, 2018 at 4:29 PM Serban Porumbescu <notifications@github.com>
wrote:

[2019-01-08 00:42] porumbes commented on #442
I've tried on both `master` (which should be version 0.4) and on `dev-refactor` (unlikely that you're working from here, but correct me if I'm wrong). The Quadro GV100 and the GTX 970 were on "Ubuntu 18.04.1 LTS" systems.

What system are you running on? Have you made any changes to cmake/make files?

[2019-01-08 07:15] sgpyc commented on #452
only @Laurawly 's subgraph matching app uses the join operator.
I do see what @Stefanlyy / @eagleShanf  mean for the divergence issue, and surprise the code didn't hang.

There is a different implementation under the dev-refactor branch, https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/util/join.cuh#L120 , and it doesn't use `__syncthreads()`. It should work better, but I'm not 100% su

[2019-01-08 16:13] archenroot commented on #453
@Laurawly - can you share your work on supporting data binding on V/E? Thx a lot for this exploration.

[2019-01-08 23:55] archenroot commented on #453
Just for full track of this discussion I started similar thread LuxGraph engine level (which uses GASNet for multi-node setup): https://github.com/LuxGraph/Lux/issues/1

[2019-01-09 00:14] archenroot commented on #453
@jowens additionally - I still believe that the idea of Key/Value store usage as property store might not be completely bullshit, but I totally agree that such K/V store must be fully integrated in Vertices/Edges to prevent runtime overhead as much as possible as you stated.

And I found project called Mega-KV (GPU accelerated K/V store), I need to think more about the function flows about how it

[2019-01-09 21:31] Laurawly commented on #453
@archenroot I use simple K/V pair to store the edge/vertex info

[2019-01-10 02:34] jowens commented on #453
I think storing keys in GPU memory and values in CPU memory has merit. It's the staging of appropriate values to GPU memory at the right time that is the challenge.

I think I would begin with a concrete problem that needs a K/V store where K+V exceeds the size of GPU memory and think about what that solution would look like before worrying about the general solution.

[2019-01-11 00:03] neoblizz opened #454 "Get Edge from Source and Destination"
We have get src and dest from an edge, but I want the opposite:

https://github.com/gunrock/gunrock/blob/dev/gunrock/graph/csr.cuh#L465-L470

[2019-01-11 00:15] neoblizz opened #455 "Write C and C++ API calls for primitives in dev-refactor"
- [x] ... look at PageRank in dev-refactor for example. Needs more attention to properly define the API just so we can use that as an example for all the rest.
- [x] Update `gunrock.h` file with the new calls.
- [x] Add and update python calls to C interface.

[2019-01-11 00:16] neoblizz opened #456 "CMakeLists.txt for dev-refactor release"
Update after issue #455.

[2019-01-11 07:49] archenroot commented on #453
@jowens - on one of solution I work on the graph database is having properties very long (could reach even 500 and more characters), but that is more issue with engine capabilities and compromise between fast traversal access (indexes generation), but it is simply not optimal. One optimization was done, we hash main properties (identification values) with SHA(1 at moment) which gives fixed size of

[2019-01-14 01:51] lushl9301 opened #457 "How to use gunrock to solve constraint shortest path"
I wonder how should I use gunrock framework to develope a solver for resource constrained shortest path.

Quote from https://www.boost.org/doc/libs/1_69_0/libs/graph/doc/r_c_shortest_paths.html
The shortest path problem with resource constraints (SPPRC) seeks a shortest (cheapest, fastest) path in a directed graph with arbitrary arc lengths (travel times, costs) from an origin node to a destinatio

[2019-01-14 20:05] jowens commented on #457
So it seems like a large time investment to just understand the space of these algorithms, but I might start by seeing if there's a way to go from Gunrock's SSSP implementation (which seems to have some of the right ingredients) to something that solves at least the flavor of SPPRC in which you're interested. It may be that the decision procedure by which we accept/reject paths in SSSP can be chan

[2019-01-14 22:16] jdwapman opened #458 "pr test segmentation fault with rgg"
Intermittently, running the pr test in tests/pr/ produces a segmentation fault when run with the rgg option under the dev-refactor branch.

CUDA Version: 9.0.176
OS: Ubuntu 16.04
GPU: GTX 1060
branch: dev-refactor

To reproduce:
`cd /gunrock/tests/pr`
`make`

Then, repeatedly run `./bin/test_pr_9.0_x86_64 rgg` until the segmentation fault occurs. No parameters are changed between runs

Failure out

[2019-01-14 22:20] jowens commented on #458
Based on where this happens, almost certainly this is in the CPU portion (before any GPU code is called).

@jdwapman can you narrow down where it happens? Compiling in debug mode perhaps would allow you to run it under the debugger.

[2019-01-15 03:18] lushl9301 commented on #457
There will be a lot of labels generated during the processing of SPPRC.  I wonder if Gunrock could handle the huge size of search space.

[2019-01-15 04:35] jowens commented on #457
Gunrock won't go beyond GPU core memory. I suppose it could be hacked to use unified memory to CPUs, but it would run terribly since we haven't looked at that case at all. So if the label size is in fact bigger than aggregate GPU memory on a single node, we're a bad fit.

[2019-01-15 06:41] lushl9301 commented on #457
thanks. I will be looking into how to implement SPPRC using gunrock with the assumption that it won't go beyond the GPU memory.

[2019-01-15 06:41] #457 closed

[2019-01-15 16:23] neoblizz commented on #457
@lushl9301 the SSSP implementation in `dev-refactor` branch is a good start: https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/app/sssp/sssp_enactor.cuh#L87-L147

[2019-01-15 18:41] jdwapman commented on #458
The error appears to occur when converting the randomly-generated graph from CSR to COO format in gunrock/graph/coo.cuh at line 224.

[code]

[2019-01-15 18:48] jowens commented on #458
So first, identify (through checkin history) who wrote that code. Possibly one of two things could be wrong? The first is that the input to the `ForAll` loop is malformed (`column_indices` or `row_offsets` is incorrect). The second is that the lambda in that `ForAll` is out of bounds. It doesn't look like the debugger is being particularly helpful in saying exactly where the error is in the lambda

[2019-01-15 18:55] jowens commented on #458
Also might be possible that the OpenMP parallelization is borked (run it with one thread and see if it magically clears up).

[2019-01-16 07:08] lushl9301 commented on #457
thanks :D. I am looking at it since it is illustrated during GTC.

[2019-01-16 18:52] porumbes commented on #458
@neoblizz and I have also managed to reproduce the issue on 970 GPUs. I'll dig deeper now that we can reproduce easily in multiple places.

[2019-01-16 19:07] neoblizz opened #459 "Code-coverage should be optional"
If this is enabled, it will require installation of `lcov`, so we should only enable this if `GUNROCK_CODE_COVERAGE` variable is set, just like how we do it for `GUNROCK_GOOGLE_TESTS`:

https://github.com/gunrock/gunrock/blob/fd9e1ce6c5f644b3c9478108727b40defc9dbf00/CMakeLists.txt#L89-L93

[2019-01-16 20:36] porumbes opened #460 "pr (PageRank) Build error on dev-refactor"
**Summary:** Building with an SM_TARGET below SM60 on Maxwell architecture cards generates the following error:

[code]

**Reproducibility:** Always

**Steps to Reproduce:**

1. Clone gunrock
2. Switch to the dev-refactor branch
3. Make sure to:
$ git submodule init
$ git submodule update

Set `SM_TARGETS = $(GEN_SM50)` in tests/BaseMakefile.mk
$ cd tests/pr
$ make

**Expected Results:**

Build co

[2019-01-16 20:52] porumbes commented on #460
@neoblizz and I have discussed the potential fix.

[2019-01-21 23:16] neoblizz opened #464 "json (boost and rapidjson) don't get updated values in an app..."
Using `parameters.Use()` doesn't actually set the value for the json output. One possible work around is to use `SetVal` instead.

Possible cause: json gets generated before the `.Set` updates the parameters values.

[2019-01-22 00:07] #438 closed

[2019-01-22 00:08] #446 closed

[2019-01-22 01:12] #32 closed

[2019-01-22 07:12] bookug opened #465 "subgraph matching"
Can Gunrock support subgraph macthing now?
Which kind is provided by default, subgraph isomorphism or homophism?
In subgraph matching, the edge label is important, how do you store a data graph with edge labels?
(teh edge label is different from weights in SSSP, because we may do operation like N(v,l) to extract the neighbors of a vertex with given edge label)

[2019-01-22 14:56] jowens commented on #465
Our work here is still in progress. No updates at this time.

[2019-01-22 18:13] Laurawly commented on #465
@bookug Currently, a version developing subgraph matching is available at dev branch. And I'm working on a refactored version of it.
It supports subgraph isomorphism. We didn't target on homomorphism.
The edge labels are stored in key value format corresponding to edge ids. Could you elaborate more on operation N(v,l)?

[2019-01-23 04:38] bookug commented on #465
the operation of N(v,l) is: given a vertex v and a edge label l, I want to extract the neighbors of v whose edge label is l.
It seems Gunrock uses CSR structure for storage?(row offset, column index, edge value)

[2019-01-23 05:07] jowens commented on #465
@sgpyc can check me on this, but `N(v,l)` appears to me to be Gunrock's V-to-E advance operator with an advance operation ("The advance operation is a function that runs on a potential vertex in the output frontier. It returns true or false, and only if it returns true is that potential vertex placed in the output frontier. It can also modify data stored in the output vertex.").

[2019-01-23 07:32] bookug commented on #465
Another question: for directed graphs with edge labels, how large can Gunrock support now? tens of millions of nodes or edges?

[2019-01-23 13:35] jowens commented on #465
Whatever fits into GPU memory (including any temporary data structures we need to perform the computation).

[2019-01-24 01:56] jdwapman opened #467 "HITS GPU Result Incorrect"
The HITS GPU implementation under gunrock/dev appears to be incorrect. (gunrock/examples/hits)

OS: Linux Ubuntu 16.04
GPU: Tested with GTX 1060 and 970 individually
CUDA Version: 9.0
branch: dev

First, start with a simple directed graph, where nodes 1 and 2 both point to node 3.

testMatrix:
[0, 0, 1;
 0, 0, 1;
 0, 0, 0]

[code]

For this graph, it is simple to see that both node 1 and node 2 sh

[2019-01-29 18:42] neoblizz commented on #451
Fixed in #472

[2019-01-29 18:42] #451 closed

[2019-01-31 19:39] porumbes opened #473 "Improve Gunrock building / compiling speed."
**Feature Description:**

Compiling Gunrock and / or its various apps is much too slow. Faster compilation will
* generally improve productivity
* make `printf` debugging easier (for those times when cuda-gdb doesn't seem to work)
* make it easier for new users to explore the codebase and see the results of their changes

**Describe the solution you'd like:**

I'd like to see faster build times.

[2019-02-02 01:06] neoblizz commented on #460
Fixed by @porumbes in #461

[2019-02-02 01:06] #460 closed

[2019-02-04 23:55] maawad opened #481 "rgg row_offsets bug"
**Summary:**
Generated RGG graph `row_offsets`'s last two values are not correct. `row_offsets[i+1] < row_offsets[i]` for the last vertex.

**Reproducibility:**
Always using the steps below.

**To Reproduce:**
In dev-refactor branch. You can add this debugging code in [`rgg.cuh`](https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/graphio/rgg.cuh#L380) after the graph is generated.
[code]

[2019-02-05 03:15] maawad commented on #481
This last loop ([rgg.cuh](https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/graphio/rgg.cuh#L350)) never touches the last entry in `row_offsets`. So, I think the easy solution is just to add this statement in the end (after the parallel work is done):
`row_offsets[num_nodes] = row_offsets[num_nodes-1]`

[2019-02-07 00:42] maawad commented on #481
This doesn't look correct as well ([rgg.cuh](https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/graphio/rgg.cuh#L297)). If the point lies inside the first two rows (or columns) this loop will never execute.

Something like this is one fix:
[code]

@sgpyc @neoblizz @porumbes
Let me know if this makes sense.

[2019-02-07 12:31] mahmoodn opened #482 "BFS kernels"
This is not a bug though...
With nv profiler, I see a kernel nam as `void gunrock::oprtr::edge_map_forward::Kernel<gunrock::oprtr::edge_map_forward::KernelPolicy<gunrock::app::bfs::BFSProblem<int, int, int, bool=0, bool=0>, int=300, int=1, int=7, int=1, int=0, int=5, int=32, int=512, int=7>`

What is the actual name of the kernel? I grepped edge_map_forward or BFSProblem and found many instances.

[2019-02-11 00:28] maawad opened #483 "TC segmentation fault before validation"
**Summary:**
TC crashes before validation.

**Reproducibility:**
Always.

**To Reproduce:**
1. dev-refactor branch
2. run make in `gunrock/tests/tc`
3. run `./bin/tc_main_10.0_x86_64  market /data/gunrock_dataset/large/coAuthorsDBLP/coAuthorsDBLP.mtx`

**Actual Results:**
Crashes just before validating the results (probably [here](https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/app/tc

[2019-02-12 03:59] maawad commented on #483
Okay, I think I see where the problem is here.
The intersection kernel is counting intersections per [**edge**](https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/oprtr/intersection/kernel.cuh#L237), but the reference code is counting per [**vertex**](https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/app/tc/tc_test.cuh#L150). Also the [validation code](https://github.com/gunro

[2019-02-12 04:13] jowens commented on #483
@Laurawly please help with this

[2019-02-12 19:21] Laurawly commented on #483
@jowens Lemme take a look

[2019-02-13 18:33] jdwapman opened #484 "TestGraph CSC error"
**Summary:**
The TestGraph will not load a graph in CSC format with the CSR format also present.

**Reproducibility:**
Always

**To Reproduce:**
1. Clone gunrock
2. Switch to the dev-refactor branch
3. Open `test_hello` in the Hello app

Make sure to:
$ git submodule init
$ git submodule update

**Expected Behavior:**
The test graph should be able to support CSR and CSC matrices.

**Actual Results

[2019-02-13 18:47] jdwapman commented on #473
I attempted some tweaks to compilation by having the Makefile only compile changed files. This appears to work for source files (.cpp, .cu), but from what I've been seeing online, nvcc doesn't support precompiling of .cuh header files, which is where quite a bit of Gunrock's code is. Perhaps it would be useful to separate these into .cu and .cuh files in the future?

[2019-02-13 18:47] jdwapman commented on #473
[code]

[2019-02-13 18:54] jdwapman commented on #467
Fixed in dev-refactor

[2019-02-14 16:29] mahmoodn commented on #482
@jowens
Excuse me... Can you help?

[2019-02-14 16:53] neoblizz commented on #482
It is difficult to decipher the kernel names, the one you are looking at is in gunrock -> oprtr -> an edge_map_forward kernel launch: https://github.com/gunrock/gunrock/tree/master/gunrock/oprtr/edge_map_forward

[2019-02-14 16:53] #482 closed

[2019-02-14 16:56] neoblizz commented on #481
This makes sense, if you can apply the fix and create a PR, I can review it.

[2019-02-14 16:58] neoblizz commented on #482
If you are deep-diving into the code, I will highly recommend to switch to dev-refactor branch: `git checkout dev-refactor`. BFS is not refactored yet, so that will only be in `master` or `dev` branches.

[2019-02-14 16:58] #465 closed

[2019-02-14 16:59] neoblizz commented on #465
We can report back here once SM application is working.

[2019-02-14 17:03] neoblizz commented on #473
One possible solution is to switch to Ninja as the default build system.

[2019-02-15 16:04] #481 closed

[2019-02-15 16:13] neoblizz commented on #458
Fixed in #485

[2019-02-15 16:13] #458 closed

[2019-02-17 15:33] neoblizz commented on #430
I believe this was answered, if the issue persists please re-open and post an update.

[2019-02-17 15:33] #430 closed

[2019-02-17 15:54] neoblizz commented on #359
Unable to reproduce this on a 100 runs on different configs, I am assuming this is fixed in 410.72 (I don't get this on past drivers as well).

[2019-02-17 15:54] #359 closed

[2019-02-17 15:59] neoblizz commented on #324
I believe this issue was resolved in later driver and CUDA updates, unable to reproduce this with the latest toolkit.

[2019-02-17 15:59] #324 closed

[2019-02-17 16:01] #449 closed

[2019-02-17 16:04] neoblizz commented on #233
- [x] A*
- [x] HITS
- [ ] SALSA
- [x] TC
- [x] LP
- [ ] SM

[2019-02-17 16:11] neoblizz commented on #352
This is in the issues for documentation purposes, we need to test everything out for first release using `dev` and then finally `dev-refactor`. All these changes should work though.

[2019-02-17 16:11] #352 closed

[2019-02-17 16:27] neoblizz commented on #232
[x] HITS (fixed version in dev-refactor)
[ ] SALSA
[ ] TC
[ ] LP
[ ] SM

[2019-02-18 14:51] SphagnumMoss opened #487 "python SSSP float weights"
It would be great if gunrock called from python could handle float values for edge weights.

e.g.
[code]

where:
**`val`**

is a list of float values.

[2019-02-18 17:07] neoblizz commented on #487
@SphagnumMoss This will be officially addressed in the later releases, but few small simple changes will allow you to use floats for edge weights;

[code]

I didn't check for correctness.

[2019-02-18 17:12] neoblizz commented on #487
Also, note that I am using `valf.txt` instead of `val.txt`, it is just a new file with 26 random floats.

[2019-02-18 17:15] neoblizz commented on #487
Download the file: [sssp.txt](https://github.com/gunrock/gunrock/files/2876771/sssp.txt) into the main directory of gunrock repository, then do:

[code]

[2019-02-18 20:42] #459 closed

[2019-02-19 08:49] SphagnumMoss commented on #487
that is fantastic, thank you so much!

is there any way to determine/extract the path of nodes that sssp took to achieve the shortest path?

[2019-02-19 10:35] SphagnumMoss commented on #487
`
 sssp labels (distance):
3166850515
4051470165
3124693733
3047988302
3008087720
3047436667
3086687970`

I'm getting strange results, I've tried also with **`labels`** as float and the returned values do not make sense, is there something I'm overlooking?

[2019-02-19 15:27] rachelglenn opened #488 "Cannot find source file externals/moderngpu/src/mgpucontext.cu"
Hi i get the following output when building:

-- Boost version: 1.65.1
-- Boost version: 1.65.1
-- Found the following Boost libraries:
--   system
--   filesystem
--   timer
--   chrono
-- Found OpenMP_C: -fopenmp
-- Found OpenMP_CXX: -fopenmp
-- Found OpenMP: TRUE
-- Found OpenMP
-- Found Metis
-- Project Added: bc
-- Project Added: bfs
-- Project Added: cc
-- Project Added: pr
-- Project Added:

[2019-02-19 15:32] neoblizz commented on #488
Check if `externals` directory is empty. If so;
[code]

[2019-02-19 16:42] rachelglenn commented on #488
Thanks, it makes sense now why the files were missing. I ran those commands.

Can I ask for help when running. It seems to be with moderngpu.

[  1%] Building NVCC (Device) object gunrock/CMakeFiles/gunrock.dir/__/externals/moderngpu/src/gunrock_generated_mgpucontext.cu.o
cc: error: unrecognized command line option ‘-fopenmp=libomp’; did you mean ‘-fopenmp-simd’?
CMake Error at gunrock_generated_m

[2019-02-19 17:00] neoblizz commented on #488
@rachelglenn can you try removing everything in that directory, then run:
[code]
again?

[2019-02-19 19:53] neoblizz commented on #487
Hm, I'll take a look. That seems odd.

[2019-02-20 11:53] rachelglenn commented on #488
Yes, that is a good idea. I started over. i have it building now. Thank you.

I am working on getting it to pass make test now. I will close this.

[2019-02-20 11:53] #488 closed

[2019-02-20 22:07] Laurawly commented on #483
@jowens @maawad @neoblizz Solved by PR #490
@maawad Note that if you're running TC on mario, BaseMakefile.mk needs to be changed to compile with SM35/37.
[code]

[2019-02-21 00:04] #483 closed

[2019-02-21 00:07] larzw commented on #213
Hi, just curious on the status of this?

[2019-02-21 00:16] jowens commented on #213
We haven't worked on this at all. Not a priority for the work we're trying to do nor for the kind, brilliant, extremely good-looking folks who fund the work we do.

[2019-02-21 01:41] larzw commented on #213
@jowens Thanks for letting me know and all the great work on this!

[2019-02-21 02:57] rachelglenn opened #491 "Interpretation of test failing"
Hi, I was able to compile Gunrocks. Boost 1_58, NVCC 9, GCC-5.5, Ubuntu 18.04. The make check tests are failing. It would be really helpful if could get some help understanding the output. Here is a summary of the test failing.

Test project /home/jackie/Desktop/workspace/gunrock/build
      Start  1: TEST_BFS
 1/11 Test  #1: TEST_BFS .........................***Failed    0.04 sec
      Start  2:

[2019-02-21 03:01] neoblizz commented on #491
@rachelglenn GF-675M is of compute architecture 20 or 30, that's a pretty old card. Try removing everything in your build directory and setting these two in the CMakeLists.txt file to `ON`:

https://github.com/gunrock/gunrock/blob/master/CMakeLists.txt#L183-L189

And then build again like you did last time.

[2019-02-22 21:57] rachelglenn opened #492 "Possible missing file cpu_graph_lib.cpp"
Awesome code, by the way. Hey, I saw the simple example folder and am trying to compile it. It is missing the file cpu_graph_lib.cpp and cpu_graph_lib.hpp.

[2019-02-23 00:13] neoblizz commented on #491
Closing this, I am guessing the above changes worked for you?

[2019-02-23 00:13] #491 closed

[2019-02-23 00:25] neoblizz commented on #492
Thank you, we haven't done a lot to keep the simple_example updated. It is actually just 3 primitives combined using one test driver script, and not very informative. I would recommend you try out one of the individual tests instead.

1) Use `cmake` to build the whole project and try out different binaries for yourself, the binaries will be found in `/path/to/build/directory/bin`, let me know if t

[2019-02-23 00:27] neoblizz commented on #492
We tried to do a better job by creating a simple example called `hello` in our `dev-refactor` branch, which also uses simpler and better APIs, and is easier to write your own primitive in. Code is a lot cleaner there, a release is scheduled for this new stuff in near future. Note that not all algorithms from `master` branch are ported to `dev-refactor` yet. To try out the dev-refactor branch, do t

[2019-02-23 00:28] neoblizz commented on #492
Final note; since you are running an old GPU, make sure you choose the right architecture before running `make`: https://github.com/gunrock/gunrock/blob/dev-refactor/tests/BaseMakefile.mk#L27-L41 for dev-refactor and master branch.

[2019-02-23 13:04] rachelglenn opened #494 "Use case SSSP: Custom Functor Values"
Hi, I am wondering if it would be possible to do run a sssp with a custom functor function that we could apply to the edges. SSSP would use the custom functor value first and then distance associated with the edge to evaluate an filter operation. After reading your paper, I think that filter operation is the correct terminology. Please correct me if I am incorrect. Can we get it to return:

1) the

[2019-02-23 13:08] rachelglenn commented on #492
Thank you very much. I am going to go test the #491 as soon as I can. Probably some time during the week this next week.

[2019-02-23 13:08] #492 closed

[2019-02-23 14:29] rachelglenn opened #495 "tests not comipling"
Hi. I am trying to get the tests to compile and am not able to get it to work. I am getting a undefined reference to `gunrock::util::GREError`. I tried to compile the salsa and sssp tests.

Here is some of the output:

[code]

[2019-02-23 14:48] neoblizz commented on #495
I fixed this in PR https://github.com/gunrock/gunrock/pull/493, please do `git pull` and get the latest commit that fixes this problem, or make the following change and compile again:

https://github.com/gunrock/gunrock/pull/493/commits/b47a1252fa1ba3c68f5f355a47efce843ad0312a

[2019-02-23 16:23] neoblizz commented on #494
Can you give me an example of what those custom values would look like? Maybe a pseudo-algorithm for this enhancement?

Also, I will **highly** recommend making these changes in our new API under `dev-refactor`, it will be a lot easier and will be supported with future releases. To try `SSSP` for `dev-refactor`, do the following (like I explained in the issue #492.

[code]

Here;s the code that yo

[2019-02-23 19:51] neoblizz commented on #379
See issue #473

[2019-02-23 19:51] #379 closed

[2019-02-25 06:53] bookug commented on #424
is the subgraph isomorphism done now? I see the `sm` command after I compile the Gunrock project...

[2019-02-25 09:52] jowens commented on #424
We continue to be actively working on this. But no.

[2019-02-25 19:02] neoblizz opened #496 "Connected Components (CC) port to dev-refactor"
Issues to consider when porting: https://github.com/gunrock/gunrock/issues/61 and https://github.com/gunrock/gunrock/issues/67.

For reference, use CC implementation in master or dev: https://github.com/gunrock/gunrock/tree/master/gunrock/app/cc
https://github.com/gunrock/gunrock/tree/dev/gunrock/app/cc

[2019-02-26 16:55] jowens opened #498 "SSSP: --src=largestdegree is using 0?"
**Summary:**
"For SSSP, we also found that Gunrock is using root=0 even when the –src=largestdegree  is given."

@ogreen can you help fill this in? Ask Euna to help?

@sgpyc @neoblizz @porumbes can you help?

**Reproducibility:**
Always or Sometimes

**To Reproduce:**
Detail the steps necessary to reproduce the behavior.

For example:
1. Clone gunrock
2. Switch to the dev-refactor branch

Make sur

[2019-02-26 21:54] neoblizz commented on #498
Can't reproduce for the dataset being used for the paper (using the script under `/dataset/test-scripts/grapl19/`):

[code]

[2019-02-26 22:10] jowens commented on #498
@ogreen can you clarify?

[2019-02-26 22:51] ogreen commented on #498
I will ping Euna.

[2019-02-27 03:01] eunaeuna commented on #498
I believe I've seen that phenomenon for myself as well but I can not reproduce it now....
Instead, I am sharing Zahra's script and log files.
---------------------------------------------------------------------------------------------------------
For example, run sssp with cit-Patents.mtx graph.
1. SET[0]: sssp market ../../dataset/large/cit-Patents/cit-Patents.mtx --src=0 --iteration-num=10 --qu

[2019-02-27 04:35] neoblizz commented on #498
Seems really odd, I ran 10 tests on `cit-Patents` and other datasets:

[code]

Not sure why the `--src=largestdegree` is `0`, because it is **trying** to find the highest degree node when it says:
[code]

in all my test it chooses the right node. Will look into this more if I get some free time over the weekend.

[2019-02-28 04:39] neoblizz opened #500 "Updated FAQ for release"
Assigning this to @jowens, but we can sit down and do this together over slack. https://github.com/gunrock/docs/blob/master/source/includes/frequently_asked_questions.md

[2019-02-28 04:55] neoblizz commented on #218
Closing this issue, does not seem relevant now. Reopen if needed.

[2019-02-28 04:55] #218 closed

[2019-02-28 04:56] neoblizz commented on #221
Closing this issue, does not seem relevant now. Reopen if needed.

[2019-02-28 04:56] #221 closed

[2019-02-28 05:01] neoblizz commented on #161
See issue #231 (main issue).

[2019-02-28 05:01] #161 closed

[2019-02-28 05:04] neoblizz commented on #111
Also see issue #231

[2019-02-28 05:16] neoblizz commented on #452
@Laurawly some comments on this will be appreciated! Since we don't plan on supporting SM in `dev` branch, you think this will not be an issue in `dev-refactor`? (something to keep an eye on while you finish up your SM app. 👍

[2019-02-28 05:22] neoblizz commented on #424
Talked to @Laurawly, possible release planned with `dev-refactor` branch. Closing this right now, will create a new issue for SM.

[2019-02-28 05:22] #424 closed

[2019-02-28 05:24] neoblizz opened #501 "Subgraph Matching (dev-refactor)"
Issues to consider: https://github.com/gunrock/gunrock/issues/452

Looking forward to this with the dev-refactor release. Please mention this issue with the pull request you create when SM is ready.

[2019-02-28 05:25] neoblizz commented on #465
See issue #501 for updates on this.

[2019-02-28 05:28] neoblizz commented on #495
@rachelglenn did you get a chance to try the fix? Any feedback is helpful. Thanks!

[2019-02-28 05:29] neoblizz commented on #487
Still looking into this, the problem you saw with the output is because distance array needs to be float as well. I will post a fix for this with dev-refactor branch instead (much easier to work with types there).

[2019-02-28 05:30] neoblizz commented on #442
May be related to #498, but I am unable to reproduce this issue or issue 498. Need more information.

[2019-02-28 10:15] SphagnumMoss commented on #487
Thank you for your help,

I have tried with the distance array as float:

**sssp_app.cu**

[code]

and  **gunrock.h**

[code]

and my returned values with **single_source_shortest_path.py** is:
[code]

[2019-02-28 19:01] Laurawly commented on #452
Just as @neoblizz said, I'll keep the dev-refactor branch up-to-date with my subgraph matching implementation. The original join operator is kinda abandoned now. Please refer to the other branch. Thanks!

[2019-03-01 00:28] #452 closed

[2019-03-01 07:55] neoblizz commented on #467
New implementation of HITS in PR #499, see commits: 91bf87d, fb4820b and 5c8cc75. Regression test added in CMake for release as well. Tested chesapeake, bips, hollywood. See `dev-refactor` branch for all future optimizations.

[2019-03-01 07:55] #467 closed

[2019-03-01 16:42] neoblizz opened #502 "ASTAR: Path validity failing on multiple tries"
Path validity failing on multiple tries.

[code]

_Originally posted by @neoblizz in https://github.com/gunrock/gunrock/pull/499#issuecomment-468129892_

[2019-03-01 16:43] neoblizz commented on #233
SM removed from this issue and `dev` branch.

[2019-03-01 17:35] neoblizz commented on #233
Commit for SALSA: ea63f18

[2019-03-01 18:58] neoblizz opened #503 "WTF: Illegal Memory Access"
**Summary:**
Running WTF application results in illegal memory access.

**Reproducibility:**
Always

**To Reproduce:**
[code]

**Expected Behavior:**
I am not sure what the expected output is, something like (but this result is buggy):
[code]

**Actual Results:**
[code]

Solved one of this by allocating memory for the frontier queue.

[code]

_Originally posted by @neoblizz in https://github.com/g

[2019-03-01 19:10] #233 closed

[2019-03-01 19:11] neoblizz commented on #232
SM is gonna be in refactor (ignore that in this issue).

[2019-03-01 22:17] neoblizz commented on #129
Leyuan clarified:

Removing it from `dev` branch. See commit 48e99b2.

[2019-03-01 22:17] #129 closed

[2019-03-03 16:25] neoblizz opened #510 "Add code of conduct..."
... to improve community profile: https://github.com/gunrock/gunrock/community.

Template can be used for code of conduct: https://github.com/gunrock/gunrock/community/code-of-conduct/new

[2019-03-05 22:11] #503 closed

[2019-03-08 06:24] neoblizz opened #517 "Breadth-First Search (BFS) port to dev-refactor"
Creating an issue for this to keep track of things.

[2019-03-08 06:26] neoblizz opened #518 "Doxygen for v1.0.0 release"
Fix all the comments per doxygen's standard (basically means to make sure warn.log is empty before release) and cry. 😭

[2019-03-11 17:41] maawad opened #519 "TC invalid results"
**Summary:**
Validation fails.

**Reproducibility:**
Always.

**To Reproduce:**
1. Switch to the dev-refactor branch
2. make the TC test
3. run the test using arguments `rgg --rgg-thfactor=0.3`. (generally fails when the #edges < #vertices)

**Actual Results:**
Results are not correct.
[code]

**System Configuration:**
Luigi.
GPU: K40c
CPU: Intel(R) Xeon(R) CPU E5-2637 v2 @ 3.50GHz
OS: Ubuntu 16.0

[2019-03-12 20:42] #519 closed

[2019-03-22 21:22] LoganWalls opened #522 "BC Test Script GPU/CPU Usage Behavior"
I am trying to run a very large graph using the bc test script with `--src=-1` and `--quick` options. Based on the output from `nvidia-smi`, GPU usage stopped a while ago. However, the graph still appears to be in GPU memory (there is still large GPU memory usage with no GPU computations happening). Meanwhile, CPU usage remains very high.

Is this expected behavior for the BC script? If so, does t

[2019-03-31 17:46] porumbes commented on #522
@LoganWalls can you give me some additional information about the graph itself (e.g., number of vertices, number of edges,  scale-free)?

[2019-04-01 17:06] LoganWalls commented on #522
@porumbes

No problem, here are the stats printed at the beginning of the job:

[code]

The edges are weighted (though I don't know if that matters for this bc script?).

[2019-04-02 01:54] neoblizz commented on #522
Some quick things you can test on your end, does it run with `src=0` or with other larger graphs like `hollywood.mtx`, you can find these under `datasets` directory in gunrock.

[2019-04-03 21:03] LoganWalls commented on #522
@neoblizz I ran  it and got the following output:

[code]

[2019-04-03 21:36] neoblizz commented on #522
@LoganWalls so it's working with `src=0`, I didn't mention it earlier, but setting the `src=-1` will take a very long time. It runs full BC (you can try that with hollywood and see if it works).

[2019-04-03 21:39] jowens commented on #522
@neoblizz : using `src=-1` uses BGL?

[2019-04-03 22:04] LoganWalls commented on #522
Thank you for your help!

My intention is to run a full BC (which I know will take a long time). I'm mostly trying to understand whether it is normal for GPU usage to stop after a period of time (since that is what I'm observing).

Is there any point in a normal full BC run where the GPU computation will stop completely and the CPU will be under heavy load? (The data appears to be still loaded in

[2019-04-03 22:06] sgpyc commented on #522
`src=-1` won't run BGL, but run the BC implementation on GPUs for each vertex and accumulate the results.
In the past, we mostly focused in testing BC for single-vertex runs, and only tested the all-vertex BC on tiny to small graphs because it's very time consuming.

@LoganWalls do you really need the actual all-vertex BC results? People normally use GPU clusters / supercomputers for graphs even s

[2019-04-03 22:07] jowens commented on #522
This needs to be fixed in the help msg then.

[2019-04-03 22:07] jowens commented on #522
@LoganWalls : It's entirely possible that with a graph that size, it really will take weeks to do the full BC.

[2019-04-03 22:08] jowens commented on #522
@LoganWalls but this behavior your note does seem odd, I agree. I would not expect this.

[2019-04-03 22:12] sgpyc commented on #522
@LoganWalls if the GPU part really stops, the program should be in the reporting and cleanup routines, since you already disable the CPU reference check via `--quick`. Does the program print something to cout or write something to the disk (`--json` will write the json output to disk)?

[2019-04-03 22:33] LoganWalls commented on #522
@sgpyc  It has been running for about 6 weeks now, the output so far is as follows:
[code]

[2019-04-03 22:34] LoganWalls commented on #522
It has been using CPU only for at least a week at this point.

[2019-04-03 22:41] sgpyc commented on #522
It should print `--------------------------
iteration 0 elapsed: xxxxx ms, src = -1` to cout when the GPU computation stops.
I don't think there is CPU workload before the GPU computation stops.

[2019-04-03 22:43] LoganWalls commented on #522
@sgpyc Ah, I see.
In that case, should I assume that it has probably run into a problem? (I don't want to keep the job running if it is stuck).

[2019-04-03 22:47] sgpyc commented on #522
@LoganWalls  I saw your cout log has been cut-off (the last resizing line is only half). Can you double check that?

[2019-04-03 22:51] LoganWalls commented on #522
@sgpyc Yes, that appears to be how the log is on disk.

[2019-04-03 23:00] sgpyc commented on #522
@LoganWalls  The end of iteration message is followed by `fflush(stdout);`, so I guess it's likely that something went wrong before reaching there.
One quick check, can you see how many CPU cores the program is actively using? It should use 4 threads, one per GPU, during the GPU computation, and only 1 thread after the GPU part

[2019-04-03 23:06] LoganWalls commented on #522
It appears to be using 33 threads (based on `/proc/{pid}/status`), though the CPU usage for the process on `top` hovers around 31X.X%.

[2019-04-03 23:11] sgpyc commented on #522
I guess that means the multi-GPU framework ran into a deadlock.
A few weeks for a single run is much longer than the program has been tested for.

[2019-04-03 23:54] LoganWalls commented on #522
@sgpyc
Ah, I see. Thank you very much for your help!
I will kill the job for now, and look into the vertex sampling you mentioned.

[2019-04-12 20:55] neoblizz opened #526 "Extending Gunrock to python"
**Feature Description:**

https://github.com/gunrock/pygunrock is one of the efforts that shows how we may be able to map Gunrock's programming model using python. Currently, one of the challenges is to determine what python binding works with our C++ functions:

**Current python resources**

- https://cython.org/
- https://github.com/cupy/cupy (uses cython)
- https://cffi.readthedocs.io/en/latest

[2019-04-15 21:04] Rickyboy320 opened #527 "CUDA 10.1 support"
Hi,

Currently trying to build with CUDA 10.1 on the latest master (efaf39c55f36a17212c880397b0b0654b57a7de3) results a lot of error messages like this:
ptxas /tmp/tmpxft_000011a1_00000000-5_bfs_app.compute_70.ptx, line 104919; error   : Instruction 'shfl' without '.sync' is not supported on .target sm_70 and higher from PTX ISA version 6.4

Previously this was only deprecated, but in [CUDA 10.1 (

[2019-04-15 21:06] neoblizz commented on #527
The error you are seeing is due to some of the now deprecated instructions. Thank you for bringing this up, we plan to support CUDA 10.1+ with the next release (and it should trickle down to current release as well).

[2019-04-25 11:06] mahmoodn opened #528 "Should rmat generate an output file?"
Hi,
I would like to know is it possible to use `rmat` while giving an .mtx file as input? I expect to get an R-MAT graph as an output file, but nothing is generated.

So, is ` bfs rmat hollywood-2009.mtx` a correct command?
The execution time is much less than `market`. Maybe I misunderstood something.

[2019-04-25 14:15] jowens commented on #528
You've got two choices: let Gunrock generate an rmat graph or ask Gunrock to input a specific matrix-market-format graph from a file. I don't believe there's any facility to ask Gunrock to write a generated graph to a file (there's surely plenty of rmat generators out there already).

[2019-04-25 16:13] neoblizz commented on #528
We do have the capability to write an rgg or rmat to file, but you can't use two different types of graphs inputs `rmat` and `mtx` together. Therefore, `bfs rmat hollywood-2009.mtx` is not a valid command. It is probably running bfs on rmat instead of the `hollywood-2009.mtx` file.

[2019-04-25 16:14] neoblizz commented on #528
Here's how to save to a file: https://github.com/gunrock/gunrock/blob/master/examples/grmat/test_grmat.cu#L47-L48

[2019-04-25 16:14] #528 closed

[2019-04-25 17:07] mahmoodn commented on #528
So, the default type for available mtx formats (which we download) is `market`. Am I right?
My question is then, how can I use rmat to generate a graph? What is the raw input then? The downloaded file is mtx and you said `bfs rmat file.mtx` is not valid. Can you give an example?

[2019-04-25 17:10] neoblizz commented on #528
@mahmoodn yes, the downloaded input format is `market`, so you will run `bfs market file.mtx` to run the market format.

If you want to output rmat, you will run the `grmat` executable after building gunrock.

[2019-04-29 18:21] #455 closed

[2019-04-29 18:21] #456 closed

[2019-04-29 22:54] neoblizz commented on #527
Fixed in (https://github.com/moderngpu/moderngpu/pull/32), I will update the gitmodules once the PR is merged in the moderngpu repo.

[2019-04-29 22:54] #527 closed

[2019-04-30 01:39] neoblizz commented on #484
Fixed: https://github.com/gunrock/gunrock/commit/d3f4dfce34a8e71f90d3391f768e4888d9d31937

[2019-04-30 01:39] #484 closed

[2019-04-30 01:45] neoblizz commented on #377
All branches now have support for this, command: `clang-format --style=file -i path/to/file.cc`. I think its best if this command is run from the root directory where the clang-format file exits ([.clang-format](https://github.com/gunrock/gunrock/blob/master/.clang-format)).

[2019-04-30 01:45] #377 closed

[2019-04-30 14:15] neoblizz commented on #487
Supported in next release: #529

[2019-04-30 14:15] #487 closed

[2019-04-30 14:20] neoblizz commented on #360
https://github.com/gunrock/docs/blob/master/source/includes/gunrock_to_json.md this is still valid, all its missing is .Set parameters.

[2019-04-30 14:20] #360 closed

[2019-05-01 04:19] neoblizz commented on #454
Moving this out of release, I will let someone new to gunrock take a shot at this. It is quite simple.

[2019-05-01 04:20] neoblizz commented on #495
This is resolved.

[2019-05-01 04:20] #495 closed

[2019-05-05 03:35] neoblizz opened #531 "Add a pull request template."
Make sure people rule clang-format before submitted the pull request.
List their contributions and any issues they closed.

[2019-05-05 20:48] neoblizz opened #532 "Update programming model with new operators"
I have added neighbor-reduce, just need two more figures illustrating intersection and neighbor-reduce.

[2019-05-05 20:55] neoblizz opened #533 "Gunrock for developers (overloaded issue)"
**General**
- Style Guide and Doxygen commenting
- Git forking workflow
- Configuring .gitignore
- Configuring clang-format

**Gunrock's Structure**
- General structure: Kratos does a great job at documenting: https://github.com/KratosMultiphysics/Kratos/wiki/General-structure
- Input and Output data

**Debugging, profiling and testing**
- Gunrock's `cudaError_t`
- Compiling with `-g -G -O0`
- Deb

[2019-05-05 20:58] neoblizz opened #534 "How tos... (overloaded issue)"
How to:
- write an application?
- write an operator?
- use graph loader?
- add a new graph representation?
- write a multi-gpu application?
- write testing routines (gtest)?
- write a c and python interface?
- write a json output?
- get performance numbers?
- use built-in applications?
- write cpu reference code?
- call one primitive in another primitive (maxflow-gtf, knn-snn, etc.)?

[2019-05-06 12:34] bookug opened #535 "Does Gunrock performs better than Nvidia nvGraph on SSSP?"
Besides, does Nvidia nvGraph have papers?

[2019-05-06 12:44] neoblizz commented on #535
When nvGraph was release in CUDA 8, we tested it against Gunrock, you can find our results here: https://gunrock.github.io/docs/engines_topc.html (these are from 2016).

And as far as I am aware, there's no published paper on nvGraph.

[2019-05-06 12:47] neoblizz commented on #498
Not reproducible. Parameters are handled differently in the next release, so this problem really shouldn't come up.

[2019-05-06 12:47] #498 closed

[2019-05-06 12:48] neoblizz commented on #442
Not reproducible, shouldn't come up in the new release as we handle parameters differently.

[2019-05-06 12:48] #442 closed

[2019-05-06 12:53] #535 closed

[2019-05-06 12:55] neoblizz commented on #56
mGPU-cq was merged, this is a dead issue.

[2019-05-06 12:55] #56 closed

[2019-05-06 12:56] neoblizz commented on #58
was merged, this is a dead issue.

[2019-05-06 12:56] #58 closed

[2019-05-06 12:56] neoblizz commented on #55
mGPU-cq was merged, this is a dead issue.

[2019-05-06 12:56] #55 closed

[2019-05-06 12:58] neoblizz commented on #494
just to reiterate, this is done through lambda functions in the next release and is already available. See the previous post. Closing issue, re-open if unresolved.

[2019-05-06 12:58] #494 closed

[2019-05-07 05:58] bookug opened #536 "Can gunrock run on CUDA 8.0?"
I see in the website that gunrock runs on CUDA 10 by default now.
But I am still using CUDA 8.0 and do not want to change.

[2019-05-07 11:21] jowens commented on #536
Well, keep using the Gunrock version you're using, then. Philosophically, though, we will generally prioritize using new CUDA features and new CUDA versions as we continue to develop Gunrock.

[2019-05-15 19:26] neoblizz opened #537 "Update CUDA properties for release"
Ahmed pointed out:

[2019-05-19 08:33] bookug opened #539 "Can Gunrock SSSP support negative weights?"
I know it is based on the paper titled "Work-Efficient Parallel GPU Methods for Single-Source Shortest Paths".
In the paper it only deals with non-negative weights, but can it support negatives?
It seems the algorithm is not totally a delta-stepping strategy, but a tradeoff between delta-stepping and bellman-ford.
So does it support negative weights as well?

[2019-05-19 14:16] jowens commented on #539
Fairly sure the answer is going to be "no, we don't support negative weights". Any delta-stepping variation is (to my knowledge) not capable of handling negative weights, even if the number of buckets is only two. @sgpyc , thoughts?

[2019-05-20 01:55] bookug commented on #539
But in that paper, the solution is not like a label-setting algorithm, but a label-correcting algorithm.
A vertex may be added to queue multiple times, right?
In that case it can deal with negative weights.
If a vertex can only be added to queue once, like delta-stepping, then the parallelism must be limited, because in each step only the smallest ones can be selected and extended.

[2019-05-20 02:17] jowens commented on #539
Honestly, I don't think I'm the expert here. We have never tested it, and if you do, please report back. It's probably fair to say we did not consider whether it did or not when we wrote it.

[2019-05-26 14:59] neoblizz opened #540 "Utilize github's security policy"
https://github.com/gunrock/gunrock/security/policy

[2019-05-28 15:12] #536 closed

[2019-05-28 15:21] neoblizz opened #542 "Review gunrock's overview"
https://github.com/gunrock/docs/blob/master/source/includes/overview.md

[2019-05-28 15:23] neoblizz opened #543 "review results and analysis: redo some of the tests"
Preliminary performance results are from 2015: https://github.com/gunrock/docs/blob/master/source/includes/results.md#preliminary-performance-results (we need to either update these or remove them altogether and point to other tests we have done)

[2019-05-28 15:24] neoblizz opened #544 "Building gunrock"
Needs to be more organized and explained better. Needs suggestions from recent users @porumbes @jdwapman

[2019-05-28 15:26] neoblizz commented on #510
Revisiting the contribution guide in a separate issue.

[2019-05-28 15:28] neoblizz opened #545 "We have a contributing guide, but it can be severely improved..."
... should its own file: https://github.com/gunrock/docs/blob/master/source/includes/forking_workflow_gunrock.md#how-to-contribute

We need a section on how to contribute if you are NOT a C++/CUDA developer. There's definitely help needed on python side, with testing, with docs (and doxygen), parameter sweeps, understanding and analyzing gunrock's performance numbers, etc. @jowens

[2019-05-28 15:31] neoblizz opened #546 "Future of gunrock/road map"
Road map needs to be updated: https://github.com/gunrock/docs/blob/master/source/includes/road_map.md

Future of gunrock doc can help us define a road map for gunrock: https://github.com/gunrock/docs/blob/master/source/future_gunrock.html.md

Needs John's input on what the road map looks like.

[2019-05-28 15:36] neoblizz opened #547 "What are the THREE biggest takeaways from gunrock as a graph analytics library?"
- Our data-centric abstraction (frontiers)
- Parallelism within operators and BSP
- Load-balancing

These are what I believe the core of gunrock, and what it has to offer. Need a sentence each and should be located in the readme as a takeaway message of what gunrock is.

Maybe another one is multi-gpu.

[2019-05-28 15:39] neoblizz commented on #75
Almost forgot about this, should be explained before v1.0 release.

[2019-05-28 21:58] jdwapman commented on #544
I just went through the build process on the pre-release branch and didn't find any problems compiling using the instructions in Gunrock's README.

That said, I already have Gunrock's optional 3rd-party dependencies installed. Will any part of the build process break if any of the "optional" dependencies are not installed? Example: does `make test` in the quickstart instructions depend on Googlete

[2019-05-29 09:54] yzhwang opened #548 "[branch:dev-refactor] fails to compile due to a template error"
**Summary:**
dev-refactor head returns error during make test.

**Reproducibility:**
Always

**To Reproduce:**
git clone gunrock
init and update submodule
switch to dev-refactor branch
cmake and make, make test

**Expected Behavior:**
success

**Actual Results:**
/root/dev/gunrock-dev/gunrock/graphio/graphio.cuh(410): error: class "gunrock::graph::Csr<int, int, float, 0U, 0U, false>" has no member

[2019-05-29 10:07] neoblizz commented on #548
This was fixed in pre-release, I recommend using that branch because I have a bunch of things fixed there and cleaned up: https://github.com/gunrock/gunrock/commit/9cbfbbcb154047bc6f921059a65ae07c26ebdf15#diff-e2b194bddc1f0b4a7b7173a18d398ce4

After the v1.0 release, I plan to merge pre-release to dev-refactor/dev as well, so that becomes our new dev environment.

[2019-05-29 11:28] yzhwang commented on #548
Thanks @neoblizz !

[2019-05-29 11:28] #548 closed

[2019-05-29 12:04] neoblizz commented on #311
An old issue (apologies for never getting around to this), but here are my comments on this;

- The simplest way to achieve this with the least amount of modifications may just be doing a SSSP with multiple sources, and just considering the output of the destination nodes that matter to you. This requires no change in the v1.0 release, because you can just pass in a list of source nodes and the ou

[2019-05-29 12:05] neoblizz commented on #544
By definition, if it is optional, it means it should not be required to be installed. But yes, we should spell out what users will miss out on if the dependency is not installed. Thank you for the comments.

[2019-05-30 10:57] #517 closed

[2019-05-30 11:59] neoblizz commented on #537
https://github.com/gunrock/gunrock/commit/0e8f5628d16a16eb7908bbe98121f803c1801ea6#diff-c5facd6a5c68ac9a030d0ebb6d1ab6b2

[2019-05-30 11:59] #537 closed

[2019-05-30 12:14] neoblizz commented on #510
Since Serban is busy with CC, I took the liberty to add this. It took like 2 clicks. 👍

[2019-05-30 12:14] #510 closed

[2019-05-30 12:15] neoblizz commented on #510
https://github.com/gunrock/gunrock/pull/549

[2019-05-30 12:15] neoblizz commented on #517
https://github.com/gunrock/gunrock/pull/541

[2019-05-30 12:19] neoblizz opened #550 "Move Git Workflow and Googletests to Developer's Guide"

[2019-05-30 12:54] neoblizz commented on #550
https://github.com/gunrock/docs/commit/7e93c752c9037117041f8d2572150b6a1ca8fdb6

[2019-05-30 12:54] #550 closed

[2019-05-31 05:47] #539 closed

[2019-05-31 06:16] neoblizz commented on #75
https://github.com/gunrock/docs/blob/master/source/includes/directory_structure.md

[2019-05-31 06:16] #75 closed

[2019-05-31 06:18] neoblizz commented on #532
https://github.com/gunrock/docs/blob/master/source/includes/programming_model.md

[2019-05-31 12:06] neoblizz commented on #540
https://github.com/gunrock/gunrock/commit/8ae795042ba1d17574f400244d85e9de9006590b

[2019-05-31 12:06] #540 closed

[2019-06-01 13:00] neoblizz opened #551 "Gunrock application analysis"
I think we did a pretty good job at writing an analysis for the HIVE applications, a similar analysis should be done for the other applications. This is a good project for new students who are interested in the algorithmic aspect of things and are interested in understanding how to conduct an in-depth analysis of a GPU implementation. It will also require using/learning nvidia profiler, which is a

[2019-06-01 13:15] neoblizz commented on #254
This will be a better fit for GraphBLAS; https://github.com/gunrock/graphblast/issues/2 Triangle Counting is one of the possible future apps. I don't believe matrix based computations and operations fit Gunrock's model, they can however be added as a utility if need be -- but that's why we have GraphBLAS.

[2019-06-01 13:15] #254 closed

[2019-06-01 13:22] neoblizz commented on #39
@yzhwang this still needs some attention, GraphIT does a neat job in making push-pull based traversals first class citizens of the programming model, I think Gunrock should definitely consider that as well. In the new API, we have PageRank and BFS (recent pull request) using Push-Pull. If you are interested, this is a really core project that needs a look.

[2019-06-01 13:29] neoblizz commented on #124
Scan was updated:
https://github.com/gunrock/gunrock/blob/pre-release/gunrock/util/scan_device.cuh
and https://github.com/gunrock/gunrock/tree/pre-release/gunrock/util/scan

Select still has some old code that needs this support, but the new additions have support for streams: https://github.com/gunrock/gunrock/blob/pre-release/gunrock/util/select_device.cuh#L46-L231

[2019-06-01 13:32] neoblizz commented on #68
Belief propagation maybe label propagation? (it was implemented in v1.0)

Removing the todo tag, these will be good primitives to implement.

[2019-06-01 13:39] neoblizz commented on #156
Revisiting some of the older issues. this is a lot simpler to do now in the advance lambda. Say you compute the mask on the fly (or maybe store it in a O(|E|) array) and within the advance lambda, you just have a check to see if the edge is active or not.

Similarly, in the lambda you can also store the parent vertex ID for each active vertex in the frontier.

https://github.com/gunrock/gunrock/bl

[2019-06-01 13:40] neoblizz commented on #101
A new student can test this issue out for v1.x, we have a way to pass the quiet flag down the pipeline now. Will be a neat little project to understand gunrock's parameters support.

[2019-06-01 13:44] neoblizz commented on #74
wget is shipped with ubuntu, I don't think this is really a problem for mac either (or asking mac users to install wget), same case with windows, even though are support there is lacking.

[2019-06-01 13:44] #74 closed

[2019-06-01 13:48] neoblizz commented on #65
Really old issue, but worth answering.

Yes, in the v1.x release, you can modify the problem to not extract and just use the Array1D pointer that is already on the GPU to keep computing BFS on it. This code will soon be merged to master, but the commit (file) is here: https://github.com/gunrock/gunrock/blob/bc577f5d41027fb29df9bd180273d0ed337ec932/gunrock/app/bfs/bfs_problem.cuh

[2019-06-01 13:48] #65 closed

[2019-06-01 13:49] neoblizz commented on #64
Done using parameters.

[2019-06-01 13:49] #64 closed

[2019-06-01 13:52] neoblizz commented on #59
I believe @YuxinxinChen is working on this, just revisiting this issue to update the progress. Currently, this is probably gonna be implemented **outside** of gunrock, but there is a lot of interest in eventually introducing asynchrony to gunrock's algorithm support.

@Samtruong and I are working on the same problem using graph coloring, where the coloring will generate multi-frontiers and within

[2019-06-01 13:55] neoblizz commented on #120
Duplicate issue #232

[2019-06-01 13:55] #120 closed

[2019-06-03 03:42] yzhwang commented on #39
@neoblizz You mean exposing both push-/pull-based advance as operators right? By using Push-Pull, you mean we have a wrapper where we consider the best iteration to switch between push and pull right? I think we still need that as well, but exposing both push-/pull-based advance sounds like a good thing towards better flexibility. I can start thinking about this. I think I'm very interested in ope

[2019-06-03 03:50] yzhwang commented on #68
Awesome! But I believe BP is different than LP, which is a semi-supervised algorithm proposed here: http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.13.8280. While BP is a family of algorithms in the context of probabilistic graphical models (which I barely know but I think I wanted to say belief propagation when I filed this issue). But good thing is LP is in Gunrock now!
Also, k-hop neigh

[2019-06-03 04:10] neoblizz commented on #39
Yes, that's exactly what I am referring to, however, switching from one to another doesn't necessarily have to be automatic- as long as the API is exposed to the user, initially we can assume that they know the kind of implementation they are going for and can switch push-pull accordingly. But eventually, that may be something we control.

Operator-level python binding also sounds great, also wort

[2019-06-05 18:45] mahmoodn opened #552 "About Gunrock kernels"
I have noticed that with one algorithm, e.g. BFS, and different inputs, the kernels executed during the run may be different. For example, a dense graph may use kernel X while a sparse graph may not use that X. Or as another example, a graph which has high number of edges on vertices may use kernel Y, while another graph with small number of edges on vertices may use kernel Z where Y and Z are dom

[2019-06-05 18:48] jowens commented on #552
"may be different" on a Gunrock run (you've seen this?), or instead that the optimal kernel selection may differ for different data sets?

I believe the primary difference between the optimal kernel selection on Gunrock runs for different datasets would be from choosing different load-balancing strategies. The best strategy for, say, a road network would be different than the best strategy for a s

[2019-06-05 18:54] mahmoodn commented on #552
I am using one GPU device.
For example, visual profiler shows edge_map_forward::kernel is domenent in BFS on belgium_osm. However, for hollywood, it is RelaxPartitionEdges2.

I think different partitioning methods are used for different types of graphs for optimum runtime. Do you confirm that? I think you were agreed by your last sentence.

[2019-06-05 19:36] jowens commented on #552
Gunrock's single-GPU implementation doesn't do partitioning in the way that you probably think of partitioning; this is more of a "divide up work among multiple blocks" but is not a partition in the sense of METIS.

It is accurate that two very different graph types, run with the same load-balancing method, may spend substantially different proportions of time in different kernels.

[2019-06-06 06:40] #552 closed

[2019-06-06 22:34] #348 closed

[2019-06-10 23:07] Laurawly commented on #362
@sgpyc @neoblizz Just wondering if sssp in dev-refactor still has this concurrency issue.

[2019-06-11 04:43] neoblizz commented on #362
Yes, I believe it has the same issue.

[2019-06-11 19:10] Laurawly commented on #362
So maybe we shouldn't show that we have correct back-trace results in future demos or are we already doing so.

[2019-06-12 18:50] porumbes opened #554 "Setup Gunrock admin group email account."
**Adding this as an issue to make it easier to track**

Create a UC Davis group gunrock-admin@ucdavis.edu email. This came up during #549 discussions.

[2019-06-12 20:40] neoblizz commented on #473
This is future work, I can't get something more performant than "just use ninja" to work as of right now.

[2019-06-12 20:40] neoblizz commented on #464
Also future work, workaround exists.

[2019-06-12 20:43] neoblizz commented on #496
Will be in v1.0.1.

[2019-06-12 22:30] neoblizz commented on #501
#555

[2019-06-12 22:30] #501 closed

[2019-06-14 20:32] neoblizz opened #559 "Operator Improvement Neighborhood Reduce"
**Feature Description:**
Presently, Neighborhood Reduce operator uses two operators within gunrock to perform a neighboorhood reduce: advance and segmented reduce. Even though both have load-balanced versions, it is still a whole lot slower than workarounds.

**Describe the solution you'd like**
We need to profile it and find the bottleneck here, my guess is that performing kernel fusion and makin

[2019-06-25 01:36] yzhwang opened #560 "Invalid Device Function error running Louvain Algorithm (possibly) due to cmake settings"
**Summary:**
Running louvain algorithm with the following cmdline:
`./louvain market ./soc_LiveJournal1.mtx --undirected --max-iters=2 --max-passes=3 --quick=true --device=0`
will have the following error:
`[/root/dev/gunrock/gunrock/app/louvain/louvain_enactor.cuh, 281 @ gpu 0] error encountered (CUDA error 8: invalid device function)
[/root/dev/gunrock/gunrock/app/enactor_base.cuh, 518 @ gpu 0]

[2019-06-25 01:40] yzhwang commented on #560
https://github.com/gunrock/gunrock/blob/master/examples/BaseMakefile.mk#L42
Probably should also add sm target for 6.1 there? I will try it first.

[2019-06-25 01:50] yzhwang opened #561 "multi-GPU random walk and louvain algorithm return segfault"
**Summary:**
running run.sh for random walk and louvain algorithm will return this:
`./run.sh: line 68:   355 Segmentation fault      ./louvain market ./soc_LiveJournal1.mtx --undirected --max-iters=2 --max-passes=3 --quick=true --device=0,1`
and
`./run.sh: line 77:   355 Segmentation fault      ./rw market ./soc_LiveJournal1.mtx --undirected --store-walks=false --device=0,1`

**Reproducibility:**

[2019-06-25 03:17] neoblizz commented on #561
Multi-GPU implementations for `louvain` and `rw` do not exist, see the application list and multi-gpu status of each application here: https://gunrock.github.io/docs/#gunrock-39-s-application-cases

[2019-06-25 03:24] neoblizz commented on #560
Yeah, this is an odd one. It didn't come up during my tests on CUDA 9, if you don't discover anything, I will try it out on my end. Btw, BaseMakefile is independent of CMakeLists.txt. So, you may use the 61 in there and do make just for louvain (in the louvain examples directory) and see if you still have the error.

[2019-06-25 03:27] jowens commented on #561
It'd be polite to return a proper error though instead of segfaulting.

[2019-06-25 06:49] yzhwang commented on #560
Thanks for the reply Mohammad.

My colleague changed the BaseMakefile for louvain and compiled with CUDA 9 + compute capability 6.1 setting (on a P40). There seems to be some bug at the releasing phase:
`+ ./louvain market ./soc_LiveJournal1.mtx --undirected --max-iters=2 --max-passes=3 --quick=true --device=0
[/root/dev/gunrock/gunrock/oprtr/LB_advance/kernel.cuh, 511 @ gpu 0] cudaStreamSynchroni

[2019-06-25 06:56] yzhwang commented on #561
Thanks for the reply!
@jowens I would post more info if I had them. Here the segfault is the only thing my colleague got. As Muhammad said, looks like it is due to the lack of multi-gpu version of the two algorithms. I will close the issue now. And when I get the access of the machine and their test environment, I promise I will do more inspection before posting any issue here :-)

[2019-06-25 06:56] #561 closed

[2019-06-26 18:17] neoblizz commented on #560
@yzhwang Let's see the output of `ENABLE_ARRAY_DEBUG`: https://github.com/gunrock/gunrock/blob/master/gunrock/util/array_utils.cuh#L30

[2019-06-28 01:55] yzhwang commented on #560
Thank you! Loop in my colleague WJ (@sdj222555), who is actually trying this. He will post his findings later.

[2019-06-28 03:28] sdj222555 commented on #560
Thanks very much!
When I turned on the ENABLE_ARRAY_DEBUG. I found that:

+ ./louvain market ./soc_LiveJournal1.mtx --undirected --max-iters=2 --max-passes=3 --quick=true
[/root/dev/gunrock/gunrock/util/array_utils.cuh, 964 @ gpu 0] out_counter not deined on HOST (CUDA error 16: invalid host pointer)
[/root/dev/gunrock/gunrock/util/array_utils.cuh, 964 @ gpu 0] in_counter not deined on HOST (CUDA

[2019-06-30 20:08] jowens commented on #257
@sgpyc In your opinion, could we close this? Do you feel the current abstraction you set up addresses this?

[2019-06-30 20:15] neoblizz commented on #560
@sdj222555 did you build just the louvain application or the whole library? Can I get the output if your cmake or make? My cmake looks like this:

[code]

[2019-06-30 23:11] jowens commented on #543
https://github.com/gunrock/docs/commit/d38bb6ad108d37a085af88d021d2d22a11ff5a6d

[2019-06-30 23:11] #543 closed

[2019-06-30 23:37] jowens commented on #500
https://github.com/gunrock/docs/commit/97a2122d1ec9ee74852a7df8bf0d54162a3ea829

[2019-06-30 23:37] #500 closed

[2019-06-30 23:37] jowens commented on #542
https://github.com/gunrock/docs/commit/75ea7295f15845d0f528b3a470edbd763ec7b6fe

[2019-06-30 23:37] #542 closed

[2019-06-30 23:50] jowens commented on #546
`future_gunrock` can of course be in the repo but should not be linked directly on the web pages.

[2019-06-30 23:51] jowens commented on #546
https://github.com/gunrock/docs/commit/0af40145341a4bff085893fffde03146d9b1386e

[2019-06-30 23:51] #546 closed

[2019-07-01 01:44] jowens commented on #547
https://github.com/gunrock/docs/commit/b616b521bbd6effbf75ae010c9a011640e30a370

[2019-07-01 01:44] #547 closed

[2019-07-01 23:28] neoblizz commented on #560
I was able to reproduce this on our end, as well as @Laurawly is running into the same issue on SM. The bug is when using `--advance-mode=LB` or any other mode except `--advance-mode=ALL_EDGES`, so, the command that should work for now is:

[code]

I think it may be because of the update of moderngpu, I will look more into it when I get some time. @yzhwang @sdj222555

[2019-07-01 23:59] neoblizz commented on #560
[code]

seems to be the issue.

[2019-07-02 02:31] sdj222555 commented on #560
Hi, Mohammad , Thank you very much!  After trying the "--advance-mode=ALL_EDGES", it has run successfully.
I think your are right. I remember that I can run louvain successfully in "pre-release"  branch of gunrock about a month ago. At that time everything is ok. Maybe something has changed in moderngpu.

[2019-07-02 04:19] neoblizz commented on #560
Yeah, I added support for CUDA 10.0 in morderngpu, I am not sure what it would break, I will have to investigate it a bit more.

[2019-07-03 06:32] Z-Y00 opened #564 "Suggestion of the test scripts"
I suggest to remove the dataset that is only on someone's PC or rewrite the script with download links

https://github.com/gunrock/gunrock/blob/fc229b445ef67dc007791d544de8d0e03fe47d8e/examples/rw/examples.sh#L47

[2019-07-03 06:34] Z-Y00 commented on #564
btw, I do wish someone can add these dataset to gunrock/dataset

[2019-07-03 08:28] Z-Y00 commented on #564
Also, many scripts are hard coded as * _9.1_x86_64
which is harmful, for I'm getting  _9.0_x86_64
plz change these to better scripts
https://github.com/gunrock/gunrock/blob/478cc55e151aa17ede183d022042ccf6a6a94a2f/examples/proj/test.sh#L5

[2019-07-03 08:52] Z-Y00 commented on #564
You can rename test_foo_9.1_x86_64 to  test_foo_* as here.
You can just fix this with a pull request
https://github.com/gunrock/gunrock/compare/master...Z-Y00:fc5c1ac7f8ce6d19651310a167034b5d7e2eda00

[2019-07-06 15:38] neoblizz commented on #560
I tried this with the old dev-refactor branch still in my fork: https://github.com/neoblizz/gunrock/tree/dev-refactor, and the issue still exists with `advance-mode` anything but `ALL_EDGES`. I think it will be helpful if @sgpyc can comment on memory usage for this app, and the issue in general. Since he wrote this.

[2019-07-12 07:21] alexisgardin opened #568 "How to use sssp function of gunrock library ?"
Hello,
During my internship, I have to compare multiple gpu/cpu library in order to solve a problem which is like sssp.
So i have no experience in CUDA and i saw your library had an interface ([here](https://github.com/gunrock/gunrock/blob/master/gunrock/gunrock.h)) in order to use your sssp in c++.

But in i find out that you don't include sssp by default in your static library, so i modified the

[2019-07-12 14:20] neoblizz commented on #568
You have done well so far, with the current set up you have and using the below public interface, you should be able to call SSSP using C/C++. The distances array is a small one, so it should allocate and shouldn't give you out of memory error. Could you run `nvidia-smi` and share the results of that? That should tell us what GPU you have in the system, and the CUDA driver installed, and also shar

[2019-07-12 14:27] alexisgardin commented on #568
`nvidia-smi` give me this output :
[code]

And `nvcc --version`

[code]

[2019-07-12 15:06] neoblizz commented on #568
I will try it out on my end, see if I can reproduce it. It should work given your implementation. Just for reference, it is calling the SSSP interface found here: https://github.com/gunrock/gunrock/blob/master/gunrock/app/sssp/sssp_app.cu

You can also turn on the debug flags in CMakeLists.txt and use `cuda-gdb ./your_implementation.c` or `cuda-memcheck ./your impl` to see where the issues are.

[2019-07-12 16:24] neoblizz commented on #564
Some datasets we can't publish because they were part of a DARPA project, and the scripts needed to stay online for the DARPA to try stuff out, but thank you for the PR and fixing hard-coded binary names!

[2019-07-12 16:24] #564 closed

[2019-07-16 20:44] DanLoran commented on #568
@alexisgardin I tried reproducing your error and was unsuccessful in doing so, but I looked over the array values you used and might have found the source of the illegal memory access.

If you try drawing out the adjacency matrix that row_offsets describes, you'll run into a problem when filling out the edges in row 4. I believe if you alter the last couple values of row_offsets the error might be

[2019-07-16 22:48] porumbes opened #570 "Add google test to Get Edge from Source and Destination #454"
This code isn't called / exercised in any part of Gunrock at the moment. Let's write a google test for it. I know @DanLoran has code for this : ). Unfortunately, it doesn't live in a test.

[2019-07-17 23:16] porumbes opened #571 "Add Googletest for BinarySearch"
We already have the test code in test_binarysearch.cuh, let's add it to our google test suite.

[2019-07-18 13:08] alexisgardin commented on #568
i tried again with your value but still not working. I will try to better understand how cuda works and maybe I will understand where my problem comes from.

[2019-07-18 21:41] porumbes opened #573 "Too many warnings during build"
**Summary:**
We have way too many warnings building Gunrock. They've lost their utility.

**Reproducibility:**
Always

**To Reproduce:**
Build Gunrock as usual.

**Expected Behavior:**
There should be absolutely no warnings.

[2019-07-19 03:09] neoblizz commented on #573
Part of the reason is rapidjson warnings.

[2019-07-19 13:09] alexisgardin commented on #568
Good news (at least for me), I checkout and build the gunrock project in`v0.5.1` and the sssp function work with this code.

[code]

[2019-07-20 17:39] neoblizz commented on #573
@porumbes can you test this?

[2019-07-20 19:21] neoblizz commented on #573
Oh and just fyi, the last commit just hides the warnings, someone will actually have to resolve all of them in dev branch. For release, we can use the flag to suppress them.

[2019-07-24 00:27] #568 closed

[2019-07-24 20:43] #571 closed

[2019-07-24 20:56] porumbes commented on #473
Adding @neoblizz 's comment from Mark Harris: https://twitter.com/harrism/status/1153830299584757762?s=19

[2019-07-30 20:40] jowens opened #577 "JSON issues (compared to previous JSON generation)"
- [x] Traversal options should be strings, not an array of one string
- [x] Are we running `direction-optimized = false`? In some runs we appear to be.
- [x] No tags have been generated yet
- [x] `gpuinfo`, `sysinfo`, `userinfo` are missing from generated JSONs
- [x] All Boolean outputs should be of boolean type (right now we do `1/0`, `"true"/"false"`, and `true/false`; should only be `true/false

[2019-07-31 04:44] neoblizz commented on #577
Does this mean, instead of this:
[code]

do this:
[code]

[2019-07-31 04:46] neoblizz commented on #577
We are using `word-word` for every single parameter name. Have you seen `word_word` anywhere? Changing that to underscore would require me to edit every single app. As the name of the json field is extracted from the parameters.

[2019-07-31 04:52] neoblizz commented on #577
Yes. I take back what I said in slack, we are actually doing `--direction-optimized=true,false`, which should generate a json for direction-optimized set to true and false.

[2019-07-31 05:12] neoblizz commented on #577
Can we also lose the support for json_spirit_writer? Some changes that I am making would require me to add ifdefs and snippets for json_spirit_writer. We've also let go of the old way of having a giant info struct (as each apps required unique parameters, which forced us to manually manage that file).

[2019-07-31 05:14] neoblizz commented on #577
Do you have an example of where you saw anything but true/false?

[2019-07-31 05:59] jowens commented on #577
- `advance_mode`: If the array is always one element long, then just the string instead of an array of strings makes more sense, thanks.
- `word_word` was the standard in previous JSONs, but I'm fine with `word-word` if you prefer that. No problem. Just be consistent.
- If rapidjson works, I don't care if json_spirit disappears.

[2019-07-31 19:48] jowens commented on #577
Is `elapsed` the mean of `process-times`? I like there's a `min-process-time` and a `max-process-time`; I'd like to start putting error bars onto some of our plots. If that's the case, I'd also appreciate a `min-m-teps` and `max-m-teps` (although I'd probably rename these `MTEPS`).

[2019-07-31 19:50] jowens commented on #577
Also I know there was some effort to throw out too-small results in the past. For instance, running BFS on a piece of the graph that is very small will produce anomalous results, e.g. (`BFS_arabic-2005_Wed May 22 190139 2019.json`):

[code]

where that last run is probably on some sort of tiny disconnected subgraph and properly should be thrown out. (`elapsed` is smaller as a result than any of th

[2019-07-31 19:57] neoblizz commented on #577
[code]

are also recorded. I can add min-max MTEPS.

[2019-07-31 20:10] jowens commented on #577
If `mxx-process-time` and `elapsed` measure the same thing, they should be named the same thing. I don't care what it is. But it should be consistent.

[2019-08-02 05:19] neoblizz commented on #577
This one is tricky, I will address as many as I can, and when these come up again we can fix them.

How about `elapsed` = `avg-process-time`?

[2019-08-02 05:20] neoblizz commented on #577
Can I name it `mteps`, since everything else is lowercase? And yes, have `mxx-mteps` along with it?

[2019-08-02 05:25] neoblizz commented on #464
Fixed in PR #576.

[2019-08-02 05:25] #464 closed

[2019-08-02 05:26] jowens commented on #577
Bools: Please at least fix `idempotence`, `mark_predecessors`, `undirected`. But there's more:

[code]

`avg-process-time` and `mteps` are just fine with me.

[2019-08-02 05:30] neoblizz commented on #577
Latency numbers need to be integers, but thank you for the rest. This helps.

[2019-08-02 06:11] neoblizz commented on #577
[BFS_delaunay_n10.txt](https://github.com/gunrock/gunrock/files/3459816/BFS_delaunay_n10.txt)

Known things:

- [ ] mxx-mteps / 1000
- [ ] 64bit... should be a bool not integer (true/false instead of 0/1)

[2019-08-02 06:15] jowens commented on #577
There's other true/false settings to be made (idempotence, mark_predecessors, undirected) but this looks great!

[2019-08-02 06:16] neoblizz commented on #577
I am not sure how I determine when to throw out.

[2019-08-02 06:17] jowens commented on #577
Less than 10% of the average runtime?

[2019-08-02 06:17] neoblizz commented on #577
Ok, I can do this.

[2019-08-02 06:18] jowens commented on #577
2 standard deviations away from the average would be perhaps more meaningful.

[2019-08-02 16:47] jowens commented on #577
I'm most curious to find out where the spurious numbers at the end are coming from.

[2019-08-05 12:03] mahmoodn opened #579 "Cannot find source file"
May I know why cmake fails with the following errors?

[code]

[2019-08-05 12:12] mahmoodn commented on #579
I extracted the v1.0.tar.gz  and indeed there are no such files.

[code]

[2019-08-05 13:10] mahmoodn commented on #579
With --recursive for git clone, there is no problem.
I think that is missed in the package.

[2019-08-05 13:20] mahmoodn opened #580 "No kernel name in profiler output"
When I profile a run with nvprof, I don't see the kernels in the output file. I don't know if the short duration of the run causes such a problem. Or it is a problem with Gunrock.

[code]
Please see the picture at https://pasteboard.co/IrhYEeR.png

[2019-08-05 13:55] neoblizz commented on #580
You are using a Quadro M2000, make sure this line is turned `ON`, remove your old build directory and recompile (make sure you remove the old build directory to avoid using the cmake cache instead of the updated cmake):
https://github.com/gunrock/gunrock/blob/master/CMakeLists.txt#L250-L252

per CUDA wikipedia, the compute capability for your device is 5.0: https://en.wikipedia.org/wiki/CUDA

[2019-08-05 13:56] #580 closed

[2019-08-05 13:58] neoblizz commented on #579
GitHub doesn't provide submodules in the package, you have to download those separately at the commits we support from moderngpu, cub and rapidjson, or you can simply run the following command in the repository:
[code]

[2019-08-05 13:58] #579 closed

[2019-08-05 13:59] jowens commented on #579
@mahmoodn If you have suggestions on how we can improve our documentation from the link below, we're happy to update them:

https://gunrock.github.io/docs/#compilation

[2019-08-07 16:24] mahmoodn opened #581 "Question about kernel activity"
Hi,
In my profiling analysis, I see a kernel with the following name
[code]
Using [demangler](https://demangler.com/), I get this name
[code]

As I grep `RelaxLightEdges`, I see multiple instances in
[code]

I guess it is `LB_advance/kernel.cuh`. Am I right?
That is a rather large kernel and I see that for a graph, this kernel (if that linker name has been correctly mapped) has low multiprocessor

[2019-08-07 16:28] jowens commented on #581
I don't understand the `bug` label. Is there a bug?

[2019-08-07 16:29] jowens commented on #581
`LB_advance` makes sense to me. The different locations are for different load-balance strategies. Your command line likely tells you which strategy you're using (and/or dump the JSON and that will tell you as well).

[2019-08-07 16:33] jowens commented on #581
There's a lot of internal work to try to make branch efficiency high, both for keeping our compute resources busy and for getting better memory coalescing. In general our load-balance strategies are more oriented toward scale-free graphs than road-network-ish low-degree graphs. Because of the low number of neighbors and the relatively small frontiers in a low-degree graph, it's hard to keep the GP

[2019-08-07 16:59] mahmoodn commented on #581
No, when I create an issue (question) there are three options:
  Bug report
  Feature request
  Report a security vulnerability

[2019-08-08 07:08] sgpyc commented on #581
The LB load balancing has quite heavy overhead in the balancing part, it's a binary search. Most vertices having degrees of 2 can easily make the kernel spend most time in workload balancing.

Maybe try out TWC? If the rest 10% of the vertices do not have very large neighbor lists.

By the way, how long does the kernel take? 2M vertices with only a few M edges may not be able to fully utilize the

[2019-08-08 16:02] mahmoodn commented on #581
I used `market`. To be exact, it is 1.5M vertices with 3M edges.
The bfs execution (average elapsed) is about 304ms. The device is M2000 with 700 cuda cores and 4G of memory.

May I know more technical details of LB?
"binary search"ing what?

[2019-08-08 16:24] jowens commented on #581
These results might be interesting for you: https://gunrock.github.io/docs/frontier.html

What they're saying is that the input frontier needs to get up to several tens of thousands to approach the maximum throughput of the GPU. Look at, say, the upside-down green triangles (`road_usa`). They don't reach maximum throughput. The diameter of a road network is large enough, and 2M is small enough of

[2019-08-09 11:58] mahmoodn commented on #581
Regarding the frontier size, where can I change the number? Is that `--queue-factor`?

[2019-08-09 14:16] jowens commented on #581
No, we experimentally measured that (every time we ran an advance operation, we recorded the size and the runtime). You could perhaps just build your own graph that had the characteristics you wanted in terms of frontier size.

[2019-08-14 06:35] neoblizz opened #583 "Entire graph as a frontier should be a gunrock API constant"
**Feature Description:**
When you want to queue the entire graph as a frontier in an operator, you have to use a special null pointer, this should be provided by the gunrock api as a constant instead of people trying to scratch their heads and figure out how this is done (or worse, hacking the reset to loop and queue in the whole graph).

[2019-08-14 06:38] neoblizz commented on #581
As @jowens said, the frontier automatically resizes to fit the output, but you can define your own "initial" frontier queue in the enactor file of the respective application. This is not an easy change, and it cannot be done through command line.

Also, I feel like this question is well answered, highly recommend checking out the paper for more details, closing the issue.

[2019-08-14 06:38] #581 closed

[2019-08-23 17:40] akifrehman371 opened #584 "Building Connected Component Application generates error"
I have using the latest version of Gunrock. I am getting following error while trying to build the Connected Component Application. Rest of the application are building fine.

$ cmake .. -DGUNROCK_BUILD_SHARED_LIBS=OFF -DGUNROCK_BUILD_APPLICATIONS=OFF -DGUNROCK_APP_CC=ON
-- The C compiler identification is GNU 7.3.1
-- The CXX compiler identification is GNU 7.3.1
-- Check for working C compiler: /

[2019-08-23 18:02] neoblizz commented on #584
@porumbes is currently porting this to Gunrock v1.0.0. It is currently only available in v0.5.x.

[2019-08-30 16:11] mahmoodn commented on #579
Hello again,
Any idea why I this error is received?
[code]
I even tried `git init` or `git pull --recurse-submodules` but they also failed.

[2019-08-30 16:45] neoblizz commented on #579
You downloaded the tar package without using git, so it is not considered a git repository. If you download gunrock like so, it should work:
[code]

[2019-08-30 17:10] mahmoodn commented on #579
Yes, I was trying to use a stable package instead of git version.

[2019-08-30 18:12] neoblizz commented on #579
If you wanna use the package, you have to manually download morderngpu and cub as well at their respective commit numbers. But I recommend just using master branch, as we don't push code on that branch if we don't check things on our end and check for stability.

[2019-08-31 13:43] mahmoodn opened #586 "bfs example compute_XX"
For `example/bfs`, the build command is
[code]
So, it only generates the code for CC 70. Does that mean this example is explicitly incompatible with 1080ti (CC 61)? With `run.sh`, I get

[code]
Can I manually change the CC version in the makefile? Or there is a logic behind that?
[code]

[2019-08-31 14:42] jowens commented on #586
If you wanted to edit the build command manually to generate 61, you can certainly do that. Much easier is to use cmake capabilities when you generate the build directory (and Makefiles):

https://gunrock.github.io/docs/#building-gunrock

specifically `GUNROCK_GENCODE_SM61`:

`cmake -DGUNROCK_GENCODE_SM61=ON`

[2019-08-31 16:00] mahmoodn commented on #586
Yes I did that while running `mkdir build && cd build/ && cmake -DGUNROCK_GENCODE_SM61=ON ..`
However, when I go to `examples/bfs` and run `make`, I see `-gencode=arch=compute_70,code=\"sm_70,compute_70\"`

[2019-08-31 17:11] jowens commented on #586
Oh! Well, that's a problem, then. Gotta drag @neoblizz into this one.

[2019-08-31 21:57] neoblizz commented on #586
Individual makefiles in the examples folder are unrelated to the cmake builds. Cmake wi generate it's own makefiles.

The individual makefiles exist for you to only build that specific application by running make in that directory.

For cmake, what John suggested is the way to go. If it didn't work, try removing the build directory, which clears the cmake cache and doing the command again.

[2019-08-31 21:58] neoblizz commented on #586
You can also edit this line directly in the cmake file: https://github.com/gunrock/gunrock/blob/eae431099e003e8eb5f7600bfa43514fc0ac2404/CMakeLists.txt#L263 and build again.

[2019-09-01 10:30] mahmoodn commented on #579
OK thanks.

[2019-09-01 19:48] akifrehman371 opened #587 "Minimum Spanning Tree throwing error while running"
I am using Gunrock v0.5.0
While running MST I am getting error:
`./mst market ~/CAGE.mtx --quick
Loading Matrix-market coordinate-formatted graph ...
  Reading directly from stored binary CSR arrays from /home/akif/.CAGE.mtx.ud.1.bin ...
Done reading (0s).

Degree Histogram (1505785 vertices, 25624564 edges):
    Degree   0: 0 (0.00%)
    Degree 2^0: 0 (0.00%)
    Degree 2^1: 0 (0.00%)
    Degree

[2019-09-02 05:09] neoblizz commented on #587
@akifrehman371 what's the commit hash for the gunrock version you are trying? Could you also test MST on v0.5.1 instead? And provide us with some info on your GPU and environment?

[2019-09-02 09:39] neoblizz opened #588 "All-Pairs Shortest Path (APSP)"
**Feature Description:**
SSSP for v -> V find the shortest path.

Floyd-Warshall algo. (example)
[code]

**Comments:**
We can easily extend our SSSP implementation to consider APSP scenario.

[2019-09-02 10:00] neoblizz opened #589 "Thinking about a preprocessing model/abstraction for Gunrock"
**Feature Description:**
Currently, we have done no work whatsoever that I know of on preprocessing data for a graph primitive or application. Even for the HIVE application, if any sort of preprocessing was required, it was done through python and the mtx files or csr was generated for gunrock's input.

I think rather than moving away from this concept, we should explore an abstraction to encapsul

[2019-09-03 15:52] jowens opened #590 "SM template API needs to be exposed in a header"
@Laurawly Can you update the SM implementation to expose the SM template API within a header? We can discuss here. Issue is from NVIDIA, and they are right (IMHO) in saying that we should be following the TIM throughout our APIs.

Please discuss here if this is at all unclear since we can get some good guidance as far as how we should do this.

@neoblizz happy to get any thoughts from you as well!

[2019-09-04 11:09] akifrehman371 commented on #587
Cuda 10.1
GPU: 1080Ti
GCC version: 7.3.1 20180303
OS: CentOS 6.1
I will try v0.5.1 too

[2019-09-04 11:14] akifrehman371 commented on #587
Version v0.5.1 has the same problem.

git describe --tags
v0.5.1
[mahmad@onrportal gunrock]$ cd build_1/bin
[mahmad@onrportal bin]$ ./mst market ~/hetro_map_graphs/USA-road-t.CAL.gr
Loading Matrix-market coordinate-formatted graph ...
Reading from /home/mahmad/hetro_map_graphs/USA-road-t.CAL.gr:
  Parsing MARKET COO formatError parsing MARKET graph: invalid problem description.
Using 1 GPU: [ 0 ].

[2019-09-04 11:15] akifrehman371 commented on #587
Commit ID for v0.5.1: 0c9a96dd64ddeecae9208644631983fc889b32b4

[2019-09-04 14:13] neoblizz commented on #587
The first test should fail ` ./mst market ~/hetro_map_graphs/USA-road-t.CAL.gr` because you are reading gr format as market. The second should past, for sanity check, could you please run a small graph;

`/path/to/bin/mst market /path/to/dataset/small/test_mst.mtx`

This is also an active issue which may have some explanation; https://github.com/gunrock/gunrock/issues/123 I would like to see a fut

[2019-09-04 14:39] jowens commented on #590
@Laurawly more feedback! @neoblizz has thought about this.

@aschaffer Probably easier if you post here rather than having me copy your emails into this (but I'm willing to do so).

[2019-09-04 15:07] aschaffer commented on #590
The way that `bc(...)` is currently exposed is a good start. The only thing I'd change, as said, is to move the function template definitions from `bc_app.cu` into a header, say `bc_app.cuh`; include that header in bc_app.cu; and _not_ include implementation file `bc-app.cu` anywhere else, but include the header if need be.

(I guess, you _could_ leave the current BC implementation as is, but make

[2019-09-05 03:30] akifrehman371 commented on #587
It is working for test_mst.mtx This seems like a memory issue then

`[mahmad@onrportal bin]$ ./mst market ../../dataset/small/test_pr.mtx
Loading Matrix-market coordinate-formatted graph ...
Reading from ../../dataset/small/test_pr.mtx:
  Parsing MARKET COO format (4 nodes, 16 directed edges)... Done parsing (0s).
  Converting 4 vertices, 16 directed edges (unordered tuples) to CSR format...
Done

[2019-09-05 16:58] akifrehman371 commented on #587
I have tried running MST for CAL graph with Gunrock v0.3 and it is working correctly there. After that I tried a bigger graph(cage 14) and it failed on that. This seems to be the memory issue that is there since version 0.3

[2019-09-05 17:21] jowens commented on #587
Do you have access to a GPU with more memory (e.g., Tesla V100)? That would be an easy test to see if it's just a question of not having enough memory.

[2019-09-05 18:24] akifrehman371 commented on #587
I have access to 1080Ti with 8gb memory. I can try this on that.
The current result is on 750Ti with 2gb memory

[2019-09-05 18:26] Laurawly commented on #590
Partially solved by https://github.com/gunrock/gunrock/pull/591

[2019-09-05 18:27] jowens commented on #587
I think that's sensible. Gunrock is fairly good with memory usage (at least that's our experience when comparing against other libraries), but big graphs are big and take a lot of memory and 2 GB is pretty small by modern standards. It is possible that our answer is just going to be "With a graph of that size, you just need a GPU that has more memory".

[2019-09-06 20:58] maawad opened #592 "Graph generators with undirected flag"
**Summary:**
Graph generators (rmat or rgg) always produce directed graphs even with `undirected = true` flag.

**Reproducibility:**
Always

**To Reproduce:**
I was running TC with flags `rgg/rmat --sort-csr=true --undirected=true`

**Expected Behavior:**
Graph generator is expected to generate an undirected graph.

**Actual Results:**
Produces a directed graph without the edge doubling step (that

[2019-09-08 15:21] jowens opened #593 "Replace moderngpu with CUB"
@neoblizz helpfully found all mgpu instances. CUB is likely better supported going forward.

[code]

[2019-09-08 16:52] neoblizz commented on #593
Here's what needs to be replaced to CUB exactly, everything else is either replaced already or just mgpu context support.

https://github.com/gunrock/gunrock/blob/master/gunrock/oprtr/LB_advance/kernel.cuh#L564-L570

https://github.com/gunrock/gunrock/blob/master/gunrock/oprtr/advance/advance_base.cuh#L181-L188

https://github.com/gunrock/gunrock/blob/master/gunrock/oprtr/LB_CULL_advance/kernel.cu

[2019-09-08 21:05] neoblizz opened #594 "Dealing with nullptr in C++..."
C++ can be annoying at times, if we use the later g++/gcc versions (newer ones after I believe 4.9.x) everything is great! But, some of the clusters use RedHat, which has a hard requirement of gcc 4.8.6 + CUDA.

This version will fail to deduce types as it will consider `NULL` as a `0 (long)` instead of a `(T*)` explained further in this article: https://cpp4arduino.com/2018/10/26/why-cpp-programm

[2019-09-10 16:47] jowens commented on #39
@yzhwang Just checkin' on this, I know you hoped to find some time to think about Gunrock. Would love to get the band back together.

[2019-09-11 18:54] ajaleel1 opened #596 "Page Rank Nibble Implementation"
**Feature Description:**
A clear and concise description of the feature you are requesting and the problem it solves.

When I was comparing the Gunrock implemention, it looks like the algorithm implemented in Gunrock seems to differ from the version I have been working with (Figure 5 in [1]).  Below is a C++ version of the code:

[1] https://arxiv.org/pdf/1604.07515.pdf

![pr_src](https://user-ima

[2019-09-12 06:15] mahmoodn opened #597 "__CUDACC_VER__ is no longer supported"
Although cmake says cuda version is suitable, make command hit the following error

[code]

cmake output is

[code]

[2019-09-12 08:36] mahmoodn opened #598 "ptxas warning "out of range""
While building for SM_75 (RTX 2080Ti) on Cuda 10.1, I see these warnings:

[code]

More information is shown below:

[code]

Are these important?

[2019-09-13 06:59] mahmoodn commented on #597
It seems that the default system boost version is 1.63 and insufficient.
Although I have set a custom path to 1.65 in `cmake/FindBoostHeaders.cmake` as below

[code]
when I run cmake command, I still see the system boost version

[code]
Seems that I have to set some additional things. Any thought?

[2019-09-13 07:34] neoblizz commented on #597
Boost is optional, you can choose to delete it off of your system or comment out the following lines (clear cmake cache by deleting the build directory and rebuild):

https://github.com/gunrock/gunrock/blob/master/CMakeLists.txt#L49-L55

[2019-09-13 07:52] mahmoodn commented on #597
Still I get the same error although I have commented Boost

[code]
I don't know which part is causing that error.

[2019-09-13 08:13] neoblizz commented on #597
I don't think that error is due to boost. I will check when I have some time, you could also try CUDA 10.1? Or grep to see where we use `__CUDACC_VER__`.

[2019-09-13 11:54] mahmoodn commented on #597
In fact there is no `__CUDACC_VER__` in gunrock files.

[code]

[2019-09-13 13:56] neoblizz commented on #597
I take my original statement back about Boost.... This is definitely not a gunrock issue, I think your Boost is clashing with CUDA version and it is still being found somehow. Here's what people have suggested: https://github.com/BVLC/caffe/issues/5994#issuecomment-346360575 as you were originally doing.

May be worth making sure there's no copy of Boost 1.63.0 on your system.

Or set the followin

[2019-09-13 17:44] neoblizz commented on #598
@mahmoodn will you be able to try the new changes and see if they work? (just copy and replace this file in gunrock/util/cuda_properties.cuh)

https://raw.githubusercontent.com/neoblizz/gunrock/4ce8582ef5972d65ef3c988a0aaea7e8b1a99b0e/gunrock/util/cuda_properties.cuh

[2019-09-13 17:46] neoblizz opened #599 "Automate cuda_properties.cuh"
Annoying to keep updating the constants, we can use occupancy calculator and heuristics defined by CUDA to launch kernels with better launch configs.

[2019-09-13 17:46] neoblizz commented on #586
I am assuming this is resolved?

[2019-09-13 17:46] #586 closed

[2019-09-14 09:47] mahmoodn commented on #598
No it doesn't work.

[code]
Then
[code]
and so on...

[2019-09-15 17:59] mahmoodn commented on #597
Please leave this open. I will try that and let you know the result.

[2019-09-15 18:20] neoblizz commented on #598
I'll look into this.

[2019-09-16 19:01] mahmoodn opened #600 "Using graph500"
Is it possible to generate a graph with graph500 in order to feed it to the market option? Please let me know if there is any consideration to be in the right track.

[2019-09-16 19:05] mahmoodn opened #601 "Memory usage for large graphs"
I would like to know more information about how gunrock uses device memory. I mean what is loaded into the memory after printing the degree histogram?

Is there any possibility to use host memory in conjunction with the device memory in order to handle large memory usage? In short, I want to know if gunrock can run a 6GB graph on a 4GB GPU device.

[2019-09-16 19:06] jowens commented on #601
We've never tried this. I would expect it to run poorly and be completely dominated by CPU-GPU traffic as graph data, which has little locality, is paged back and forth.

[2019-09-16 19:07] porumbes commented on #599
See this: https://devblogs.nvidia.com/cuda-pro-tip-occupancy-api-simplifies-launch-configuration/

[2019-09-16 19:30] mahmoodn commented on #601
OK thanks.

[2019-09-16 19:30] #601 closed

[2019-09-16 19:35] jowens commented on #601
http://netsyslab.ece.ubc.ca/wiki/index.php/Totem  <- might be interesting for you, definitely targets your use case

[2019-09-16 20:37] jowens opened #602 "Persistent thread operator implementation"
@neoblizz suggests we do a persistent-thread version of operators. CUDA has increasing support for persistent thread programming and cooperative-groups has good synchronization capabilities, and we can reasonably expect this support will improve in future hw/sw. The specific benefit is that if we use a PT model, we can achieve kernel fusion within a PT kernel between two operators.

@neoblizz note

[2019-09-16 20:38] jowens opened #603 "ENH: Stream capture added"
@neoblizz notes that the "stream capture" capabilities of CUDA Streams will help us with our applications that make repeated calls to the same sequence of kernels.

https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__STREAM.html

[2019-09-17 03:14] neoblizz commented on #600
@mahmoodn you could use our built in `rmat` and `rgg` generators. When you use those, you don't need the `market` option.

[2019-09-17 03:15] neoblizz commented on #592
I can add this to rmat with my next push (working on grmat and saw the same issue).

[2019-09-17 14:30] neoblizz opened #604 "Profiling Breadth-First Search (Volta Arch. Analysis)"
[code]
[Kernel Analysis](https://github.com/gunrock/gunrock/files/3621837/void.gunrock__app__bfs__Inverse_Expand_gunrock__app__bfs__Problem_gunrock__app__TestGraph_unsigned.int.unsigned.int.unsigned.int.unsigned.int.768.unsigned.int.0_.unsigned.int.unsigned.int.unsigned.int.0_.in.pdf)

`gunrock::oprtr::LB`

![image](https://user-images.githubusercontent.com/9790745/65050762-ca6d8e80-d91c-11e9-84a2

[2019-09-17 18:19] neoblizz commented on #592
https://github.com/gunrock/gunrock/blob/master/gunrock/graph/coo.cuh#L385-L409

[2019-09-17 19:28] neoblizz commented on #604
Some interesting findings (for specific kernels above, may not be true in all apps):
- We have low shared memory usage
- We use 25*1024 registers per block = 25600, we have 64K available
- Can possibly consider doing cache loads and stores for compute operators by loading a chunk of the array in memory, (we can even do double buffering here)... this may be beneficial for the compute operators that

[2019-09-18 14:58] mahmoodn commented on #597
@neoblizz
I tried on another system.
On a system which has no "libboost-all-dev", I commented the lines you said [here ](https://github.com/gunrock/gunrock/issues/597#issuecomment-531132721).
The "cmake .." was fine, but "make" failed with Boost headers not found.

[code]

[2019-09-18 18:54] ajaleel1 commented on #596
Just pinging again on this.

From: Aamer Jaleel
Sent: Thursday, September 12, 2019 10:26 PM
To: gunrock/gunrock <reply@reply.github.com>; gunrock/gunrock <gunrock@noreply.github.com>
Cc: Author <author@noreply.github.com>
Subject: RE: [gunrock/gunrock] Page Rank Nibble Implementation (#596)

Hi Ben,

Thank you for getting back to me.  How easy would it be to morph your PRN version to the reference

[2019-09-18 18:57] jowens commented on #596
@ajaleel1 Ben told you exactly where his implementation came from. We documented what we did so that others could take our implementations and change them to meet their needs. I would imagine that it's probably one of the easier Gunrock programming tasks to take an existing pr_nibble implementation and change it to a different formulation.

[2019-09-18 19:03] ajaleel1 commented on #596
That’s good to know.  I didn’t want to go down a path if there were any foreseeable issues with the algorithm that I pointed to.

Will let you know based on progress that I make on my front.

From: John Owens <notifications@github.com>
Sent: Wednesday, September 18, 2019 2:58 PM
To: gunrock/gunrock <gunrock@noreply.github.com>
Cc: Aamer Jaleel <ajaleel@nvidia.com>; Mention <mention@noreply.github.

[2019-09-18 19:05] jowens commented on #596
My quick glance at the sample code you provided makes me think there shouldn't be any significant issues. I haven't gone through the pr_nibble code, but what you want to implement ought to map to Gunrock well.

[2019-09-19 14:40] neoblizz commented on #597
@mahmoodn good catch, there is a missing `#ifdef BOOST_FOUND` in `gunrock/app/pr/pr_text.cuh` file:

Replace this: https://github.com/gunrock/gunrock/blob/master/gunrock/app/pr/pr_test.cuh#L17-L21
with:
[code]

[2019-09-20 03:59] yzhwang opened #607 "Add paper reference or wikipedia reference for each app in Gunrock"
**Feature Description:**
Could we add in the comment, for each app we have in Gunrock, the source of the original
 algorithm, be it a wikipedia page, or an arxiv paper (or any link which is not behind a paywall)?

Since now we are having more and more apps, a lot of them go beyond the scope of text-style graph algorithms, which we can easily recognize without any reference. Plus, with the abbrevia

[2019-09-20 04:43] jowens commented on #607
@yzhwang I have that info for you if you want it (for the HIVE apps). Good thing to put in the docs though.

[2019-09-20 11:21] neoblizz commented on #607
Also https://gunrock.github.io/docs/#gunrock-39-s-application-cases, we can add references to the table as well.

[2019-09-20 19:00] neoblizz opened #608 "json schema"
Add `json-schema` versioning to json output, reminder to @neoblizz

[2019-09-20 20:59] neoblizz commented on #597
Pull-request #610 addresses the boost found issue for pagerank.

[2019-09-20 21:29] neoblizz commented on #577
@jowens resolved?

[2019-09-20 23:27] jowens commented on #577
If you tell me it's resolved ("spurious numbers"), it's resolved.

[2019-09-20 23:31] porumbes opened #615 "PageRank illegal memory access when using rmat generator"
**Summary:**
CUDA error 77: an illegal memory access was encountered.

**Reproducibility:**
Always

**To Reproduce:**
/path/to/pr/binary rmat

or

/path/to/pr/binary rmat --grmat true

**Expected Behavior:**
Generate pr result.

**Actual Results:**
Illegal memory access error.

**System Configuration:**
[code]
CPU: Intel(R) Xeon(R) Gold 6146 CPU @ 3.20GHz
OS: Ubuntu 18.04.1 LTS
gcc (Ubuntu 7.4.0-1

[2019-09-20 23:42] #608 closed

[2019-09-20 23:43] neoblizz commented on #577
It is. I don't see it with the runs after I fixed things up.

[2019-09-20 23:43] #577 closed

[2019-09-21 17:06] porumbes commented on #615
I ran a some initial checks and there seems to be an out of bounds memory access during a foreach at gunrock/oprtr/1D_oprtr/for_each.cuh (line 104). Unfortunately, the app runs to completion with the debugger connected.

[2019-09-22 16:08] mahmoodn commented on #597
OK thank you. That is fine.
However, regarding the system which has an installed boost, I am still can not build Gunrock (the original problem). I have tried many things but I really don't know where is the bug that Gunrock can not find my boost, but instead uses system boost.

Please see below, that I have set BOOST_ROOT prior to cmake command
See the versions are different.
[code]

[2019-09-22 17:50] jowens commented on #597
So something that might help us out in terms of debugging is if you use cmake's shipped `FindBoost.cmake`. I think we have a custom `FindBoost.cmake` in Gunrock's `cmake` directory. Maybe we don't need that any more? Delete it (and maybe `FindBoostHeaders.cmake`) and tell us what happens (if your cmake install has both)? (I have a cmake 3.15 install that appears to have a `FindBoost.cmake` built i

[2019-09-22 19:39] neoblizz commented on #597
I think the easiest way to get this working is switch to Boost 1.58 and point the root to that instead of 1.63 (because this is a problem with 1.63 and cuda, not with gunrock).

[2019-09-23 06:53] yzhwang commented on #607
Thanks guys! I somehow missed that table. The info there is useful and good enough. Close the issue now.

[2019-09-23 06:53] #607 closed

[2019-09-23 16:32] ajaleel1 commented on #596
Hi,

I’ve started the implementation and was wondering if I could pick some Gunrock developers brain on whether the approach I’m taking is the right now.

I’ve successfully integrated the C++ implementation into the Gunrock framework and have also started using the existing pr_nibble implementation framework to kickstart the implementation I’m interested in.

Looking at the C++ source below, and m

[2019-09-23 18:03] bkj commented on #596
Yes -- I think your approach sounds correct.  Let us know if you have more questions!

[2019-09-23 18:03] jowens commented on #596
Thank you @bkj !

[2019-09-25 17:49] ajaleel1 commented on #596
Hi John,

If possible, I’d like a short discussion with somebody on the GunRock interface side to help answer a few questions.

Who would be a good person?

Thanks
  Aamer

From: John Owens <notifications@github.com>
Sent: Monday, September 23, 2019 2:04 PM
To: gunrock/gunrock <gunrock@noreply.github.com>
Cc: Aamer Jaleel <ajaleel@nvidia.com>; Mention <mention@noreply.github.com>
Subject: Re: [gun

[2019-09-25 19:49] neoblizz commented on #615
It's whatever is calling that for_each that is causing the bug. I couldn't get backtrace to tell me what it is.

[2019-09-26 18:15] jdwapman opened #616 "HITS in gunrock.h"
Need to expose HITS in gunrock.h

_Originally posted by @neoblizz in https://github.com/gunrock/gunrock/pull/595#issuecomment-529689366_

[2019-09-30 22:01] porumbes commented on #615
@neoblizz ditto, I had the same issue and couldn't actually get a backtrace. Dropping various breadcrumbs to hone in on the problem.

[2019-10-01 17:49] #600 closed

[2019-10-01 18:01] neoblizz commented on #551
**Work-in-progress:** issue #604

[2019-10-01 19:23] neoblizz opened #618 "Filter needs to handle null_frontier (complete graph as a frontier input)."
Currently, in advance you can pass in `null_frontier` as an input (this is a special null pointer), it just means that the entire graph is queued in as an input and the advance will be performed on all nodes/edges.

Filter currently doesn't have support for this; instead of doing the tile (fancy) load, we just need to map the entire graph as an input load: https://github.com/gunrock/gunrock/blob/m

[2019-10-01 19:29] porumbes commented on #615
pr is unlikely to be the cause of the problem, but here's a bit of a trace to what triggers the issue.

pr_test.cuh Compensate_ZeroDegrees, line 146
`GUARD_CU(graph.FromCoo(new_coo, util::LOCATION_DEFAULT, 0, quiet));`

app_base.cuh line 93
`if (!self_coo) GUARD_CU(this->CooT::FromCoo(coo, target, stream, quiet));`

[2019-10-01 20:09] neoblizz commented on #615
@maawad mentioned an inherent problem with the generator that may be leading to this (@maawad do you have any insights on this?)

[2019-10-01 21:17] maawad commented on #615
I didn't really look into it. I exported the rmat output and used it as an input market file, that worked for me.

[2019-10-04 16:00] mahmoodn opened #620 "ForEach_Kernel source"
While profiling a graph, I see the following kernel
[code]

I see more than one instance of  `ForEach_Kernel` in `gunrock/oprtr/1D_oprtr/for_each.cuh`. Some are comment though. I would like to know, which one matches that? Also, may I ask what is the main purpose of this kernel? Since it has taken most of the GPU time compared to other kernels.

[2019-10-04 16:05] neoblizz commented on #620
Hi, this is under the BFS problem file. It is not actually timed in the computation of the algorithm. You can think of this as setting up the problem for the algorithm: https://github.com/gunrock/gunrock/blob/master/gunrock/app/bfs/bfs_problem.cuh

[2019-10-04 16:11] mahmoodn commented on #620
Yes I used BFS binary. But it takes about half of the GPU time. I mean it affects the performance. The kernel is invoked 1 time and takes the most time compared to others.

[2019-10-04 16:15] neoblizz commented on #620
Right. It is part of the overall load time setting things to Invalid: https://github.com/gunrock/gunrock/blob/master/gunrock/app/bfs/bfs_problem.cuh#L227-L249 You may be able to improve this by using cudamemset, but I don't think this is significant to the algorithm at all. We don't put any effort optimizing for the load-time. @jowens can comment on how performance numbers are reported for GPU alg

[2019-10-04 16:19] jowens commented on #620
We have tried to write this up here:

https://gunrock.github.io/docs/#methodology

If anything is unclear there or you want more detail/clarification, we can update.

[2019-10-04 17:39] mahmoodn commented on #620
OK thank you.

[2019-10-04 17:39] #620 closed

[2019-10-08 20:19] porumbes commented on #602
@YuxinxinChen take a look and discuss some of your current work with @neoblizz when you get a chance.

[2019-10-11 17:39] afender opened #622 "Support `--remote` when initializing submodules"
**Problem**
Using `--remote` will result in grabbing the `master` branch of moderngpu while gunrock supports `branch_1.1`. There might be others submodules that have this issue.

Notice that RAPIDS currently uses `git submodule update --init --recursive --remote`

**Solution**
This is an easy fix. Just tell git what branch you are using for your submodules and make sure gunrock is compatible with

[2019-10-11 17:40] jowens commented on #622
Can you change `.gitmodules` to point to moderngpu `branch_1.1` and tell us if that works?

[2019-10-14 17:15] neoblizz commented on #622
Commit 5ffbae648ab8e544d3bde8ebbce2c8e1ab2d1c06 fixes this issue, you can see from the log below that correct commit is being fetched for moderngpu: `Submodule path 'externals/moderngpu': checked out '5029d38cab83492d8091cce5902c077ab3ca72a9'`

[code]

[2019-10-14 17:15] #622 closed

[2019-10-17 13:13] tuandungdao commented on #173
Can you give me source code BFS solve roadNet-CA and roadNet_TX, please

[2019-10-17 14:29] jowens commented on #173
All of our source code is on github. Here's how you get it:

https://gunrock.github.io/docs/#compilation

[2019-10-18 19:20] mahmoodn opened #624 "Need cublas?"
Is cublas mandatory?
[code]
cmake didn't complain about that.

[2019-10-18 19:24] neoblizz commented on #624
No, not at all. It could be your system settings of cuda messing up there. The error is due to nvcc. Make sure you have the right version of nvcc.

[2019-10-19 05:32] mahmoodn commented on #624
OK it seems that things are messy.
Can you please say how to give gunrock a custom gcc path and not the system installation?

[2019-10-19 06:03] mahmoodn commented on #598
I think this has been addressed in 1.1. Right?
But with the latest git version, I still see that message

[code]

[2019-10-19 06:04] jowens commented on #624
https://gitlab.kitware.com/cmake/community/wikis/FAQ#how-do-i-use-a-different-compiler

[2019-10-19 07:32] mahmoodn opened #625 "Built on SM_70, run on SM_75"
Although I have built gunrock for SM_70, I see that I can run the binary on 2080Ti which is SM_75.

[code]

Now, when I run bfs, it is fine on 2080Ti.
[code]

Is that a normal behavior?

[2019-10-19 14:25] mahmoodn opened #626 "Relax kernels for LB"
I would like to know what is the difference between `./oprtr/LB_advance/kernel.cuh:RelaxPartitionedEdges2<>` and `./oprtr/LB_CULL_advance/kernel.cuh:RelaxPartitionedEdges2<>`?
Also, may I know what the algorithm that this kernel is trying to do?

The same question is for `RelaxLightEdges` in those two paths. I know these are related to Load Balancing, but I would like to know its original descript

[2019-10-20 10:33] mahmoodn commented on #626
Are these related to Section 4.4 in the [paper](https://arxiv.org/pdf/1501.05387.pdf)?

[2019-10-20 17:45] neoblizz commented on #625
I believe it is possible to run programs with different SM arch on any GPUs as long as the required resources that you are using are actually allowed/available in the GPU that you are running stuff on. So, what may be happening is when building for SM 70, it is using correct number of registers/threads/shmem etc. and it just works on a GPU with SM 75.

[2019-10-20 17:46] neoblizz commented on #625
I still have to address the issue you had before with compiling using SM 75, just haven't gotten around to it: https://github.com/gunrock/gunrock/issues/598

[2019-10-20 17:48] neoblizz commented on #626
@mahmoodn yes, that section alone would answer a lot of your questions. The difference between the two kernels is that one does `advance` using the LB strategy (prefix-sum), and the other does `advance` and `filter` (CULL) in the same kernel as an optimization called kernel fusion (section 4.3 in the paper).

[2019-10-20 17:55] neoblizz commented on #625
https://devtalk.nvidia.com/default/topic/1044361/cuda-setup-and-installation/value-quot-sm_75-quot-not-defined-with-cuda-9-0-installed-on-rtx-2070/post/5298421/#5298421

[2019-10-21 00:03] Zerg1996 opened #627 "Color algorithm"
**Summary:**

When I run the coloring algorithm with the parameters ```./color --graph-type=rmat --graph-edgefactor=10 --graph-scale=3 --undirected``` often enough it cannot colorize the graph and gives a list of vertices that have an edge but they are painted the same color. For large graphs, this problem always arises.
[code]
**Reproducibility:**
Always

**To Reproduce:**
1. Clone gunrock
2. mkd

[2019-10-21 00:14] Zerg1996 commented on #627
And when I try run CPU_Reference also work rather bad.
This code (color_test.cuh:98)
[code]
can't colorized graph
0 - 1
0 - 2
0 - 3
1 - 0
1 - 2
2 - 3
(this graph - square with diagonal rib)

[2019-10-21 00:57] sgpyc commented on #626
As @neoblizz said, the difference between LB & LB_CULL is that LB_CULL is a fused implementation of advance (LB) and filter (CULL).

The difference between the RelaxPartitionedEdges kernels and the RelaxLightEdges is that, RelaxPartitionedEdges uses a two level binary search to find perfect output balance across blocks and threads (this is for large output frontiers), and RelaxLightEdges takes in

[2019-10-21 10:48] BenachourAmira opened #628 "Question about Gunrock implementation of BC algorithm"
Hello,
I've been using BC test provided with gunrock on some data and I have some questions about Validity BC Value. It indicates that there are errors (INCORRECT: [...] result[...] reference[...]) and I can not understand the origin of these errors and their significance. Can you please explain that ?
Thank you

[2019-10-21 14:33] jowens commented on #628
Do you have a dataset you can share?

[2019-10-21 15:55] BenachourAmira commented on #628
Here is the dataset I have been using [https://drive.google.com/open?id=1poi9dqC1bFblQhGPFJdeNDSU7U3hzU_i](url)
When I run it with the following instruction

 I get the following results [https://drive.google.com/open?id=1lzz7kxVq5AcNdOYRQLD4goLmBzvlsZtq](url)
The screenshot below shows the execution results
![Capture](https://user-images.githubusercontent.com/33590829/67221249-6f531e00-f42b-11e9-

[2019-10-21 16:23] neoblizz commented on #627
@Zerg1996 I'll take a look at this -- I think it is related to our graph generators bug, because if I run using a market file it works:

[code]

`--test-run=true` will run the algorithm until all nodes are colored, rather than based off of number of iterations as a user input.

Can you please confirm that using market here works for you as well?

[2019-10-21 16:36] neoblizz commented on #628
@BenachourAmira which gunrock version are you running? `--src=-1` as far as I remember is only supported in older v0.5.x gunrock, not in the v1.x gunrock (which is the master branch right now).

Using your dataset, and src = 0:
[code]

[2019-10-21 16:37] neoblizz commented on #628
The support for a full BC is not that difficult by the way, it is just not implemented in v1.x. It is just a for loop over all the nodes on this little piece of code:

https://github.com/gunrock/gunrock/blob/master/gunrock/app/bc/bc_app.cu#L116-L122

[2019-10-22 04:15] Zerg1996 commented on #627
@neoblizz Unfortunately this did not help me, I also tried to execute on market files (example in zip). And color each time gives a different answer (from 3 to 6 colors). (I use ```./color --graph-type=market --graph-file=1.mm --test-run=true```)

Then I try color this graph with hands and with Boost.Graph(https://www.boost.org/doc/libs/1_71_0/libs/graph/doc/sequential_vertex_coloring.html) result

[2019-10-22 17:21] neoblizz commented on #627
@Zerg1996 the algorithm in boost is a sequential algorithm, the default one that you are using in gunrock is a GPU algorithm based on JPL (uses randomness). And since it assigns random numbers, it can sometimes find better coloring schemes than a sequential algo., and that may vary from runs-to-runs. If you want the same answer every single time, you can use the same random seed and make sure that

[2019-10-22 17:22] neoblizz commented on #627
I'll look more into it in fixing the rmat/rgg generators as input to coloring algorithm.

[2019-10-22 17:28] neoblizz commented on #599
Ahmed notes;

[2019-10-22 19:13] mahmoodn commented on #625
Thank you

[2019-10-22 19:13] #625 closed

[2019-10-22 19:13] mahmoodn commented on #626
Thanks. I will provide more detail on the question soon.

[2019-10-22 19:14] #624 closed

[2019-10-22 20:18] Zerg1996 commented on #627
@neoblizz This would not be a problem if the correct colouring was found every time.
But I on command ```./color --graph-type=market --graph-file=1.mm --test-run=true``` I get result like
[code]
And this mean id 4 and id 3 have same color and id 6 and id 2 same. And it is not correct.
Please send your run result (2 or 3 run color algorithm) on my market graph (1.mm)

[2019-10-22 20:55] neoblizz commented on #627
Got it, I will take a look.

[2019-10-22 21:05] OsipovMax opened #629 "PageRank problem"
**Summary:**
1. If I run a PageRank test with an RMAT graph type and also specify a graph-scale parameter value greater than 5, I get "CUDA error 77: an illegal memory access was encountered".
2. If I specify the graph-edgefactor parameter, I also get "CUDA error 77: an illegal memory access was encountered".
But if I don't specify the graph-edgefactor parameter and the graph-scale parameter value

[2019-10-22 21:17] neoblizz commented on #629
Related to #615

[2019-10-23 03:34] YuxinxinChen opened #630 "Couldn't compile with ENABLE_PERFORMANCE_PROFILING flag"
**Summary:**
I am trying to compile Gunrock with the ENABLE_PERFORMANCE_PROFILING flag to produce some profiling data.

**Reproducibility:**
I am using the master branch. I start with:
``
mkdir build & cd build
cmake -DENABLE_PERFORMANCE_PROFILING=ON -DGUNROCK_BUILD_APPLICATIONS=OFF -DGUNROCK_APP_BFS=ON -DGUNROCK_APP_PR=ON ..
``

However, I got warning when I do cmake:
``
Manually-specified variab

[2019-10-23 08:22] BenachourAmira commented on #628
Thank you for your quick reply.
I tried to run a newer version of gunrock, but I'm having some compilation issues when doing _make_
[code]

[2019-10-23 09:35] yzhwang commented on #630
I don't think ENABLE_PERFORMANCE_PROFILING is a cmake defined flag (like other flags you used there). Current head seems to have defined this:
https://github.com/gunrock/gunrock/blob/master/gunrock/app/enactor_types.cuh#L31
But just disabled its actual function in the code:
https://github.com/gunrock/gunrock/blob/master/gunrock/app/bfs/bfs_app.cu#L134

Easy way to fix is to uncomment those lines b

[2019-10-23 18:31] YuxinxinChen commented on #630
Tried what @yzhwang suggested:
uncomment line https://github.com/gunrock/gunrock/blob/master/gunrock/app/bfs/bfs_app.cu#L134
[code]
Got this error:
[code]
So I tried to add the header file by:
[code]
Also changed the Display_Performance_Profiling call to
[code]
Got this error:
[code]

I guess many gunrock API has changed but display_performance_profiling hasn't been updated.
Maybe I should @maawad

[2019-10-24 04:01] LuciaRan opened #631 "compile error"
### some errors occur when I tried to compile.
I follow the guide,and do like

1. git clone --recursive https://github.com/gunrock/gunrock/
2. cd gunrock
3. mkdir build && cd build
4. cmake ..
5. make

### environment
NVIDIA-SMI 418.87.00
Driver Version: 418.87.00
CUDA Version: 10.1
gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.3)

**but some errors occur  during "make"**

/home/dbci/qsy/gunrock/

[2019-10-24 04:13] neoblizz commented on #631
What kind of GPU do you have? Seems like you are building for SM 20 and 21, which is really old:
[code]

[2019-10-24 04:15] neoblizz commented on #628
Same comment as #631, its building for SM 20 and 21, which it shouldn't. These archs are turned off in CMAKE. What GPU do you have that you are testing on? And can you tell me more about the environment?

[2019-10-24 07:24] BenachourAmira commented on #628
I'm using a gpu "Tesla K40c" compute capability 3.5
cuda version 8.0.61
cmake version 3.15
gcc version 5.4.0

[2019-10-24 14:09] neoblizz commented on #631
Make sure in your bashrc, you export the latest CUDA path 10.1, cmake still
sees you are using CUDA 8. That may be an issue.

On Thu, Oct 24, 2019, 12:17 AM LuciaRan <notifications@github.com> wrote:

[2019-10-24 14:10] neoblizz commented on #628
Is it possible for you to try a newer cuda version?

On Thu, Oct 24, 2019, 12:24 AM BenachourAmira <notifications@github.com>
wrote:

[2019-10-24 19:18] mahmoodn opened #632 "Reading .edges format"
Maybe the question is not directly related to gunrock, but I would like to know if there is any way to convert `.edges` format to `.mtx`? Or gunrock is able to read edges format?
It seems that the first like of mtx which is a summary of the graph is the difference between these two formats.

[2019-10-24 20:16] jowens commented on #632
What are you asking? I don't think we have any experience with `.edges` format at all.

[2019-10-24 20:22] mahmoodn commented on #632
OK. I thought you have run gunrock with graphs in http://networkrepository.com
Anyway...

[2019-10-24 20:22] #632 closed

[2019-10-24 20:27] jowens commented on #632
Everything we've run has been .mtx.

[2019-10-24 23:19] YuxinxinChen commented on #630
Finally the profiling tools seem to work on v0.5.1
Also uncomment this line: https://github.com/gunrock/gunrock/blob/v0.5.1/gunrock/app/enactor_types.cuh#L25

Now I have tried running profiling tools on hollywood_2009 dataset and got these results:
[code]

Thank you very much @yzhwang  You are a lifesaver!

[2019-10-24 23:19] #630 closed

[2019-10-25 01:14] yzhwang commented on #630
What is Fu-queue? (should be full-queue right?) I also noticed a couple of 'neibor' exist in the code.  @neoblizz consider doing a global code clean to get rid of these embarrassing names? I could do it but I do not know how many more of these exist. I think change like this should be in one commit.

[2019-10-25 01:17] neoblizz commented on #630
@yzhwang Idk if I will be willing to spend time to clean-up 0.5.x API, if anything we should enable this functionality in v1.x and have proper names with it.

[2019-10-25 01:19] yzhwang commented on #630
'neibor's are in v1.x too :-) anyway, just a suggestion. Of course do not put it high up on the to-do list.

[2019-10-25 01:20] neoblizz commented on #630
Yeah, definitely worth doing a pass-through for v1.x! Would love it if you can spend some time on it, and whatever is left I can do a pass-through to clear others.

[2019-10-26 15:58] neoblizz commented on #627
@Zerg1996 I spent an hour on this, your `1.mm` dataset has zeroes in it, which I haven't seen being used in matrix market format (mtx). If I increment all of your nodes by 1 (see the attached file) and use the `--undirected` graph, which is required btw (and was used for all datasets in the paper), no run fails.

Segfault with 0s in market format:
[code]

Using fixed file (JPL algorithm):
[code]

[2019-10-26 15:58] neoblizz commented on #627
Fixed dataset:
[code]

[2019-10-26 16:38] neoblizz commented on #627
@Zerg1996 if you'd like to use your original file, please set `vertex-start-from-zero=false`, that way it won't subtract 1 from the mtx load:

https://github.com/gunrock/gunrock/blob/dev/gunrock/graphio/market.cuh#L582-L590

[code]

[2019-10-26 18:14] mahmoodn opened #633 "test_bfs.cu:76:108: error: no matching function for call"
On a system with no admin access, I faced this compilation error and I don't know if it is with cuda, gunrock, boost or gcc.

I have compiled gunrock-1.0 with cuda-10 before, but this time, the specs are

gcc 4.8.6
boost 1.65.1
cuda 10.0
gunrock 1.0

The error is
[code]
Can someone help on who is causing this error?

[2019-10-26 18:33] neoblizz commented on #633
@mahmoodn I faced the same thing on an older system, this error is due to the NULL pointer I believe. Please take a look at this issue and see if you can make the change required for BFS to compile: https://github.com/gunrock/gunrock/issues/594

So, in your issue above, the problem is the NULL not corresponding to a null pointer. Just cast it with whatever pointer it needs. I believe that one corr

[2019-10-26 19:48] mahmoodn commented on #633
Thanks. That solved, However at this part:

[code]
I get similar error. Checking the source of `Validate_Results`, I see

[code]

However, simply changing `NULL` to `(VertexT*)NULL` won't solve that error
[code]

[2019-10-26 19:58] mahmoodn commented on #633
Excuse me, this modification seems to be incorrect
[code]
Error
[code]

[2019-10-26 20:16] mahmoodn commented on #633
It is confusing.... I have to use `GraphT::VertexT *ref_preds = (GraphT::VertexT*)NULL`
There are two `Validate_Results` in bfs_app.cu and I have casted in a way that I think it is correct.

[code]
I also modified the source of `bfs_test.cu` as below:

[code]
Also, in `Validate_Results`, I modified:

[code]

Here is the error I get

[code]
The full output is:
[code]

[2019-10-27 07:29] mahmoodn commented on #633
@neoblizz
The following change has to be made.

[code]
Thanks.

[2019-10-27 07:29] #633 closed

[2019-10-27 08:38] mahmoodn opened #634 "variable "XX" may not be initialized, gcc 4.8.5"
On the way to build gunrock with gcc 4.8.5, at 60% progress, there are some errors such as

[code]
The code looks likes
[code]
Which should be changed to

[code]
Hope this helps others.
@neoblizz

[2019-10-27 08:38] #634 closed

[2019-10-27 09:22] mahmoodn commented on #633
Additionally, that modification should be done in sssp_app.cu.

[2019-10-27 09:23] #626 closed

[2019-10-28 12:38] LuciaRan commented on #631
I update CUDA to 10.1 and CMAKE to 3.14, and everything is ok now. Thank you very much!

[2019-10-28 12:38] #631 closed

[2019-10-29 23:07] porumbes commented on #615
Just a quick note, you can workaround the problem by running with `--compensate=false`

[2019-10-30 05:39] limin2015 opened #636 "compile error"
**Summary:**

I encounter some error after "make" commond:
***/gunrock-old2/examples/bfs/test_bfs.cu:76:108: error: no matching function for call to ‘CPU_Reference(GraphT&, long unsigned int&, bool&, bool, LabelT*&, NULL, long unsigned int&)’
         float elapsed = app::bfs::CPU_Reference(graph, src, quiet, false,

**To Reproduce:**

git clone --recursive https://github.com/gunrock/gunrock;
mkdi

[2019-10-31 00:38] neoblizz commented on #603
https://devblogs.nvidia.com/cuda-graphs/ (newer)
https://devblogs.nvidia.com/cuda-10-features-revealed/ (release blog)
https://github.com/NVIDIA/cuda-samples/blob/master/Samples/simpleCudaGraphs/simpleCudaGraphs.cu (sample)

[2019-10-31 00:39] neoblizz commented on #636
@limin2015 per CUDA's guide, Ubuntu 18.04's gcc requirement is 7.4.0, and you are using 4.8.5. https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html

[2019-10-31 02:34] limin2015 commented on #636
I use another system configuration with cuda 9.0, gcc 4.8.5 on Red Hat 7.3 as suggested in https://docs.nvidia.com/cuda/archive/9.0/cuda-installation-guide-linux/index.html, but the same error still occurs. Do you know why?

The New System Configuration:
GPU: Tesla P100
CPU: Intel(R) Xeon(R) CPU E5-2690 v4 @ 2.60GHz
OS: Red Hat Enterprise Linux Server" VERSION="7.3 (Maipo)"
CUDA Version: 9.0
gcc:

[2019-10-31 02:50] neoblizz commented on #636
Yes, it's to do with C++ pointers getting handled differently in 4.8.5 I believe. @mahmoodn was fixing these for his build: https://github.com/gunrock/gunrock/issues/633, I would love for him to do a pullrequest on this so I we can fix it.

I plan to add the right cast for all pointers in the near future as well.

[2019-10-31 03:57] limin2015 commented on #636
Thanks for your help. I have another questions,  can you help me?

1. As shown in https://docs.nvidia.com/cuda/archive/9.0/cuda-installation-guide-linux/index.html,
for ReadHat 7.3, the Native Linux Distribution Support in CUDA 9.0 is gcc 4.8.5, can I use gcc version newer than 4.8.5?
For example, I tried with gcc 7.2.0 and got an error like this:
nvcc error   : 'cicc' died due to signal 7 (Bus er

[2019-10-31 04:01] jowens commented on #636
Our experience is "use the OSes and compilers exactly as listed in the CUDA installation guide or you're going to have a real bad time". We have found that CUDA (not just Gunrock, but all of CUDA) works only with the exact compiler versions they specify. (It takes a LOT of work for NVIDIA to get a particular compiler working with CUDA. Other compiler versions simply aren't going to work.)

[2019-10-31 04:03] limin2015 commented on #636
I got that. Thanks a lot!

[2019-10-31 04:40] limin2015 commented on #636
I have solved my build problem (cuda9.0, gcc4.8.5, RedHat 7.3) by using the method from #633 by @mahmoodn. Thanks a lot!

[2019-10-31 04:40] #636 closed

[2019-10-31 19:35] neoblizz opened #640 "Jenkins build, retry only twice."

[2019-10-31 19:36] neoblizz commented on #628
https://github.com/gunrock/gunrock/issues/631#issuecomment-546927492 (same issue)

[2019-10-31 19:36] #628 closed

[2019-11-01 04:48] sgpyc commented on #615
The “Compensate_ZeroDegrees” method is not an algorithm, but more like how to deal with vanishing ranking values from the 0-out-degree vertices. Considering PR as a flow problem, the sum of all ranking values of vertices should stay the same, (in the case of normalized PR, the sum is 1). But for 0-out-degree vertices, ranking values escape. So to compensate this, one extra vertex is added to have