[2019-11-02 16:53] Zerg1996 commented on #627
Yeah, ty a lot! Now it's correct and awesome =)

[2019-11-02 16:53] #627 closed

[2019-11-02 19:25] mahmoodn commented on #633
Do you see the pull request?
@neoblizz

[2019-11-02 19:50] mahmoodn commented on #634
@neoblizz
Do you see the pull? I have pushed #633 and #634.

[2019-11-04 00:01] kelayamatoz opened #642 "Looking for Help to Understand Some Performance Issues."
Dear Gunrock Team,

First of all, thanks a lot for offering such a great and well-implemented GPU library. The programming model is also quite neat.

I was wondering if I could get some help understanding a few performance bugs. I'm trying to benchmark the performance of Gunrock by running BFS and PR on a V100 instance on Google Cloud. The host has 8 vCPUs and 30GB memory. The implementations of B

[2019-11-04 05:18] jowens commented on #642
I got a new build of Gunrock from trunk and ran it using

[code]

on a V100 in a DGX Station. Your results are exactly consistent with mine, and you correctly (!) notice that our published numbers on a K40 were twice as good.

We're gonna have to look into this! I certainly stand by our previous numbers (and we have JSON files from those runs, which you're welcome to comb through). I will say that

[2019-11-04 06:38] jowens commented on #642
It does appear that roadNet got slower with Gunrock 1.0. In general you can count on speedups from K40c to newer GPUs (below graph is normalizing newer GPU performance to the K40c on a range of BFS settings with Gunrock 1.0).

[gunrock_bfs_1_0_speedup.pdf](https://github.com/gunrock/gunrock/files/3802844/gunrock_bfs_1_0_speedup.pdf)

[2019-11-04 20:00] kelayamatoz commented on #642
Thanks a lot for your advice; the graph is quite self-explanatory and the visualization looks really nice. I will try a few scale-free networks and will let you know if I ran into more performance issues. I am looking forward to future updates!

[2019-11-04 20:13] jowens commented on #642
We appreciate you bringing this to our attention (and so politely too). We'd like to do some regressions just to see what else has changed (but it's a bit of programming to go through all the data).

[2019-11-05 03:13] bashdash4 commented on #551
Are Louvain and LGC the only two applications from the list that feature documentation of this nature? I want to make sure I don't perform redundant work.

If docs on BFS are needed (beyond what is given in the Methodology section of the front page) I could probably start with that as it's a concept I'm familiar with.

[2019-11-05 03:20] jowens commented on #551
https://github.com/gunrock/docs/tree/master/source/hive

[2019-11-05 14:44] MaciekCi opened #643 "error accessing h_pointer with MultiGPU"
Hi everyone, I'm trying to run Gunrock on multi-gpu, and I'm stuck. I'm looking for some advice on what I can be doing wrong.

GPU: 2x Quadro RTX 6000
OS: Ubuntu 18.04 LTS
CUDA: 10.1
Command:  --graph-type=market --graph-file=<file.mtx> --src=<number> --device=0,1 --partition-method=static

For _device=0_ or _device=1_ everything works (tested with nvtop), but when I'm using _device=0,1_ then I'm

[2019-11-05 16:16] jowens commented on #643
What is the actual executable you're running (e.g., bfs)? And Gunrock version?

[2019-11-05 17:48] MaciekCi commented on #643
BFS.
v1.1.0 pulled around 2 weeks ago.

[2019-11-05 18:13] jowens commented on #643
Multi-GPU work has not at all been the focus of our 1.0 effort, but BFS should work. Gotta pull @sgpyc into this discussion.

Would you be interested in using 0.5 since that had a lot better multi-GPU support?

[2019-11-05 18:21] MaciekCi commented on #643
Sure! I can use whatever will work. How to pull the most correct 0.5 version for that? I was following your table:

Application | Directory | Single GPU | Multi-GPU
-- | -- | -- | --
Breadth-First Search | bfs | v1.x.x | v1.x.x

But I don't mind using older, as long as I will not lose too much performance. :)

[2019-11-05 18:23] jowens commented on #643
I think the latest 0.5 version would probably be best.

[2019-11-05 21:51] MaciekCi commented on #643
v0.5.1 is working. Thanks.
Not sure if I'm missing any performance (I will compare Gunrock with others), but well, at least is working.

So I assume it's something to look for in v1.2.

[2019-11-06 10:57] mahmoodn opened #645 "Fewer than X vertices visited"
For the following bfs command on arabic-2005 graph
[code]
I see this in the output:
[code]
I haven't seen that for other inputs. Is that normal? Why fewer than 5 vertices where visited?

[2019-11-06 15:14] jowens commented on #645
That graph may have several disconnected components (I believe it does) and if you've chosen a source randomly, you might have landed in a very small component.

[2019-11-06 17:39] mahmoodn commented on #645
Does that mean multiple runs may fix that?
Also, I would like to know if analyzing BFS is more meaningful for vertices with high degrees or it doesn't matter?

[2019-11-06 17:44] jowens commented on #645
We had a long discussion on this internally! In general if you're benchmarking BFS you'd like to do it on the largest connected component and average the runtimes over multiple different sources. What we are currently doing is just discarding outliers in our result (I don't recall if it was runtimes that were one or two standard deviations faster than the mean over multiple runs). You could force

[2019-11-06 17:49] mahmoodn commented on #645
Thanks for the explanation.

[2019-11-06 17:49] #645 closed

[2019-11-08 20:58] #454 closed

[2019-11-09 18:23] neoblizz commented on #573
@porumbes I think a new student should attempt to clean the warnings up -- link to a build that lists them: http://daisy.ece.ucdavis.edu:8080/blue/rest/organizations/jenkins/pipelines/gunrock/branches/PR-646/runs/1/nodes/28/steps/35/log/?start=0

[2019-11-13 10:02] mahmoodn opened #647 "First mismatch: ref_labels[1] (1) != h_labels[1] (0)"
I don't remember if I have modified the code, but on one of the machines with 1080Ti, I get this while running `bfs market`

[code]
How can I narrow the debug?

[2019-11-13 13:56] mahmoodn commented on #647
Please ignore that.
Sorry for interrupt.

[2019-11-13 13:56] #647 closed

[2019-11-19 19:31] neoblizz opened #649 "Refactor: Multi-GPU Gunrock Framework"
Considering peer-to-peer memory access when available.
Pinned, Read-Only, etc. UVM flags.
PCIe interface.
Abstraction for algorithms to use the above framework.

[2019-11-19 19:43] jowens commented on #649
Let's make sure @YuxinxinChen keeps track of this issue as well.

[2019-11-19 19:45] #629 closed

[2019-11-19 19:53] neoblizz commented on #584
https://github.com/gunrock/gunrock/issues/496

[2019-11-19 19:53] #584 closed

[2019-11-19 20:28] neoblizz opened #650 "Stripmining Operator"
Conversation on the new operator suggestion...

mosama:gunrock:  5 days ago

jowens  5 days ago

mosama:gunrock:  5 days ago

mosama:gunrock:  5 days ago

ctcyang:bus:  5 days ago

"Our two-phase implementation isolates the expansion and contraction workloads into separate kernels. ... The contraction kernel begins with the edge queue as input." (edited)

ctcyang:bus:  5 days ago

mosama:gunrock:

[2019-11-20 17:31] jowens opened #651 "Let's get our best results in Graphalytics"
https://graphalytics.org/

Not sure how good their results are, but they don't seem complete for Gunrock.

Good new-student project.

[2019-11-20 20:50] #596 closed

[2019-11-20 20:53] #522 closed

[2019-11-21 08:03] yzhwang commented on #593
I see currently we use moderngpu for two primitives: SortedSearch and Scan, where Scan has its equivalent implementation in CUB, but SortedSearch does not. SortedSearch is based on merge-path, which is not implemented in CUB either. So we have two choices to fully remove the dependency of moderngpu: 1) implement a minimal version of merge-path based SortedSearch ourselves; 2) add one to CUB. Seems

[2019-11-21 15:56] jowens commented on #593
Awesome!

We talked to the Thrust team on this (hoping they'd implement it, but no dice):

[2019-11-27 00:39] crozhon commented on #598
I encountered this bug building at home, so I started taking a look at it. Replacing

[code]
with `#define GR_SM_THREADS(arch) (1024)` removed the warnings during build. So I think it has to do with the value of CUDA_ARCH on the platform or perhaps how the macro is evaluated.

[2019-11-27 00:47] johari opened #656 "C interface for SM is broken"
**Summary:**

SM works when I run the following command from my `build/bin` folder (the C++ API is fine)

[code]

However it fails when I call `sm` from Python, or run the unit tests. (the C API is broken)

**Reproducibility:**

Always

**To Reproduce:**

* Turn on the unit tests in `CMakeLists.txt` via
    `option(GUNROCK_GOOGLE_TESTS "Use Googletest as testing framework (default: OFF)." ON)`
* b

[2019-11-27 06:36] vishweshjatala opened #657 "Pagerank output mismatch"
I am trying to run pagerank with the following command, I get incorrect output when I try to match with reference output. I am pasting the gunrock output, reference output and the init values I am using. Please let me know if I am missing

Command:
pr  market orkut.cmtx --device=0 --quick --max_iter=10 --error=0.000001f --undirected=0 --iteration-num=3 --output=pr_orkut_1.stats |& tee -a ./pr_orku

[2019-12-03 02:26] yzhwang commented on #643
I can confirm this bug. Using current head and run with this parameters: --device=0,1 --partition-method=static
I get segfault. Also it seems to fail on all partitioners. If no one is working on this issue right now, I will look into this, since currently my priority is to make multi-GPU work.

[2019-12-03 20:23] Laurawly commented on #656
Fixed by PR https://github.com/gunrock/gunrock/pull/661

[2019-12-03 20:23] #656 closed

[2019-12-04 17:54] neoblizz opened #662 "Union Find Operator"
@agalup notes:

[2019-12-10 22:48] crozhon commented on #598
#665 should resolve the build warnings. They came during compilation for different Compute Capability versions rather than any issue with how we're computing the values.

[2019-12-10 23:14] crozhon commented on #599
#665 will take care of what @neoblizz notes.

[2019-12-12 17:07] jowens commented on #657
@sgpyc I know you've looked at this issue before ... would you mind commenting?

[2019-12-14 00:58] ArEsKay3 opened #666 "Running Louvain from Python with ctypes"
Hi all,

I'm trying to run the Louvain community detection for a large graph.
I'm currently working in python (my graph is in networkx) so I'm trying to call using the python ctypes hooks. My code looks roughly like below. (The *2 factor is from going undirected to directed).

(I did have to add the louvain stuff to CUFILES in the CMakeLists (see diff below), so I'm aware I might be in untested te

[2019-12-14 01:01] ArEsKay3 commented on #666
It feels like a datatype issue (since the vertice count is so high), but I'm just not familiar enough to guess where it's coming from.

[2019-12-14 04:54] neoblizz commented on #666
Got it to work after a few changes. These are more so rushed, so I will wait to push them -- but here's the diff:

[code]

Important part was enabling `FromCsr` in the `louvain_app.cu` file, and then making sure ValueT was set to F64 and not Int32. That made it so I had to change edge values to be doubles. You can get away with having them floats (so F32 not F64). And here's my sample python code:

[2019-12-14 04:55] neoblizz commented on #666
On another note, we haven't spent a lot of time enabling python support for gunrock. And the c interface is an example of what could be done, but is not at all tested for all the different apps. On the other hand, our c++ interface and command line should work fine.

[2019-12-14 05:31] ArEsKay3 commented on #666
Awesome, thanks! Adding back the FromCsr was exactly what I was about to try before I quit for the night ;) .  I think with this code and the previous example I should probably be equipped enough to hack my way around prototyping some initial performance numbers for my use case. I can get my hands as dirty as I feel motivated too now. Thanks again for the quick reply!

[2019-12-14 17:35] neoblizz commented on #666
Closing this for now, let me know if you have issues applying the patch above. :)

[2019-12-14 17:35] #666 closed

[2019-12-17 00:10] ArEsKay3 commented on #666
Just as an FYI, I was able to get this to run on a single V100, but the performance is nowhere near what I was expecting.

Here was the statistics of one of my smaller test graphs.
Based on results on in the Louvain paper I expected this to take at most a few seconds, but I'm still waiting after more than 10 minutes of 100% GPU-Utilization.

I'm far from an expert in this space, is this runtime so

[2019-12-17 00:14] jowens commented on #666
Can you run this on plain Gunrock (not through python)? That would tell us if it's a problem with Gunrock or with the Gunrock-python interface.

[2019-12-17 01:39] ArEsKay3 commented on #666
Yep, this takes a blink if I dump to a '.txt' file and read back entirely in C++.

[2019-12-17 01:42] jowens commented on #666
Yeahhhhhh so debugging Python performance problems is not exactly in my wheelhouse. I'm not really sure what to advise you, to be honest. I hope someone else on the project can chime in. Any performance info you can get us—e.g., https://docs.python.org/3/library/profile.html—would be really helpful. I can try to get someone external who knows about this to help us. But profiling info seems importa

[2019-12-17 01:49] ArEsKay3 commented on #666
Just within C++, I hit a different error when I go to 20000 nodes, but maybe the memory footprint here is actually too big (which is a bummer because I'm on a 32GB GPU).

[code]

[2019-12-17 01:53] jowens commented on #666
Can you share that graph in some way with us? That's not so big I'd think we should have a problem.

[2019-12-17 01:57] ArEsKay3 commented on #666
Yeah.
[row.txt](https://github.com/gunrock/gunrock/files/3971068/row.txt)
[val.txt](https://github.com/gunrock/gunrock/files/3971069/val.txt)
[col.txt](https://github.com/gunrock/gunrock/files/3971070/col.txt)
[main.cpp.txt](https://github.com/gunrock/gunrock/files/3971072/main.cpp.txt)

[2019-12-17 02:01] ArEsKay3 commented on #666
I can take a look at the python profiling sometime this week maybe. Will have to refactor some stuff to wrap it in the profiler properly.

[2019-12-17 02:02] jowens commented on #666
And the input format of the above files? MatrixMarket is kind of all we support (but my teammates will correct me).

[2019-12-17 02:04] ArEsKay3 commented on #666
You can see how I'm reading it and calling louvain in the main.cpp file.
There are hooks to call louvain with the CSR format in app/louvain (which is what these files are).

[2019-12-19 23:59] johari opened #669 "Extending Subgraph matching with conditions"
**Feature Description:**

We are interested in extending Gunrock's subgraph matching with
* conditions on nodes
* conditions on edges

This makes it possible to have richer query graphs that match against {node, edge} attributes via common comparison operators such as
* wildcards
* equality
* {bigger, less} than

### Proposed approach in C++

https://github.com/gunrock/gunrock/blob/9c8102fa74cc473

[2019-12-20 06:51] mahmoodn opened #670 "Finding cuda codes in binaries"
I would like to work with `cuobjdump` but I can not find the binary files containing cuda code for that. For example, `bin/bfs` doesn't contain cuda instructions.

Is there any guide to find cude binaries/libraries?

[2019-12-20 15:46] jowens commented on #670
I'm not sure what you're asking here. When you build Gunrock do you not end up with binaries (with CUDA code) for each individual primitive?

[2019-12-20 17:36] mahmoodn commented on #670
Yes. I have build/bin/bfs and others. I want to extract ptx with cuobjdump.
[code]

[2019-12-20 17:51] jowens commented on #670
I'm not sure what you're asking. There's nothing special about a Gunrock build compared to other CUDA apps. We have no specific experience with dumping PTX from our apps or any others.

[2019-12-20 17:52] jowens commented on #670
The PTX is perhaps in a linked library? libgunrock or the like?

[2019-12-20 17:59] mahmoodn commented on #670
No.
[code]

However, `cuobjdump -sass bfs` works fine. That is enough for now. Thank you.

[2019-12-20 18:17] #670 closed

[2019-12-23 11:10] Herceg00 opened #671 "Weighted label propagation algorithm"
Hello. Is LP permanently deleted from gunrock examples? Unable to find it, though it is present in the list of test applications and primitives(

[2019-12-23 15:22] neoblizz commented on #671
@Herceg00 it is in v0.5.x version, and is still available. All you have to do is switch to that branch and use it. It will eventually be ported to the latest API.

[2019-12-31 09:11] jiangjiaqi6 opened #672 "How to set up multi GPU to run BFS？"
I am a college student, I really need help. Now I have joined the teacher's laboratory. The content is about graph calculation. The teacher asked me to run through BFS with multiple GPUs. I have spent more than ten days on it, but I still haven't found a breakthrough. I don't know how to set it. I know that my main problem is that I am not clear about the overall architecture of the gunrock librar

[2019-12-31 19:19] jowens commented on #672
Suggest you build version 0.5.1 (https://github.com/gunrock/gunrock/releases/tag/v0.5.1) and then run the command-lines you'll find in the JSONs in the following directory:

https://github.com/gunrock/io/tree/master/gunrock-output/ipdps17

which produces the results you see in our IPDPS '17 paper.

e.g., look at:

https://github.com/gunrock/io/blob/master/gunrock-output/ipdps17/eval_fig2/BFS_kron_

[2019-12-31 19:20] jowens commented on #672
@neoblizz if that looks right please close this issue?

[2020-01-01 03:25] neoblizz commented on #672
Once you have built gunrock, there should be binary files just like John pointed out above. The parameter `--device=0,1,2,3...` is where you specify the multi-GPU part of gunrock, you can use as many devices as you have available in the system by appending then in a comma list.

Also note, we accept the graphs in matrix market file format, so you need your input to be in this mtx format for it to

[2020-01-01 03:25] #672 closed

[2020-01-02 23:44] jowens commented on #642
Here's some performance regressions we should look at. I'm looking primarily at 0.4 -> 1.0 regressions. Note in the JSONs, runtime is `elapsed` in 0.4 and `avg-process-time` in 1.0.

bc, K40, hollywood-2009, 34->77 ms
https://github.com/gunrock/io/blob/master/gunrock-output/ipdps17/eval_fig4/BC_hollywood-2009_Fri%20Jan%2027%20054338%202017.json
https://github.com/gunrock/io/blob/master/gunrock-out

[2020-01-02 23:51] jowens commented on #642
bfs, k40, arabic-2005, 82->141 (this might be directed vs undirected though)
https://github.com/gunrock/io/blob/master/gunrock-output/v1-0-0/bfs/TeslaK40c/arabic-2005/bfs_arabic-2005_Fri%20Oct%20%204%20051444%20308%202019.json
https://github.com/gunrock/io/blob/master/gunrock-output/ipdps17/eval_fig4/BFS_arabic-2005_Fri%20Jan%2027%20055824%202017.json

[2020-01-03 00:05] jowens commented on #642
Every single PR run on both Titan V and V100 is slower from 0.4.0 -> 1.1.0 (datasets: hollywood-2009, indochina-2004, road_usa, soc-LiveJournal1, soc-orkut). By a _lot_.

https://github.com/gunrock/io/blob/master/gunrock-output/5Apps.ubuntu16.04_v100x1_master/PageRank_hollywood-2009_Thu%20Jun%2028%20170816%202018.json
https://github.com/gunrock/io/blob/master/gunrock-output/v1-0-0/pr/TitanV/hollyw

[2020-01-03 00:12] jowens commented on #642
sssp, kron_g500-logn21, 0.4.0->1.0.0
https://github.com/gunrock/io/blob/master/gunrock-output/Groute_Comparison/SSSP_kron_g500-logn21_Sat%20Feb%2011%20013516%202017.json
https://github.com/gunrock/io/blob/master/gunrock-output/Groute_Comparison/SSSP_kron_g500-logn21_Sat%20Feb%2011%20013516%202017.json

[2020-01-03 00:14] jowens commented on #642
I cannot promise that everything above is perfect -- I might have botched the "what is the fastest run" code and I copied the above by hand. Also it's possible that two runs I say are comparable are not in fact comparable ("@jowens, one of those is directed and the other is undirected, you doofus"), in which case tell me and I'll fix up my code.

[2020-01-04 20:02] jowens commented on #593
@yzhwang Checkin' in on `SortedSearch`. 新年好!

[2020-01-05 07:07] yzhwang commented on #593
Happy New Year John! This issue is pending now. I am doing other stuff such as learning multi-GPU Gunrock as well as adding hdfs/csv file support. (There are a couple more changes I committed internally but will submit as PR(s) once everything works fine.
I am go through a bunch of basic GPU primitive implementations and is doing benchmarks (I have some posts for the future book plan I told you be

[2020-01-06 03:52] sgpyc commented on #643
Try to make sure the graph is allocated on CPU and has a CSR representation?
Compiling Gunrock with -g will enable CPU side debugging, and will tell which line segfaults under cuda-gdb.

Uncomment this line https://github.com/gunrock/gunrock/blob/master/gunrock/util/array_utils.cuh#L29  can hopefully print out all the allocation info.
If the segfault is caused by accessing 0x0, that indicates "spa

[2020-01-06 07:06] jiangjiaqi6 commented on #672
Thank you for your help.

[2020-01-06 15:25] yzhwang commented on #643
Thanks @sgpyc ! I've managed to make some progress. I added util::HOST as one of the targets for partition_tables, it got passed that. However, later the enactor_slices is out of bound. Here is something I found out:
It is initialized to be of num_gpus*num_gpus size: https://github.com/gunrock/gunrock/blob/master/gunrock/app/enactor_base.cuh#L346
But when we use it, since peer_ could equal to num_

[2020-01-07 04:29] yzhwang commented on #643
Made some more progress. Actually just ignore the previous comment. It's minor issue and an easy fix. Done already. The real problem is because of the sub_graphs are not properly handled in Partition() functions for every partitioner: https://github.com/gunrock/gunrock/blob/master/gunrock/partitioner/random.cuh#L33 The sub_graphs argument gets passed in, but never gets used. This will cause error

[2020-01-08 23:26] crozhon opened #675 "Host compilation calculates occupancy information"
When launching kernels for our operators, we like to use the \_\_launch_bounds\_\_ construct to give extra information to the compiler. This math is done in the kernel_policy.cuh files of each operator. When compiling, nvcc sets the \_\_CUDA_ARCH\_\_ environment variable, which we use to set GR_CUDA_ARCH:

https://github.com/gunrock/gunrock/blob/6ddbd3355b7985648596d8c611153ef03a64a5bf/gunrock/uti

[2020-01-08 23:31] crozhon commented on #675
See https://moderngpu.github.io/performance.html subsection "LaunchBox" for an abstraction that solves a similar problem in moderngpu.

[2020-01-08 23:39] crozhon opened #676 "Quantify performance gains from recent changes"
We were previously hard-coding our architecture to calculate occupancy information #673. There should be a performance difference after this change due to the differences in the \_\_launch_bounds\_\_ we obtain. This difference is important to quantify in some way, so let's do that.

[2020-01-08 23:44] crozhon commented on #676
If you know of other changes you know that we would like to quantify, please feel free to mention them here as well.

[2020-01-09 02:42] bashdash4 commented on #651
Is the Platform Driver for Gunrock available? I can't get it from the Graphalytics website as it's listed as "Currently private" (https://graphalytics.org/software).

[2020-01-09 16:40] jowens commented on #651
I don't even know what a "platform driver" is. We did not write one.

[2020-01-09 21:55] jowens commented on #676
For one thing, make absolutely sure that the JSONs you put out for the new runs are different in some way that what we currently have. Maybe that's a new Gunrock version number (@neoblizz ?) and/or add a "tag" to them.

The graphs/HTML tables you've previously seen have what I hope is a good summary of previous results (before this change).

[2020-01-10 00:17] neoblizz commented on #676
Definitely with a new version number as these are critical bug-fixes, and let's do that after we have added the moderngpu changes as well (gunrock v1.1.1 or 1.2?)

[2020-01-11 09:54] husong998 opened #679 "no instance of overloaded function "atomicMin" matches the argument list"
**Summary:**
I am not able to compile the code after the most recent update of the repository

**Reproducibility:**
Always

**To Reproduce:**
following the steps to build gunrock, I got the error as below:
[code]
cmake output:

[code]

**System Configuration:**

GPU: RTX 2080
Intel(R) Xeon(R) W-2155 CPU @ 3.30GHz
OS: CentOS Linux 7
Cuda compilation tools, release 10.2, V10.2.89
NVIDIA-SMI 440.33.1

[2020-01-11 12:25] wzbxpy opened #680 "Triangle Counting Validity: FAIL"
**Summary:**
Triangle Counting Validity: FAIL in soc-LiveJournal dataset

**Reproducibility:**
Always

**To Reproduce:**
make the tc
run
./tc market ../../dataset/large/soc-LiveJournal1/soc-LiveJournal1.mtx --quick --device=0 --sort-csr --64bit-SizeT=false,true --64bit-VertexT=false,true

**Actual Results:**

Loading Matrix-market coordinate-formatted graph ...
  Reading meta data from ../../datas

[2020-01-11 16:03] neoblizz commented on #679
The problem here is that the `atomicMin` intrinsics in gunrock are missing the `CUDA_ARCH` logic.

https://github.com/gunrock/gunrock/blob/master/gunrock/util/device_intrinsics.cuh#L192-L231

A quick fix for you is to just build for your GPU architecture which is SM 75 by disabling the AutoDetect and enabling SM 75:
Turn this OFF: https://github.com/gunrock/gunrock/blob/master/CMakeLists.txt#L284

[2020-01-11 16:04] neoblizz commented on #679
@crozhon do you have any idea why the AutoDetect logic failed? and can you look into adding the `#defines` around atomicMin()?

[2020-01-11 16:21] husong998 commented on #679
Appreciate the reply, but the problem still persists after turning the options on and off as instructed.

[2020-01-11 18:00] Laurawly commented on #680
@wzbxpy it looks from the output that the reference is wrong instead of the Gunrock results . I’ll double check it. Also the tc in Gunrock is based on this paper: https://dl.acm.org/doi/10.1145/2915516.2915521 and the method is intersection based method.

[2020-01-11 18:42] wzbxpy commented on #680
So how to use the triangle counting in Fast Parallel BFS-Based Triangle Counting on GPUs - Leyuan Wang, John D Owens (Univeristy of California, Davis), have you publish the code of it?

[2020-01-11 20:47] crozhon commented on #679
I'm committing a fix now. It works on my RTX card, and I'm testing on daisy.

We weren't passing -ccbin option to the program we use to detect archs, so if you have multiple versions of GCC, the test program could use the wrong one. GCC 8+ isn't supported with NVCC, so that stopped the autodetection. I appreciate your help finding this.

I'll take a close look at the defines around AtomicMin as we

[2020-01-11 21:10] crozhon commented on #679
See https://github.com/gunrock/gunrock/commit/4166864e7315b2c911ba79d216edfa0768cfc3a7

[2020-01-12 01:10] Laurawly commented on #680
@wzbxpy we haven't published the code for it yet. We are working on cleaning the code.

[2020-01-12 01:30] Laurawly commented on #680
For the reference code bug, I confirmed that it's not working any more with any dataset. But before this commit (b4717f22106bccdeab1df88af583a90ff6f57ec7), the reference code was tested and worked properly. @neoblizz Do you recall testing it under experiments/tc after the commit?

[2020-01-12 06:24] wzbxpy commented on #680
Can you share the code before cleaning to me?

[2020-01-12 06:27] jowens commented on #680
Our focus is on getting triangle counting and subgraph matching into Gunrock. That is more important to us than cleaning up, or releasing, the code we used in this summer's paper.

[2020-01-12 06:57] husong998 commented on #679
Is the code compiling sucessfully on your RTX card? If so, may I know what is your configuration and environment settings? Thanks.

[2020-01-12 09:06] Laurawly commented on #680
@wzbxpy yes, we are working on getting the code to Gunrock now. I’ll ping you once it gets merged

[2020-01-12 22:36] crozhon commented on #679
Yes I can compile on my RTX card. I tried to match your environment, and it still built. I used CUDA 10.2 and gcc 4.8.5 on Ubuntu. I've attached cmake output for reference.

[cmake-out.log](https://github.com/gunrock/gunrock/files/4051673/cmake-out.log)

Taking a closer look at your cmake output, it's not finding a recent enough version of boost:
[code]

After you update boost, could you pull the

[2020-01-13 07:39] wzbxpy commented on #680
OK, thanks

[2020-01-13 12:19] jiangjiaqi6 opened #681 "problems in compling"
**Summary:**
I can't compile the code of the v0.5.1

**Reproducibility:**
Always

**To Reproduce:**
when i input the command of make -j8, errors occur.
[  3%] Linking CXX executable ../../bin/bc
[  7%] Linking CXX executable ../../bin/cc
[ 11%] Linking CXX executable ../../bin/astar
[ 15%] Linking CXX executable ../../bin/hits
[ 19%] Built target gunrock
[ 23%] Linking CXX executable ../../bin/bfs

[2020-01-13 14:16] jowens commented on #681
Seems likely to me you're not using a supported host compiler (gcc). For Ubuntu 18 and CUDA 10.2, you need gcc 7.3.

https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html

[2020-01-14 11:21] jiangjiaqi6 commented on #681
It doesn't work if I upgrade GCC to 7. Do I have to upgrade to CUDA 10.2. My previous version was due to bugs in running multiple GPUs, and then sent an issue. The person in charge of gunrock library told me to use v0.5.1. Could you recommend a CUDA 10.1 version for me and run BFS on multiple GPUs.I thank you very much.

[2020-01-14 16:26] jowens commented on #681
You need to make sure that your gcc version is the precise version that the CUDA version you are using requires. This is not a Gunrock thing, this is a CUDA thing. I believe multi-GPU BFS will work with CUDA 10.1, but you have to use the exact version that NVIDIA requires (in this case, 7.4 https://docs.nvidia.com/cuda/archive/10.1/cuda-installation-guide-linux/index.html).

[2020-01-14 19:22] crozhon commented on #598
@mahmoodn I believe you should no longer see this warning, but let us know if you still have an issue after pulling the latest master.

[2020-01-14 19:32] #598 closed

[2020-01-15 20:40] #640 closed

[2020-01-15 23:43] crozhon commented on #679
Newest master also solves the atomicMin problem regardless of the arch you're compiling for, so this should no longer be an issue.

Thanks for the info!

[2020-01-15 23:43] #679 closed

[2020-01-16 05:32] bashdash4 commented on #651
There is one dataset that is in both our repo and their Datasets page: cit-Patents, which features 3774768 vertices and 16518947 edges.

[2020-01-16 15:17] jowens commented on #651
OK. For posterity, what are their other datasets? Helpful if you find a link for them on, say, snap.stanford.edu or the SuiteSparse pages.

[2020-01-16 15:17] jowens commented on #651
What are you stuck on re: the platform driver? I would bet it’s glue code that they wrote that bridges Gunrock and whatever common code they have for evaluation.

[2020-01-16 21:12] bashdash4 commented on #651
Of course, here is the link to their dataset page (https://graphalytics.org/datasets).

I will let you know if I come across any obstacles with the development of the driver.

[2020-01-16 21:19] neoblizz commented on #651
Is there an example of an existing driver for another framework? Maybe we already have it.

[2020-01-16 21:22] bashdash4 commented on #651
The existing drivers can be found on the software page (https://graphalytics.org/software).

[2020-01-19 02:09] yzhwang commented on #643
Haven't got time to work on this last week, but made some more progress. So currently I can make sure that the CSR data structure is correctly been initialized:
1) https://github.com/gunrock/gunrock/blob/master/gunrock/app/problem_base.cuh#L214 target should be '|' with util::HOST so that all related data structures will be allocated on the host as well when doing the partition.
2) https://github.

[2020-01-19 02:11] jowens commented on #643
Thank you @yzhwang (please file additional issues if something needs to get fixed and you're not pushing it). @sgpyc please comment if you're able!

[2020-01-19 03:22] bashdash4 commented on #651
Regarding contacting the Graphalytics team regarding graph format information:

The site doesn't have contact information (I could attempt to communicate through GitHub in case we need to make sure we have the right idea). However, from the "Graph Loading and Unloading" section in the guide for creating a platform driver (https://github.com/ldbc/ldbc_graphalytics/wiki/Manual%3A-Implementing-Driver

[2020-01-21 01:10] sgpyc commented on #643
Thanks to @yzhwang for handling this.

The working partitioners should be in the partitioner folder; the ones in the app folder are the ones for v0.5, and I don't think they can work with the v1.0 API.

The output of the Partition() function in each partitioner is the partition table in org_graph, not the sub_graphs. That's why sub_graphs is not touched in the random partitioner.
As you already di

[2020-01-21 04:23] porumbes opened #683 "test_lib_pr and test_lib_sm unit test segmenation fault"
**Summary:**
Running `./bin/unittests` using only `test_lib_sm.h` results in a segmentation fault.

**Reproducibility:**
Always

**To Reproduce:**

1. Clone gunrock
2. Switch to the `dev` branch
3. Enable google tests in CMakeLists.txt
4. Comment out all includes in `test_unittests.cu` except for
[code]
4a. You can leave the tests as it and still see the issue, but you can see the problem faster i

[2020-01-21 04:54] porumbes opened #684 "PR segmentation fault"
**Summary:**
PR segfaults on occasion. See [Jenkins Job TEST_PR](http://daisy.ece.ucdavis.edu:8080/job/gunrock/job/PR-682/1/display/redirect) for an example test run.

**Reproducibility:**
Sometimes

**To Reproduce:**
I think it's another issue with `compensate` (that's the only time I've managed to see the segfault).

1. build gunrock in release mode
2. run pr with something like `./bin/pr rmat -

[2020-01-21 16:11] neoblizz commented on #684
I saw the same thing with the last SNN commit (http://daisy.ece.ucdavis.edu:8080/blue/organizations/jenkins/gunrock/detail/PR-659/11/pipeline), notice how the test passes but the error is in displaying the output. So, I am guessing it is the JSON display.

[2020-01-21 16:15] #615 closed

[2020-01-21 16:17] neoblizz commented on #683
Is this related to https://github.com/gunrock/gunrock/pull/678?

[2020-01-21 23:13] Laurawly commented on #683
@porumbes If you comment out all tests except test_lib_pr.h, the same error occurred.

[2020-01-23 19:32] crozhon opened #686 "Very long post-process times for large rmat graphs"
The post-process times for large rmat graphs seems incredibly long, even though the process time is normal:

https://github.com/gunrock/io/blob/91852e951025605e90c4d405d441282fcc9e8b8e/gunrock-output/v1-0-0/bfs/V100/rmat_n22_e64/bfs_rmat_n22_e64.000000_Thu%20Oct%2024%20000453%20344%202019.json#L138-L142

We might be looping over all n nodes at the end of a run.

[2020-01-24 12:18] mahmoodn opened #687 "About RelaxLightEdges"
Using nvprof, I see that the number of integer instructions for `RelaxLightEdges` in Delaunay_n24 is about 3,387,902 while in Indochina-2004, it is 32,438.

The number of vertices and edges are

Delaunay_n24 -> 16,777,216 and 50,331,601
Indochina-2004 -> 7,414,866 and 194,109,311

There is a big difference between the number of integer instructions. Based on my experiences, graphs with larger numb

[2020-01-24 21:41] porumbes commented on #683
@Laurawly You're right. I went back to your https://github.com/gunrock/gunrock/pull/637/commits/4fe863c0e79e63df681f88666514cb4c2b08adc4 commit and pr also generates a segmenation fault. Figuring out the issue for sm will likely help us figure it out for pr : ).

[2020-01-25 07:11] Laurawly commented on #683
@porumbes I actually followed `pr`'s method when writing `test_lib_sm.h`, currently have no clue why the seg fault happened.

[2020-01-27 17:38] neoblizz commented on #684
@porumbes can you please look into this? All the active PRs are reporting false failure for the respective commits, which technically should pass.

[2020-01-28 06:37] bashdash4 commented on #651
https://github.com/ldbc/ldbc_graphalytics/issues/194

[2020-01-29 04:16] neoblizz commented on #687
What application are you running? You can read the resulting code here: https://github.com/gunrock/gunrock/blob/6ddbd3355b7985648596d8c611153ef03a64a5bf/gunrock/oprtr/LB_advance/kernel.cuh#L229 It could be related to degree of the graph as well. Because the advance operator is essentially just visiting neighbors.

I am not sure if I understand your analysis properly. The proper output of nvprof an

[2020-01-29 11:02] mahmoodn commented on #687
I ran BFS. According to the outputs:

Delaunay_n24
[code]

And the nvprof output is

Indochina-2004
[code]

The complete outputs of nvprof runs are attached. Regarding to the degrees, delaunay has a large number of degree-4 and totally it has more vertices than indochina. However, still I can not understand the large difference between integer instructions.
[nvprof_indochina2004.zip](https://githu

[2020-02-03 10:09] dongrongyu opened #688 "run bfs in multi-GPU: failed and Segmentation fault"
**Summary:**
I run gunrock bfs in multi-GPU machine, but failed and segmentation fault returned. I make sure it works when I only use one GPU.

**Reproducibility:**
Always

**To Reproduce:**
1. build the latest project as Start Guide.
2. run command in build/bin. I try this two command:
./bfs market /root/gunrock/dataset/large/hollywood-2009/hollywood-2009.mtx --src=0 --undirected --device=0,1
./b

[2020-02-03 20:30] crozhon commented on #688
Thanks for reporting. I was able to reproduce, and I've collected some information for us to take a closer look at this.

Here's a call stack:
[code]
By setting ENABLE_ARRAY_DEBUG we get some more info:

[code]

[2020-02-03 22:17] hugovbraun opened #689 "nvcc warnings not disabled when ENABLE_WARNINGS is off"
**Summary:**
nvcc warnings are still shown when ENABLE_WARNINGS is off.

**Reproducibility:**
Always

**To Reproduce:**
mkdir build && cmake .. && make

**Expected Behavior:**
nvcc warnings should be hidden when ENABLE_WARNINGS is off (just like gcc)

**Actual Results:**
nvcc warnings are shown when ENABLE_WARNINGS is off

**System Configuration:**

cuda 10.2.89
cmake 3.10.2

[2020-02-04 07:13] neoblizz commented on #688
Related to https://github.com/gunrock/gunrock/issues/643, @yzhwang was investigating it last. https://github.com/gunrock/gunrock/issues/643#issuecomment-571181522

[2020-02-04 07:14] #689 closed

[2020-02-04 08:34] dongrongyu commented on #688
Thanks a lot! So, if I want to run bfs in multi-GPU, I need to use 0.5 version. Right?

[2020-02-04 08:42] neoblizz commented on #688
@dongrongyu no, there shouldn't be any performance penalty after switching. v1.0 is just a cleaner version of gunrock, we are currently working to sort this bug out.

[2020-02-06 10:05] neoblizz commented on #651
I had the pleasure of meeting @szarnyasg at FOSDEM. He mentioned we can contact him to obtain matrix market format files, he has all of them converted already for the required Graphalytics benchmarking.

[2020-02-11 01:29] crozhon opened #692 "Multi-option bfs commands hang on dev"
**Summary:**
When running the following command line on dev branch, we encounter a hang:

[code]
If we run without the multiple options for `mark-pred`, then the run succeeds without issue.

**Reproducibility:**
Anytime multiple options are specified on the command line, and the different programs are run back-to-back, there appears to be a chance of a hang. However, sometimes the hang doesn't occ

[2020-02-11 14:42] neoblizz commented on #651
[graphalytics-platforms-gunrock-master.zip](https://github.com/gunrock/gunrock/files/4186227/graphalytics-platforms-gunrock-master.1.zip)

Gabor was kind enough to provide us with all this information and the datasets. He asked me to keep the dropbox links private, so I will go ahead and download the datasets myself on the servers for us to use.

[2020-02-12 20:03] porumbes opened #693 "Add dynamic graph flags for graph construction / configuration"

[2020-02-12 20:04] porumbes opened #694 "Implement edge insertion for dynamic graph"

[2020-02-12 20:04] porumbes opened #695 "Convert from CSR to dynamic graph"

[2020-02-12 20:05] porumbes opened #696 "Convert from dynamic graph to CSR"

[2020-02-12 20:06] neoblizz opened #697 "Add FOSDEM presentation to docs"

[2020-02-12 20:12] porumbes opened #698 "Implement edge deletion for dynamic graph"

[2020-02-12 20:12] porumbes opened #699 "Implement vertex deletion for dynamic graph"

[2020-02-19 23:17] shyamd commented on #526
Ideally, the python implementation would look like `networkx` since it already has a massive userbase. This would make transitioning from to `gunrock` a drop-in replacement.

[2020-02-21 23:50] achalagarwal commented on #651
@szarnyasg
Hi Gabor,

I was wondering if there is a specific reason why graphalytics has its own timer for load graph
[load-graph_timer](https://github.com/ldbc/ldbc_graphalytics/blob/094f5a54039ea47cefb3316824f0ea13e1ceecc8/graphalytics-core/src/main/java/science/atlarge/graphalytics/execution/BenchmarkExecutor.java#L135) but uses platform supplied metrics for the algorithm run time.

For us (gun

[2020-02-25 05:56] dongrongyu commented on #688
After switching to v0.5.1, it could run dual GPU without segfault. But the validation of result is INCORRECT. v0.5.1 also has issues with multi-GPU support? The following is the output of command: ./bfs market /root/gunrock/dataset/large/hollywood-2009/hollywood-2009.mtx --src=0  --device=0,1.
[code]

[2020-02-25 22:06] agalup opened #700 "Union Find operator"
Implementation of Union Find operator for Gunrock. Union Find operator would implement Union Find algorithm (https://en.wikipedia.org/wiki/Disjoint-set_data_structure) on Disjoint-set data structure. Algorithm is implemented in SNN application - extract the code, provide needed data structures and close in one operator.

Union Find op would take list of pairs of sets to merge and return the list o

[2020-02-25 22:12] neoblizz commented on #662
Duplicate of #700.

[2020-02-25 22:12] #662 closed

[2020-02-25 23:36] agalup opened #701 "KNN application: applying the specific knn operator to a specific input data"
KNN application is implementing (commit: 89bb88f8) the following ForAll operators:
1. *knn_general_op*. Each i-th thread, for all j \in {1..N} is computing the euclidean distance of (i, j) by reading in D steps the D-dim labels stored in global memory. Then it is inserting the distance of (i, j) into the k-nearest neighbor array in the global memory.
    The operator has option of reading transpos

[2020-02-28 03:42] dongrongyu commented on #688
I switch to v0.5 and now It's working.

[2020-03-02 15:07] ChuckHastings opened #703 "gunrock static library build fails"
**Summary:**
If you attempt to build gunrock as a static library, the build fails.  It appears that some of the examples need to have a shared library.  Perhaps cmake needs to be configured to skip those files if we're not building a shared library.

**Reproducibility:**
Always

**To Reproduce:**
1. Clone gunrock
1. Switch to the dev branch
1. Update submodules
1. `cmake .. -DCMAKE_INSTALL_PREFIX=

[2020-03-02 21:04] ChuckHastings commented on #703
FYI - I workaround this by also setting -DGUNROCK_BUILD_TESTS=OFF

[2020-03-02 21:18] crozhon commented on #703
Hi Chuck, thanks for reporting. I can reproduce and I'm working on the fix now.

[2020-03-03 01:31] trq2014 opened #704 "CMake Error at bc_generated_mgpucontext.cu.o.cmake:264 (message):"
**Summary:**
make error

**Reproducibility:**
Always
Building NVCC (Device) object examples/bc/CMakeFiles/bc.dir/__/__/externals/moderngpu/src/./bc_generated_mgpucontext.cu.o
/usr/local/cuda/include/vector_types.h(421): error: identifier "constexpr" is undefined

/usr/local/cuda/include/vector_types.h(421): error: member function with the same name as its class must be a constructor

/usr/local/cu

[2020-03-03 01:33] crozhon commented on #703
I've pushed a fix to dev for this. The issue was that CMake wasn't picking up g++ for linking the examples like it used to. So it failed to find references for the std lib. I explicitly set CMake to use the C++ linker for this step and it solved the problem.

Thanks for letting us know about this. We should also consider not building the examples when we make a static lib.

[2020-03-03 02:25] jowens commented on #704
What is your CUDA version and your OS and your compiler version, and is it on this list?

https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html

[2020-03-03 19:50] crozhon commented on #704
You're seeing this error because a C compiler (like gcc) is being used instead of a C++ compiler. This means it's probably an issue with your setup. CMake is not finding a valid C++ compiler to use.

Here's some steps that may help you out:
1.) Remove your build directory
2.) Ensure that a C++ compiler is available on your system i.e. g++. `g++ --version`
3.) Take a look at the link @jowens posted

[2020-03-03 20:51] #704 closed

[2020-03-03 21:16] #683 closed

[2020-03-03 21:16] #684 closed

[2020-03-03 21:17] neoblizz commented on #684
Tests pass, for all PRs.

[2020-03-03 21:17] neoblizz commented on #683
Tests pass, for all PRs.

[2020-03-03 23:45] #681 closed

[2020-03-04 21:22] szarnyasg commented on #651
Hello @achalagarwal,

apologies, I missed the notification for this question.

The JSON format in Graphalytics is legacy stuff, and I'm personally not a big fan of it. In fact, I immediately convert it to CSVs with the following R script:

[code]

The specifics of this code are not super important - the bottom line is that if you can provide CSVs with schema `"platform", "algorithm", "dataset", "l

[2020-03-05 02:51] achalagarwal commented on #651
Thank you @szarnyasg for the script and the clarification.

From what I gather then, I can ignore the load attribute of the generated report when creating the CSV.

Also,  I had been going through at Graphalytics 1.2.0. Is it alright if I continue with that or is it critical to move ahead with 1.3.0?

[2020-03-05 09:34] szarnyasg commented on #651
@achalagarwal Graphalytics v1.3.0 has minimal changes: one fixed configuration file and improved logging in case of validation errors: https://github.com/ldbc/ldbc_graphalytics/releases

Making the switch should be fairly easy but not necessary so it's up to you.

[2020-03-06 22:05] crozhon opened #706 "BFS fails with K40 on dev"
**Summary:**
When running BFS with a K40 on dev branch, I always encounter illegal memory accesses. It looks like we may be running out of memory?

**Reproducibility:**
I just tried this on Mario, and I didn't encounter the issue. But Muhammad Awad had the same issue on his machine. I'm going to spend some more time trying to repro this and check if it's just an issue with the K40 I am using.

**T

[2020-03-10 17:25] achalagarwal opened #707 "Duplicate key in JSON output"
**Summary:**
The JSON output for BFS is producing a json with the **load-time** key twice.
This isn't an issue for most json parsers (like python's json module) but for parsing in Java, its a strict no no with the standard org.json library.

https://stackoverflow.com/questions/47876328/ignore-duplicate-keys-in-jsonobject

**Reproducibility:**
Always with the flags specified in *how to reproduce* s

[2020-03-10 17:26] jowens commented on #707
At least it's giving us the same result for both `load-time`s. :)

[2020-03-10 19:38] #703 closed

[2020-03-10 20:18] Laurawly opened #708 "Release for single GPU not implemented"
https://github.com/gunrock/gunrock/blob/dev/gunrock/app/problem_base.cuh#L176-L192

[2020-03-11 00:46] #707 closed

[2020-03-11 16:09] jowens opened #710 "need to enable binding for sssp in cmake"
@neoblizz:

[2020-03-11 18:43] crozhon commented on #710
Tested locally and committed.

[2020-03-11 18:43] #710 closed

[2020-03-15 01:43] jowens commented on #657
@vishweshjatala, so sorry that we did not address this when you posted it. Would you mind looking at https://github.com/gunrock/gunrock/issues/430 (`--normalized`) and seeing if that addresses your issue? @sgpyc points out several things that might be causing your discrepancy.

In general we've tried to check against Boost as our reference (@neoblizz tells me this).

[2020-03-17 16:46] neoblizz opened #711 "Review Request 14 March 2020"
I received a request from a paper reviewer to generate Gunrock results for a particular set of primitives and datasets on a NVIDIA Tesla V100. I used Gunrock v0.5 (commit: https://github.com/gunrock/gunrock/commit/0c9a96dd64ddeecae9208644631983fc889b32b4) for these results---this is the most faithful version to the results reported in our 2017 TOPC paper---but I believe the results would be simila

[2020-03-18 12:06] szarnyasg commented on #651
@achalagarwal how's your progress going with Gunrock × Graphalytics? Can you give an estimate which algorithms you'll be able to support - all six directed/undirected - and when an initial implementation will be ready?

Thanks,
Gabor

[2020-03-18 17:48] achalagarwal commented on #651
Hi @szarnyasg, the connection between gunrock and graphalytics is done. Which means that the experimentation remains (which is going to take time, I do not have a good estimate for you as it involves parameter-tuning).

Only the connected components algorithm would take some time but that depends on when I can finish the experiments for the remaining five algorithms on the other graphs. We work wi

[2020-03-18 18:09] szarnyasg commented on #651
@achalagarwal Great. Is the code available somewhere?

Yes.

Sure! I can stitch together partial results.

[2020-03-18 18:20] achalagarwal commented on #651
@szarnyasg currently I was working off the graphblas skeleton and adding/modifying code as required. I do plan to setup a clean driver repository for gunrock but didn't prioritize it.

I guess I should then so that you could have a look if needed! Will try to do it this weekend.

[2020-03-18 18:31] szarnyasg commented on #651
@achalagarwal - it's not super urgent, feel free to take your time.

[2020-03-21 19:43] achalagarwal commented on #706
I get the same error on V100 (on daisy) for the [cit-patents dataset](https://snap.stanford.edu/data/cit-Patents.html) when using the --src=largestdegree flag. It runs fine with some other sources. Could this hint at the problem being related to the size of the frontier?

[2020-03-21 22:25] achalagarwal commented on #651
@szarnyasg Hi, I generated a sample results file, please let me know if the csv/json (files attached) format works for you.

[sample-results.tar.gz](https://github.com/gunrock/gunrock/files/4364358/sample-results.tar.gz)

[2020-03-21 22:31] szarnyasg commented on #651
@achalagarwal thanks! I'm using the CSV and it's almost confirming my script:

- I don't need the first column (no big deal, I'm just throwing it away)
- the `load` column in missing

[2020-03-21 22:34] achalagarwal commented on #651
@szarnyasg
did you mean that I use the makespan value in the "load" column?

Also do I assume that for algorithms where disconnected graphs don't make too much sense (like bfs) the benchmark graph datasets will be connected?

[2020-03-21 22:38] szarnyasg commented on #651
If possible, you should put the preprocessing time into `load` column. According to the spec:

"During the Loading step, the input graph data can be converted into an optimized system-specific data format and pre-loaded into a local/share/distributed storage system. Binary formats are allowed, however, the preprocessed data must be uniformly usable for any graph algorithms."

![image](https://user

[2020-03-21 22:55] achalagarwal commented on #651
Yes, this is possible but then I would be overriding the load time set by graphalytics' v1.2.0 [here](https://github.com/ldbc/ldbc_graphalytics/blob/094f5a54039ea47cefb3316824f0ea13e1ceecc8/graphalytics-core/src/main/java/science/atlarge/graphalytics/execution/BenchmarkExecutor.java#L135)

Okay, got it, so the source vertex will always be specified in the benchmarks.

Thanks!

[2020-03-21 22:57] szarnyasg commented on #651
Sure, that's not a problem as long as it has clear semantics and is reproducible by others.

[2020-03-26 00:07] achalagarwal commented on #651
@szarnyasg

Hi, do we still have the following restriction on CDLP?

Excerpt from https://github.com/ldbc/ldbc_graphalytics/issues/167

Then along with WCC even CDLP would be on the pending list but I will personally try making sure that we get CDLP in as LPA is somewhat related to my main project!

[2020-03-26 00:46] achalagarwal commented on #671
I will try porting lp to v1.x

1. It's one of the algorithms required by graphalytics -> https://github.com/gunrock/gunrock/issues/651
2. It involves a basic communication pattern (that of iterative neighborhood aggregation) that I will require for graph neural networks.

[2020-03-26 00:48] jowens commented on #671
Super. There's a porting guide but mostly I want to make sure that you make lots of comments along the way about what we can do better in terms of writing apps / porting apps. Very useful feedback for the team.

[2020-03-27 03:22] ArindamK92 opened #712 "Unable to build the library"
[errorLog.txt](https://github.com/gunrock/gunrock/files/4391281/errorLog.txt)

Getting error at "make" step

**Reproducibility:**
Always

I am getting an error at "make" stage. I tried on two different clusters and getting an error on both the clusters. The error logs for both the clusters are attached. Please advise me if I am doing something wrong here.

I followed the below steps and getting an

[2020-03-27 04:02] jowens commented on #712
CUDA 9.2 doesn't support compute_75. You need to upgrade your CUDA version.

Can you attach the second log (for the 10.1 compile)?

[2020-03-27 04:07] ArindamK92 commented on #712
Hi,

Here is the log for the second cluster.

2nd cluster:
_______________________________
[akkcm@cuda-22-0 build]$ make
[  1%] Building NVCC (Device) object gunrock/CMakeFiles/gunrock.
dir/__/externals/moderngpu/src/gunrock_generated_mgpucontext.cu.o
nvcc warning : The -std=c++11 flag is not supported with the configured
host compiler. Flag will be ignored.
nvcc warning : The -std=c++11 flag is n

[2020-03-27 04:13] jowens commented on #712
At least with CentOS 6.1 on CUDA 10.2, you need a different compiler (gcc 4.4.7).

https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html

[2020-03-27 06:12] ArindamK92 commented on #712
Thank you. I will try with gcc 4.4.7

[2020-03-27 09:42] szarnyasg commented on #651
@achalagarwal yes, this restriction still holds in the current version (v1.0) of the benchmark. So there's a fixed number of iterations and in each iteration, vertices will be assigned the most frequent label propagated to them, with `min` used for breaking ties.

[2020-03-27 19:00] ArindamK92 commented on #712
I tried with gcc 4.4.7 and still getting the same error. Please suggest how I can fix it.

[2020-03-27 19:05] jowens commented on #712
Please post the log.

[2020-03-27 19:10] ArindamK92 commented on #712
[akkcm@cuda-22-0 build]$ gcc --version
gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-23)

[akkcm@cuda-22-0 build]$ make
[  1%] Building NVCC (Device) object gunrock/CMakeFiles/gunrock.dir/__/externals/moderngpu/src/gunrock_generated_mgpucontext.cu.o
nvcc warning : The -std=c++11 flag is not supported with the configured host compiler. Flag will be ignored.
nvcc warning : The -std=c++11 flag is not suppo

[2020-03-27 19:17] jowens commented on #712
Here's my concern: https://gcc.gnu.org/projects/cxx-status.html suggests that

which makes me worry that an earlier version just doesn't support the C++11 features that we use extensively in Gunrock. @crozhon ? @porumbes ? your thoughts?

(The worry is that if CentOS 6.10 only uses this version of GCC, it will never be able to support C++11 code.)

[2020-03-27 19:20] ArindamK92 commented on #712
CentOS 6.10 supports many other versions of GCC and I have used them to run C++11 code along with CUDA 10.1 earlier. As I mentioned in my first comment I tried with GCC 7.2.0 also and the error log was same.

[2020-03-27 19:23] jowens commented on #712
Sure, but absolutely our experience with Gunrock is that if the compiler isn't listed in https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html , it simply Does Not Work. There may be other codes that can work with a different compiler, but Gunrock uses so many features of CUDA + C++11 that it's only the blessed compilers where we've had any success at all.

[2020-03-27 19:26] crozhon commented on #712
We only support the compilers in the installation guide. You may be able to use a more recent GCC on CentOS but your mileage may vary. There’s probably an issue with your Makefile generation.

Could you post your full build output, including CMake output? The CMake output is what will really tell us what’s going on here.

[2020-03-27 19:30] ArindamK92 commented on #712
[akkcm@cuda-22-0 build]$ cmake ..
-- The C compiler identification is GNU 4.4.7
-- The CXX compiler identification is GNU 4.4.7
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for working CXX comp

[2020-03-27 19:31] jowens commented on #712
I think the issue is that `The -std=c++11 flag is not supported with the configured host compiler. Flag will be ignored.`.

[2020-03-27 19:34] ArindamK92 commented on #712
So, if GCC 4.4.7 does not support -std=c++11 flag and my OS is CentOS 6.10, is there any other way which can help me to build and run the code?

[2020-03-27 19:35] crozhon commented on #712
Yes it appears that GCC 4.4.7 won’t work, because we use C++11 features pretty liberally. Could you post the same CMake output for the later version of GCC you were using in your first post?

Just based on this CMake output though there’s a couple other things wrong with your environment:
* you’ll need Boost
* you’ll need OpenMP

[2020-03-27 19:46] jowens commented on #712
I think the simple solution for cluster 1 is simply to upgrade CUDA, since the hardware is incompatible with the version there.

[2020-03-27 19:49] crozhon commented on #712
Yeah I agree with @jowens - if you upgrade the driver and CUDA version on cluster 1 I don’t expect you’ll have any trouble building, and if you do feel free to post more here.

[2020-03-27 19:53] ArindamK92 commented on #712
I don't see Boost and OpenMP module on the cluster. So, I have to ask my cluster support team for that. Here is the error log with GCC 7.2.0

[akkcm@cuda-22-0 build]$ cmake ..
-- Could NOT find Boost
-- Could NOT find Boost
CMake Warning at cmake/FindBoost.cmake:11 (MESSAGE):
  Boost was requested but support was not found, run

    `sudo apt-get install libboost1.58-all-dev` `/dep/install_boost.s

[2020-03-27 19:55] ArindamK92 commented on #712
Thanks for the suggestion. I will request my cluster support for the CUDA upgrade also for cluster 1.

[2020-03-27 19:57] neoblizz commented on #712
Just a few comments:
- Boost is optional, you don't need that to build gunrock.
- I believe gunrock will build fine without openmp as well, but I haven't tested this.

`nvcc_internal_extended_lambda_implementation` is the problem, this is using `lambda = []
 __device__ __host__ { };` These are called extended lambda. Lambda support was added back to C++11 from a later version, and then nvidia went

[2020-03-27 20:04] crozhon commented on #712
@neoblizz Ah didn't realize boost was optional thanks.

You can also try to run CMake like this to disable building compute_75. That might be able to get you running on one of your machines:

`cmake .. -DCUDA_AUTODETECT_GENCODE=OFF -DGUNROCK_GENCODE_SM70=ON`

[2020-03-27 20:16] ArindamK92 commented on #712
I tried. It seems gcc version is not supporting on cluster 1.

akhanda@arya:~/GunrockCode/gunrock/build$ cmake .. -DCUDA_AUTODETECT_GENCODE=OFF -DGUNROCK_GENCODE_SM70=ON
-- Could NOT find Boost
-- Could NOT find Boost
CMake Warning at cmake/FindBoost.cmake:11 (MESSAGE):
  Boost was requested but support was not found, run

    `sudo apt-get install libboost1.58-all-dev` `/dep/install_boost.sh` for

[2020-03-27 20:20] ArindamK92 commented on #712
It will be very helpful if you can suggest some configuration for cluster 2 which can help me to build the code. Current configuration is:
GPU: Tesla V100
CPU: Intel(R) Xeon(R) Gold 6248 CPU @ 2.50GHz
OS: CentOS release 6.10
NVIDIA-SMI 440.33.01
Driver Version: 440.33.01
CUDA Version: 10.1
gcc (GCC) 7.2.0

[2020-03-27 20:22] jowens commented on #712
Not CentOS 6.10, which can't run Gunrock with its blessed compiler.

[2020-03-27 20:24] jowens commented on #712
None of that code you are trying to compile is Gunrock code. There's ~nothing we can do with Gunrock to help you here.

[2020-03-27 20:25] ArindamK92 commented on #712
Ok. Thanks for your help. I will discuss with the IT support team here if we have any other cluster machine.

[2020-03-27 20:30] crozhon commented on #712
Thanks for trying it! That error was a bit more useful:
[code]
This is the error CUDA gives when you use things fall outside of the table in the installation guide (https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html). I would really recommend trying to match the installation guide as best as you can on one of your clusters and build us there.

You won't be able to use CentOS bec

[2020-03-27 20:37] ArindamK92 commented on #712
Thank you for your help. I will try to reconfigure things.

[2020-03-27 21:22] mrprajesh commented on #712
Hi @ArindamK92 and Gunrock developers,

I had documented a successful attempt to build gunrock on CentOS 7.5 some time ago. Just in case it might help @ArindamK92 . https://mrprajesh.blogspot.com/2019/12/building-gunrock-on-redhatcentos.html

Cheers,
Rajesh

[2020-03-27 22:38] jowens commented on #712
Thank you @mrprajesh !

[2020-03-31 20:09] sgpyc commented on #657
There seems to be some mismatch between the parameter names in the original command line flags and what's currently supported in Gunrock's PR, I will use the current names.

A few things to check:
1. `--normalize` (previously `--normalized`) this should be true (the current default). This ensures the sum of ranking values of all vertices to be 1.

2. `--compensate` this should be true (the current

[2020-04-01 00:33] achalagarwal commented on #651
@szarnyasg Could you please clarify a couple more things regarding label propagation as I believe that there are a lot of variables in this algorithm that can change the result.

1. I think graphalytics expects the algorithm described in https://arxiv.org/pdf/0709.2938.pdf (along with the min requirement), so instead of labelling a subset of the vertices initially, each vertex has a unique label i

[2020-04-01 06:25] szarnyasg commented on #651
@achalagarwal

1. Initially, each vertex gets a unique label - its own identifier. See Section A.5 with the pseudocode https://ldbc.github.io/ldbc_graphalytics_docs/graphalytics_spec.pdf#page=39

2. In each iteration, all labels should be updated before going on to the next iteration. So if existing labels are L_{i}, then new labels L_{i+1} are computed based on L_{i} values. Once these are determ

[2020-04-01 09:39] vishweshjatala commented on #657
Thank you for sharing this information. I will try these options and get
back to you for any further issues.

Thanks,
Vishwesh

On Tue, Mar 31, 2020 at 3:09 PM Yuechao Pan <notifications@github.com>
wrote:

[2020-04-11 01:28] #693 closed

[2020-04-11 01:28] #696 closed

[2020-04-11 01:28] #695 closed

[2020-04-11 01:28] #694 closed

[2020-04-12 23:43] maawad commented on #698
https://github.com/gunrock/gunrock/pull/715

[2020-04-12 23:43] #698 closed

[2020-04-28 16:56] maawad opened #718 "Advance operator using new graph API"

[2020-04-28 16:57] maawad opened #719 "Intersect operator using new graph API"

[2020-04-28 23:03] crozhon commented on #706
I can reproduce the error pretty consistently on dev now. I've obtained some cuda-memcheck logs that I'm going through. File is attached. Now that I have these I should be able to find out what's going on a bit easier:

`cuda-memcheck ./bin/bfs --graph-type rmat`
[memcheck-rmat.log](https://github.com/gunrock/gunrock/files/4549003/memcheck-rmat.log)

[2020-04-29 12:20] mahmoodn opened #720 "Number of instructions in kernels"
For the following output
[code]
I want to know if `nodes_visited` is the total visited nodes for the number of `iterations`, or not. Any thought?
Also, for the road_usa input, I see that each iterations of RelaxLightEdges has few number of thread instructions, e.g. 83K instructions. With 6262 invocations, the number of thread instructions are about 520M.
For GetEdgeCounts, the thread instructions

[2020-04-29 12:27] neoblizz commented on #720
Yes, that should be for all iterations:
https://github.com/gunrock/gunrock/blob/master/gunrock/util/info_rapidjson.cuh#L578-L600

[2020-04-29 12:28] neoblizz commented on #708
@crozhon can you please take a look at this?

[2020-04-29 15:42] mahmoodn opened #723 "Source of GetEdgeCounts"
I see this GetEdgeCounts in the kernels that are used by the graphs.
[code]

As I grep for this kernel I see

[code]
The one at `LB_CULL_advance/kernel.cuh` is actually commented. So, from the namespace `gunrock::oprtr::GetEdgeCounts`, I don't know which source file is used.
./gunrock/oprtr/edge_map_partitioned_backward/kernel.cuh
OR
./gunrock/oprtr/advance/advance_base.cuh

Any hint?

[2020-04-29 16:55] crozhon commented on #708
Will do!

[2020-04-29 16:56] mahmoodn opened #724 "Printing vertex ID for BFS"
Hi
I would like to know how can I print the vertex id after finishing BFS. I couldn't find the location in the source code to printf them. I appreciate any hint.

[2020-04-29 21:03] crozhon commented on #723
I just used gdb to double check for you BFS with LB advance.  It's the one in
`gunrock/oprtr/advance/advance_base.cuh`

We should get rid of the commented version in kernel.cuh.

@neoblizz Could you comment on what the edge_map_partitioned_backward operator is for? Is it for a different app / advance version?

[2020-04-29 21:19] crozhon commented on #724
Are you looking for the source vertex? Or the the final vertex id you visit? Or something else? The last of these distance labels?

[code]

Take a look at gunrock::app::bfs::DisplaySolution in gunrock/app/bfs/test_bfs.cuh. This is where we print the first 40 elements of the GPU result, so if you change length, you could print the entire result. Or if you're just looking for the final one, you coul

[2020-04-29 21:21] jowens commented on #724
Maybe he means "depth"?

[2020-04-29 22:00] crozhon commented on #642
Going to take a closer look at this.

[2020-04-30 07:33] mahmoodn commented on #724
As I run `bfs market graph.mtx` it starts from a random node. So, I expect to see visited IDs as

40 843 5 384 5435 100 543654 3213 6577 ...

The 40 labels you mentioned looks pretty linear and incremental.

[2020-04-30 08:54] jowens commented on #724
Totally depends on the graph. We've found that graphs, as presented in .mtx files, are rarely listed in random order. Click on a random graph at https://sparse.tamu.edu/ for instance ... the pictures do not look like noise (generally), instead they usually have structure. Note that we are also validating our result against a CPU version.

[2020-04-30 10:47] mahmoodn commented on #724
Right. For arabic-2005 where
[code]
I see this output by default.

[code]

If I use `--src=14` I get

First 40 labels of the GPU result:
[code]

Thank you very much.

[2020-04-30 10:47] #724 closed

[2020-04-30 11:01] mahmoodn commented on #723
Thanks. In that file, this kernel is called by `ComputeOutputLength()`
Looking at the code, I see the blockSize is a fixed value which is 512.
[code]
Is that normal? Isn't device dependent?
I say that because the profiling statistics for this kernel are weird for TitanV.

[code]
Number of cycles is 4205 and SM is active for 62 cycles. Device information shows
[code]
This kernel bothers me as I thi

[2020-04-30 11:04] mahmoodn commented on #723
Excuse me, I removed the comment for [util::DisplayDeviceResults](https://github.com/gunrock/gunrock/blob/master/gunrock/oprtr/advance/advance_base.cuh#L178) but I get these compilation errors:

error: no instance of overloaded function "gunrock::util::DisplayDeviceResults" matches the argument list
error: identifier "frontier_attribute" is undefined
error: identifier "partitioned_scanned_edges" i

[2020-04-30 18:45] crozhon commented on #723
There’s several places where we’ve hard-coded the block size and could likely get better performance. I’m working through the operators to find things like this now, so thanks for catching this. I can put it directly on my TODO list.

As for the compilation error, we have some commented code like this that should be removed.

[2020-05-01 12:27] neoblizz opened #725 "Figures for PR, SSSP, BFS and BC."
## v1+ (and if possible for older versions too, mainly 0.4+)

For all primitives, we would like to see:
#### `avg-mteps`, `avg-process-time`
   - Not interested in any parameters used here, just plain ol' mteps and runtime for every dataset for every primitive. Tooltips are appreciated.
   - Note for pagerank, the time would be divided by `max-iter`.

#### `edges-visited`, `nodes-visited` vs. `num

[2020-05-01 12:32] neoblizz commented on #725
## For BFS only
I would like to quantify impact of parameters.

#### `do_a` and `do_b` heatmap
I want to regenerate a heatmap like this: http://gunrock.github.io/gunrock/doc/latest/md_stats_do_ab_random.html with v1+ code and have it be side-by-side to the older heatmap. This requires generating some data using a simple script.

#### impact of `--direction-optimized=true,false`
A simple comparison

[2020-05-01 12:37] neoblizz commented on #725
## For PR only

#### Comparing `push` vs. `pull`
I would like to see a comparison of `search-depth` (this maybe the same), runtime/mteps, edges-queued, nodes-queued

[2020-05-01 12:40] neoblizz commented on #725
## Understanding resizing and compute output

#### varying `queue-factor` for different problem sizes and primitives
We don't have data for this, but plotting queue-factor vs. runtime (may also be a good heatmap)

[2020-05-01 12:44] neoblizz commented on #725
## Profiled metrics
This is a much longer endeavor, but maybe good for an undergrad. We need a ton of data that you get from profiled metrics using `nvprof` (delimiter separated list -ish) or `cupti++` (c++ and json), much like what I collected for my GEMM paper.

[2020-05-01 12:51] neoblizz commented on #725
## Version comparison, but normalized to (best of each "era"? or maybe even separate points for v0.4.0/0.5.x vs. 1.x.x?)
I want to clearly be able to tell where v1.x.x is worse (or better) than older versions. Maybe taking a single GPU result (like K40c/80 --- because that's what we have used in past the most), and comparison the results for all datasets and all primitives.

I am considering this

[2020-05-01 13:02] neoblizz commented on #725
## Understanding systematic errors
Performance variance study of `min-/max-/avg-process-time`, and looking at the impact of GPU clock/thermals/power, caching, etc.

[2020-05-03 16:37] neoblizz opened #726 "Search Utilities"
- [x] Binary Search
- [x] Sorted Search

[2020-05-03 16:37] neoblizz opened #727 "Sorting Utilities"
- [x] Radix Sort
- [x] Segmented Sort

[2020-05-03 16:37] neoblizz opened #728 "JSON Utilitie"
- [ ] JSON I/O
- [ ] GITSHA

[2020-05-03 16:37] neoblizz opened #729 "Type Utilities"
- [ ] Type Constants
- [x] Numeric Traits (extended std::numeric_traits)
- [ ] String to T
- [x] Type to Enum (not implementing)
- [x] Type Limits (extended std::numeric_limits)
- [x] Vector Types (not implementing)

[2020-05-03 16:37] neoblizz opened #730 "Profiling Utilities"
- [ ] Memory Usage
- [ ] Compute Statistics

[2020-05-03 16:37] neoblizz opened #731 "Raking (Serial-Reduce-Then-Scan) Utilities"

[2020-05-03 16:37] neoblizz opened #732 "Transformations"

[2020-05-03 16:37] neoblizz opened #733 "Reduction"
- [ ] Serial Reduce
- [ ] Tree Reduce
- [ ] Warp Reduce
- [ ] Cooperative Reduce
- [x] Device Reduce
- [x] Segmented Reduce

[2020-05-03 16:38] neoblizz opened #734 "Scan"
- [ ] Block Scan
- [ ] Warp Scan
- [ ] Serial Scan
- [ ] Cooperative Scan
- [x] Device Scan
- [ ] ~Segmented Scan~

[2020-05-03 16:38] neoblizz opened #735 "Parameter Utilities"

[2020-05-03 16:38] neoblizz opened #736 "Barriers"
- [ ] Device Sync
- [ ] Stream Sync
- [ ] Global Barrier

[2020-05-03 16:38] neoblizz opened #737 "Error Utilities"

[2020-05-03 16:38] neoblizz opened #738 "Dense Array"
## Building blocks
- [x] move, copy support
- [x] resize
- [x] allocate, free
- [x] location_t support
- [x] operators

## Simple features
- [x] set
- [x] zero
- [x] swap
- [x] fill

[2020-05-03 16:38] neoblizz opened #739 "Testing Utilities"
- [ ] Print Value
- [ ] Display Value
- [ ] Compare
- [x] Timers

[2020-05-03 16:38] neoblizz opened #740 "Memory Utilities"
- [x] Load, Store
- [x] Modified Load, Store

## Tiles
- [x] Initialize
- [x] Scatter
- [x] Store

## Future Support
- [x] Gather?

[2020-05-03 16:40] neoblizz opened #741 "Profiling Utilities: cupti++ & gunrock"

[2020-05-03 16:41] #726 closed

[2020-05-03 16:41] #727 closed

[2020-05-03 16:47] neoblizz opened #742 "Stable Sort & Stable Sort by Keys"
Thrust supports this, it will be a good idea to compare this with radix sort on our parallel workloads.

[2020-05-03 17:24] neoblizz opened #743 "Select Utilities"
- [x] flagged
- [x] if
- [x] unique

[2020-05-03 17:24] #743 closed

[2020-05-03 17:29] #124 closed

[2020-05-06 01:19] crozhon commented on #706
#744

[2020-05-06 01:19] #706 closed

[2020-05-06 01:43] #692 closed

[2020-05-06 01:44] crozhon commented on #692
Pretty sure this is fixed by #744

[2020-05-06 14:07] neoblizz opened #745 "Extended Support: dense array"
## Complex features
- [x] file reader, writer
- [x] display/print

## Future requests
- [ ] multi-gpu dense array

[2020-05-06 14:07] #738 closed

[2020-05-06 15:17] #742 closed

[2020-05-07 00:06] #708 closed

[2020-05-07 13:59] neoblizz commented on #737
Maybe add outstanding_error support to "peek" or "get" last cuda error.

[2020-05-07 13:59] #737 closed

[2020-05-07 17:44] neoblizz opened #747 "Switch to Github Actions for CI"
Looking more into Actions after Collin brought it up in the group meeting, we can just set a yaml file and hook it up to one of the servers and use docker for all the builds. We can easily test 16.04, 18.04 and beyond with any amount of driver/cuda combinations as well.

The set-up seems much simpler, and I don't have to manage a Jenkins instance.

[2020-05-07 22:10] jowens commented on #725
Checklist for actually getting these done:

- [ ] v1+ (and if possible for older versions too, mainly 0.4+) avg-mteps
- [ ] v1+ (and if possible for older versions too, mainly 0.4+) avg-process-time
- [ ] v1+ (and if possible for older versions too, mainly 0.4+) avg-process-time edges-visited, nodes-visited vs. num-edges, num-nodes
- [ ] v1+ (and if possible for older versions too, mainly 0.4+) ru

[2020-05-08 01:08] jowens commented on #725
@neoblizz : "Not interested in any parameters used here, just plain ol' mteps and runtime for every dataset for every primitive. Tooltips are appreciated."

What do you want here with respect to parameters? I have to pick _something_ for them. I did ~everything with the following, tell me what you actually want.

![gunrock_sssp_bc_1_0_sssp](https://user-images.githubusercontent.com/976970/81359328

[2020-05-08 02:13] neoblizz commented on #725
I want the _best_ configuration separated by `undirected`. Because `undirected` technically changes the problem. So, the key to the right will only have GPUs and eventually the different versions. But that is it.

[2020-05-11 13:05] #711 closed

[2020-05-11 19:21] achalagarwal commented on #651
Mentioning our LCC issue here as it is required in Graphalytics:
https://github.com/gunrock/gunrock/issues/496

[2020-05-12 21:49] #697 closed

[2020-05-23 00:44] jowens opened #751 "request for Volta numbers on 9 datasets"
Searched our results repo for 9 datasets on 4 Gunrock primitives on V100. SSSP is directed; the other three are undirected.

CC: @neoblizz @AjayBrahmakshatriya

github doesn't allow .html attachments so I'm renaming my html table as text and attaching it below.

[ugf_table.txt](https://github.com/gunrock/gunrock/files/4670879/ugf_table.txt)

Pasting the source code here for posterity.

[code]

[2020-05-23 00:45] jowens commented on #751
In general I think our numbers are a little better than the ones reported to us for BC, PR, and SSSP. Some of the BFS runs reported to us are faster than what we had, so we're very interested in the settings for those.

[2020-05-23 03:59] AjayBrahmakshatriya commented on #751
Thanks a lot for reporting this discrepancy and also providing the exact commands to reproduce these results. I will run the commands and generate a similar table. I also have the scripts we used in the first place to produce the numbers we reported in the paper. I can find the parameters that produce better numbers on BFS.

[2020-05-27 00:23] jowens commented on #725
@neoblizz If you think this is done, please close it?

[2020-05-28 00:59] jowens commented on #751
@AjayBrahmakshatriya any good settings for us?

[2020-05-28 01:46] neoblizz commented on #725
I am gonna spend some time this weekend going over the list and will mark stuff done and close the issues accordingly.

[2020-05-29 05:31] achalagarwal commented on #671
I am using this issue to maintain my notes/todos, @neoblizz feel free to butt in on any of my doubts/assumptions, I will be personally confirming/figuring out things myself.

The flow for the simple label propagation iterative BSP model that I imagine would be as follows :-
_(I will later upgrade this to an optimized push pull model as done in BFS)_

1. Vertex Frontier (To populate an array Y with

[2020-05-29 18:55] achalagarwal commented on #671
Doubt: Can we have dynamic sizes for Array1D? Currently, there is the Init function in <app>_problem.cuh

[2020-05-29 19:03] neoblizz commented on #671
Not as of yet, this is something I discussed with @maawad for dynamic problems. But for static problems, it is ok to allocate for the worst case for the GPU because the cost of reallocating is much more (cudaMemxxx calls are slow).

I don't know the specifics of the algorithm, but if you want to discuss this over zoom or something, I'd be more than happy to learn about it and give you feedback.

[2020-05-29 19:07] achalagarwal commented on #671
@neoblizz yeah that will be great! pinged you on slack!

[2020-06-01 17:30] mahmoodn opened #754 "Gunrock or nvGraph"
I would like to know it one can compare the structure of Gunrock and nvGraph or not? Both implement shortest path for [example](https://docs.nvidia.com/cuda/nvgraph/index.html#nvgraph-sssp-example). Or even, comparing the performance of these two... Any comment?

[2020-06-01 22:48] jowens commented on #754
We did _some_ comparisons here: https://escholarship.org/uc/item/9gj6r1dj  (table 16). nvGraph has pretty limited functionality (it only supports a tiny number of graph primitives) and I'm fairly sure it is not maintained currently. My understanding is that it was a GraphBLAS-like framework internally, which is different than Gunrock (but similar to GraphBLAST, https://arxiv.org/abs/1908.01407). I

[2020-06-02 17:03] mahmoodn commented on #754
My analysis shows that in large graphs, the load balancing operation which tries to put threads on cores, dominates the GPU time. For example, BFS algorithm, e.g. counting and ... , are not very heavy operations. So, I was curios to see what about nvgraph...

[2020-06-02 23:52] jowens commented on #754
We haven't done detailed performance breakdowns for nvgraph. Perhaps you might want to look at GraphBLAST as it's probably more similar to nvgraph than anything else. But in any operation with sparse matrices—including both nvgraph and GraphBLAST—load balancing will similarly play a large role just as it does for Gunrock.

[2020-06-03 00:00] jowens commented on #751
@AjayBrahmakshatriya Checkin' in.

[2020-06-03 01:18] AjayBrahmakshatriya commented on #751
Hi @jowens and @neoblizz, I reran the experiments on our machine with the flags you had provided. For each of the flag it produced a lot of json files (because some of the flags had multiple options). So I chose the fastest average-process-time out of those. Here are the results for the experiments for SSSP, BFS and BC -

BC
--
|Graph | Gunrock-reported | Our new | Our old|
|-------|--------------

[2020-06-03 01:55] neoblizz commented on #751
I am investigating a bug in PR with @crozhon right now, what was the exact error that you encountered here?

Was there a random source nodes for these runs, maybe that is the cause? How much was the difference, it would help if I had the command lines for these runs. Also, some changes were made since some of those runs which may have caused minor differences as well.

[2020-06-03 02:27] jowens commented on #751
Can you distinguish between "our new" and "our old"? "our new" is ... you reran with the command line we gave you and "our new" is that result, whereas "our old" is what you ran on your own?

Certainly we are interested in the command lines where "our old" is faster than our run.

[2020-06-03 02:31] jowens commented on #751
(FWIW Muhammad redesigned the command lines so that you could specify multiple runs with one command line; you'll see something like `--param=true,false` and it will do separate runs with `--param=true` and `--param=false`. This is helpful because then we only have to load the graph once; it cuts down our time substantially on large multi-parameter runs. If you look at the parameters in the JSONs

[2020-06-03 02:50] AjayBrahmakshatriya commented on #751
@neoblizz there wasn't an error, the execution crashed with a segmentation fault after the pagerank run.
@jowens oh yes, I forgot to clarify the columns in the table. The first column has the numbers you had shared with me a week ago. The third column is the numbers we had in our paper (with the tuning of parameters we had done). The second column is the numbers from the recent experiments.
For th

[2020-06-03 02:54] jowens commented on #751
Thank you for being so conscientious about this.

[2020-06-03 02:57] AjayBrahmakshatriya commented on #751
Actually, the sweep just showed a number reasonably close with the command line -
`./bfs market soc-orkut.mtx --direction-optimized --do-a=0.012 --do-b=0.012 --src=0 --num-runs=10 --quick --device=5`
The average execution time is - 1.7415 ms (as compared to 3.986 ms from your experiments and 1.66 ms in our paper).

[2020-06-03 03:04] AjayBrahmakshatriya commented on #751
Oh yes! I realized from the new command lines you had sent. I modified them to choose the best parameters as you had shown in the table. But they still weren't matching the numbers you had sent. So just to be sure, I ran the command as it is (except for minor changes like not exploring 64 bit vertex ids and edge ids) and scanned all the generated JSONs to find the best one. The numbers in the tabl

[2020-06-03 03:10] neoblizz commented on #751
Since the commit you are working on is from Sept. 2019, I believe the segfault bug was solved and should be fixed in the master (HEAD). There's a separate issue that I am working on, but using the latest commit should work for PageRank. The official release is just pending.

[2020-06-03 03:17] AjayBrahmakshatriya commented on #751
Sounds good! If you think the performance with v1.1 and master (HEAD) should be close, I will use the latest commit for the PR experiments. Thanks for looking into this. I will let you know if it works.

[2020-06-03 03:28] jowens commented on #751
I promise we are suuuuuper honest about our numbers. As are you. Thank you.

[2020-06-03 03:33] AjayBrahmakshatriya commented on #751
Ofcourse! 😄

And since the issue is with just the road graphs, my guess is it could be a difference in the input files. I will download the datasets again (I am using the same ones that you have in your repository) and not do any preprocessing and run the experiments again.

[2020-06-03 03:39] AjayBrahmakshatriya commented on #751
@neoblizz I pulled the latest master branch and tried recompiling gunrock, but I am getting a lot of cmake errors on the lines of -

[code]

There is one such error for each binary too including `pr`. I am using cmake 3.17.2 (which is what I was using previously for 7c197d6 too and it compiled fine).

Is this a transient issue with the latest commit? Is there a stable commit from before that I can

[2020-06-03 03:41] neoblizz commented on #751
Seems like you didn't fetch the submodules again since we now use moderngpu 2.0 instead of 1.0.

[2020-06-03 03:59] mahmoodn commented on #754
Thank you.

[2020-06-03 03:59] #754 closed

[2020-06-03 20:15] AbandiGa opened #755 "Graph coloring"
Hello,

I have a question about the runtime in the graph coloring code.
when I run the code I got this

**Run 0 elapsed: 3.890991, #iterations = 31
Validating result ...
Comparison: <node idx, gunrock, cpu>
0 errors occurred.
Number of colors: 61
[color] finished.
 avg. elapsed: 3.890991 ms
 iterations: 31
 min. elapsed: 3.890991 ms
 max. elapsed: 3.890991 ms
 load time: 22.6269 ms
 preprocess tim

[2020-06-03 20:32] neoblizz commented on #755
`avg. elapsed` is what is reported, which is the actual algorithm time.

The current version of graph coloring is simplified and removes most of the parameters we had. If you'd like to try all the optimizations, you can switch to the tag v1.1 (which is the last gunrock release): https://github.com/gunrock/gunrock/tree/v1.1

We also intend to improve coloring in a future release.

[2020-06-03 20:32] jowens commented on #755
The runtime in the paper would correspond to `avg. elapsed` (@neoblizz or @agalup will correct me if I'm wrong). "preprocessing" would be, say, loading the input file from disk, and postprocessing is probably sending the result back to the CPU. We don't count those in `avg. elapsed` and neither does anyone else.

I believe all the tests we ran for the paper are in `https://github.com/gunrock/io/tr

[2020-06-04 03:00] neoblizz opened #757 "Illegal memory access in pagerank when using any device but 0."
**Summary:**
[code]

**Reproducibility:**
Always when using `--device=1` (or 2 or 3... anything but 0).

**To Reproduce:**
[code]

Thanks to @crozhon, solved with #756.

[2020-06-04 03:01] #757 closed

[2020-06-04 18:46] ChuckHastings opened #758 "Subgraph matching changes not working"
**Summary:**
Changes were recently made to subgraph matching to allow the graph to be passed in device memory and to return the extracted subgraphs.  Unfortunately, these changes are not working as far as I can tell.  I have found several problems and included them all here.

**Reproducibility:**
Always

**To Reproduce:**
I have attached a sample C++ file that I expect to be able to execute.  If y

[2020-06-04 20:09] ChuckHastings opened #759 "HITS algorithm supporting a graph already in device memory"
**Feature Description:**
Looking at integration of the HITS algorithm into RAPIDS cugraph.

The RAPIDS model is to operate on data stored in device memory with as little extra data movement as possible.  A RAPIDS user might do something like the following:
* Load data from a file into device memory
* Parse the data to generate edge data on the device
* Generate a CSR on the device
* Execute a seri

[2020-06-04 23:05] jdwapman opened #760 "HITS normalization options"
HITS currently defaults to using the 2-norm, while other graph analytics libraries such as NetworkX use the 1-norm. Add an option to specify which version to use as a command-line argument to enable easy cross-library comparison.

`--hits-norm=`

[2020-06-05 06:49] neoblizz opened #761 "Comment printf in enactor_helper"
https://github.com/gunrock/gunrock/blob/fc229b445ef67dc007791d544de8d0e03fe47d8e/gunrock/app/enactor_helper.cuh#L110-L113

A system call that may cause performance degradation.

[2020-06-05 06:52] neoblizz opened #762 "Use util::PrintMsg instead with the quiet flag."
https://github.com/gunrock/gunrock/blob/fc229b445ef67dc007791d544de8d0e03fe47d8e/gunrock/app/hits/hits_test.cuh#L226

[2020-06-05 06:54] neoblizz opened #763 "Suppress print message with the quiet flag."
https://github.com/gunrock/gunrock/blob/06fafd77b39c0c02a7f1bf1945296c650538e1c3/gunrock/app/test_base.cuh#L166-L167

[2020-06-05 13:02] mahmoodn opened #764 "BFS kernels"
As I profile `./bfs market file.mtx`, I don't see the kernel names written in `gunrock/app/bfs/bfs_kernel.cuh` in the output data. I mean kernels such as `Inverse_Expand` or `From_Unvisited_Queue_Local_IDEM`.
The kernels I see in the output data file are:
[code]
So, am I looking into the wrong place? or something else?

[2020-06-05 17:03] neoblizz commented on #764
@mahmoodn you can look at the enactor to see when they are invoked: https://github.com/gunrock/gunrock/blob/fc229b445ef67dc007791d544de8d0e03fe47d8e/gunrock/app/bfs/bfs_enactor.cuh#L395

I believe the kernels in the bfs_kernels file are only used with direction optimized bfs, which is the fastest optimized bfs we support. You can enable that using command line parameter: `direction-optimized`.

ht

[2020-06-05 17:05] neoblizz commented on #755
Reopen the issue if the above doesn't answer your questions.

[2020-06-05 17:05] #755 closed

[2020-06-05 17:09] neoblizz commented on #720
It's really difficult for us to answer that because we don't use performance counters at the architectural level. This could be very different for different GPU architectures. For example, some GPU archs can support vectorized load/stores reducing instruction count. We would love for someone to spend some more time on this and profile this for us, and give us feedback on two things:
1. How can we

[2020-06-05 17:09] #720 closed

[2020-06-05 17:10] #764 closed

[2020-06-05 23:49] #761 closed

[2020-06-06 13:08] mahmoodn commented on #764
Excuse me, but I didn't understand that.
I asked, what I see as BFS kernels in the profiler seems to be different from what I see in the code. In other words, I expected to see the kernels in bfs_kernel.cuh but in really I don't see any of them.

That means for BFS there are some other kernels. Is that right?
I guess what you said is that, when `--direction-optimized=false`, I don't see the kernel

[2020-06-06 18:15] neoblizz commented on #764
Yes. When you use dobfs, it uses the bfs_kernels. Which are special kernels implemented to support that optimization.

If you don't use dobfs, it uses the traditional gunrock operators, which are implemented using the kernels you see after you profiled it. Collection of those kernels implements operators such as advance, filter, etc.

The following, for example, are from moderngpu that implement s

[2020-06-07 01:16] #718 closed

[2020-06-07 07:30] mahmoodn commented on #764
OK. With and without that option, I see that partitioning and edge counting are still on the top. In fact, the kernels in bfs_kernel.cuh are not so important, at least for belgium_osm that I tested.

[2020-06-07 14:06] mahmoodn opened #766 "Badly formed edge"
I have a graph file with 16M vertices. Counting the number of lines (expect the first line) is also the number of edges.
[code]
As you can see vertex id 16777216 is not there, but 16777215 exists.

[code]
Moreover, the number of lines is the third column+1.
[code]
As I run the following gunrock command, I get an error about badly formed edge.
[code]
How can I debug more? What is a "bad formed edge

[2020-06-07 14:29] jowens commented on #766
Looking at the source code, it looks like there's an edge in that file that doesn't have a start and an end, e.g., you have a line that looks like
[code]
or perhaps an empty line. It has nothing to do with the vertex indices.

[2020-06-07 16:40] mahmoodn commented on #766
Right. Thank you very much. I found them.

[2020-06-07 16:40] #766 closed

[2020-06-07 17:33] mahmoodn commented on #645
Sorry for bringing this topic up again... For a graph with the following distribution

[code]
I get
[code]

For many `--src` IDs that I have tested that.
[code]
Although it says fewer than 5 vertices were visited, it prints the first 40 vertices that have been visited. So, is that normal?

[2020-06-07 17:43] jowens commented on #645
No, it prints the labels and distances of the first 40 vertices (the vertices labeled 0–39), most of which (as you notice) have not been visited (hence the bit pattern, which is -1 if considered as a signed int).

[2020-06-08 21:43] AjayBrahmakshatriya commented on #751
I just pulled the latest version of gunrock again (with --recursive) and it seemed to have fixed the problem. I am running the experiments right now for PageRank.
Please let me know if you want the flags for any other experiments (that we had originally used in the paper).

[2020-06-08 22:06] crozhon commented on #751
I just fixed some issues with using multiple options at once (--pull=false,true) and an issue with OpenMP that may only be on `dev`. If you have another issue try checking that out.

[2020-06-08 22:21] jowens commented on #751
Simply for our future use, it would be nice to have the settings for everything you tested, yes. But the primitive-specific settings are specifically what we'll use straightaway.

[2020-06-11 05:42] Laurawly commented on #758
@ChuckHastings Thanks for your detailed exploration on the bug, I'll investigate into it and make changes accordingly.

[2020-06-15 13:44] GuglielmoCerri opened #769 "Error running dynamic_graph inside bin folder in dynamic-graph branch"
**Summary:**
When I call dynamic_graph inside build/bin it returns me the following error:

**To Reproduce:**
I downloaded the branch **dynamic-graph**
I call: `./dynamic_graph market ../../dataset/large/ak2010/ak2010.mtx` inside gunrock-dynamic-graph/build/bin. I also tried with other graphs (also inside small folder) but there is always the same error.

**System Configuration:**

GPU: GeForce GT

[2020-06-15 13:49] maawad commented on #769
Fixed in PR https://github.com/gunrock/gunrock/pull/768

[2020-06-15 14:10] maawad opened #770 "Add command line arguments for maximum number of vertices/buckets that the dynamic graph allocate"
Make graph memory [parameters](https://github.com/gunrock/gunrock/blob/dynamic-graph/gunrock/graph/dynamic_graph/slabhash_graph_base.cuh#L66) arguments. And add a function to compute the memory requirements given a graph.

[2020-06-17 23:02] #769 closed

[2020-06-19 21:33] ArindamK92 opened #771 "SSSP pre-processing code"
I am observing that the SSSP(Single Source Shortest Path) application is omitting a large number of edges just by pre-processing by saying the duplicate edges and self-loops are removed. Can you please tell me at which part of the code this preprocessing is being done?

I am working on some SSSP related problems and want to use or compare the preprocessing techniques.

[2020-06-19 21:53] neoblizz commented on #771
You can turn these options off. When loading the graph from a matrix market format (or other formats), gunrock will remove self-loops or duplicate edges: https://github.com/gunrock/gunrock/blob/9c8102fa74cc473443ffff120e1c62fe7e6ac578/gunrock/graphio/market.cuh#L496-L505

It's not technically modifying the graph. Just removing duplicated work.

[2020-06-22 18:27] ArindamK92 commented on #771
Thanks for quick response

[2020-06-23 05:16] #771 closed

[2020-06-23 18:21] jowens opened #773 "SSSP run on ak2010 on latest dev build does not validate"
I am running the following from a fresh `dev` build:

[code]

To reproduce, you'll have to get the right number of `../` in front of the binary and set the jsondir appropriately. But, this appears to not validate correctly (I set `--validation=each`). What am I doing wrong?

@crozhon would you mind taking a look and telling me where I'm going wrong?

cc: @neoblizz

[code]

[2020-06-23 18:28] crozhon commented on #773
Looking at this now

[2020-06-23 18:44] crozhon commented on #773
It looks like when `--quick` and `--validation=each` are both specified on the command line, we still check against a CPU reference result that hasn't been computed. You can fix it by removing the `--quick` from your command line.

We should have a warning or error when this conflicting option is specified because checking against an uninitialized graph is strange. I'll get right on it.

[2020-06-23 19:35] jowens opened #774 "SSSP run on kron_g500-logn20 does not validate predecessors"
The SSSP result is correct but the predecessors are not, which seems weird. All three filter modes fail for `---mark-pred=true`.

(I would imagine if you ran just one run instead of the 6 I have here, this would be fine.)

Interestingly, kron_g500_logn# validates up to 19, but not for 20 or 21.

[code]

[code]

[2020-06-23 20:08] crozhon commented on #774
Looks related to #773. I'll take a look right away.

[2020-06-23 20:11] crozhon commented on #773
I've got a fix that will correctly skip the validation when both of the options are specified:

[code]

Since just leaving out --quick works, I'm going to work on 774 now before committing this change - in case they end up more closely related.

[2020-06-24 09:03] milewan opened #776 "https://gunrock.github.io/docs/#/hive/ subesquent pages throw HTTP 404"
Hello team,
I was examining https://gunrock.github.io/docs/#/hive/ site, trying to access workload specific data, however github appears to refer to non-existing page. How could I access the information?

Thanks
Michal Lewandowski
Intel Corp.

[2020-06-24 22:11] crozhon commented on #774
So far only able to reproduce with logn20, logn21 doesn't have the same issue. I'm trying to find another graph with this problem. The relevant code is here:

[code]

Not quite sure what's wrong here so I'm still debugging.

[2020-07-02 00:01] jdwapman commented on #759
@ChuckHastings Working on this now. What commands/file locations are you using to build the test file you included?

[2020-07-02 01:25] ChuckHastings commented on #759
nvcc -std=c++11 -o test_hits test_hits.cu -I ${GUNROCK_INSTALL}/include -I /usr/local/cuda-10.1/include --expt-extended-lambda -L ${GUNROCK_INSTALL}/lib -lgunrock -lgomp

[2020-07-02 04:28] Sinan81 opened #777 "Error in fetching externals"
**Summary:**
I am building Gunrock using Spack HPC package manager, which pulls in package sources files as git as follows. Until recently this was working just fine. But it seems there is an issue with an external package dependency. Wondering if you have any suggestions comments.

Spack issues the following commands to clone the git repo:
[code]

**Reproducibility:**
Always

**To Reproduce:**
[c

[2020-07-02 04:28] Sinan81 commented on #777
Also created an Issue in Spack repo: https://github.com/spack/spack/issues/17342

[2020-07-02 04:37] neoblizz commented on #777
@Sinan81 why the `--recursive` flag for the submodules? I have never personally used that because for gunrock, I just need the module and not googletests, etc. So, this is what I would do:

[code]

[2020-07-02 04:38] neoblizz commented on #777
Oh! Nvm, the error is `Unable to checkout '5be4ef286d25cb1ac548f33dc113ad93792c9adb' in submodule path 'docs'`, it is because we archived the docs repository. Is it possible for you to use `master` or `dev` branch instead of `v1.1` tag?

[2020-07-02 06:00] Sinan81 commented on #777
That should be do'able but it is not ideal if we can't compile precise tag versions. Would it be possible to create a simple patch file to fix so that Spack will apply the patch after cloning the source files.

Also, when I attempted to build master branch, it seems no `bin` folder is created. Is that expected for the latest version of gunrock?

[2020-07-02 14:45] neoblizz commented on #777
That's good that you figured it out.

I think the `docs` thing is still relevant, I will create a simple patch for tag `v1.1`. :)

[2020-07-02 17:36] Sinan81 commented on #777
Great. Thanks!

[2020-07-03 20:06] jdwapman opened #778 "HITS termination using convergence tolerance"
Support HITS algorithm termination once the iterative algorithm has converged to within a user-specified tolerance, before the maximum number of iterations is reached. See the NetworkX HITS implementation for reference:

https://networkx.github.io/documentation/networkx-1.9/reference/generated/networkx.algorithms.link_analysis.hits_alg.hits.html

[2020-07-03 20:16] jdwapman commented on #759
Issued pull request (#779)

[2020-07-04 00:13] porumbes opened #780 ""device" Parameter device has not been defined when running unittests on dev branch"
**Summary:**
PR #756 introduced the following error when running `unittests` on `dev` branch:

gunrock/util/parameters.h, 297 @ gpu 0] Parameter device has not been defined (CUDA error 1: invalid argument)

**Reproducibility:**
Always

**To Reproduce:**

0. clone gunrock and switch to `dev` branch
1. configure cmake with `GUNROCK_GOOGLE_TESTS` turned `ON`
2. make unittests
3. run unittests

**Expe

[2020-07-05 06:14] neoblizz commented on #213
Can successfully report that this is possible and rather seamless using Windows Subsystem for Linux (see https://docs.nvidia.com/cuda/wsl-user-guide/index.html). You'll need CUDA, g++/gcc, cmake, make/ninja. I know that is somewhat of a cheat because technically you are still running it on WSL, but... it works.

[2020-07-08 03:45] justinstimatze commented on #213
Congratulations! Appreciate the follow up.

[2020-07-19 01:45] cameronshinn commented on #599
@neoblizz do you still need help with this? Interested in contributing and picking up a "n00b" issue. How could I go about testing any changes?

[2020-07-23 21:15] jdwapman opened #781 "Gunrock ignores "--read-from-binary" flag"
Gunrock's "--read-from-binary" flag is not implemented, and the graph loader will always read binary graph files if they are present rather than `.mtx` files.

[2020-07-23 22:04] neoblizz commented on #599
@cameronshinn yes, we still need help with this. But you should check with @crozhon because he was last working on it.

[2020-07-24 01:27] cameronshinn commented on #599
@crozhon Okay I will take a look at those files. Are all the CMake tests functional tests? Are there performance tests we can look at to verify a speedup?

[2020-07-24 03:24] crozhon commented on #599
@cameronshinn I'm pretty sure they're all functional tests. We do have some scripts that run a full benchmark, but no specific performance benchmarks.

[2020-07-24 04:17] neoblizz commented on #599
You can potentially run the applications and just compare to the results in the JSONs on our website: https://gunrock.github.io/docs/#/analysis/results (the command lines are also in the JSONs).

[2020-07-24 05:01] jowens commented on #599
I will help explain if asked, @cameronshinn, since I'm the one who maintains the results plots.

[2020-07-26 19:32] #781 closed

[2020-07-28 17:14] jowens commented on #751
@AjayBrahmakshatriya any set of settings that you can send us for your runs that were faster than ours?

[2020-07-30 08:49] zawadisvela commented on #285
Hello. I'm currently trying to learn Gunrock and found this issue. Is there any tutorial or guide for writing Gunrock programs that is up to date with the 1.0 interface? By googling I found one annotated example from 0.2 but not much else.

[2020-08-10 16:37] ArindamK92 opened #784 "badly formed edge error"
I am trying to run gunrock sssp on a matrix market format dataset using the command: "./bin/test_sssp_10.2_x86_64 market <dataset name>  --src=0 --device=0 --undirected=1"

I am getting the below error. Please let me know why this error is coming or if I need to use a different command to run sssp.

Loading Matrix-market coordinate-formatted graph ...
  Reading from /lustre/scratch/akkcm/soc-orkut

[2020-08-10 16:43] jowens commented on #784
Where did this graph come from? It's entirely possible it really is a badly formed edge.

[2020-08-10 16:46] ArindamK92 commented on #784
It is a mix of soc-orkut and a synthesized graph. Can you please tell me what do you mean by badly formed edge?

[2020-08-10 16:50] jowens commented on #784
The code is in `market.cuh` and I didn't write it but I believe what it means is that the input graph is badly formed; it's not a valid MatrixMarket graph.

[2020-08-10 16:51] jowens commented on #784
There's two places where that error occurs, one if your MM graph has edge values and one where it does not. It looks like the same condition though.

[2020-08-10 16:52] ArindamK92 commented on #784
Thanks for your help. I will check it

[2020-08-10 16:53] jowens commented on #784
Please let us know either way!

[2020-08-10 18:51] ArindamK92 commented on #784
My mistake. There is some blank line and I counted that as edge. Thanks for your help again

[2020-08-10 18:53] jowens commented on #784
Gotcha. Good luck!

[2020-08-10 18:53] #784 closed

[2020-08-13 20:24] cameronshinn commented on #599
@crozhon I sent you an email so I don't clutter the thread with questions.

[2020-08-13 20:27] crozhon commented on #599
@cameronshinn I'll take a look at it right away.

[2020-08-13 20:36] porumbes commented on #599
Please feel free to ask (and answer) questions in the thread -- they will
likely be useful to someone else in the future : ).

On Thu, Aug 13, 2020 at 1:28 PM Charles Rozhon <notifications@github.com>
wrote:

--
Serban Porumbescu
http://hiddenelephant.com
http://twitter.com/serban

[2020-08-24 17:08] OswArti opened #787 "error: identifier "__builtin_ia32_sqrtsd_round" is undefined"
I got the following  error when compiling bfs example on gunrock:

oarti001@raptor:~/documents/gunrock/examples/bfs$ make
mkdir -p bin
"/usr/local/cuda-10.1/bin/nvcc" -DGIT_SHA1="\"81f58d628463561969dafe65868e72251562e806\"" -gencode=arch=compute_61,code=\"sm_61,compute_61\"  -o bin/test_bfs_10.1_x86_64 test_bfs.cu ../../gunrock/util/str_to_T.cu ../../gunrock/util/test_utils.cu ../../gunrock/util/

[2020-08-24 17:21] neoblizz commented on #787
https://docs.nvidia.com/cuda/archive/10.1/cuda-installation-guide-linux/index.html It looks like the recommended gcc version for Ubuntu 16.04 is 5.4.0 (for CUDA 10.1), can you try compiling with that?

[2020-08-25 01:44] crozhon commented on #473
Wanted to bump this discussion a bit with more info. Changes to the core gunrock library (changing a file within oprtr, or one of the XXX_base.cuh files) cause very long rebuilds. This is due to Gunrock breaking some conventions with its file structure. Gunrock includes many .cuh files into a singular compiled object, rather than having seperate objects for distinct classes and components. When an

[2020-08-25 03:23] OswArti commented on #787
To compile with gcc 5 to solve the problem of incompatibility between CUDA 10.1 and GNU 8.4.0.

To run different versions of gcc as default  create
a local bin directory:

# Create the directory
mkdir ~/bin-defaults

# Add it in front of  your path so it's searched first
export PATH=~/bin-defaults:$PATH

Drop in symlinks to the appropriate version:

ln -s /usr/bin/gcc-5 ~/bin-defaults/gcc
ln -s /u

[2020-08-25 03:41] jowens commented on #787
Great! Does this fix your build problem?

[2020-08-25 03:41] OswArti commented on #787
Yes. Thank you.

[2020-08-25 03:42] #787 closed

[2020-08-30 03:20] cameronshinn commented on #599
So the launch config for each operator kernel is only dependent on the device properties, and we are just shifting the fetching of the properties from compile time to runtime? And we just need to get the launch config for each operator kernel using `cudaOccupancyMaxPotentialBlockSize()`?

Are there any kernels whose allocated shared memory size is dependent on the number of threads? In that case w

[2020-08-30 17:55] neoblizz commented on #599
Yes, that's the first aspect of it. But the tricky thing here is that any introspection using cuda API to figure out the kernel launch configuration should not take away from the performance of the overall application. Simply, we need to do this in the "set-up" phase of the applications, such that when we actually time the kernel launch (the `enactor.enact()` for all apps), it doesn't time anythin

[2020-08-30 17:57] jowens commented on #599
I'm excited about this, @cameronshinn .

[2020-08-31 06:53] cameronshinn commented on #599
@jowens me as well!

So I am assuming the kernel calls are dynamic, which is why it would hurt to call `cudaOccupancyMaxPotentialBlockSize()` for each. Does each operation on a frontier have its own kernel? So in the "set-up" I'd imagine we need to run this API function on one or more example kernels to get some parameters to use. Not sure of the implications of using those parameters on a differe

[2020-08-31 16:33] neoblizz commented on #599
Each operator may have multiple kernels. There are a few operators that are implemented with different load-balancing strategies, and each one of those may be a different kernel and kernel launch config.

The set-up will figure out the kernels the application intends to use (this is known beforehand) and assigns appropriate launch configuration which is passed into the dispatch.

It is also worth

[2020-08-31 16:35] neoblizz commented on #599
Noting down one other thing, which is somewhat related; configurable shared memory/cache settings for newer architectures should also be done in this device "set-up". (don't need to focus on this for now)

[2020-09-01 00:04] cameronshinn commented on #599
That question was in the context of this:

[2020-09-01 00:14] jowens commented on #599
Architectures vary in the max number of threads they allow per block; I'm presuming that's the issue here.

[2020-09-01 00:43] neoblizz commented on #599
To be honest the `cudaOccupancyMaxPotentialBlockSize` API's suggestion is not _as_ important as the maximum active block (`cudaOccupancyMaxActiveBlocksPerMultiprocessor`). And yes, in terms of the architecture it is what John said. Otherwise, it is generally just dependent on the problem (for example, for when value_t == float (type is single precision), you may wanna use more threads per block th

[2020-09-01 12:10] delanyinspiron6400 opened #788 "Can BC do a full run (fails for my test graphs)?"
We are interested in checking out performance of the Betweenness Centrality algorithm.
As far as I've seen, one can pass a source to the algorithm, which I guess would then compute a partial result of the BC starting from this source.
As we are interested in the BC, this would probably need to happen for all nodes (by passing `--src=-1`), but this always crashes for my tests (tested a few of the d

[2020-09-01 12:14] delanyinspiron6400 commented on #788
At least from #256 it looks like that a full run should be possible, although it is not the intended outcome (which makes me wonder a bit what one would do with just a partial result of BC, isn't it always interesting to compute the full BC for all sources?).

[2020-09-01 22:05] AjayBrahmakshatriya commented on #751
I just checked the logs from our experiments and the only set of experiments where our numbers were faster than your reported numbers are for BFS for the following two graphs. I have specified the command line arguments and the reported average time here. For the rest your reported numbers were faster and with your mentioned flags we were able to match those.

I just reran these experiments to mak

[2020-09-01 22:12] neoblizz opened #789 "BFS script changes"
I just checked the logs from our experiments and the only set of experiments where our numbers were faster than your reported numbers are for BFS for the following two graphs. I have specified the command line arguments and the reported average time here. For the rest your reported numbers were faster and with your mentioned flags we were able to match those.

I just reran these experiments to mak

[2020-09-01 22:15] jowens commented on #751
thank you @AjayBrahmakshatriya!

[2020-09-01 23:59] cameronshinn commented on #599
@neoblizz what kernels should I test the API functions on? I was just searching for all of the ones in `gunrock/oprtr/`.

[2020-09-02 00:18] neoblizz commented on #599
Let's try it with the simple stuff, the `for` kernels here; https://github.com/gunrock/gunrock/blob/master/gunrock/oprtr/1D_oprtr/for.cuh#L24-L35
You'll notice that the block dim and grid dim is a constant defined at the top of the file.

[2020-09-06 03:21] cameronshinn commented on #599
Starting with some basic code to run the API function on the `For_Kernel()` and I am running into some issues...
[code]

Running this gives me the following error for both API calls...
[code]

Not sure if this is something unique to NVCC with the way kernel function symbols are represented or if this is just cause of my lack of C++ understanding. Anyone got any ideas?

[2020-09-06 04:33] neoblizz commented on #599
I am pretty sure you are missing templated types in the function pointer. You can use `decltype()` to add those in.
An example of that is;
[code]

[2020-09-06 04:38] crozhon commented on #599
I can help you out. I'm really glad to work with you on this.

I'll help with the error message:

The symbol `gunrock::oprtr::For_Kernel` that you provide as the third argument has unknown type because it is a templated function. You have to specify an instantiation of the template in order to use the function as a parameter like that.

Suppose I had a templated function `bar` that operates on int

[2020-09-06 10:04] cameronshinn commented on #599
@neoblizz @crozhon Thanks for the help. I had tried specifying the template parameter, but didn't know what it was expecting. I wasn't sure if I was going forward or backwards with errors. I've got some updated code with a device lambda function...

[code]

Now I am stuck with a seemingly unrelated error
[code]
...referring to this line (out of context)
[code]
Could this be from my Makefile missin

[2020-09-06 10:13] crozhon commented on #599
Could you try adding a `#include <vector>` at the top of `for.cuh`?

[2020-09-06 18:22] neoblizz commented on #599
Additionally, the lambda has to have the same signature as what the function expects. I think you should look at some examples of the `For` being used; , this may actually be a `__host__ __device__` lambda. Also, these lambdas don't support `auto` in the parameters, this is a limitation of extended lambdas in cuda.

https://github.com/gunrock/gunrock/blob/fc229b445ef67dc007791d544de8d0e03fe47d8e/g

[2020-09-06 21:49] cameronshinn commented on #599
@crozhon Adding `#include <vector>` in that file worked for me. Didn't think it was that simple. Wonder why nobody else has had that issue yet?

@neoblizz Would I also need to supply a frontier `work_progress` and `queue_index` in the capture clause to give it the same signature? I have gotten it working with empty brackets. Could affect the occupancy calculation?

[2020-09-06 22:46] neoblizz commented on #599
The brackets in the lambda mean what you "capture" to use within the function. For that BFS example, it needs `work_progress` and `queue_index` that is not relevant to your problem at all. Parameters shouldn't affect occupancy calculations. Here's a quick read that should help you understand C++'s lambda's a bit better: https://docs.microsoft.com/en-us/cpp/cpp/lambda-expressions-in-cpp?view=vs-201

[2020-09-06 22:49] crozhon commented on #599
Yeah I'm surprised no one else has run into it, it's not something you did at all. I'll make sure to fix it.

[2020-09-07 02:34] cameronshinn commented on #599
Thanks @neoblizz. Feels like I've learned a lot already just scratching the surface. I've got a branch on my fork for the timer code. I've got it in the tools folder until we figure how where in gunrock we want to call the API functions.

https://github.com/gunrock/gunrock/compare/master...cameronshinn:occupancy-api-timer

I'm going to collect some data on the runtimes and then move to the kernels

[2020-09-10 03:43] cameronshinn commented on #599
Looking at results for `gunrock::oprtr::For_Kernel()`:
- `cudaOccupancyMaxPotentialBlockSize()` - 0.000000s
- `cudaOccupancyMaxActiveBlocksPerMultiprocessor()` 0.032550s

The first was consistently 0 and the second was always within 1 ms.

I would guess that the `cudaOccupancyMaxPotentialBlockSize()` is optimized at compile time since the arguments and output are always the same? However changing

[2020-09-10 21:42] neoblizz opened #790 "`primitive = tc` not `primitive = TC`"
@neoblizz can you make future runs use `primitive = tc` not `primitive = TC`?

_Originally posted by @jowens in https://github.com/owensgroup/graphblast-paper/issues/21#issuecomment-690708009_

[2020-09-11 04:16] neoblizz commented on #599
Yeah, that's a good guess, and looks like what I expected. Anything in milliseconds is already too costly for us because some of our algorithms run within 10s of milliseconds. We should plan for this API to be part of the start-up phase rather than actually timed, which is ok.

I would love to see you port `ForAll()` and `ForEach()` to start with, and we can run the test corpus to see how much of

[2020-09-12 15:42] achalagarwal opened #791 "Strange CUDA Illegal Memory Access (700)"
**Context:**
Label Propagation benefits from unique frontier elements (so as to prevent redundant computations from a snowballing effect)
So, we need to create an Array1D to check if an element has already been added to the frontier and then prevent duplicate entries using an atomic op.

[code]

**Summary:**

In the filter + advance fused kernel, filtering in the advance_op results in the error bu

[2020-09-12 15:59] jowens commented on #791
I can't comment on how this is implemented, but I'm a little nervous about an array data structure that enforces strict uniqueness. Does our array data structure actually implement this? (I don't know.) This seems expensive. Sort-then-uniquify?

[2020-09-12 18:27] achalagarwal commented on #791
No, I don't think there is provision for uniqueness in our Array data structure. That's why I was using another mask array with atomicMax to maintain uniqueness.

That's not the issue though, the issue is that the same lines of code work in filter but not in advance. Perhaps @neoblizz might know as it could be related to how the fused kernel (filter + advanced) works.

[2020-09-12 22:15] cameronshinn commented on #599
Okay I can focus on `ForAll()` and `ForEach()` for starters. I have been looking at how moderngpu implements a launch box and thinking about how that could fit into Gunrock's structure.

Making sure I am interpreting the problem correctly...
* `cudaOccupancyMaxPotentialBlockSize()` provides the same functionality as the macros in `cuda_properties.cuh`. Using this function (inside a launch box) we

[2020-09-13 03:00] neoblizz commented on #791
@achalagarwal have you tried printing `dest`? In filter, I believe `dest` is really the input nodes coming in since all nodes are in a sense "destination". I think the naming is confusing (fixing this in the refactor). And in advance, `dest` implies the neighbors. So, `added + dest` in filter may mean `added + src node` and in advance it may mean `added + neighbor node`.

That'll be my first guess

[2020-09-13 03:08] neoblizz commented on #599
We need to rely on the minimum block sizes already set as constants within the kernels. Since, some kernels' correctness may depend on the block size and also, they may be using a constant block size to allocate stuff like shared memory at compile time for block wide operatives. To summarize, use at least the minimum block size for correctness unless this API at runtime recommends a higher number.

[2020-09-13 17:40] achalagarwal commented on #791
Aah interesting! I will verify this, thanks!

[2020-09-14 16:52] achalagarwal commented on #791
For me, the fused kernel itself doesn't work. I verified this crudely using print statements and checking the changes. Basically the filter op doesn't print/function when fused but when used separately it does the work

It's not critical for me as I am launching the filter op separately in my lp implementation. But I might come back to why it wasn't working in the fused kernel later.

[2020-09-14 18:05] crozhon commented on #599
I was working on modifying the constants within a kernel_policy file for better performance. I was also trying to refactor them, so they were more automatic.

Take a look at one of our operator kernels like LB_advance. We're not even using the macros from cuda_properties for the most part, and instead using hard-codes values. I was trying to disentangle that, but I've gotten distracted and need to

[2020-09-14 18:15] jowens commented on #599
I am told, but am not the expert on this, that moderngpu's "LaunchBox" kind of construct is where we want to go. Params determined once (either dynamically or at compile time) and then propagate to all kernels.

e.g., https://github.com/moderngpu/moderngpu/commit/2b3985541c8e88a133769598c406c33ddde9d0a5

[2020-09-14 18:48] crozhon commented on #599
@cameronshinn
Take a look at this line:
https://github.com/gunrock/gunrock/blob/81f58d628463561969dafe65868e72251562e806/gunrock/oprtr/LB_CULL_advance/kernel_policy.cuh#L96

These are the sorts of issues that will complicate what you're doing, so I want to bring them to your attention. See how SCRATCH_ELEMENTS is set to 256? We end up using SCRATCH ELEMENTS as a maximum thread size here (and elsew

[2020-09-14 23:21] OswArti opened #792 "Errors while running BFS with run.sh"
I am trying to use the BFS routine in gunrock by running:
https://github.com/gunrock/gunrock/blob/master/examples/bfs/run.sh

Before running the process I update the following paths in the file
(those with #OAC):

###########################################################
#get all execution files in ./bin
#files=./bin/*
files=/lclhome/oarti001/documents/gunrock/build/bin/*  #OAC
#split file names

[2020-09-14 23:34] jowens commented on #792
This looks like you're running an executable called "market". The executables are usually called `bfs` or something like that.

[2020-09-14 23:35] jowens commented on #792
(what you run is `bfs market filename.mtx ...`)

[2020-09-14 23:43] jowens commented on #792
The second error is perhaps in the .mtx file? I would _guess_ it's not a valid mtx file, although I can't say for certain. (`/lclhome/oarti001/documents/SpMVcuda/MMdataFiles/delaunay_n10.mtx`) Paste in the first 10 lines of that?

[2020-09-15 01:20] OswArti commented on #792
1. market is in the run.sh file (lines 125-129), and is part of the binary bfs file:
if [ "${GRAPH[$i]}" = "" ]; then
            GRAPH_="market $DATADIR/${NAME[$i]}/${NAME[$i]}.mtx"
        else
            GRAPH_="${GRAPH[$i]}"
        fi
2. The filename for the .mtx file is correct, and I assume it is read correctly.
I have been using these files for my experiments and they are ok. The error is

[2020-09-15 01:33] crozhon commented on #792
You've been using these mtx files with Gunrock already? And they've been working? It might be the combination of options, so I'll try and reproduce this. Some array may be improperly released.

[2020-09-15 01:37] neoblizz commented on #792
Seems to me that the executable you are running is not compiled for the architecture that is supported on your GPU.

Since you require cc 6.1, I'll be curious to know if you used makefile to build this or cmake, and if you used makefile, did you make sure cc 6.1 was enabled?

Also, try running a simple example first before the run file, does that work? `./bin/bfs market ../../dataset/small/chesape

[2020-09-15 01:57] crozhon commented on #792
I was just able to reproduce your issue on latest master. I'm taking a closer look to find a fix. The issue is specifically when certain options have multiple entries in their command-line. Both:

./bin/bfs market ../dataset/large/delaunay_n10/delaunay_n10.mtx --device=0 --idempotence=false,true

And

./bin/bfs market ../dataset/large/delaunay_n10/delaunay_n10.mtx --device=0 --advance-mode=LB_CULL

[2020-09-15 03:26] jowens commented on #473
@achalagarwal here's the central place to discuss build times/strategy

[2020-09-15 03:35] OswArti commented on #792
1. A simple example works:
oarti001@raptor:~/documents/gunrock/examples/bfs$ /lclhome/oarti001/documents/gunrock/build/bin/bfs market /lclhome/oarti001/documents/SpMVcuda/MMdataFiles/delaunay_n10.mtx --num-runs=10

Loading Matrix-market coordinate-formatted graph ...
  Reading meta data from /lclhome/oarti001/documents/SpMVcuda/MMdataFiles/delaunay_n10.mtx.meta
  Reading edge lists from /lclhome/o

[2020-09-15 03:40] achalagarwal commented on #473
@jowens Thanks

@crozhon Do you think it would help if I spend some time changing our Cmake to one based purely on target + properties.

There could be some duplicate (redundant) building that we might be able to fix with that.

That might also help utilise multiple threads better as the dependency graph could possibly be understood better.

The alternative is to modify the parts in our existing C

[2020-09-15 17:37] porumbes commented on #473
@achalagarwal if you have an easy experiment in mind, I say go for it, but it might be best in the short term to switch over to ninja as @neoblizz suggests (~50% reduction in build time).

[2020-09-15 18:00] crozhon commented on #473
I also say go for it if you can, but I think that the biggest factor comes from building and linking the gunrock file as a few relatively large objects, rather than many object files over several different translation units. Which is why 'make -k bfs' is still relatively slow, even though it's just building the one binary.

[2020-09-22 00:43] achalagarwal commented on #473
C++20 is introducing modules and Cmake is has started working on integrating that. It's not going to be soon because it requires a fundamental change as the cpp files now require an ordered compilation.

Naturally this means that if we plan to move to modules, we would have to rework our Cmake (reasonable guess).

Also I'll try to read up how modules can or will help if we do want to use it.

But

[2020-09-22 02:30] neoblizz commented on #473
CUDA only supports C++17, so, no.

[2020-09-22 20:09] cameronshinn commented on #599
I was thinking I'd define a LaunchBox struct in a new file and instantiate one or more LaunchBoxes as global variables inside `for_all.cuh` and `for_each.cuh`. Not sure that instantiating as a global is ideal (depending on what variables they need access to), but I am not sure where else place them so that they only get instantiated once.

[2020-09-23 09:02] curiosityyy opened #793 "[Subgraph Matching]About the generating query graph node exploration sequence"
https://github.com/gunrock/gunrock/blob/06fafd77b39c0c02a7f1bf1945296c650538e1c3/gunrock/app/sm/sm_problem.cuh#L237

I don't think this opertion will add priority to its neighbors. In the for loop at line 210 in sm_problem.cuh, array ```d_m``` is only for checking whether the node is solved.

[2020-09-27 06:12] achalagarwal opened #794 "Louvain Clustering Coefficient"
**Summary:**
Louvain Clustering Coefficient application crashes on somewhat large graphs cit-Patents ( Vertices: 3774768, Edges: 16518947), datagen-7_5 (graphalytics data, vertices: 633432, edges: 34185747)

However, it should work on large graphs as mentioned here:
https://gunrock-docs.readthedocs.io/en/latest/hive/hive_louvain/

**Reproducibility:**
Always

**To Reproduce:**
The datasets are ava

[2020-09-27 15:05] jowens commented on #794
@sgpyc do you have a bit of time to look at this and see what might be up?

[2020-09-27 21:12] neoblizz opened #795 "Sparse Array"
- [x] CSR
- [x] COO
- [x] CSC

[2020-09-27 21:13] #795 closed

[2020-09-27 21:15] neoblizz opened #796 "Graph Abstraction"
### Graph Representations
- [x] CSR Representation
- [x] CSC Representation
- [x] COO Representation

### Graph API
- [x] https://docs.google.com/document/d/17U0hUnpDfO--2W71ew-HKQNbX5wesme0GeMb-zu7qus/edit?usp=sharing

[2020-09-28 04:41] weihanmines opened #797 "Labeled Subgraph Matching"
I have two questions about subgraph matching when query and data graphs have labels.

1. What formats are used in query and data graphs for labeled subgraph matching?
2. What command should I use for labeled subgraph matching?
@Laurawly

[2020-09-28 10:42] OswArti commented on #792
A simple script to run BFS on gunrock:
TEST="1"
DATA="/lclhome/oarti001/documents/SpMVcuda/MMdataFiles"
EXECUTION="/lclhome/oarti001/documents/gunrock/build/bin/bfs market"
ORG_OPTIONS=""
ORG_OPTIONS="$ORG_OPTIONS --num-runs=10"
ORG_OPTIONS="$ORG_OPTIONS --validation=each"
ORG_OPTIONS="$ORG_OPTIONS --device=0"
ORG_OPTIONS="$ORG_OPTIONS --64bit-SizeT=false"
ORG_OPTIONS="$ORG_OPTIONS --64bit-VertexT

[2020-09-28 18:20] Laurawly commented on #797
Hi @weihanmines, the formats of the graphs are the same as those when doing query without labels. And labels are sent in as an NDArray. To pass in labels in the input, you need to input a label graph with node id and corresponding labels. And pass the label file with --pattern-graph-label.

[2020-09-28 18:38] Laurawly commented on #793
@curiosityyy No, the priority of the neighbors are defined as their degree when labels are not given. They are done in sm_enacotr.cuh. https://github.com/gunrock/gunrock/blob/06fafd77b39c0c02a7f1bf1945296c650538e1c3/gunrock/app/sm/sm_enactor.cuh#L94

[2020-09-28 18:38] achalagarwal commented on #794
If it helps to debug, here is a smaller graph where the algorithm crashes and a script to setup the graph (mtx)

Kgs (830K vertices, 17M edges) -- Game traces from the KGS Go Server

[code]

[2020-09-28 20:19] weihanmines commented on #797
Hi Leyuan, Thank you so much for your reply. Please accept my apology that I am going to raise many questions in my response. I hope that these questions would not bother you too much.
I tried to run labeled matching as what you suggested. The system complains `./sm: unrecognized option '--pattern-graph-label=../../dataset/small/tri_query_sm.label'`
I assume that this option is for specifying the

[2020-09-28 20:28] weihanmines commented on #797
@Laurawly The graphs I sketched were not displayed properly. If you have any questions about those graphs, please let me know. I am sorry for that.

[2020-09-30 02:38] achalagarwal commented on #794
@sgpyc Just updating that I'm not blocked on this

[2020-09-30 02:43] achalagarwal commented on #651
LCC update:

~~Louvain~~ Local Clustering Coefficient pull request created

[2020-10-01 10:09] sgpyc commented on #794
@achalagarwal Do you know which kernel hit the illegal memory access issue?
Form the printout, it seems to be mgpu, which I guess would be one of the 2 advances in Louvain.
They both uses null input and output frontiers, which means visit all edges.

You can remove the data access / computation from the advance lambda; this way, it can tell whether the illegal memory access is from the advance ker

[2020-10-01 17:08] neoblizz opened #799 "Unit test for comma-separated IO support"
Our unit tests are here: https://github.com/gunrock/gunrock/tree/master/unittests and also, some of the calls from those unit tests are made to this folder: https://github.com/gunrock/gunrock/tree/master/examples/core

Lots of examples there, hope this helps!

_Originally posted by @neoblizz in https://github.com/gunrock/gunrock/pull/668#issuecomment-568638989_

[2020-10-02 20:33] afender opened #800 "sm80 build option for Ampere"
https://github.com/rapidsai/cugunrock/pull/3/files

[2020-10-03 00:19] neoblizz commented on #800
PR #801

[2020-10-03 00:22] neoblizz opened #802 "Move gunrock's CI to use slurm."

[2020-10-03 00:23] #800 closed

[2020-10-04 04:49] neoblizz opened #956 "Polymorphism within CUDA"
Struggling with what the right approach here is. Polymorphism (abbreviated poly) makes things a lot easier, but creating a class requires a kernel launch. The answer below explains an interesting technique we can use for the device side initialization --- I would have to figure out the performance overhead of this approach vs. not using poly, which in my opinion is the wrong approach: https://stac

[2020-10-05 07:25] curiosityyy commented on #793
Oh, okay, I will take a look at this code, thanks.

[2020-10-05 07:36] #793 closed

[2020-10-05 23:22] #762 closed

[2020-10-06 20:16] weihanmines opened #804 "Wrong Results"
**Summary:**
It seems that Gunrock gets the wrong matches of clique 4 on wiki-Vote (https://snap.stanford.edu/data/wiki-Vote.html)).

**Reproducibility:**
I ran clique 4 in three different systems, Peregrine, AutoMine, and Gunrock. Both pattern and data graph don't have labels. Peregrine and AutoMine return the same number of matches. But Gunrock provides a different answer from those two systems.

[2020-10-06 20:20] jowens commented on #804
@weihanmines can you attach the log from your run that demonstrates a different number of matches & passing the test anyway? thanks.

[2020-10-06 20:36] weihanmines commented on #804
@jowens Thank you for your fast reply. I add three print statements printing out count_subgraphs, ref_subgraphs and num_subgraphs in sm_app.cuh. The three numbers I got are between PASS and [sm] finished.
[code]

[2020-10-09 01:10] DanLoran opened #806 "sm app segfault when storing result in device"
**Summary:**
When passing the argument target=device in an sm app call - along with the required preallocated device vectors - the sm app segfaults. Currently the reported segfault happens at [line 199 in sm's problem.cuh](https://github.com/gunrock/gunrock/blob/master/gunrock/app/sm/sm_problem.cuh#L199). I believe this is because at this time the host is attempting to access the row_offsets vecto

[2020-10-11 14:46] neoblizz opened #955 "Python & C++"

[2020-10-12 01:07] crozhon commented on #806
I'll take a look at this right away. Thanks for all the helpful info.

[2020-10-12 13:25] neoblizz opened #807 "Enactor Abstraction"
- [x] Base Class
- [x] Iteration
- [x] Make Output
- [ ] Expand Incoming

[2020-10-12 13:26] neoblizz opened #808 "Frontier Abstraction"

[2020-10-12 13:26] #808 closed

[2020-10-12 13:27] neoblizz opened #809 "Problem Abstraction"
- [x] Base Class (application-specific data)
- [x] Data Slice (non-problem-specific data)

[2020-10-12 13:27] #809 closed

[2020-10-12 13:30] neoblizz opened #810 "Single-Source Shortest Path"
- [x] SSSP Problem
- [x] SSSP Enactor
- [x] SSSP C/C++ API (`gunrock::app::sssp`)
- [x] Unit Testing

[2020-10-12 13:30] #810 closed

[2020-10-18 00:57] DanLoran opened #811 "Illegal memory access when using sssp c interface -- potentially applies to other apps as well"
**Summary:**
When using the c interface function of sssp illegal memory accesses occur.

_This can be fixed _ by calling
`  graph.FromCsr(graph.csr(), gunrock::util::HOST, 0, quiet, true);`
immediately before the [LoadGraph call](https://github.com/gunrock/gunrock/blob/master/gunrock/app/sssp/sssp_app.cu#L258)

It should be noted that other apps might also have this same problem, resulting in diff

[2020-10-22 05:38] bkj opened #1007 "SSSP example w/ `weight_t = int`"

[2020-10-22 06:08] #1007 closed

[2020-10-23 06:28] cameronshinn commented on #599
@neoblizz coming back to this, I am struggling to find when in the code the launch box contents can be determined. Where is the app "set-up" done where I can find what operator kernels a given application will use?

I have been looking at moderngpu's launch box approach and it seems like they are more concerned with getting device capabilities and properties like we do in [`cuda_properties.cuh`](h

[2020-10-23 16:24] neoblizz commented on #599
Launch parameters are kernel specific, you'll notice within gunrock operators (kernels), we have `kernel_policy.cuh` file defining a bunch of compile-time constants that then get used to determine the number of things for the kernels (such as shared memory usage, items per thread to process, etc.) An example of that; https://github.com/gunrock/gunrock/blob/master/gunrock/oprtr/advance/kernel_polic

[2020-10-25 00:35] cameronshinn commented on #599
Ah that makes much more sense. I have been looking at the for_all and for_each 1D operators, which don't have a kernel policy. Would it be easier to start with something like the filter operator?

[2020-10-25 01:22] neoblizz commented on #599
Well, the kernel policy for fors is just the number of threads per block and blocks per grid.

[2020-10-25 02:38] cameronshinn commented on #599
That must be why you suggested I start with the fors, oops. I'd imagine those would be easier to play around with since the "policy" is just constants.

When I was trying to plug the one of the `ForAll_Kernel` kernels into the occupancy API, I was getting issues filling in the `ApplyLambda` template param. I need to define a `__host__ __device__` lambda and use `decltype()` like you suggested, but

[2020-10-25 02:54] neoblizz commented on #599
Share the exact error, I'll be happy to help. If you are using our `BaseMakefile.mk` or a flavor of that, the `--expt-extended-lambda` flag should already be passed in. The lambda also needs two parameters in its signature, so make sure you have those as well. Can I see the bit of code you are using for the lambda?

So, it's a mix of compile-time and runtime stuff. Let's say we have the `ForAll_Ke

[2020-10-25 03:01] neoblizz commented on #599
@cameronshinn not the cleanest example, but here's how you can imagine setting up kernel policies in CUB (which is somewhat what gunrock mimicks today): https://github.com/NVIDIA/cub/blob/main/cub/device/dispatch/dispatch_spmv_orig.cuh#L263-L472

You'll notice the SM numbers, and the best possible settings to go along with that SM. This gets later utilized. So, maybe what you are constructing is 2

[2020-10-25 05:23] jowens commented on #599
@cameronshinn you're awesome, keep it up
@neoblizz you're also awesome, thanks for guiding the way here

[2020-10-26 00:12] Sinan81 commented on #777
version 1.2 doesn't have this issue anymore. So, probably there is no need to fix it anymore. The issue can be closed.

[2020-10-26 01:27] #777 closed

[2020-10-26 01:52] cameronshinn commented on #599
Thanks @jowens

@neoblizz what I currently have looks like this (added into for_all.cuh at line 52):
[code]

And this gives me the error:
[code]
So actually it looks like it doesn't like it when I pass the extended lambda type as a template parameter. I am not sure what it wants, since the macro in the section above tells me that the --expt-extended-lambda flag *is* being used. I am compiling with

[2020-10-26 02:03] cameronshinn commented on #599
For trial runs to get MAX_THREADS_PER_BLOCK and MIN_BLOCKS_PER_SM, would I need to run this on every different architecture? Or is there a way I can spoof the `__CUDA_ARCH__` by redefining it myself, to get the arch defaults?

Since you guys already have unique kernel policies for each of the operators, will we need to come up with policies for each combination of architecture **and** operator ker

[2020-10-26 16:46] neoblizz commented on #599
Let's work on your workflow first, it will help you compile things faster and test things faster. Instead of adding stuff to the global scope, we will create a simple test, here's an example on how to do that:

https://github.com/gunrock/gunrock/blob/master/examples/core/test_core.cu (the core file that is being compiled)
https://github.com/gunrock/gunrock/blob/master/examples/core/test_for.cuh (t

[2020-10-26 16:49] neoblizz commented on #599
I don't think there's a way to spoof this, we have lots of GPUs and lots of archs we care about to run your example and get the values we need, when we get to this stage I can help you set that up. But I'd be more comfortable if we were actually running it on the arch we need. Also, the occupancy calculation is also available as an excel file online (to get the tuning values out), but I'd want thi

[2020-10-26 16:50] neoblizz commented on #599
Hopefully, all this makes sense, we can also zoom for like 30 mins and I can explain some of the stuff above in a call (which maybe a lot easier).

[2020-10-27 06:19] cameronshinn commented on #599
The workflow setup makes perfect sense, thanks!

I've seen that excel sheet when reading around, but I thought the occupancy API made that obsolete?

I definitely would like to zoom so you can clarify things for me and figure out a game plan. Could you add me at ctshinn@ucdavis.edu and we can message to figure out a time?

[2020-10-27 16:34] neoblizz commented on #599
I haven't looked at it in a while maybe that is the case now.

Requesting @jowens to add you to the slack, much easier to communicate.

[2020-10-27 16:38] jowens commented on #599
Added.

[2020-10-28 17:52] ctcyang opened #813 "PageRank numbers are too good"
**Summary:**
Using the [numbers](https://github.com/gunrock/io/blob/master/gunrock-output/v1-0-0/pr/K40c/soc-orkut/pr_soc-orkut_Tue%20Sep%20%201%20153103%20750%202020.json) provided by @neoblizz and comparing against the hardwired implementation (CuSha) and GraphBLAST numbers from the [GraphBLAST paper](https://arxiv.org/abs/1908.01407) which are both using highly-optimized SpMV implementations an

[2020-10-28 17:54] jowens commented on #813
@crozhon can you take an initial pass at this? results are in:

https://github.com/owensgroup/graphblast-paper/issues/20

[2020-10-28 17:55] crozhon commented on #813
Will do!

[2020-10-28 18:02] neoblizz commented on #813
The JSON that you linked have `"avg-process-time": 4160.194529427423,`, but in the table above you have `15.56`? Is that the right JSON? I am confused a bit.

[2020-10-28 18:07] ctcyang commented on #813
For soc-orkut, I accidentally took the Titan V time of 15.5, but I've now corrected that one to `83.20 = 4160.19 / max-iter` where `max-iter = 50`. This number corresponds to what's displayed in this [Table](https://github.com/owensgroup/graphblast-paper/issues/20#issuecomment-686787295).

[2020-10-28 18:10] neoblizz commented on #813
Yeah, just realized all the others are still much faster. Weird.

[2020-11-02 20:22] crozhon opened #814 "Remove git submodules as dependencies"
Use CMake to obtain specific git revisions instead of submodules. FindPackage and CPM.cmake are helpful to look at.

[2020-11-02 20:25] crozhon opened #815 "Add stable/release branch tracking latest release"
Add an additional branch pointing to the latest stable release. When a new release tag is added, the branch will be updated. Projects downstream can then track the release branch for stable updates. Downstream projects would no longer have to track master to stay updated, potentially causing issues during periods of turbulent development.

[2020-11-04 00:15] jowens commented on #813
@crozhon just seeing if any insight on this, thanks.

[2020-11-04 00:49] crozhon commented on #813
I would like to run PR on a K40C machine with soc-orkut so I can compare the timings specifically. The timings are so small for some of those that they don't look correct at all. I'm waiting for the cluster to come back up for that, but I can work around it if it's urgent. I've tried pagerank on my local machine just to check for correctness and I did not obtain strange numbers like these so it mi

[2020-11-04 01:07] crozhon commented on #813
Leaving some of the data from my tests below, but things seem ok on a 2080. I want to check K40C and multi-gpu for issues now.

[code]
[code]

[2020-11-04 03:27] jowens commented on #813
https://github.com/gunrock/io/blob/master/scripts/graphblast-pull-pr-200901.py

note: `normalizePRByIterations`, which is in:

https://github.com/gunrock/io/blob/master/scripts/filters.py (line 148)
`        df["avg-process-time"] / df["max-iter"]`

That's where I do the normalization.

[2020-11-04 04:58] crozhon commented on #813
Thanks for sharing - that helps.

I'm confused a bit by the `max-iter` parameter, but I'm unfamiliar with how we report pagerank times. I looked at the paper and saw "All PageRank times are normalized to one iteration". So do we run (upto) `max-iter` iterations of the pagerank algorithm, then divide that runtime by `max-iter` to obtain the average per-iteration runtime? Do we always execute `max-i

[2020-11-04 06:22] jowens commented on #813
So I don't think I know why those two params should diverge. Like, why would we stop at `iterations` if we'd specified a larger `max-iterations`?

Almost certainly we should divide by the number of actual iterations because runtime should track those.

Background: Before Gunrock, most (all?) papers would report per-iteration PR times. I think this is because there was not a consensus on how many i

[2020-11-04 06:40] crozhon commented on #813
Ok so there is definitely something wrong with us never reporting `iterations` in the JSON then. I can start by reporting the number of iterations taken as an additional JSON field. We can then rerun with a K40C and get proper times.

@neoblizz Do you know why PR would stop before `max-iterations` have occurred? It seems to happen if no vertices were updated.

[2020-11-09 23:07] ChuckHastings opened #816 "Simple C++ external API"
Add a new externally facing C++ API.

The current C-style external API is too limiting.  It would be nice to have:

- An external facing C++ API that did not require understanding of internal Gunrock implementation
- A C++ API that could be incorporated header-only into another library (e.g. RAPIDS cuGraph)
- The API should operate in device-only memory (assume the caller is responsible for gettin

[2020-11-09 23:12] ChuckHastings commented on #814
While doing this, it would be helpful to reference:
https://github.com/NVIDIA/thrust and https://github.com/thrust/cub which are the latest code bases for thrust and cub.

[2020-11-09 23:15] ChuckHastings opened #817 "Expose Graph Coloring in C/C++ API"
Expose the Graph Coloring algorithm implemented in version 1.x of gunrock through an external API.

[2020-11-09 23:16] ChuckHastings opened #818 "Expose Geolocation in C/C++ API"
Expose the Geolocation algorithm implemented in version 1.x of gunrock through an external API.

[2020-11-09 23:16] ChuckHastings opened #819 "Expose Graph Trend Filtering in C/C++ API"
Expose the Graph Trend Filtering algorithm implemented in version 1.x of gunrock through an external API.

[2020-11-09 23:17] ChuckHastings opened #820 "Expose Hyperlink-Induced Topic Search in C/C++ API"
Expose the Hyperlink-Induced Topic Search algorithm implemented in version 1.x of gunrock through an external API.

[2020-11-09 23:17] ChuckHastings opened #821 "Expose MaxFlow algorithm in C/C++ API"
Expose the MaxFlow algorithm implemented in version 1.x of gunrock through an external API.

[2020-11-09 23:18] ChuckHastings opened #822 "Expose Local Graph Clustering in C/C++ API"
Expose the Local Graph Clustering algorithm implemented in version 1.x of gunrock through an external API.

[2020-11-09 23:18] ChuckHastings opened #823 "Expose Graph Projection in C/C++ API"
Expose the Graph Projection algorithm implemented in version 1.x of gunrock through an external API.

[2020-11-09 23:19] ChuckHastings opened #824 "Expose GraphSage in C/C++ API"
Expose the GraphSage algorithm implemented in version 1.x of gunrock through an external API.

[2020-11-09 23:20] ChuckHastings opened #825 "Expose Subgraph Matching in C/C++ API"
Expose the Subgraph Matching algorithm implemented in version 1.x of gunrock through an external API.

There is a C version currently exposed through the old-style API.  Issues with that version are already covered in GitHub.

[2020-11-09 23:20] ChuckHastings opened #826 "Expose Vertex Nomination in C/C++ API"
Expose the Vertex Nomination algorithm implemented in version 1.x of gunrock through an external API.

[2020-11-10 00:11] crozhon commented on #815
I've created a release tag, currently pointing to v1.2. I've also updated our documentation to state we should update this tag when creating new releases.

[2020-11-10 00:11] #815 closed

[2020-11-10 01:15] crozhon commented on #814
Thanks that's appreciated Chuck.

I've pushed a change to use CPM.cmake instead of git submodules. Testing it out locally with a fresh clone, things seem to be working fine. I'm pretty sure I removed any trace of the submodules, but please let me know if something doesn't seem right.

[2020-11-11 20:23] #796 closed

[2020-11-11 20:24] #807 closed

[2020-11-14 22:42] jowens commented on #816
@bkj can you take this into account in your design?

[2020-11-14 22:44] jowens commented on #824
Just a note that the DARPA GraphSAGE app we developed was inference-only, no training. @wangxiaoyunanne can you give any more details? I know you worked a bit on the training side but I don't believe that work was finished (I think we decided to work on the GraphChallenge submission instead).

[2020-11-14 22:45] jowens commented on #821
I'm fairly sure that the maxflow implementation we have in Gunrock is not exactly performance-competitive in the way we would like. This is a hard problem! @agalup can you kindly comment?

[2020-11-15 05:43] wangxiaoyunanne commented on #824
Yes, this code is inference only. Because of training we need to have a back propagation function, which we do not have in Gunrock. Another way is to write the weight matrix update function by yourself, you need to derive the gradient formula by yourself. But in this way, there is no flexibility in the model structures.

[2020-11-15 23:18] agalup commented on #821
Thank you for your interest, @ChuckHastings. The code is not performance-competitive in the way we would like to publish it.

[2020-11-19 22:20] bkj opened #1005 "SSSP bug w/ directed graph"

[2020-11-19 22:20] bkj opened #1006 "SSSP bug w/ directed graph"

[2020-11-24 02:41] crozhon commented on #813
Rerunning all of the datasets on mario right now. Should be done overnight if everything goes well. There will be a new field "elapsed-iterations" that specifies the elapsed iterations for each run.

[2020-11-24 05:47] crozhon commented on #813
Finished a lot sooner than I expected, so I added the results to [io/gunrock-output/pr-iteration-rerun/](https://github.com/gunrock/io/tree/master/gunrock-output/pr-iteration-rerun). They have the tag `pr-iteration-rerun` and include the new field `elapsed-iterations`.

`elapsed-iterations` is a `num-runs` sized array. If it exists, it specifies the actual number of iterations performed for every

[2020-11-24 08:38] ctcyang commented on #813
The new numbers make a lot more sense. PageRank was the only program that I was having trouble with. Thank you for the fix!

[2020-11-24 08:38] #813 closed

[2020-11-24 14:16] neoblizz opened #1024 "advance::unbalanced"

[2020-11-24 14:16] neoblizz opened #1025 "advance::unbalanced"
- [x] Rename this to input-oriented load-balancing.
- [x] Make sure the output is actually correct, seems like this is producing different results.
- [x] Formalize the definition of advance, should it include the input vertex and edges in the output frontier?

[2020-11-24 14:17] neoblizz opened #1022 "Check all combinations of operators"
Need to make sure `bypass`, `uniquify`, `predicated` filter types are working with `merge_based` and `unbalanced` advance types.

[2020-11-24 14:17] neoblizz opened #1023 "Check all combinations of operators"
Need to make sure `bypass`, `uniquify`, `predicated` filter types are working with `merge_based` and `unbalanced` advance types.

[2020-11-24 14:19] neoblizz opened #1020 "Formal definition of advance and filter behavior"

[2020-11-24 14:19] neoblizz opened #1021 "Formal definition of advance and filter behavior"
Document how filter and advance behave mathematically.
Note that I just added a little line that automatically skips over invalid vertices or edges in the frontier within advance. What this means is now you don't have to add this statement to `filter` lambda @bkj.

[2020-11-28 21:30] AKKamath opened #827 "Data race in color_enactor.cuh"
**Summary:**
There seems to be a data race in color_enactor.cuh at lines 109, 110, 118 and 121.
colors[v] is being set on lines 118 and 121 while colors[u] is being read on lines 109 and 110 causing the race.

    for (SizeT e = start_edge; e < start_edge + num_neighbors; e++) {
        VertexT u = graph.CsrT::GetEdgeDest(e);

        if ((util::isValid(**colors[u]**)) && (**colors[u]** != color +

[2020-11-29 01:41] neoblizz commented on #827
In this case, it doesn't matter as we iterate till all vertices are assigned a color per JPL algorithm. Lines 109 and 110 are simply checking the neighbor's colors, and lines 118 and 121 are assigning colors to the active vertex if it is the minimum or maximum random number. If the neighbor is also an active vertex in another thread, we assume that its random number will likely not be the same as

[2020-11-29 01:41] #827 closed

[2020-11-29 20:09] AKKamath opened #828 "Data race in louvain_enactor.cuh"
I found a data race in gunrock/app/louvain/louvain_enactor.cuh.

In line 469 community_sizes[v] and community_sizes[n_comm] are being read, while in lines 482 and 483, atomic operations are performed on community_sizes, creating a data race.

           if (c_comm == v &&
    -->         community_sizes[v] + community_sizes[n_comm] <= 2) {
              if (n_comm > v && next_communities[n_comm] =

[2020-11-29 20:18] AKKamath opened #829 "Data race in sm_enactor.cuh"
In sm_enactor.cuh there seems to be a data race between a load and an atomic operation. This occurs on lines 108 and 112.

    -->if (subgraphs[src] >= constrain[0]) {
           return true;
         } else {
           isValid[src] = false;
    -->     atomicAdd(subgraphs + dest, -1);
        }

[2020-11-29 22:21] jowens commented on #828
@AKKamath do you have an automated race detector or have you run this code and you found a race and you're pointing it out to us? It's something we should know about either way, but if you've seen a race in practice, that is helpful info for us.

[2020-11-29 22:21] jowens commented on #829
@AKKamath do you have an automated race detector or have you run this code and you found a race and you're pointing it out to us? It's something we should know about either way, but if you've seen a race in practice, that is helpful info for us.

[2020-11-30 07:01] AKKamath commented on #829
This data race manifested when I ran the sm application in the example folder with the provided inputs.

[2020-11-30 07:02] AKKamath commented on #828
This data race manifested when I ran the louvain application in the example folder with the provided inputs.

[2020-11-30 07:29] jowens commented on #829
And you detected it ... with CUDA's tools?

[2020-11-30 19:31] OswArti opened #830 "BC wrong results"
Summary: BC wrong results from gunrock
Script: I am running the following script to get BC results from gunrock. (CUDA Version 10.1.243, Titan XP).

//////////////////////////////////////////////////////////////////
TEST="1"
DATA="/lclhome/oarti001/documents/SpMVcuda/MMdataFiles"
EXECUTION="/lclhome/oarti001/documents/gunrock/examples/bc/bin/test_bc_10.1_x86_64 market"
ORG_OPTIONS=""
ORG_OPTIONS="

[2020-12-07 04:48] Laurawly commented on #829
@AKKamath Thanks for detecting the data race. I should have assigned the atomic results to a different array.

[2020-12-07 05:33] jowens commented on #829
@Laurawly Do you think this affects correctness?

[2020-12-07 05:46] Laurawly commented on #829
@jowens I don't think this affects correctness. Else condition here is trying to get more related nodes pruned. If the loading `subgraphs[src] >= constrain[0]` happens before the writing `atomicAdd(subgraphs + dest, -1)`, then it works as wished, `src` node could either be kept or pruned in the next iterations. If it's the other case, `src` node could be pruned earlier.

[2020-12-07 05:51] jowens commented on #829
OK. Thanks. I understand.

I'd love to see it "fixed" but in the event you don't fix it, could you at least put specific instructions in this issue as to what someone else should do? You know this better than anyone, of course.

[2020-12-07 05:54] Laurawly commented on #829
We can use double buffering method. Say in odd iterations, we do loading from buffer1 and writing to buffer2, and in even iterations, we do loading from buffer2 and writing to buffer1.

[2020-12-07 06:32] jowens commented on #829
And specifically this is on the array `subgraphs`?

[2020-12-07 06:36] Laurawly commented on #829
Yeah, that's right.

[2020-12-11 05:57] xianglizhi123 opened #833 "out of memory error of subgraph isomorphism app"
**Summary:**
Hello. I got out of memory error when I run the subgraph isomorphism app. The query graph I used is the query_sm.mtx in your code directory(triangle graph) and the data graph is gowalla. I got the gowalla graph from the website http://networkrepository.com/soc-gowalla.php. The machine I used is a A100 machine which has 40GB gpu memory.

**Reproducibility:**
Always.

**To Reproduce:**

[2020-12-16 14:01] sgpyc commented on #828
Louvain has a serial CPU reference, and the result is checked against the output of the CPU reference.
https://github.com/gunrock/gunrock/blob/master/examples/louvain/test_louvain.cu#L76
So, if the result with race conditions still matches the CPU reference, it might be that different vertex movement orders settle to the same results.

I roughly remembered the first if statement
`       if (c_comm

[2020-12-16 14:25] jowens commented on #828
@sgpyc : so, legit race detected, application logic makes it non-harmful in practice?

Thank you for this analysis! This is a ~similar conclusion to https://github.com/gunrock/gunrock/issues/829.

[2020-12-17 07:35] sgpyc commented on #828
Yep. The iterative updates can mitigate the unwanted effects of data races. PR is another algorithm that has this property, and the Gunrock implementation uses rank_curr & rank_next to avoid data races. I remembered someone did a correct implementation of PR that allows data races.

If the application logic was not sufficient to mitigate the data race risk, these might happen: 1) infinite loop, pa

[2020-12-22 21:35] Laurawly commented on #833
Hi @xianglizhi123 , you can lower the mem_limit here: https://github.com/gunrock/gunrock/blob/dev/gunrock/app/sm/sm_problem.cuh#L188 to reduce the pre-allocated memory size if you run out of memory error. Pls lemme know if that helps. Btw which branch did you use?

[2020-12-28 14:49] JKVX opened #834 "Does subgraph matching support node labels?"
If sm supports labelled graph, how to modify the examples for sm so I can run it on a labeled graph?

[2021-01-05 18:13] neoblizz opened #1018 "Add a build environment (CMAKE) + Header-Only library"

[2021-01-05 18:13] neoblizz opened #1019 "Add a build environment (CMAKE) + Header-Only library"

[2021-01-08 18:56] #1018 closed

[2021-01-08 18:56] #1019 closed

[2021-01-11 17:07] xianglizhi123 commented on #833
Hi@Laurawly, thanks for your reply. I added a print statement to check the original memory limit there, it says memory limit = -996621919. My test data graph is roadNetCa.mtx and the query graph is query_sm.mtx. I cloned the repo from the default master branch. Thanks

[2021-01-11 17:12] xianglizhi123 commented on #833
Loading Matrix-market coordinate-formatted graph ...
  Reading meta data from ../../dataset/large/roadNet-CA/roadNet-CA.mtx.meta
  Reading edge lists from ../../dataset/large/roadNet-CA/roadNet-CA.mtx.coo_edge_pairs
Reading from ../../dataset/large/roadNet-CA/roadNet-CA.mtx.coo_edge_pairs, typeId = 262, targetId = 262, length = 2766607
  Assigning 1 to all 2766607 edges
  Substracting 1 from node

[2021-01-11 17:29] xianglizhi123 commented on #833
what does this memory limit mean? Does it mean how many bytes it will malloc in GPU?

[2021-01-11 18:20] xianglizhi123 commented on #833
I tried to reduce the memory_limit to 2000000000 which was 3885948780961, but i still get below errors.
[/home/lizhi/folder/gunrock/gunrock/util/array_utils.cuh, 481 @ gpu 0] results cudaMalloc failed (CUDA error 2: out of memory)
[/home/lizhi/folder/gunrock/gunrock/app/sm/sm_problem.cuh, 195 @ gpu 0] error encountered (CUDA error 2: out of memory)
[/home/lizhi/folder/gunrock/gunrock/app/sm/sm_pro

[2021-01-12 07:51] crozhon commented on #834
Do you mean the labels in the subgraph have to match? I don't believe sm supports that currently, but @Laurawly should be able to correct me.

To modify the sm examples, you could start by looking at our labels header: https://github.com/gunrock/gunrock/blob/master/gunrock/graphio/labels.cuh You would pass your labels as a separate file. I believe knn currently uses labels and might help.

[2021-01-12 08:08] crozhon commented on #830
Reproduced with delaunay_n20. Some mention of nan's in the error.

[2021-01-13 21:19] neoblizz opened #1016 "Separate uniquify as an option."
It is _always_ possible to uniquify, so that should be a separate option.
`filter_type_t` should be `filter_algorithm_t`, and the `uniquify` algorithm should be relabled to `transform_compact`.

[2021-01-13 21:19] neoblizz opened #1017 "Separate uniquify as an option."
It is _always_ possible to uniquify, so that should be a separate option.
`filter_type_t` should be `filter_algorithm_t`, and the `uniquify` algorithm should be relabled to `transform_compact`.

[2021-01-14 17:05] neoblizz opened #1014 "Binary data/mtx loader"
Speed-up graph loaders using binary reads/writes (we can import this from gunrock/gunrock).

[2021-01-14 17:05] neoblizz opened #1015 "Binary data/mtx loader"

[2021-01-14 18:30] #1016 closed

[2021-01-14 18:30] #1017 closed

[2021-01-15 19:30] neoblizz opened #1012 "Command-Line Interface (much like parameters.h in gunrock/master)"

[2021-01-15 19:30] neoblizz opened #1013 "Command-Line Interface (much like parameters.h in gunrock/master)"

[2021-01-19 19:17] ChuckHastings opened #838 "Error building dev branch in RAPIDS docker container"
**Summary:**
The latest dev branch (5c2e6f6ac96a8e968946f9570fedecbedf40f444) fails to build within a RAPIDS docker container.

The RAPIDS docker container includes a different version of rapidjson and gtest than gunrock depends upon, and by default cmake is pointing to the version already present in the container rather than the one that gunrock specifically checks out.

NOTE:  `cmake -DCMAKE_INC

[2021-01-19 19:33] crozhon commented on #838
Thanks for the report. Will take a look at this right away.

[2021-01-19 21:49] crozhon commented on #816
Saving some links from our slack conversation about memory allocators here for reference:

[2021-01-25 04:16] Laurawly commented on #833
@xianglizhi123 The memory limit is to ensure that the intermediate results generated in this app needs memory space less than the maximum GPU global memory.  Could you try to print out the GPU memory each variable used and locate which line caused the out of memory error? If it's after this line https://github.com/gunrock/gunrock/blob/dev/gunrock/app/sm/sm_problem.cuh#L188, then reduce mem_limit c

[2021-01-26 22:45] abasak24 opened #843 "Running IPDPS'20 dynamic graphs on GunRock"
Hi,
I am new to Gunrock and am trying to perform some experiments on the dynamic data structure proposed in IPDPS'20. I have the following issues I am running into. If you could point out how to work around them, it would be great! My infrastructure is NVIDIA Tesla V100 GPU with 16GB memory.

1) In the gunrock/build/bin/, I am running the following command line using the livejournal dataset provid

[2021-01-28 00:51] angeil opened #844 "Warnings reported by cuda-memcheck racecheck tool"
**Summary:**
Running the cuda-memcheck racecheck tool on my k-core code returns lots of warning-level data race hazards. These warnings are also reported when running the other apps, including SSSP and BFS.

These are warning-level, not error-level hazards, and I’m not sure if they are due to intentional design choices and known to be benign. (https://docs.nvidia.com/cuda/cuda-memcheck/index.html#

[2021-01-28 02:20] jowens commented on #844
@crozhon can you take a look at this please?

[2021-01-28 04:43] crozhon commented on #844
Was able to get some more precise line numbers after some weirdness with cmake. I've attached them.

Here's an example:
[code]
With the code looking like:
[code]

I added a __syncthreads at line 297, which should remove the hazard. (Allows thread 0 to finish writing before other threads read the address for `reservation_offset`). Racechecker confirms. You're right - I'm also not sure if the previo

[2021-01-28 04:48] abasak24 commented on #843
Hi, I wanted to follow up on this. Some pointers would be very helpful. Thanks!

[2021-01-28 05:01] jowens commented on #844
This looks like code that was originally in CUB? @dumerrill happy to hear any comment here.

[2021-01-28 05:14] maawad commented on #843
Hi @abasak24, the problem you ran into is easy to fix. [Allocate](https://github.com/gunrock/gunrock/blob/dynamic-graph/gunrock/graph/dynamic_graph/slabhash_graph_base.cuh#L68) need to be passed the correct parameters. I'll fix it.

I currently don't have a similar benchmarking code for edge insertion or deletion, but there are examples here:

- Deletion in undirected weighted [here](https://githu

[2021-01-28 05:31] crozhon commented on #844
Managed to find the others pretty quickly. Set up a PR here https://github.com/gunrock/gunrock/pull/845, so we can look at it more carefully.

[2021-01-28 11:02] maawad commented on #843
Should be fixed in https://github.com/gunrock/gunrock/pull/846. I ran the bulk build benchmark using the different data sets in the paper and the numbers are within milliseconds (Additional counters were added compared to the paper version, so a small increase is expected).

The only issue is with the graph `rgg_n_2_24_s0` my current numbers are 97.886 ms compared to 0.697 ms in the paper.  The pa

[2021-01-28 22:17] abasak24 commented on #843
@maawad Thank you for fixing the issue with allocate. It is working now. Thanks for your suggestions on performing batched insertion/deletion experiments. I have a lingering question on the experiment setup for Table II and Table III in the paper (I understand that Table IV is not reproducible because vertex deletion is not implemented here yet).

For example, in Table II's (Table III's) experimen

[2021-01-28 23:02] maawad commented on #843
Vertex deletion is not too complicated. I have an issue for it https://github.com/gunrock/gunrock/issues/699, I'll try to work on it soon.

You are correct. For every batch size, all the different graphs were bulk built, then a batch of randomly generated edges with sources and destination between 0 : `num_vertices` (no uniqueness is guaranteed for these randomly generated edges) is inserted (or d

[2021-01-28 23:02] #843 closed

[2021-01-29 21:06] jowens commented on #844
@dumerrill took a real quick look at the first issue and said yeah, looks like a legit warning. He recommends a shuffle-broadcast (possibly) from lane 0 as maybe the thing to do to communicate from thread 0 to others (not through shared mem).

[2021-01-29 21:06] jowens commented on #844
Thanks @dumerrill !

[2021-01-29 21:18] crozhon commented on #844
Thanks, that's very helpful! I'll try that.

[2021-02-14 23:03] crozhon opened #853 "Use CUDA parallel compilation"
NVCC added parallel compilation for CUDA targets. This might help in cases where we build several GENCODEs - it's almost probably good to add for folks downstream until CMake handles it itself.

See: https://developer.nvidia.com/blog/boosting-productivity-and-performance-with-the-nvidia-cuda-11-2-c-compiler/

[2021-02-16 21:20] mahmoodn opened #854 "Overhead of CTA launches"
Hi,
As I profile a BFS for road_usa on 3080, I see that
[code]
takes a lot of GPU time. When I check the source code [here](https://github.com/moderngpu/moderngpu/blob/master/src/moderngpu/launch_params.hxx#L76), I see that this kernel itself doesn't do any thing, but a call to `restrict_forward`. So, I wonder why it is listed in the profiler's output. Any idea about that?

[2021-02-18 08:17] nayakajay opened #855 "Running KNN over a large dataset"
There appears to be a "nearest-neighbour" folder in dataset, with a generator.cpp file. I wanted to know how to use it to create a set that takes a long time to run on GPU (atleast 1s).

I compiled it using c++, and to the scanf gave 100,100,100 as inputs and store it in custom-pts.

Then to the knn binary, I run with the following executable
[code]

I get the following output
[code]

Am I doing s

[2021-02-18 14:07] neoblizz commented on #854
@mahmoodn what's the full signature, I believe that is actually pointing to the `scan` kernel and the `launch_box` is just the parameter type passed in. And `scan` can be a costly kernel. :)

[2021-02-18 14:27] mahmoodn commented on #854
This is the name
[code]
If you say that it is pointing to a `scan`, then why scan kernel is not mentioned?

[2021-02-18 14:30] mahmoodn commented on #854
BTW, I run the latest version on RTX 3080 (sm_86). I wasn't able to specify GUNROCK_GENCODE_SM86=ON and it seems that it ses `arch_70` as can be seen in the previous post. Does that matter?

And one more question. With the long name in the kernel, where can I find the main kernel that this `launch_box_cta_k` has called?

[2021-02-18 15:59] neoblizz commented on #854
It is mentioned, it is called `scan_event`, see below;
https://github.com/moderngpu/moderngpu/blob/master/src/moderngpu/kernel_scan.hxx#L11-L15
[code]
You can compare the parameters with the ones from the signature you gave me;
[code]

I believe this is how it matches;
[code]

It also tells you the scan type its using is `1`, with a `plus_t` reduction operator.
`launch_box_cta_k` is pretty much ju

[2021-02-18 16:00] neoblizz commented on #854
We have to add support for SM architecture `86`; https://github.com/gunrock/gunrock/blob/master/CMakeLists.txt#L160-L161 Maybe @crozhon can help you with that. Although it should be simple to modify the CMakeLists.txt file to add `86` just like `80`.

[2021-02-20 11:07] crozhon commented on #854
Like @neoblizz says the kernel is `scan_event`. The `launch_box` just holds things like granularity of thread and how many threads you launch.

If you want to specify GENCODE_SM86, you'll need to set it up in CMake yourself.

Specify the compiler option
[code]

Add a CMake option to flip the switch:
[code]

And add the logic so if the option is set, the `GENCODE` is set properly
[code]

You'll hav

[2021-02-20 21:05] mahmoodn commented on #854
Thanks for the responses. If I understand correctly, the scan_event is not heavy but the kernel that launches CTAs for that is actually heavy. Otherwise, I expect to see scan_event, itself, in the sorted GPU time list. Is that correct?

[2021-02-21 05:18] crozhon commented on #854
No worries. It's just hard to describe.

The kernels are templated based upon the 'launch' struct you pass in. Suppose I have a few different variants of 'launch' with a different thread granularity in each.

Code for a new function is generated (through a template parameter) for each 'launch'.

So it is the scan_event that is taking a long time, but it's _this version_ of scan event, generated to

[2021-02-21 14:28] mahmoodn commented on #854
Thanks for that. I understand it.

[2021-02-21 14:28] #854 closed

[2021-02-23 18:58] crozhon opened #857 "Using internal CUB APIs"
We currently use some of the internal APIs for CUB. These aren't documented or publicized, so we shouldn't be using them. Ex: DispatchRadixSort in sort_device.cuh. Our behavior is apparently bugged when using these functions in updated versions of CUDA/CUB.

There shouldn't be any additional functionality we need from the internal APIs, so we just need to use the proper external API.

This could b

[2021-03-03 08:57] nayakajay commented on #855
I am not sure if the issue label is correct; type "question." Should I edit and add a different label?

[2021-03-04 22:34] agalup commented on #855
Hi @nayakajay, thank you for posting the issue. I believe, problem is fixed now.

To run the code longer, please generate bigger test, for example use generator.cpp with input "1000 1000 1000" and increase parameter "k" (the number of the nearest neighbors). Default is k = 10. For giving example you could run:

bin/knn market --labels-file /custom-pts --k=4979

[2021-03-04 22:34] neoblizz commented on #855
The patch is in `dev` branch btw.

[2021-03-12 09:57] nayakajay commented on #855
I checked out the ```dev``` branch and ran the code as mentioned. There are no errors (thanks!), but the kernel is taking very long to finish/terminate. The example @agalup mentions did not terminate even after a day.
I tried applying just the patch from [pull-request 872](https://github.com/gunrock/gunrock/pull/872/files) after checking out the ```master``` branch; it still takes long time to run

[2021-03-12 19:05] neoblizz opened #954 "Core gunrock parameters list"
Much like what we are doing with `result_t` and `params_t` for application-specific input and output parameters, we eventually want gunrock-specific parameters, which control things like load-balancing, filter algorithm, unquification, direction-optimized thresholds, etc.

[2021-03-12 19:12] neoblizz opened #953 "advance::twc & advance::twce"

[2021-03-12 19:13] neoblizz opened #1010 "Review of a frontier_t APIs"

[2021-03-12 19:13] neoblizz opened #1011 "Review of a frontier_t APIs"

[2021-03-12 19:16] neoblizz opened #1008 "CPU reference: bfs"

[2021-03-12 19:16] neoblizz opened #1009 "CPU reference: bfs"

[2021-03-12 19:16] neoblizz opened #1004 "CPU reference: color"

[2021-03-12 19:16] neoblizz opened #952 "CPU reference: geo"

[2021-03-17 22:38] #1005 closed

[2021-03-17 22:38] #1006 closed

[2021-03-17 22:39] #1024 closed

[2021-03-17 22:39] #1025 closed

[2021-03-17 22:39] #1022 closed

[2021-03-17 22:39] #1023 closed

[2021-03-17 22:41] neoblizz opened #1001 "advance::all_edges"
`all_edges` advance is actually different from other advance load-balancing schedules. As the name suggests, it performs on ALL edges of the graph, therefore, ignoring the input frontier. This needs a slightly different API interface to make sure people understand when they use this advance, it is not necessarily on the input frontier, it is on the entire graph.

We can also consider making it a n

[2021-03-17 22:41] neoblizz opened #1002 "advance::all_edges"
`all_edges` advance is actually different from other advance load-balancing schedules. As the name suggests, it performs on ALL edges of the graph, therefore, ignoring the input frontier. This needs a slightly different API interface to make sure people understand when they use this advance, it is not necessarily on the input frontier, it is on the entire graph.

We can also consider making it a n

[2021-03-17 22:41] neoblizz opened #1003 "advance::all_edges"
`all_edges` advance is actually different from other advance load-balancing schedules. As the name suggests, it performs on ALL edges of the graph, therefore, ignoring the input frontier. This needs a slightly different API interface to make sure people understand when they use this advance, it is not necessarily on the input frontier, it is on the entire graph.

We can also consider making it a n

[2021-03-19 14:15] neoblizz opened #999 "advance::block_mapped"

[2021-03-19 14:15] neoblizz opened #1000 "advance::block_mapped"

[2021-03-23 19:46] YukeWang96 opened #873 "Standalone building the Gunrock SAGE example"
**Hi, All**

**How could I build the Grunrock SAGE example without building/testing other parts?**

It seems that when I follow the command
[code]

it gives me the error like.

[code]
Can anyone give me help with this problem? is there any way that I can manually link this library?

Thanks!

[2021-03-23 20:25] jowens commented on #873
That looks like you've got the wrong versions/headers for moderngpu. @crozhon ? Can you help?

[2021-03-23 23:58] crozhon commented on #873
Use CMake to build and you shouldn't encounter this. We updated our dependencies to be pulled via CPM instead of git submodules, and haven't updated the legacy Makefiles to alert the developer.

[code]

If you're really stubborn about not using CMake, the Makefile will work fine as long as moderngpu is cloned to externals/moderngpu, so you can also do:

[code]

Once you have moderngpu the Makefile

[2021-03-28 15:21] YukeWang96 commented on #873
Hi,

I have one more question if I want to use the sage outside its current directory (under example/sage). Instead of using CMake provided by Gunrock, I want to use `nvcc` with a set of flags for compilation, how could I achieve that? Since I want to use `sage` in another project outside the Gunrock directory.

Thanks!

[2021-03-29 18:15] neoblizz opened #996 "GitHub Actions for Continuous Integration (CI)"
GitHub Actions (https://github.com/gunrock/essentials/actions/new) supports C++/Cmake really well, but we need to see if we can get GPU support working with it for essentials.

[2021-03-29 18:15] neoblizz opened #997 "GitHub Actions for Continuous Integration (CI)"
GitHub Actions (https://github.com/gunrock/essentials/actions/new) supports C++/Cmake really well, but we need to see if we can get GPU support working with it for essentials.

[2021-03-29 18:15] neoblizz opened #998 "GitHub Actions for Continuous Integration (CI)"
GitHub Actions (https://github.com/gunrock/essentials/actions/new) supports C++/Cmake really well, but we need to see if we can get GPU support working with it for essentials.

[2021-03-30 01:25] crozhon commented on #873
If you clone moderngpu to the externals directory, then you can use the Makefile in examples/sage to build.

[2021-03-30 06:30] nayakajay commented on #855
@neoblizz should I be opening this as another issue? If possible, I just need an estimate of how long the below kernel will run for. Running for long hours and not terminating is my concern.
Yes, it definitely depends on the GPU, I have access to a RTX Titan 24GB, 72 SM GPU.
Driver version: 450.51, Runtime: 11.0

[code]

[2021-03-30 08:48] agalup commented on #855
@nayakajay I am sorry for late answer.

[2021-03-30 14:54] jowens commented on #855
For the record, what does `--quick` do?

[2021-03-30 15:15] agalup commented on #855
'--quick' option turns the validation of a GPU result off, is used in testing. Without `--quick`, the application computes two results: one on the CPU with the use of a single thread (slow) and the another one on the GPU. Then compares the results.

[2021-04-03 09:00] nayakajay commented on #855
Thanks @agalup, as you mentioned on skipping the CPU check, it terminates in ~32s.

[2021-04-03 09:00] #855 closed

[2021-04-06 03:50] YuxinxinChen opened #874 "Code doesn't compile with METIS library"
I would like to compile Gunrock with metis library but got compile error

[code]

**System Configuration:**

GPU: Tesla V100
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2021 NVIDIA Corporation
Built on Sun_Feb_14_21:12:58_PST_2021
Cuda compilation tools, release 11.2, V11.2.152
Build cuda_11.2.r11.2/compiler.29618528_0

[2021-04-07 00:47] jowens commented on #874
@crozhon can you kindly take a peek at this?

[2021-04-07 00:51] crozhon commented on #874
@jowens @YuxinxinChen I'll take a look right away.

[2021-04-07 03:20] crozhon commented on #874
This was really tricky! Thanks for bringing it up. I'm unsure about a long-term solution, but have a hack to get you unstuck.

The compiler is complaining that the function being called at metis.cuh:107, GetOffsets, isn't defined for one of the template instantiations. The given instantiation is TestGraph<....,HAS_CSC | HAS_CSR>. You'll see at the top of metis.cuh, you have a template instantiatio

[2021-04-07 19:59] YuxinxinChen commented on #874
Thanks for looking into it! After adding this instantiation, it compiled succesfully!

[2021-04-07 20:08] YuxinxinChen commented on #688
Does this segmentation bug fix in the current master branch? I still got the same error running BFS on 2 GPUs.

[2021-04-07 21:11] porumbes commented on #688
Yes .. The issue persists in master and dev. I've been looking into it
recently. I need to check here to see if there is mention of a commit that
we know for sure worked in Gunrock 1.x

https://gunrock.github.io/docs/#/analysis/groute

On Wed, Apr 7, 2021 at 1:08 PM Yuxin ***@***.***> wrote:

--
Serban Porumbescu
http://hiddenelephant.com
http://twitter.com/serban

[2021-04-07 22:44] YuxinxinChen commented on #688
I think the main issue with trying out the previous versions (Here I use v1.0 as example) is the broken external dependency.
* Now externals could no longer be loaded by recursively git clone and the load is moved to CPM.cmake
* After loading the current version of mgpu, cub, rapidjson, the conflict of using the old version of mgpu VS. the new version of mgpu cause cmake issue (similar issue here

[2021-04-09 21:15] neoblizz opened #950 "Swap to libcu++ timing library"
... there's other useful stuff here as well, so worth swapping: https://nvidia.github.io/libcudacxx/standard_api/time_library.html

[2021-04-09 21:16] neoblizz opened #995 "Swap unit tests to use cmake instead of the outdated makefile"

[2021-04-12 20:58] porumbes commented on #643
@yzhwang any chance you made additional progress on this bug and didn't get a chance to do a PR?

[2021-04-12 22:32] #873 closed

[2021-04-13 08:34] pwrliang opened #875 "How to make the multi-GPUs primitives work on V100?"
Hi gunrock team,

I'm trying to evaluate the performance of gunrock in the multi-GPUs environment, especially on the NVIDIA V100. I have tried several gunrock 1.x versions, but all of them throw **Segment Fault**.

These are the commands I used to reproduce the issue:

[code]

[code]

This issue looks related to the existing one: https://github.com/gunrock/gunrock/issues/688
Then I followed the po

[2021-04-13 15:37] #999 closed

[2021-04-13 15:37] #1000 closed

[2021-04-13 15:38] neoblizz opened #951 "advance::warp_mapped"

[2021-04-13 15:40] neoblizz opened #993 "pagerank"

[2021-04-13 15:40] neoblizz opened #994 "pagerank"

[2021-04-13 15:41] neoblizz opened #949 "connected components"

[2021-04-13 15:42] neoblizz opened #991 "betweenness centrality"

[2021-04-13 15:42] neoblizz opened #992 "betweenness centrality"

[2021-04-13 17:34] YuxinxinChen commented on #875
How about v0.5.1? It works for me

[2021-04-13 17:37] neoblizz opened #948 "Return policy using the context"
@bkj notes:

[2021-04-13 17:40] neoblizz opened #989 "for (or apply) edge and vertex"

[2021-04-13 17:40] neoblizz opened #990 "for (or apply) edge and vertex"

[2021-04-13 17:41] neoblizz opened #987 "Make frontier buffer swap optional in advance with a flag"

[2021-04-13 17:41] neoblizz opened #988 "Make frontier buffer swap optional in advance with a flag"

[2021-04-13 17:44] neoblizz opened #985 "Enhance how you can fill a frontier"

[2021-04-13 17:44] neoblizz opened #986 "Enhance how you can fill a frontier"

[2021-04-13 22:26] #993 closed

[2021-04-13 22:26] #994 closed

[2021-04-14 03:20] pwrliang commented on #875
The v0.5.1 works for me.

[2021-04-14 03:20] #875 closed

[2021-04-14 20:27] neoblizz opened #983 "local graph clustering"

[2021-04-14 20:27] neoblizz opened #984 "local graph clustering"

[2021-04-14 21:01] #985 closed

[2021-04-14 21:01] #986 closed

[2021-04-14 21:04] #987 closed

[2021-04-14 21:04] #988 closed

[2021-04-14 21:04] #1020 closed

[2021-04-14 21:04] #1021 closed

[2021-04-15 16:58] neoblizz opened #981 "uniquify as a separate operator"

[2021-04-15 16:58] neoblizz opened #982 "uniquify as a separate operator"

[2021-04-15 16:58] #981 closed

[2021-04-15 16:58] #982 closed

[2021-04-15 16:58] #989 closed

[2021-04-15 16:58] #990 closed

[2021-04-15 16:58] #1001 closed

[2021-04-15 16:58] #1002 closed

[2021-04-15 16:58] #1003 closed

[2021-04-17 15:35] neoblizz opened #947 "Gunrock notes (some docs we have that I may go back to)"

[2021-04-20 00:45] YuxinxinChen opened #876 "Multi-GPU PageRank sometimes hangs"
**Summary:**
Running multi-GPU PageRank sometimes hangs forever

**Reproducibility:**
This hanging doesn't happen every time but from time to time. It tends to happen on road network graphs.
For example:
./pr market /gpfs/alpine/bif115/scratch/yuxinc/gunrock_dataset/large/road_usa/road_usa.mtx --device=0,1,2,3 --partition-method=metis --validation=1 --iteration-num=10

**To Reproduce:**
I compiled

[2021-04-20 00:59] jowens commented on #876
@crozhon can you take a peek please?

[2021-04-20 01:01] crozhon commented on #876
@jowens @YuxinxinChen I'll take a look!

[2021-04-20 18:53] neoblizz opened #979 "`graph_t` views interface needs to be completed"
Look for the comments marked with `// XXX`:
https://github.com/gunrock/essentials/blob/master/include/gunrock/graph/coo.hxx#L35-L38

Files in question:
- https://github.com/gunrock/essentials/blob/master/include/gunrock/graph/coo.hxx
- https://github.com/gunrock/essentials/blob/master/include/gunrock/graph/csc.hxx

[2021-04-20 18:53] neoblizz opened #980 "`graph_t` views interface needs to be completed"

[2021-04-22 02:06] jiangxiaobin96 opened #878 "set --device=0,1,2,3 will Segmentation fault"
Only can set --device=0. if set --device=0,1,2,3 or more, the program will print segmentation fault.

[2021-04-22 04:40] jowens commented on #878
What is the Gunrock version, what CUDA version, what GPU, and especially, what command line?

[2021-04-23 03:11] #1014 closed

[2021-04-23 03:11] #1015 closed

[2021-04-23 05:03] #1008 closed

[2021-04-23 05:03] #1009 closed

[2021-04-23 16:58] #995 closed

[2021-04-23 17:00] neoblizz opened #946 "GoogleTests for unit testing instead of individual cmake/cu files."

[2021-04-25 09:15] pwrliang commented on #876
Hi Yuxin, I also discovered that when the number of GPUs more than 4, it always hangs.

[2021-04-29 00:19] YuxinxinChen opened #879 "version0.5.1 reads market file error"
**Summary:**
PageRank v0.5.1 doesn't load the directed graph but its symmetric version.

**Reproducibility:**
Take indochina-2004 as an example. This graph is supposed to have 194109311 edges:
[code]
When I run version 0.5.1 pagerank, first it doesn't provide the option that if the graph is directed or not from the command line. Then if run
[code]
It reads the graph as symmetric graph or undirecte

[2021-04-29 23:11] YuxinxinChen opened #880 "PageRank results look weird"
Hi Gunrock Team,

I am trying to run master branch gunrock pagerank, and the results concern me:
* Using Pull mode or Push mode results very different runtime: 6ms VS 358ms
* The top 10 ranks, 9 of them are 0...which is wrong I think.

Could anyone take a look?
[code]
CUDA: 11.2
Daisy, TV100

[2021-04-30 00:12] ctcyang commented on #880
I ran into something similar recently (Issue #813). @crozhon was kind enough to put in a fix for my issue, which might be relevant to yours.

[2021-05-02 05:02] neoblizz opened #945 "CMake debug/release modes"

[2021-05-04 00:35] crozhon commented on #878
@jiangxiaobin96 Which branch were you encountering this on? I remember fixing a bug like this a decent while ago.

[2021-05-04 16:47] #979 closed

[2021-05-04 16:47] #980 closed

[2021-05-04 19:39] bkj opened #881 "`color` CPU implementation seems incorrect"
**Summary:**
The `gunrock::app::color::CPU_Reference` appears to give incorrect results.

**Reproducibility:**
Always

**To Reproduce:**
Change `gunrock::app::color::Validate_Results` to inspect `ref_colors` instead of `h_colors` -- errors will be printed.

**Expected Behavior:**
Correct graph coloring.

**Fix:**
I believe that my CPU implementation here is correct:
https://github.com/bkj/essentia

[2021-05-04 21:14] #1004 closed

[2021-05-06 07:59] jiangxiaobin96 commented on #878
The master.
CUDA version : 10.2
GPU : NVIDIA V100
command line : ./sssp market {filedir}.mtx --src=0 --undirected --iteration-num=10 --device=0,1,2,3 ...

[2021-05-06 08:28] crozhon commented on #878
Could you try dev branch instead? Your issue may already be fixed.

[2021-05-16 18:58] #983 closed

[2021-05-16 18:58] #984 closed

[2021-05-16 19:02] #991 closed

[2021-05-16 19:02] #992 closed

[2021-06-02 13:53] lbb opened #882 "Multi-GPU BFS on DGX-2"
Hi,

we are currently in the doing of creating scaling results from the `v0.5.1` tag on 1 to 8 V100 running on a DGX-2. We can not properly reproduce the ipdps17 with Kronecker graphs generated by the Graph500 benchmark (Scale=N, Edgefactor=16).

The results were generated by a parameter sweep and taking the maximum over all ```--queue-sizing``` parameters:
[code]

Our results:

| MAX of m_teps |

[2021-06-03 18:29] jowens commented on #882
Chuck, could you kindly take a look at this?

[2021-06-03 19:48] crozhon commented on #882
You're trying to reproduce the results from [this paper](https://ieeexplore.ieee.org/document/7967137) right?

<img width="927" alt="Screen Shot 2021-06-03 at 2 47 16 PM" src="https://user-images.githubusercontent.com/5355159/120703285-b7954780-c47a-11eb-8528-6d481dc3db4d.png">

I'll take a look at what's going on.

[2021-06-03 21:43] crozhon commented on #882
Having some trouble getting results with these queue-sizing and in-sizing options. @neoblizz what are they for?

Could you give me the output of one of your runs? Ex for me:
[code]

[2021-06-03 21:58] neoblizz commented on #882
The starting size of the frontier and how much it scales by every time a re-allocation happens.
Maybe these JSONs are useful: https://github.com/gunrock/io/blob/master/gunrock-output/ipdps17/eval_fig2/BFS_kron_g500-logn21_Thu%20Jan%2026%20003918%202017.json

[2021-06-04 05:42] crozhon commented on #882
@lbb I think it might be how you specified devices:

ex. Should be `--devices=0,1,2,3`:
[code]
instead of 0,1...,3:
[code]

The "Using X GPU(s)" line in the output should tell you. I also don't think the way you specify `--queue-sizing` works.

[2021-06-04 09:28] lbb commented on #882
@crozhon I am sorry for my poor description of the commands and iteration space. The actual commands that were executed are:

[code]
I hope this is helpful.

We are explicitly not using direction optimization on the GPU as it does not scale well in our understanding.

[2021-06-04 19:15] crozhon commented on #882
Here are my results for kron_g500-logn21
`--undirected --iteration-num=16 --partition-method=random --traversal-mode=LB_CULL --idempotence --src=largestdegree --device=X --queue-sizing=1.25 --in-sizing=5`

| X | mteps
| 0 | 34597.82421875
| 0,1 | 46641.9140625
| 0,1,2 | 50486.484375
| 0,1,2,3 | 49939.8984375

which seems a little more reasonable than the 20K -> 21K -> 800 in your table. I do see a

[2021-06-04 21:32] lbb commented on #882
Thank you for the data. I tried to reproduce the results you got on my system.
Env:
[code]

I also built it in Release mode:
[code]

However, I can only reproduce the first two results, then the performance drops :( . I also cycled the GPU ids to any possible combination but the results seem to be related to the amount of GPUs used.

Runs:
[code]

The DIMACS10 Kronecker graphs use the G500 graph g

[2021-06-05 00:27] crozhon commented on #882
It seems like an issue with your system, but maybe were enumerating devices strangely?

Are you seeing expected scaling in other applications as you increase GPUs? The sudden drop off from 2->3 makes me think there's some difference in interconnect or some hardware not accounted for.

[2021-06-07 23:58] crozhon commented on #882
Still haven't been able to reproduce that perf drop myself.

Could you also try just 2,3 or hiding some of the devices with CUDA_VISIBLE_DEVICES? https://developer.nvidia.com/blog/cuda-pro-tip-control-gpu-visibility-cuda_visible_devices/ Or maybe even choosing a different ordering for the devices with CUDA_DEVICE_ORDER? That might help determine whether it's a weird numbering Gunrock is doing.

Yo

[2021-06-08 18:17] lbb commented on #882
I added the print statement to the enactor_base.cuh file `GPU_IDX[...] = ..`. The DGX-2 has a central [NVSwitch](https://developer.nvidia.com/blog/nvswitch-accelerates-nvidia-dgx2/#attachment_11567) theoretically giving all GPUs a central link point with constant throughput (star-shaped interconnect).

[code]

[code]
---

I also took some nvprof profiles for the single, double, and triple instance

[2021-06-11 04:38] crozhon commented on #882
@lbb

Makes sense. So based on that nvprof result, maybe the peer access isn't being enabled? If you look at `enactor_base.cuh:273` could you print or log all the `cudaDeviceEnablePeerAccess` that occur? We should catch them all with `cudaDeviceCanEnablePeerAccess` but that would cause slower transfers:

https://docs.nvidia.com/cuda/pascal-tuning-guide/index.html

[2021-06-15 11:55] lbb commented on #882
Hi, sorry for the late reply.

I modified the code as listed below, but it seems like all links get established. Can I test for some more attributes?

I also tried to compile with cuda11.3, but with no changes in performance

[code]

The results show established peer to peer connections between all GPUs:
[code]

[2021-06-15 19:38] neoblizz opened #977 "Update thrust and cub to version `1.13.0`."

[2021-06-15 19:38] neoblizz opened #978 "Update thrust and cub to version `1.13.0`."

[2021-06-16 19:31] mahmoodn opened #883 "Graph features"
Hi
In the paper, I see some information about road_usa, e.g. large diameter and small node degree. However, I don't see such information about soc-twitter-2010. I searched the web for that but didn't find it. In the output of Gunrock I see that the vertex degree distribution is less than road-usa. How to extract this information?

[2021-06-16 19:42] jowens commented on #883
I think it's this one:

http://networkrepository.com/soc-twitter-2010.php

What are you specifically wanting to know here?

[2021-06-16 22:54] crozhon commented on #878
Are you still having issues? Happy to take a closer look if you're still hitting that seg. fault.

[2021-06-16 23:01] crozhon commented on #882
That's really helpful thank you.

@porumbes do we have any access to a DGX-2? Even for a limited time?

@lbb Do you have access to several GPUs that aren't the DGX-2? I'm still seeing expected scaling on other machines when I have 3+ GPUs, and I'd like to pin this down to just the DGX-2 if that's what's happening. No worries if not though.

[2021-06-16 23:04] crozhon commented on #879
Does this still happen on master / dev? Might be a commit we can cherry pick to fix this.

[2021-06-16 23:11] crozhon opened #884 "Testing chuck's notifications"

[2021-06-16 23:13] #884 closed

[2021-06-17 01:27] #878 closed

[2021-06-17 08:19] mahmoodn commented on #883
Yes I have seen that page. Don't know why but the network data preview is always "loading data", so I don't know if that section answers my question.
I am looking for similar metrics like road_usa. Considering about 28M vertices and 260M edges, is the graph diameter large or small?

[2021-06-17 13:28] jowens commented on #883
Because it's a social network, it's almost certainly scale-free and has a relatively small diameter. You could probably figure this out yourself if you wanted to run a few hundred BFSes from random nodes and just extract the largest depth you see?

[2021-06-18 09:23] lbb commented on #882
@KGHustad has found the origin of the problem. We only provisioned the task on the DGX-2 with 4 GPUS and 2 Threads, which limited the performance. Now we assigned 4 threads per GPU to the machine, and it scales.
Here are our numbers for the `kron_g500-logn21`:

|GPUS | MiEdges/s
|- | -
|1 | 37354.7930
|2 | 50628.9414
|3 | 53270.1523
|4 | 52516.6914

Thank you for taking the time and effort to help

[2021-06-18 13:30] jowens commented on #882
Congrats! Happy to hear it! Thanks @crozhon !

[2021-06-20 09:31] mahmoodn commented on #883
OK I got it. Thanks.

[2021-06-20 09:31] #883 closed

[2021-06-20 20:05] #882 closed

[2021-06-28 22:59] YuxinxinChen commented on #879
It is dev 0.5 version. Sorry I didn't reply until now

[2021-06-28 23:02] YuxinxinChen commented on #879
sorry, it is tag v0.5.1 version

[2021-07-06 22:50] YuxinxinChen opened #885 "graph coloring takes tooooo long to run on undirected graph"
I am trying to run graph coloring on the undirected graphs, but it takes more than 5 minutes to run and not yet finish.

Brach: master

CUDA: 11.2
GCC: 9.3
Cluster: daisy

Command to reproduce:
`srun -p daisy --gpus=1 ./color --graph-type market --graph-file ~/daisy/docker-mount/gunrock/dataset/large/soc-LiveJournal1/soc-LiveJournal1.mtx --undirected --validation none`

[2021-07-06 23:30] jowens commented on #885
@neoblizz can you take a peek please?

[2021-07-20 11:45] ashwina commented on #243
How to get all results instead of first 40 and put that in .txt file ?

[2021-07-22 22:05] jowens commented on #243
You can write anything you want at the end of your application. For instance, in `bfs_test.cuh` (https://github.com/gunrock/gunrock/blob/master/gunrock/app/bfs/bfs_test.cuh), take a look at `Validate_Results` and its call to `DisplaySolution`; you can just change the latter to output whatever you want.

[2021-07-23 03:06] crozhon commented on #243
@ashwina If you want in text specifically you can edit DisplaySolution and redirect the output to file

./bfs ... > out.txt

We also have JSON output with the --jsonfile option, but that is mainly for statistics.

[2021-07-23 06:09] ashwina commented on #243
@crozhon @jowens
I did changed the if clause inside the **DisplaySolution**  and now it looks like :-

template <typename T, typename SizeT>
void DisplaySolution(T *array, SizeT length) {
 // if (length > 40) length = 1000;

  util::PrintMsg("[", true, false);
  for (SizeT i = 0; i < length; ++i) {
    util::PrintMsg(std::to_string(i) + ":" + std::to_string(array[i]) + " ",
                   true

[2021-07-23 14:28] crozhon commented on #243
Try calling DisplaySolution with the new parameter.

[2021-08-01 03:59] ashwina commented on #243
Yes I am getting the output as desired. Thanks for helping me out!!

[2021-08-06 15:18] bobob85 opened #886 "Segmentation fault error for other datasets"
Hi, Gunrock team.
In my system (Titan V), I am running pagerank using /scripts/v1.x.x/perf/PR/pr.sh file.
It works well in soc-Livejournal and soc-orkut.
To run other datasets, I wrote other matrix file with wiki-Vote dataset (7715 nodes, 103689 edges) then run with pr.sh.
But there was segmentation fault error as follows.
It seems if I run some smaller wikiVote dataset (889 nodes, 2914 edges) it

[2021-08-08 21:55] crozhon commented on #886
Taking a look at this right now - which branch are you using? We've had a lot of issues with PR recently and checking out dev might fix your issue.

Thanks for all the info - I'll repro get back to you.