[2016-09-14 20:32] sgpyc commented on #174
current testing status:
**BFS**
Tested: {15 datasets} x {default, undirected} x {normal, idempotence} x {skip pred, mark pred} x {top_down, direction optimizing} x {32bit VertexId, 64bit SizeT, 64bit VertexId} x {default, LB, TWC, LB_CULL} x {GTX1070 x 1, K40c x 4}
Issues: 1. idempotence has illegal memory access on multiple GPUs
 2. idempotence + direction optimizing produces incorrect results on

[2016-09-14 20:34] jowens commented on #174
@sgpyc can you file individual issues on the issues you name above? those all seem like they ought to get fixed before release ...

[2016-09-14 20:37] sgpyc commented on #174
I will see whether can get them fixed soon (most trigger illegal memory access error, which is good), otherwise I will try to disable particular options

[2016-09-18 06:41] tbennun opened #191 "PageRank Multi-GPU Errors"
Tested on v0.3.1 and master (07af4a1adc6c9226e9010b65d5e3afadb09a6df1).

Running PageRank on multiple GPUs produces comparison errors (compared to external results and internal Gunrock CPU regression) on multiple graphs.

The error becomes worse (on average) as the number of GPUs increases, and the ranking order changes.

Can be reproduced using the following commands:
`./pagerank rmat --rmat_seed

[2016-09-18 06:46] tbennun commented on #191
Also attaching simple matrix market that reproduces the problem.
[sample.mtx.txt](https://github.com/gunrock/gunrock/files/478561/sample.mtx.txt)

Outputs:

1 GPU:
[code]

2 GPUs:
[code]

[2016-09-18 19:01] jowens commented on #191
Just to be clear, the problem is with multiple GPUs but not one GPU? Certainly these are bugs we're cleaning up in preparation for a 0.4 release. Thank you for reporting it! The Gunrock team is in DC this week so response might be slow, but I'm assigning to @sgpyc since he's leading the multi-GPU work.

[2016-09-18 20:38] tbennun commented on #191
Thank you for the prompt response.

The single GPU version seems to be producing acceptable results, especially in small graphs. The multi-GPU version, however, fails for all the cases I tested.

[2016-09-18 21:34] sgpyc commented on #191
My guess of the course is some parameter settings or graph type mismatch. Will check whether the latest pre-release branch fix that.

[2016-09-19 17:49] neoblizz commented on #181
Saving this for later; https://github.com/gunrock/gunrock/blob/master/doc/release_checklist.md#adding-a-new-page

[2016-09-21 15:59] neoblizz opened #192 "error: identifier "__ldg" is undefined on pre-release branch."
**deviceQuery:**
[code]

**cmake**
[code]
[make -j8.log](https://github.com/gunrock/gunrock/files/485462/make.out.txt)

[2016-09-21 16:00] neoblizz commented on #192
`dev_debug` and `dev` branches build and run file on my machine, meeting all the requirements. And I forgot to mention, I am using compute requirements 3.0 and 3.5 (6 is turned off).

[2016-09-21 20:49] yzhwang commented on #192
Hi @neoblizz according to this answer:
http://stackoverflow.com/questions/24069524/error-using-ldg-in-cuda-kernel-at-compile-time
If you use both compute capability 30 and 35 for compiling, this won't work. Also I think in dev_debug (and hence also in pre-release) we are using a wrapper to handle lower compute capability:
https://github.com/gunrock/gunrock/blob/dev_debug/gunrock/util/device_intrin

[2016-09-24 22:36] #135 closed

[2016-09-28 16:00] jowens commented on #192
I haven't built this on OS X for a while, but this error is also now in OS X in the prerelease branch.

[2016-09-29 01:31] jowens commented on #192
I confirm @yzhwang's checkin in https://github.com/gunrock/gunrock/commit/c3533093e84fd4df2934f9f10508c6ace76ef43a fixes the problem for OS X. Thanks, @yzhwang! You the man!

[2016-09-29 02:09] neoblizz commented on #192
Fixed on Ubuntu 15.04, GTX 970 as well, thanks @yzhwang!

[2016-09-29 02:09] #192 closed

[2016-10-01 04:13] yzhwang commented on #188
remvoed edge bc solved this bug. Need to work on dev_debug to see how to properly implement edge BC under Brande's algorithm framework.

[2016-10-01 04:13] #188 closed

[2016-10-01 04:14] jowens commented on #188
please add edge-bc + brandes as an issue for post-release.

[2016-10-01 04:19] yzhwang commented on #186
@neoblizz @jowens Could it be recreated in ctest on head of pre-release branch on mario/luigi/midas? Just want to recreate and try to fix it.

[2016-10-01 04:20] yzhwang commented on #185
@neoblizz You said the problem is fixed right? Please confirm and close the issue if the cudaHostRegister problem has been fixed.

[2016-10-01 04:35] yzhwang opened #193 "Add a proper edge bc using Brande's algorithm framework"
current edge bc in dev_debug is incorrect.

[2016-10-01 05:36] yzhwang commented on #177
Closed. See issue #193

[2016-10-01 05:36] #177 closed

[2016-10-01 05:44] neoblizz commented on #185
@yzhwang tested and fixed!

[2016-10-01 05:44] #185 closed

[2016-10-01 05:46] yzhwang commented on #176
TC stayed in dev_debug.

[2016-10-01 05:46] #176 closed

[2016-10-01 05:49] yzhwang opened #194 "TC under new interface has illegal mem access for large graphs"

[2016-10-01 06:49] yzhwang commented on #174
@sgpyc could you send me a log or let me know where the results sit on mario/luigi? I want to help with some of the above issues. Thanks!

[2016-10-01 15:34] jowens commented on #186
I'd like another pair of eyes on this. ctest runs fine on midas. I ran it
with a clean clone on mario and it gave compute_61 errors on build (using
cuda 8.0). So I disabled compute_61 and built and all tests fail; there's a
driver issue. Can we update the driver?

Anyway, it's the regexes in the above "61.txt" link that matter.

On the good side, all ctests with the driver failure fail properly. :

[2016-10-02 03:46] yzhwang opened #195 "Add a new primitive template and its test"
Current primitive template is outdated and is disabled in pre-release branch. We need a new template.

[2016-10-02 05:14] yzhwang commented on #178
Commit 63165be60c1aaab0dbb401f6d4246cfe2342376d reduced all the warnings generated by code.
TODOs:
1) For some updated interfaces, make sure that the description is accurate.
2) Fix the missing link in release_notes.md.

[2016-10-02 18:14] wetliu commented on #193
I am interested in this problem. Do we need to fix it before release or fix the other more important problem first?

[2016-10-02 18:15] jowens commented on #193
This is not the most important problem for release, but if you would like to assign yourself to this problem, please do!

[2016-10-02 18:18] wetliu commented on #193
OK. Thank you!

[2016-10-02 20:38] neoblizz commented on #186
In the 61.txt file, I see a lot of the following errors;

[code]

Wasn't the `cudaHostRegister` bug in CUDA 8 and was later fixed? This has been update on midas by Kerry, but I don't think anyone updated CUDA 8 on mario or luigi.

[2016-10-02 22:13] jowens commented on #186
Agreed, @neoblizz. I thought `cudaHostRegister` was a Pascal-only problem; maybe not. Anyway, driver version on mario is 352.79.

[2016-10-02 22:15] jowens commented on #186
@neoblizz, the driver was updated on midas, so the regression is fixed. This issue, though, is because even though the run was failing everywhere, the regexes were still indicating passing, so we need better regexes for regression.

[2016-10-02 23:47] yzhwang commented on #186
@neoblizz  Does the cudaHostRegister error only holds for Pascal architecture GPU?
As for the regex error, I think it is related to PASS_REGULAR_EXPRESSION. INCORRECT also matches CORRECT... so I guess we have to update the PASS_REGULAR_EXPRESSION. @neoblizz Could you try to look at it and see if it is the problem?

[2016-10-02 23:55] neoblizz commented on #186
I got the `cudaHostRegister` on K40C as well with CUDA 8.0, but after the update it was fixed. I feel like the problem was with the driver-cuda relationship, and not the gpu itself. Because it worked fine on Yuechao's 1070, which is also pascal.

I'll take a look at the regex expression.

[2016-10-03 00:57] sgpyc commented on #186
There is no available CUDA 8.0 driver for K40c on Linux 64bit system at the moment, on NVIDIA's driver website. I don't know what driver version comes with the official CUDA 8.0 toolkit release, and whether the cudaHostRegister issue has been fixed in that version.

[2016-10-03 01:07] neoblizz commented on #186
@sgpyc we have the one for 1080 installed on midas and K40C recognizes that as well.

[2016-10-03 01:16] sgpyc commented on #186
don't want to run into the "recognized" vs. "officially supported" issue. Upgrading luigi and installing CUDA 8; if all goes well, will do the same for mario too

[2016-10-03 02:33] sgpyc commented on #186
CUDA 8 toolkit release 8.0.44 comes with driver 367.48, and pre-release branch has no issue running on luigi. midas has the same driver, and it seems okey on both device 0 (GTX 1080) and device 1 (K20c).

[2016-10-03 18:52] yzhwang commented on #193
@wetliu Thank you! We could talk about this next time we meet in lab.

[2016-10-03 22:11] sgpyc commented on #174
I think now most bugs are about error handling when out of memory happens (test_xxx.cu will continue even errors are reported), and a few illegal memory access problems.

BC has few wrong labels for a few test cases, BFS marks wrong parents by LB_CULL, CC sometimes deadlocks for road-networks, and PR has memory-double-free issue (a few occurrences over thousand? and I don't know how to reproduce t

[2016-10-03 22:14] jowens commented on #174
Same comment above. If there are individual issues—wrong labels, wrong parents, deadlock, double-free—please file those as individual issues so that we can work in parallel on solving them.

[2016-10-03 22:27] jowens commented on #174
In particular: "Here is a command-line that fails on <say> mario: ```bfs market graph.mtx --foo --bar```".

[2016-10-03 23:39] sgpyc commented on #191
Just tested PR on top of pre-release branch, a few things here:
1. --normalized option is added to make sure the sum of ranking values converging to 1
2. --compensate option is added to deal with "the ranking values vanish from 0 out degree vertices" issue
with "--normalized --compensate" in command line parameters, the ranking values and the vertex orders should be correct or close enough (look a

[2016-10-04 02:38] yzhwang commented on #174
@sgpyc I will check the logs and file these as individual issues. So there should be 4 issues:
wrong label in BC,
deadlock in CC,
wrong predecessors in BFS,
double memory-free in PR.

I will post the links to the issues here, you can put comments there if there is anything inaccurate.

[2016-10-04 04:19] yzhwang opened #196 "Wrong labels in BC, top of pre-release branch"
Here are the command lines that cause incorrect results for BC.
It appears for several option combinations when using 3 and 4 GPUs on all 14 datasets.

[bc.txt](https://github.com/gunrock/gunrock/files/507678/bc.txt)

[2016-10-04 04:33] yzhwang opened #197 "Wrong Label in BFS, top of pre-release branch"
Here are the command lines that cause incorrect results for BFS.
It happens on 2 and 3 GPUs with direction optimal option on.

[bfs.txt](https://github.com/gunrock/gunrock/files/507695/bfs.txt)

[2016-10-04 04:39] yzhwang opened #198 "Deadlock in CC, top of pre-release branch"
My script couldn't find CORRECT in the results for these command line runs. So these are probably deadlocks YC describes. It only happens on two GPUs.

[cc.txt](https://github.com/gunrock/gunrock/files/507698/cc.txt)

[2016-10-04 05:02] yzhwang opened #199 "Double Free in PR"
I cannot find any log or test result for PR. @sgpyc could you point me to the right dir?

[2016-10-04 20:14] sgpyc opened #200 "[BFS] illegal memory access, top of pre-release branch"
[code]

[2016-10-04 20:19] sgpyc commented on #199
This issue should have been solved by ef45c5f . If it won't show up in up-coming tests, this issue can ben closed.

[2016-10-04 22:48] sgpyc commented on #200
Should be solved by 23490d3, still don't know why vid_hashtable got out-of-bound accesses.
Can close this issue when no more illegal memory accesses occur for BFS.

updated run result:
[code]

[2016-10-04 22:50] sgpyc commented on #197
Some of these "INCORRECT" labels are caused by running out of memory, which needs to change the run_real.sh script; others may be caused by illegal memory accesses in cull_filter::warp_cull, disabled by 23490d3

[2016-10-05 00:05] sgpyc commented on #198
Should be solved by 5e2dd8b

[2016-10-05 00:29] sgpyc opened #201 "[BC] deadlock when out-of-memory happens on some specific arrays, on top of pre-release branch"
[code]

[2016-10-05 01:12] sgpyc commented on #201
Should be solved by ac2cb4a.
[code]

[2016-10-05 21:29] sgpyc commented on #196
The error is more likely to happen when frontier size is 1
[code]

[2016-10-07 21:30] sgpyc commented on #196
The issue is caused by mis-alignment in data communication between two iteration loops. Mainly solved in a19245e by adding CPU sync points before and after the operations between iteration loops. Most of errors in runs listed in bc.txt are gone, left with the ones caused by out-of-memory.

The output is like this:
[code]

[2016-10-09 08:01] sgpyc opened #202 "[PR] TWC advance mode takes too long to run on social networks"
TWC is super slow for social networks, maybe caused by vertices with extremely large neighbor list. Maybe we should just disable TWC for similar graphs?
Eg. on soc-sinaweibo, TWC takes 226 sec for 35 iterations, while LB only takes 17 sec for 35 iterations.

[code]

[code]

[2016-10-12 19:16] yzhwang opened #203 "Update building_gunrock.md"
Are some parts of the documentation outdated? @shariiiyy and @neoblizz could you guys make sure the current version works and if not, write up a new building guide for pre-release branch and then update the current version from pre-release branch?
https://github.com/gunrock/gunrock/blob/pre-release/doc/building_gunrock.md

[2016-10-12 19:42] yzhwang commented on #179
After reading what we currently have there, I think we don't need to update it since our improvements are mostly for convenience and performance, no major feature change in the sense of programming model, so just close this issue.

[2016-10-12 19:42] #179 closed

[2016-10-12 19:57] yzhwang commented on #178
Fixed all the doxygen warnings. @sgpyc If you think there is anything I need to add to the new interface, please specify the links here and reopen this, otherwise I will just close this for now.

[2016-10-12 19:57] #178 closed

[2016-10-12 19:58] yzhwang commented on #181
Update road_map.md.

[2016-10-12 19:58] #181 closed

[2016-10-12 20:00] yzhwang commented on #182
For SALSA, I think we certainly support the old interface and we haven't ported that to new interface yet. For BFS, @sgpyc do you think we need to rewrite it using new interface?

[2016-10-12 20:09] yzhwang commented on #201
confirmed that the deadlock has gone.

[2016-10-12 20:09] #201 closed

[2016-10-12 20:15] yzhwang commented on #200
confirmed that illegal memory access error is gone.

[2016-10-12 20:15] #200 closed

[2016-10-12 20:19] #199 closed

[2016-10-12 20:22] #198 closed

[2016-10-12 22:06] neoblizz commented on #203
@yzhwang everything is to-date. I updated this when I revamped CMakeLists.txt for dev_debug. And I just tested the MGPU command as well, it works! The only thing I can see that we may change is;

[code]

Is Gen 3.0 default? If not, then what will be the default in the pre-release?

[2016-10-17 18:50] yzhwang commented on #203
@neoblizz Thanks!
I think you can update that by saying that the users can choose to turn on/off compute capability versions by changing the following code:
https://github.com/gunrock/gunrock/blob/pre-release/CMakeLists.txt#L152
And indicate which compute capability versions are on for current build (which are 30,35,61).

[2016-10-17 18:51] yzhwang commented on #180
duplicated issue with #203

[2016-10-17 18:51] #180 closed

[2016-10-18 05:37] yzhwang commented on #182
@sgpyc I've updated the annotated code for SSSP using multi-GPU interface. Could you take a look at the enactor file and fill in some blanks? I'm not sure how to shrink the code size. Thanks!
The purpose of annotated code is to show how Gunrock's interface works, so it doesn't matter if it doesn't compile. The important thing is to cut off the unnecessary lines but still show the key framework of

[2016-10-18 19:37] yzhwang commented on #175
close due to duplication with #189

[2016-10-18 19:37] #175 closed

[2016-10-18 19:38] yzhwang commented on #189
@sgpyc I have updated the known issues. Please confirm that they all make sense.

[2016-10-18 19:42] yzhwang commented on #196
Closed. For OOM issue, I've added it as a known issue in ae9079f2044462d6fa9229dd95774ef4e5be6f3a

[2016-10-18 19:42] #196 closed

[2016-10-18 19:42] yzhwang commented on #197
Closed. For OOM issue, I've added it as a known issue in ae9079f2044462d6fa9229dd95774ef4e5be6f3a

[2016-10-18 19:42] #197 closed

[2016-10-18 19:43] #174 closed

[2016-10-23 05:55] yzhwang commented on #203
Thanks @neoblizz for your commit! Could I consider this issue resolved?

[2016-10-23 06:19] neoblizz commented on #203
Yes! Building Gunrock doc is also updated.

[2016-10-23 06:19] #203 closed

[2016-10-25 17:16] yzhwang commented on #189
@sgpyc Could you take a look at the known issues in release_note.md?

[2016-10-25 17:17] yzhwang commented on #182
Also, see if the new sssp annotated code make sense?

[2016-10-25 17:24] jowens commented on #189
For the new strategies, two things would be useful per strategy:
- When would a user want to use this strategy? The notes say what the strategies *are* but not *when they should be used*.
- Where are they used within the 0.4 release?

For DOBFS w/ normal-BFS, it might be worth a line to say how this is used (e.g., "there's now just one executable, named X", "call it with the following command-line

[2016-10-25 19:20] faerbena opened #204 "Error during gunrock installation"
Hi,

I am very new to CUDA and gunrock, and I don't really know what I am doing wrong during the installation. Here are my specs:
- Ubuntu 14.04.4
- CUDA 7.5
- GeForce GTX TITAN Black

Here is the output when I run `make`:
[code]

Can somebody give me a hint what I am doing wrong?
Thank you.
Nadja

[2016-10-25 19:22] neoblizz commented on #204
This is fixed in `pre-release` branch, if you don't wish to switch branches please turn this option to `OFF`: https://github.com/gunrock/gunrock/blob/master/CMakeLists.txt#L139

[2016-10-25 20:18] faerbena commented on #204
Thank you very much, this little trick did the job!

[2016-10-25 20:20] neoblizz commented on #204
You're welcome, let us know how your experience goes with using Gunrock!

[2016-10-25 20:20] #204 closed

[2016-10-27 04:41] yzhwang opened #205 "Create new run scripts"
We need to organize the current scripts under each test folder into the following categories:
1) PPoPP test (to recreate our PPoPP results): I think we already have them as ppopp_test.sh. I assume with the new release the results would have some changes though.
2) mGPU test (to recreate our multi-GPU results): Currently there are run.sh, run_real.sh, and run_rmat.sh. I'm not sure if we need to mer

[2016-10-27 18:21] jowens commented on #205
Yes, this is what I meant on slack channel.

I'd personally do these in Python, but that's an easy switch if we want from sh. I don't really care how they're organized; having a hierarchy is perfectly fine ("here's a set of quick 1GPU tests, here's a full set of 1GPU tests", etc.). I do care that we can regenerate any result we published from them (in particular the PPoPP results), and that it's e

[2016-10-27 22:02] sgpyc commented on #205
run.sh and run_real.sh are both for fixed datasets, but with different selections.
run.sh selects smaller datasets, and has fewer parameter selection. If you want a quick run, this should be it.
run_real.sh selects larger datasets, and tests all possible parameter combinations. It takes hours or days to run. If you want to do performance analysis or fully systematic test, this is the one.
run_rmat

[2016-10-27 22:13] neoblizz commented on #205
@sgpyc should we merge all these into one file and have a command option to run the tests, default being the run.sh?

[2016-10-27 22:15] jowens commented on #205
@sgpyc can you address the issue with putting the runs you've already done into the repo? (Were those mGPU runs only or 1GPU also?)

[2016-10-27 22:18] sgpyc commented on #205
My concern about the JSON is this: how to select JSON files from duplicated ones.

Background: multiple runs of the same primitive with the same parameters on the same machine have been performed (for the nature of testing / debugging), so duplicated .json files have been created (with different time stamp). The actual output are also written into .txt files, which will be overwritten if extractly

[2016-10-27 22:20] jowens commented on #205
If we *only* stored the most recent ones for any combination of {prim, ds, param, hw, sw}, would that work? I think I can write a python script to do this in under an hour.

[2016-10-27 22:21] jowens commented on #205
if so, just tar/gzip them up and I'll take care of it.

[2016-10-27 22:23] sgpyc commented on #205
er... merging is possible, but that may create a run.sh that's hundreds of lines long, with sections activated by huge if-then-else statement. If we are expecting anyone else to look into that, it may not be easy. @neoblizz can have a look at scripts under tests/bfs, and see what's the best.

[2016-10-27 22:24] sgpyc commented on #205
@jowens okey, I'm compressing them.

[2016-10-27 22:25] jowens commented on #205
@neoblizz feel free to port them to python :) e.g., https://github.com/gunrock/io/blob/master/scripts/gunrock_all.py

[2016-10-27 22:29] sgpyc commented on #205
er... the executables made by the cmake-make method may not have all the parameters / optimizations available, because of the interface barrier.

[2016-10-27 22:32] jowens commented on #205
Is it fair just to collapse all entries that have the same command line + hardware down to one entry (the latest one)?

[2016-10-27 22:42] sgpyc commented on #205
@jowens If just want to keep the latest results, then yes

[2016-10-27 22:57] sgpyc commented on #205
@jowens uploaded the results on mario. If that works, I will push more from the cluster (more mGPU results) and my home machine (more 1GPU results by GTX 1070)

[2016-10-27 23:07] sgpyc commented on #182
Please check 98f00a5

[2016-10-28 03:41] neoblizz commented on #205
@sgpyc did you write the .sh tests only for bfs?

[2016-10-28 03:46] sgpyc commented on #205
BFS, SSSP, BC, CC, and PR each has its own .sh scripts under test/xxx

[2016-10-28 04:08] neoblizz commented on #205
Got it, thanks!

[2016-10-28 19:32] jowens commented on #205
I do not like this file:

`BFS.ubuntu14.04_k40cx3.tar.gz ubuntu14.04_k40cx3/BFS_soc-orkut_Wed Sep 14 132619 2016.json`

It appears to have zero length.

Gonna special case that.

[2016-10-28 19:41] jowens commented on #205
some of these have `"gunrock_version" : "GUNROCKVERSION"`, this seems bad.

[2016-10-28 19:45] sgpyc commented on #205
Just checked the records, the two datasets (soc-orkut, and soc-sinaweibo) with parameter --undirected --idempotence --mark-preds --64bit-SizeT, were on the spot that I killed the execution of the run script. I think they can be ignored

[2016-10-28 19:53] jowens commented on #205
@sgpyc does 923 single-GPU runs look about right?

[2016-10-28 19:53] sgpyc commented on #205
GUNROCKVERSION is defined by CMakelist.txt, and tests/xxx/test_xxx.cu don't have that.
I think next up we need to integrate gunrock/app/xxx/xxx_app.cu and tests/xxx/test_xxx.cu, so they have the same functionalities, and only one set of executable created by the cmake-make routine.

[2016-10-28 19:54] jowens commented on #205
👍

[2016-10-28 19:56] jowens commented on #205
@sgpyc there are only {BC, CC, PR} results for 1 GPU? No BFS?

[2016-10-28 19:59] sgpyc commented on #205
@jowens 1GPU BFS result is not on mario, I verified 1GPU BFS on another machine, and can upload it latter today.
SSSP is still running, now I only have 1GPU results and most for dual-GPUs

[2016-10-28 20:02] jowens commented on #205
OK. All I'm looking at right now is 1GPU, so please upload (only) the 1GPU SSSP and BFS when you can. Does 923 runs seem right for {BC, CC, PR}? (Seems like many benchmark/primitive combos have 10 options: 5 traversal modes and 32/64b.)

[2016-10-28 20:03] jowens opened #206 "defaults for BC"
I note that in @sgpyc's tests, he uses `--src=randomize2 --in-sizing=1.1 --queue-sizing=1.2` (plus a traversal mode). Should we make these defaults?

[2016-10-28 20:04] jowens opened #207 "defaults for CC"
I note that in @sgpyc's tests, he uses `--in-sizing=1.1` (plus traversal modes). Should we make these defaults? Should we pick a traversal mode as a default (that's different from the current default)?

[2016-10-28 20:06] jowens opened #208 "defaults for PR"
I note that in @sgpyc's tests, he uses `--quick --normalized` (plus traversal modes). Should we make these defaults? Should we pick a traversal mode as a default (that's different from the current default)?

[2016-10-28 21:12] jowens commented on #205
[code]

[2016-10-28 21:13] sgpyc commented on #205
Below are the parameter combinations for all the runs
BFS : {default, undirected} x {normal, idempotence} x {skip_pred, mark_pred} x {top_down, do}
          x {32bit-VertexId, 64bit-SizeT, 64bit-VertexId} x {DEF, LB, TWC, LB_CULL}
          = 2880 runs for 1GPU
SSSP : {default, undirected} x {skip_pred, mark_pred} x {32bit-VertexId, 64bit-SizeT}
         x {DEF, LB, TWC, LB_CULL, LB_LIGHT, LB_LIG

[2016-10-28 21:15] jowens commented on #205
OK my script looks perfectly cromulent, thanks.

[2016-10-28 21:20] sgpyc commented on #206
These parameters are more like "best for 1st try", especially the sizing factors. They may work well for most graphs, but for huge graphs reaching the GPU memory limit, specially sizing factors (less than 1.1 and 1.2) are needed to get them pass the OOM error.

The default now is --queue-sizing=1.0 and --in-sizing=1.0. I have not checked the traversal mode differences. Should be able to made them

[2016-10-28 21:21] jowens commented on #206
So probably we should make the "best for 1st try" the defaults then.

[2016-10-28 22:32] jowens opened #209 "datatype sizes need an entry in output JSON"
`SizeT = 64`, `VertexT = 64`, that sort of thing.

[2016-10-31 09:04] sgpyc opened #210 "[BFS] TWC still has bug with idempotence"
[code]

[2016-10-31 11:22] sgpyc opened #211 "[SSSP]Illegal memory accesses"
The illegal memory accesses error messages are output to the batch recording txt file, not individual output file, and as 0.0000 as avg. elapsed time.

[code]
[code]

[2016-10-31 11:36] sgpyc opened #212 "[BC] silent exit of execution"
BC didn't run into the actual enact() function call, and exit without outputting any error.
Something went wrong after partitioning and before enact

[code]
[code]

[2016-11-01 03:47] justinstimatze opened #213 "Windows Build Issues"
Attempting to build on Windows 10 using VS2015 produces these errors:

* `Cannot open include file: 'libgen.h': No such file or directory gunrock\graphio\market.cuh 20`
* `Cannot open include file: 'sys/utsname.h': No such file or directory gunrock\util\sysinfo.h 18`
* `Cannot open include file: 'unistd.h': No such file or directory gunrock\util\sysinfo.h 21`

[2016-11-01 04:59] neoblizz commented on #213
`libgen.h` https://github.com/axboe/fio/tree/master/os/windows/posix/include
`sys/utsname.h` https://github.com/sandsmark/winuname

[2016-11-01 07:12] sgpyc commented on #209
added 64bit_SizeT, 64bit_Value, 64bit_VertexId in info in 12c8e6e

[2016-11-01 18:03] jowens opened #214 "JSON filenames for BFS/rmat should indicate rmat params"
Right now if "dataset" is empty, the filename just has BFS_date.json. Should instead map something like this `--rmat_scale=21 --rmat_edgefactor=128` to a dataset name like `rmat_s21_e128`.

[2016-11-01 18:28] jowens opened #215 "command line argument should have --tag=... flag that adds a tag field into JSON"
If we call an executable with `--tag=ppopp16-final`, it should insert `tag = "ppopp16-final"` into the JSON.

[2016-11-02 04:37] justinstimatze commented on #213
Thanks @neoblizz! That definitely helped. I haven't gotten the build to complete yet, but here are some notes that might be helpful:

* unistd.h
  * The suggested implementation of unistd.h doesn't include two functions used by gunrock:
    * getlogin(), I added locally with (via http://stackoverflow.com/questions/11587426/get-current-username-in-c-on-windows):
[code]
      * sleep(...), I added l

[2016-11-02 15:11] jowens commented on #213
Wow. This is super helpful. Thanks @justinstimatze!

[2016-11-03 04:30] yzhwang opened #216 "[Plot] Impact of Avg. Degree on the performance of different advance methods"
How performance (GTEPS) of LB, LB_CULL, and TWC changes over avg. degree.

@sgpyc You mentioned we have that kind of results in Gunrock already. Are they results on various rgg and rmat graphs? Could we keep the number of nodes fixed while changing the number of edges so as to increase/decrease the avg. degree? I assume we can.

@jowens My mental picture for this is a line chart with one line per

[2016-11-03 04:33] jowens commented on #216
Straightforward to do this from the JSONs we have already, _but_ I will need to figure out average degrees for different graphs, that's the hard part.

We want to put them in `gunrock/io/datasets_info/datasets.json`.

[2016-11-03 04:40] yzhwang opened #217 "[Plot] The impact of alpha value in the push-pull switching heuristic"
For rgg, rmat, real-world scale-free, and real-world roadmap, choose one graph per category, generate line chart for performance (GTEPs) vs. different alpha values.

I decide to leave out the beta value here, @sgpyc would agree that the performance is insensitive to the change of beta value for GPU.

[2016-11-03 05:12] yzhwang opened #218 "[Plot] Group bar chart to show the impact of different parameter switch on performance"
These parameter switches are:
For BFS: idempotence/LB/TWC/pull-enabled vs. baseline. I'm not sure whether we need to do this one by one or do it cumulatively.
For SSSP: PQ vs baseline (@sgpyc is enabling PQ as easy as uncomment that piece of code in SSSP enactor?)
Other switches include mark_pred, dir/undir, but when I come to think of it, dir/undir will change the graph topology so maybe we shoul

[2016-11-03 07:21] sgpyc commented on #216
Yes, we can keep other rmat / rgg parameters, and change the edge factors.
@yzhwang Let the know what parameters you want (e.g. rmat scale = 19, edge factors = {1, 2, 4, 8, 16...}), and I can do write a script to do that

[2016-11-03 07:27] sgpyc commented on #217
The latest DOBFS doesn't use alpha and beta values (as what they are in Beamer's original DOBFS algorithm). The similar ones are do_a and do_b (I guess should give them better names).

The beta (or do_b) value controls when to switch back from pull to push, and matters when the graph is web-graph-like. The performance differences of difference beta (do_b) are not too much, as I remember.

[2016-11-03 07:34] sgpyc commented on #218
32bit vs. 64bit VertexId / SizeT?

The PQ part haven't been touched for a long time (since the beginning of mGPU framework), and may need sometime to get it running for 1GPU. But most likely that only requires interface matching, and data preparation, not the core algorithm / implementation itself.

[2016-11-03 17:40] jowens commented on #218
@sgpyc Do you think the BFS runs that you already did are a good start here? Seems like it to me.

[2016-11-03 17:41] jowens commented on #216
@sgpyc That script would be really useful, thanks. Also please address https://github.com/gunrock/gunrock/issues/214 before you or @yzhwang runs that script.

[2016-11-03 17:41] jowens commented on #216
I think median degree is probably more meaningful than mean degree, but you're right, mean degree is much easier, so let's start with that, good call.

[2016-11-03 17:42] jowens commented on #216
I would likely try to do one graph that incorporates both rmat/rgg and real-world cases. I think we'd all be interested to see how they differ.

[2016-11-03 17:43] jowens commented on #217
@sgpyc Helpful if you can hack together a script for this. It does seem like simply varying `do_a` is the right thing to do here. I think we can do this on many datasets, though, we can just put `do_a` on the x axis and MTEPS on the y axis and have several lines, one per dataset.

[2016-11-03 23:06] jayavanth opened #219 "Errors on Quadro P6000"
When I run any of the gunrock(dev branch) apps on Quadro P6000 I get errors like this:

This GPU has CC 6.1. Is gunrock tested on this CC?

[2016-11-03 23:07] neoblizz commented on #219
Yes, please switch to `pre-release` branch and make sure you have latest CUDA 8.0 and the latest drivers. This `cudaHostRegister` bug was fixed in the latest CUDA release for pascal arch.

[2016-11-03 23:08] neoblizz commented on #219
Code line where CC 6.1 is enabled in `pre-release`: https://github.com/gunrock/gunrock/blob/pre-release/CMakeLists.txt#L188

[2016-11-03 23:10] jayavanth commented on #219
@neoblizz I have already enabled CC 6.1 in the dev branch in the CMakeFiles.txt and tests/BaseMakeFile. I still get this issue. I'll switch to pre-release and see if that works.

[2016-11-04 16:33] jayavanth commented on #219
@neoblizz I updated to pre-release and I'm getting these errors:
Using 1 GPU(s): [ 0 ].

I ran sssp and pagerank tests

[2016-11-04 16:36] jowens commented on #219
What driver are you running? 367.48 fixed this issue for us, which was broken in 367.44.

[2016-11-04 16:37] neoblizz commented on #219
@jayavanth can you please post what CUDA & driver version are you using? I would highly recommend updating CUDA 8 if you haven't already, because when we encountered this problem, it was an NVIDIA's bug and they fixed it in the latest CUDA update.

[2016-11-04 16:41] jayavanth commented on #219
I'm running 370.28 driver with CUDA 8.0.44

[2016-11-04 16:43] jowens commented on #219
I'll ping NVIDIA colleagues about this.

[2016-11-04 16:43] jowens commented on #219
@jayavanth what OS?

[2016-11-04 16:43] jayavanth commented on #219
Ubuntu 16.04

[2016-11-04 17:22] jowens commented on #219
NVIDIA: "I would file a bug ASAP." @jayavanth, that's on you.

In doing so, I would make note of the fix NVIDIA put in between 367.44 and 367.48, and ask if the same issue is present in 370.28.

[2016-11-04 18:30] yzhwang commented on #214
Since this is the bottleneck of creating plot, I'll take care of this. (I submitted the first draft of dissertation last night)

[2016-11-04 18:51] jayavanth commented on #219
Thanks, @jowens. I filed a bug.

[2016-11-04 19:03] yzhwang commented on #214
@sgpyc I've added scale and edgefactor info for rmat files in json filename. For rgg file it's gonna be a oneliner too. My question here is, what info do we need to compute edge number for rgg file? would thfactor be the one? I read BuildRggGraph() and there seems to be no direct equation to compute the edge number.

[2016-11-04 19:12] yzhwang commented on #214
@sgpyc Nevermind, I think it's gonna be impossible to compute edge number from equation. But I can add that edge number info after BuildRggGraph() is called. All good here.

[2016-11-04 19:40] yzhwang commented on #214
@sgpyc Saw your commit for adding edge/node number in json info. @jowens Now generated rmat and rgg datasets will have some parameters in their json file names. See the latest two commits on pre-release by YC and me.

[2016-11-04 19:42] jowens commented on #214
Love it!

[2016-11-04 19:42] #214 closed

[2016-11-04 19:53] sgpyc commented on #215
added in 6bd8547

[2016-11-04 19:53] yzhwang commented on #216
Hi guys, so I've run some tests and here's my plan:

[2016-11-04 19:54] yzhwang commented on #216
Hi guys, I've run some tests and here is my plan:

[2016-11-04 20:01] jowens commented on #216
That seems reasonable for starters ... we want to see the output graph and then decide if we need more. Please check in whatever script you use to do this so it's easy for, say, me to run more.

[2016-11-04 20:24] yzhwang commented on #216
Just had a discussion with YC and here's the updated version for you @sgpyc
First we switched to always add --undirected flag so that we will have larger frontier, hence better perf.
rgg --rgg_scale=21 --rgg_thfactor={0.2,0.3,0.4,0.6,0.8} so that the avg degree would be roughly {4,8,15,34,61}
rmat --rmat_scale=21 --rmat_edgefactor={1,2,4,8,16} so that the avg degree would be roughly {4,8,16,32,64}

[2016-11-04 21:21] sgpyc commented on #216
Added a script run_avgDegree.sh in 9a09fd8 . @yzhwang please try whether that works or not

[2016-11-04 22:59] yzhwang commented on #216
Thank @sgpyc I've updated the script and have run it. So I realized that this is not testing the avg degree, but the degree distribution's impact to performance.
Yes with the increasing of avg degree, the performance increases, but that's more because of the increasing size of frontier. Instead, if we put an rgg graph and an rmat graph together, because we have carefully set the parameters so that

[2016-11-05 00:03] jowens opened #220 "fix up --help and documentation with respect to adding new command-line params"
"Current way of adding things to usage() / --help is quite troublesome (need to change all test_xxx.cu files), and they haven't been updated for some time. May go through them all together after the release and pulling @wetliu 's parameter class."

see: https://github.com/gunrock/gunrock/commit/6bd85476c58bcfe2c429c6979f8e189a9091da8b#commitcomment-19702837

No hurry.

[2016-11-05 00:26] wetliu commented on #220
Let's work it out after release @sgpyc

[2016-11-05 10:33] sgpyc commented on #210
Should be solved by 39eecf3

The cause is that advance used graph_slice -> edges as the maximum allowable output frontier size. When TWC + idempotence + graph with large frontier and concurrent discoveries, the output frontier size maybe larger than the number of edges, and this triggered the overflow protection in TWC, although the output frontier is more than enough (ensured by just-enough-memor

[2016-11-05 15:55] jowens commented on #216
![bfs_avg_node_degree](https://cloud.githubusercontent.com/assets/976970/20031484/635c1a38-a335-11e6-8032-e6f4230ffb62.png)

This is "everything YC ran last month", with x axis = edges visited / nodes visited. (It's the latest run for every individual command line, 32b SizeT, undirected, mark_preds = false.)

[2016-11-05 15:56] jowens commented on #216
So, it's pretty noisy, and I'd be happy to get guidance as to how I can make this more meaningful. (Note this is all the real-world datasets, no RGG or RMAT.)

[2016-11-05 15:59] jowens commented on #216
![bfs_avg_node_degree](https://cloud.githubusercontent.com/assets/976970/20031510/1ae88ede-a336-11e6-9fd4-543723086351.png)
![sssp_avg_node_degree](https://cloud.githubusercontent.com/assets/976970/20031513/1ae9fa08-a336-11e6-8c38-36cc24dc4b19.png)
![cc_avg_node_degree](https://cloud.githubusercontent.com/assets/976970/20031511/1ae8a4a0-a336-11e6-93e7-4e979f88c1fa.png)
![pagerank_avg_node_degree](

[2016-11-07 20:57] yzhwang commented on #216
I think this proves that with the same average node degree but different degree distribution, you can still get very different performance for LB and TWC. CC's performance behaves that way because it doesn't use any advance. PR's LB and TWC performance differs, that's good, and I think the reason LB and LB_LIGHT perform differently is LB is doing load balancing on the output frontier (each block g

[2016-11-07 20:59] jowens commented on #216
Just dump them into the root directory. Do they have a tag in the JSON? If not I'll special-case it.

[2016-11-07 20:59] jowens commented on #216
Er, check them into "gunrock-output".

[2016-11-07 21:10] yzhwang commented on #216
gotcha.

[2016-11-07 21:24] yzhwang commented on #216
@jowens please see my latest commit in io repo.

[2016-11-07 21:32] jowens commented on #216
is everything Nov 7? That will help with my filtering. (This is why we have tags now. :) )

[2016-11-07 21:44] yzhwang commented on #216
Yes.

[2016-11-07 22:10] jowens commented on #216
![rgg rmat_bfs_avg_node_degree](https://cloud.githubusercontent.com/assets/976970/20078086/fc020cce-a4f3-11e6-8f97-58ade77ba588.png)

[2016-11-07 22:10] sgpyc commented on #216
@yzhwang has the script to generate rgg and rmat results.
I think the things we see here are too many factors come together, so a lot of noises.
To see a clear trend of different traversal modes, we may consider these:

1. Only focus on graph that with large frontiers, so per-iteration overhead can be neglected. Maybe no rgg or road network for BFS, they are testing on many kernel launches vs. act

[2016-11-07 22:12] jowens commented on #216
probably better if I have separate tick marks for RGG vs. RMAT, stay tuned.

[2016-11-07 22:13] sgpyc commented on #216
I can tell RGG and RMAT apart for LB, but not TWC.

[2016-11-07 22:37] jowens commented on #216
![rgg rmat_bfs_avg_node_degree](https://cloud.githubusercontent.com/assets/976970/20079019/bc02c5ba-a4f7-11e6-8c78-395435639b43.png)

[2016-11-07 22:43] yzhwang commented on #216
I agree @sgpyc , what we need here is an advance run for only one iteration. With the same number of nodes with different degree distributions. Perhaps we could create a primitive that only does this? Like I said before, it samples a sub frontier from the graph and do one iteration of advance. What do you guys think?

[2016-11-07 22:49] jowens commented on #216
Can we record timing per iteration and store it in the JSON? I could see that would be useful in other contexts. I would understand if it would make the overall primitive run slower b/c of increased synchronization.

[2016-11-07 22:53] yzhwang commented on #216
Do we have other per-iteration data? like edge/node-visited per-iteration? I just want an example. It not we can start having some, I agree that they are very useful data.

[2016-11-07 22:55] jowens commented on #216
It does not appear that we do. The `process_times` field is an example of a list in JSON. I think maybe making `iteration_info` a dict at the top level, and having fields within it that are `nodes_visited`, `edges_visited`, `iteration_time`, etc., would make sense.

[2016-11-07 23:01] yzhwang commented on #218
I have idempotence vs non-idempotence, LB vs TWC (both non-idempotence), and push-only vs. push-and-pull (both non-idempotence and LB) already, that experiments I used two social networks and two road networks. We can repeat the experiment with more datasets.  @sgpyc thinks bring back PQ for current version is not as simple as uncomment that piece of code, so maybe we start with BFS first? We can

[2016-11-07 23:02] yzhwang commented on #217
@sgpyc Do you have a good feeling of a good set of do_a we should choose? (Suppose we want to do this experiment on scale-free graphs)

[2016-11-07 23:02] yzhwang commented on #216
@jowens I will create an issue and assign myself for this.

[2016-11-07 23:06] yzhwang opened #221 "[Plot] Add per-iteration data for JSON output"
https://github.com/gunrock/gunrock/issues/216#issuecomment-258990203

[2016-11-07 23:52] sgpyc commented on #221
the EnactorStats has nodes_queued and edges_queued counters. But they are accumulation values, and have one version on CPU and another version on GPU. Still thinking where / how to combine them for per-iteration stats.

Timing wise, the CPU timer should be good to provide precision of tens of microseconds.

[2016-11-08 02:26] yzhwang commented on #189
@sgpyc @jowens Please take a look at the latest release note and see if there's still anything we need to change. Thanks!

[2016-11-08 02:57] #182 closed

[2016-11-08 03:49] jowens commented on #189
Edits checked in, with a comment on @yzhwang's recent commit.

[2016-11-08 04:53] sgpyc commented on #206
addressed in ff9a410

[2016-11-08 04:54] sgpyc commented on #208
Not going to change at this point, see comments under ff9a410

[2016-11-08 04:55] sgpyc commented on #207
addressed in ff9a410

[2016-11-08 18:10] yzhwang commented on #189
@sgpyc If you are happy with the content, please close this issue :-)

[2016-11-08 21:18] sgpyc commented on #189
I'm happy with that

[2016-11-08 21:18] #189 closed

[2016-11-08 21:31] #210 closed

[2016-11-09 17:50] jayavanth opened #222 "MST not in pre-release?"
I don't see MST in pre-release. Is it completely removed? Also, MST is breaking in dev (similar to [this issue](https://github.com/gunrock/gunrock/issues/123))

[2016-11-09 19:55] yuduowu commented on #123
@sgpyc, MST uses multiple O(E) storages to keep intermediate results, so very likely it's out-of-memory (even with not extremely large dataset). Potentially it can be more optimal and reuse previous O(E) storages that no longer needed.

[2016-11-09 21:45] sgpyc commented on #222
Hi, MST is not in pre-release branch, partially because of the memory issue you have seen.
It's in dev branch, and should be working when memory is sufficient.
We would like to improve it after the 0.4 release, and graduate it after going though the same level of testing we have done on primitives in the pre-release branch.

[2016-11-10 01:42] #168 closed

[2016-11-10 03:59] #205 closed

[2016-11-11 06:50] neoblizz opened #223 "Building Gunrock (formatting)"
Fix the format issue caused by ``` http://gunrock.github.io/gunrock/doc/latest/building_gunrock.html

[2016-11-17 15:56] neoblizz commented on #223
Fixed in commit 702ac14, for future replace triple ticks with <pre> when using code blocks in documents.

[2016-11-17 15:56] #223 closed

[2016-11-18 05:46] olauq commented on #213
Hi, I for one would really appreciate a windows compatible branch or fork or whatever is the right git lingo. Cheers

[2016-11-18 18:24] yzhwang commented on #213
@olauq @justinstimatze :
Thanks for your input here. we are working on a journal paper submission lately and cannot put too much time on this before Dec 16th. But I will start working on this after Dec 16th since I will have much more time then. I will put my findings here when I start working on this. Meanwhile, you guys please keep sharing good experiences :-)

[2016-11-18 18:33] jowens commented on #213
@olauq When you look at @justinstimatze's efforts above, what do you see as the most tractable path going forward?

We haven't prioritized Windows development at all (obviously). This appears to be a significant effort and it's more likely that someone with more experience than any of us in the group with respect to Windows would be better suited to it (pull request?) than we would.

[2016-11-21 01:01] olauq opened #225 "Optional Dependencies: METIS"
In the building instrcutions METIS is listed under 'Optional Dependencies', yet there is no way given of how to get cmake to stop looking for it. How is this done?

http://gunrock.github.io/gunrock/doc/latest/building_gunrock.html

[2016-11-21 01:13] neoblizz commented on #225
@olauq it is optional, so, after installation if you don't have `metis` and use the metis partitioner, it will just tell you that metis was not found and you cannot use the said partitioner. You don't have to do anything in cmake to make it stop looking for it.

[2016-11-21 01:17] olauq commented on #225
In my case cmake does not seem to finish generating setup unless I comment out all link targets:

"CMake Warning at cmake/FindMetis.cmake:47 (MESSAGE):
  Metis was requested but support was not found,

    run `sudo apt-get install metis` or `/dep/install_metis.sh` for installation.
Call Stack (most recent call first):
  CMakeLists.txt:41 (include)

-- Project Added: bfs
CMake Error: The following

[2016-11-21 01:25] neoblizz commented on #225
It shouldn't fail, can you please post the full `CMakeOutput.log`?

[2016-11-21 01:40] neoblizz commented on #225
@olauq I pushed some changes, can you please pull the latest commits and try again? It should be optional now. https://github.com/gunrock/gunrock/commit/419544a4cae749f2847ecc1b01cd4c9a36fdfd63

[2016-11-21 01:48] olauq commented on #225
Thanks, @neoblizz, that seems to have fixed it. (I was going to post that log before, but then cmake stopped producing it, weirdly.)

[2016-11-21 01:56] olauq commented on #225
Hm. But now it seems to fail to compile instead.
[ 11%] Building NVCC (Device) object gunrock/CMakeFiles/gunrock.dir/app/bfs/gunrock_generated_bfs_app.cu.o
In file included from ~/gunrock2/gunrock/gunrock/app/problem_base.cuh:51:0,
                 from ~/gunrock2/gunrock/gunrock/oprtr/advance/kernel.cuh:13,
                 from ~/gunrock2/gunrock/gunrock/app/bfs/bfs_enactor.cuh:23,

[2016-11-21 02:06] olauq commented on #225
This is caused (somehow) by the line
`gunrock/CMakeLists.txt(41): include(${CMAKE_SOURCE_DIR}/cmake/FindMetis.cmake)`
It must cause 'METIS_FOUND' to be defined regardless of the outcome.

[2016-11-21 14:35] justinstimatze commented on #213
Hi @olauq, the error you posted is (I believe) addressed by adding the Build Customization of CUDA 8 and changing the build type for .cu files from Custom to CUDA. I'm still occasionally working on the windows build, but have no further significant progress to report.

[2016-11-21 21:40] neoblizz commented on #225
@olauq I am looking into this bug, thank you for pointing it out. If you want to use gunrock meanwhile you can run the script in `/dep/install_metis.sh` to install metis. I will report back here once it is fixed.

[2016-11-21 22:45] neoblizz commented on #225
@olauq fixed in commit; https://github.com/gunrock/gunrock/commit/d79585d7f163ea193235fc4ccea8d21403fb4aa6 can you please confirm?

[2016-11-23 00:50] jowens opened #226 "documentation page that describes how we measure MTEPS for each primitive"

[2016-11-23 00:51] #225 closed

[2016-11-23 00:55] jowens commented on #226
Various notes on this issue:

For BFS and BC (on non-weighted graph), we consider the visited edges to be the same as Gunrock. For BC this is accurate since we are using the same algorithm. For BFS, In Gunrock we use the same edge expansion count for both push-based and pull-based traversal, and I noticed that the only other BFS implementation which also uses push-based and pull-based traversal, E

[2016-11-23 05:51] olauq commented on #225
Yes, seems to work as expected now.

[2016-11-30 09:40] sgpyc opened #228 "[SSSP] LB_CULL has illegal memory access and wrong results on Maxwell and Pascal GPUs"
on GTX 1080
[code]

[2016-12-15 05:29] #215 closed

[2016-12-15 05:29] #209 closed

[2016-12-15 05:33] #216 closed

[2016-12-15 05:35] jowens commented on #218
@yzhwang is there more to do here? reassign me if so.

[2016-12-15 05:36] #217 closed

[2016-12-24 21:10] jowens commented on #226
In the current paper draft, I see the following:

[@sgpyc] For BFS, tt
should use the number of edges touched, i.e. the sum of neighbor list lengths of all visited vertices, not the total number of edges in the graph [@yzhwang] agreed. changed.

What are we actually doing in our results (and what did we do in the PPoPP paper)? Are there primitives where we don't visit all vertices? If we do visit

[2016-12-24 21:19] jowens commented on #226
When we convert all graphs to undirected, does that imply 2 edges stored per actual edge, one in each direction?

[2016-12-24 21:32] yzhwang commented on #226
@jowens For undirected graphs, yes that is true, and we have already double the edge count in our dataset description. (and I believe everyone does this) For edges touched vs. edge count. The difference comes from two places: (1) In several graphs, especially r-mat graphs, there are zero degree nodes, also there are several connected components that only have 2 nodes in them. A BFS that covers mos

[2016-12-24 21:50] jowens commented on #226
@yzhwang can you do a pass over this, perhaps assign it to @sgpyc after you're done?

https://github.com/gunrock/gunrock/commit/674d3407f031f7851eab2a61197e2048e2389c43

[2016-12-25 02:35] #226 closed

[2016-12-27 22:27] shariiiyy opened #229 "Procedure to set up graph/io under /doc/graph_io_setup.md"
I just uploaded the procedure to set up graph_io. Please leave comments so that I can fix anything that's not right Thank!

[2016-12-27 22:38] jowens commented on #229
@shariiiyy Super. So it's set up on mario and midas right now? Have you been able to run the scripts in gunrock/io/scripts? (Specifically, from scripts, `make -f plots2doc.Makefile`. You should have an `output` directory in scripts, and it assumes the gunrock repo is `../../gunrock` from the scripts directory.

[2016-12-27 22:39] jowens commented on #229
Start by just running `altair_engines.py` from the scripts directory; it should put a bunch of plots into `output`.

[2016-12-27 22:45] shariiiyy commented on #229
Yes I can run scripts. I have pulled the latest files and modified altair_test locally to test output. I will try running altair_engines.py now.

[2016-12-27 22:47] jowens commented on #229
Cool. The makefile should do everything Altair-related, so if it is doing the right thing (copying a bunch of stuff into gunrock/doc/stats, I think), then we're golden.

The doc you wrote was about how to install what Altair needs, but you should also have a section about how to set up / run scripts assuming everything is installed correctly.

[2016-12-27 22:52] shariiiyy commented on #229
I will add that section now.

[2016-12-28 00:54] shariiiyy commented on #229
I am getting a dbus connection error when inkscape is converting svg to pdf that causing python to crash. If I run the inkscape conversion command in terminal, it will produce the pdf and it looks right although the connection error is still thrown. I haven't figured out a good way to fix it. It's kinda weird. I didn't had this problem before. If I revert graph_io to earlier version which has alta

[2016-12-28 01:17] jowens commented on #229
I can't reproduce this on my Mac. Inkscape works for me. It looks horrible, but it works. The other option on unix machines is using 'rsvg' on node.js (https://github.com/altair-viz/altair/issues/279#issuecomment-265640244). I couldn't get this installed on my Mac, hence using inkscape, but maybe Linux's nice package manager will be able to run it ...

[2016-12-28 01:17] jowens commented on #229
(Perhaps my inkscape does not use dbus on OS X, dunno.)

[2016-12-28 01:18] jowens commented on #229
What do you mean "revert graph_io"? Do you mean reverting it before there was inkscape used at all? I'm sure that would work fine, since it's inkscape that's the problem.

[2016-12-28 07:13] shariiiyy commented on #229
I found the problem. In fileops.py, [https://github.com/gunrock/io/blob/master/scripts/fileops.py#L118](url), it should be check_output(['inkscape', '--file=%s.svg' % (base).

Sorry I didn't make clear of what my problem is. If I ran other python scripts to generate .pdf file with earlier graph_io from a few days ago, it won't crash. But with all the files up to date, script would crash when gener

[2016-12-28 15:04] jowens commented on #229
Ohhhh yes. You're absolutely right, please check that fix in. I'm a bad man. My error.

Can you try rsvg and see if it looks better/worse than inkscape?

[2016-12-28 18:33] shariiiyy commented on #229
I installed librsvg2-dev (which is version 2.40.9). This is what node-rsvp under the hood.
[engines_topc_elapsed.pdf](https://github.com/gunrock/gunrock/files/676069/engines_topc_elapsed.pdf)
[test.pdf](https://github.com/gunrock/gunrock/files/676067/test.pdf)

[2016-12-28 18:44] jowens commented on #229
IMHO test's marks look better, but I don't like its choice of default font as much. I think neither looks as good as my OS-X-specific solution (again IMHO). @yzhwang?

(FWIW opening test.pdf in OS X's Preview crashes Preview.)

[2016-12-28 18:45] jowens commented on #229
@shariiiyy What are the command-line options for rsvg that you're using?

[2016-12-28 18:47] jowens commented on #229
(the fact it is so difficult to convert from one vector format to another baffles me)

[2016-12-28 18:48] shariiiyy commented on #229
That's weird. I used my mac laptop to open both pdfs as well but they are fine.

I didn't use any option. There are only options to set resolution, zoom factor x and y,  image width and height and output format. That's it.

[2016-12-28 18:51] jowens commented on #229
Yeah, it's not reliably crashing for me, but it does crash more than a few times. OK. There doesn't appear to be any font control with rsvg-convert, got it.

[2016-12-28 18:53] jowens commented on #229
Can you append to your doc on what a *user* needs to do to run the scripts? I see that you're noting that users need to install pandas and numpy, but what about, say, Altair or Vega/Vega-lite? I'm looking at "local user need" at the bottom.

[2017-01-17 14:00] sgpyc opened #231 "Framework requirement for GraphBlas <-> Gunrock and NetworkX -> Gunrock"
I created a brief document regarding GraphBlas <-> Gunrock, and NetworkX -> Gunrock https://docs.google.com/a/ucdavis.edu/document/d/1Qkr5o7NqiLkrDUs8HQphLhGqOXVVf2nRVI-HaCRj3uY/edit?usp=sharing
@ctcyang and @shariiiyy please have a look and let me know if there is other requirements to support {GraphBlas, NetworkX}.

[2017-01-17 14:14] sgpyc opened #232 "[HITS, SALSA, TC, LP, SM] Reference CPU implementation"
Could @yzhwang and @Laurawly help to provide the CPU reference for this primitives? Other people are welcomed to do so too. I don't want to break the code during refactoring.
The performance is not an issue (the reference code can be slow), but need to be correct. Also need to have a way to verify the results.

[2017-01-17 14:19] sgpyc opened #233 "[A*, LP, WTF, HITS, SALSA, TC] Add run script"
Any way to add the run script (like the ones in {bfs, sssp, cc, bc, pr}/run.sh) for these primitives?

[2017-02-03 05:15] jowens commented on #65
@sgpyc Resurrecting this issue, can you take a look in the not too distant future?

[2017-02-17 14:17] GMolini opened #235 "Use variable already on the GPU."
Is there a way to pass or assign a variable to gunrock that ahs already been allocated in the GPU? Imagine  I want to do the BFS and the sssp on the same graph, do I always need to copy two times the data?

[2017-02-18 03:27] yzhwang commented on #235
Thank you @gumlym We have been thinking of adding this feature for a while. Currently Gunrock does not support inter-problem shared device pointer. But with our current Array1D and Array2D wrapper on top of raw device data. I think with very small changes we can expose such interface to users.

@sgpyc So the plan is to support sending in an already allocated/initialized external device pointer (at

[2017-02-23 01:32] sgpyc commented on #235
The actual code that move the CSR from CPU to GPU is from https://github.com/gunrock/gunrock/blob/master/gunrock/app/problem_base.cuh#L223 to https://github.com/gunrock/gunrock/blob/master/gunrock/app/problem_base.cuh#L240 .

If there is only one GPU involved, and the CSR content do not need to be touched on CPU, then this should work:
1. set the raw pointers of row_offsets and column_indices in t

[2017-04-12 11:41] cwlseu opened #236 "***Failed Required regular expression not found.Regex=[CORRECT]"
Hello,
     When I finished building the program and make test, the program throw the following question.
My system is CentOS 7.

`Running tests...
Test project /home/limin/research/gunrock/build
      Start  1: TEST_BFS
 1/11 Test  #1: TEST_BFS .........................***Failed  Required regular expression not found.Regex=[CORRECT
]  0.01 sec
      Start  2: TEST_BC
 2/11 Test  #2: TEST_BC .....

[2017-04-12 13:25] jowens commented on #236
Can you paste in the result of `ctest -V` ?

[2017-04-12 23:57] shariiiyy commented on #236
@cwlseu, I have had a similar problem before. It was because the cmake version was outdated. I updated it from cmake 3.0 to cmake 3.6 which fixed the problem.  Can you please try update your cmake to the latest version, build gunrock again and try running ctest again.

[2017-04-13 03:29] cwlseu commented on #236
I have find the problem. thanks@jowens.
When I execute `ctest -V`, the following information throw:
11: Test command: /home/limin/research/gunrock/build/bin/shared_lib_pr
11: Test timeout computed to be: 9.99988e+06
11: [/home/limin/research/gunrock/gunrock/util/test_utils.cu, 61 @ gpu 32599] cudaSetDevice failed. (CUDA error 35: CUDA driver version is insufficient for CUDA runtime version)
**11:

[2017-04-13 03:31] jowens commented on #236
Yes, very definitely do that!

[2017-04-13 03:31] #236 closed

[2017-04-16 00:11] tanujkr opened #237 "Query regarding result reported for SSSP on soc-livejournal dataset"
Why in the following output, for SSSP on soc-livejournal, #edges is 85702474 when the graph actually has 68993773 edges only? soc-LJ is already a directed graph.
https://github.com/gunrock/io/blob/master/gunrock-output/topc/SSSP_soc-LiveJournal1_Thu%20Nov%2017%20233705%202016.json

[2017-04-17 01:12] jowens commented on #237
"If the undirected flag is set, we convert the input graph to undirected. When we do so, that implies one edge in each direction, and we report edges for that graph accordingly."

http://gunrock.github.io/gunrock/doc/latest/md_methodology.html

[2017-04-18 21:42] sgpyc commented on #237
When `--undirected` is given as command line argument, or `symmetric` is present in the .mtx header, for each undirected edge pair <u, v> in the .mtx file, the reader will produce 2 directed edges <u, v> and <v, u> in the resulted graph https://github.com/gunrock/gunrock/blob/master/gunrock/graphio/market.cuh#L399 .

The COO -> CSR  converter also removes duplicate edges https://github.com/gunrock

[2017-04-18 22:05] tanujkr commented on #237
Thank you @jowens and @sgpyc for the detailed explanation.

[2017-04-18 22:05] #237 closed

[2017-04-28 17:42] jowens opened #238 "identify TC build that works"
[code]

[2017-04-28 18:50] Laurawly commented on #238
Reading from the previous commit history of dev branch, I found that workable tc has been moved to dev-debug. And I just rerun tc under dev-debug this morning and it works.

[2017-04-28 18:50] #238 closed

[2017-04-30 00:13] elalish opened #239 "Is it possible to compile Gunrock on OSX?"
I've been attempting to compile gunrock on OSX (my macbook pro has an NVIDIA GPU), but it seems impossible because 1) gunrock requires OpenMP, 2) NVCC requires Apple LLVM 8.0.0 on OSX, and 3) Apple LLVM does not support OpenMP. Is there any way around this?

[2017-04-30 03:47] jowens commented on #239
I have the same machine as you do. The cmakefile supports a build if you install MacPorts's "libomp".

[2017-05-01 16:19] elalish commented on #239
Thanks, that got me to 10%. Now mgpuutil is complaining that it can't find tr1/random. What's the best way to fix that?

[2017-05-01 16:42] jowens commented on #239
You're using cmake? I definitely rigged up cmake to work with OS X out of the box.

[2017-05-01 16:44] elalish commented on #239
Indeed I am. Is there anything I can send you to help narrow down the issue? I'm on OS 10.12.4 and I'm using the latest CUDA toolkit. I didn't install METIS since it's optional. Is there anything else I might be missing from macports? I usually use homebrew, so libomp is all I have from macports right now.

[2017-05-01 16:46] jowens commented on #239
I'm rebuilding myself, seeing `nvcc fatal   : The version ('80100') of the host compiler ('Apple clang') is not supported`. Doh!

[2017-05-01 16:46] neoblizz commented on #239
@elalish did you do `git clone --recursive`? Make sure your https://github.com/gunrock/gunrock/tree/master/externals contains `mgpu` and `cub`.

[2017-05-01 16:47] elalish commented on #239
yeah, that one sucks; you have to manually get apple's slightly older command line tools to replace clang down to 8.0.0. I did do recursive and all of cub and mgpu are there (I can see the line that's complaining).

[2017-05-01 16:51] neoblizz commented on #239
Could you post the entire output please?

[2017-05-01 16:52] elalish commented on #239
This is after it got through the NVCC compling:

[code]

[2017-05-01 16:55] jowens commented on #239
Can you look at externals/moderngpu/src/mgpuutil.cpp? Here's the code I have in mine:

[code]

Note it specifically checks for clang (e.g., clang should never see a tr1/random include).

[2017-05-01 16:56] elalish commented on #239
weird, I have this

[code]

I just downloaded this a few days ago; is this a very recent commit?

[2017-05-01 16:59] jowens commented on #239
It looks like this is a change that is in my local version only. I am a bad person. So just delete that chunk of yours and paste this in.

[code]

[2017-05-01 17:00] elalish commented on #239
working much better now! I'll put a note when I get to 100%. Thanks!

[2017-05-01 17:09] elalish commented on #239
Not a big deal, but is there a way to compile the library without all the tests? Seems like the tests take most of the compile time and dependencies, and if they fail, there's not much I can do about it anyway...

[2017-05-01 17:11] neoblizz commented on #239
`cmake -D GUNROCK_MGPU_TESTS=OFF`

[2017-05-01 17:11] elalish commented on #239
thanks!

[2017-05-01 17:13] neoblizz commented on #239
@elalish quickest will be building just one primitive: `cmake -DGUNROCK_BUILD_APPLICATIONS=OFF -DGUNROCK_APP_BFS=ON ..`

[2017-05-01 17:23] elalish commented on #239
Alright, 100% built, and connected components is already working inside of my own code. Thanks for the help!

[2017-05-01 17:25] jowens commented on #239
Fantastic!

[2017-05-01 17:25] #239 closed

[2017-05-02 18:43] elalish opened #240 "incorrect number of components returned on Linux"
I'm getting different results using cc() on OSX and Ubuntu. I get the same results for the node components vector, but OSX also correctly returns the total number of components, while on Linux I'm always getting zero returned. Here is a simple example:

[code]
Where my input tetrahedron is:
[code]
components correctly comes out as {0, 0, 0, 0}, but on OSX n_comp = 1 and on Linux n_comp = 0. This t

[2017-05-02 18:45] elalish commented on #240
I should mention, on the more complex graphs I've gotten more complex (multi-component) results, and the components vector still matches, just the n_comp is zero for Linux inexplicably. Any ideas? This is part of a larger C++11 project.

[2017-05-02 19:13] Laurawly commented on #194
By running TC under dev branch on soc-LJ1 dataset, the code crashes here:
[../../gunrock/util/array_utils.cuh, 209 @ gpu 0] scanned_edges[] cudaMalloc failed (CUDA error 2: out of memory)

But if I turn on array_utils debug option, there's no more errors.

[2017-05-02 19:17] Laurawly opened #241 "Incorrect results generated by TC"
When running mouse_gene dataset which includes redundant edges and self loops, the result is incorrect.

./bin/test_tc_8.0_x86_64 market ../../dataset/large/mouse_gene/mouse_gene.mtx
Loading Matrix-market coordinate-formatted graph ...
  Reading directly from stored binary CSR arrays ...
Done reading (0s).

Degree Histogram (45101 vertices, 28922190 edges):
    Degree   0: 1975 (4.38%)
    Degree

[2017-05-03 16:15] elalish commented on #240
Actually, I fear there may be a bigger problem here. The larger problem I was testing (a triangle mesh that Meshlab confirms is manifold, has only a single component and no unreferenced vertices) not only has the problem shown above, but also shows two unreferenced vertices out of ~14,000 (single-node components). This result is identical between OSX and Linux, but after several tests on the input

[2017-05-03 16:17] sgpyc commented on #240
Matrix Market, . mtx format?

[2017-05-03 16:23] elalish commented on #240
I can do that, though cc() takes input in CRS, while .mtx is COO. Seems like the conversion could potentially confuse the repro.

[2017-05-03 16:36] elalish commented on #240
Actually, I take back the second part of this; I did find an oddity in my input, so I'll track that down first. Can someone at least tell me if they can repro the n_comp = 0 on Linux issue? I want to make sure I didn't just call this incorrectly.

[2017-05-03 16:39] sgpyc commented on #240
I can try. The number of components is calculated based on the labels. It should not be difficult to figure out what happens, providing the labels are correct.

[2017-05-03 16:43] elalish commented on #240
Thanks, in any case the result should always be strictly greater than zero, right? Unless the input is zero length?

[2017-05-03 17:06] sgpyc commented on #240
It seems the result is correct on our Linux system (ubuntu 14.04 LTS, with nvcc 8.0 and NVIDIA driver 367.57).

I converted the simple test graph into .mtx as:
`
4 4 6
1 2
1 3
1 4
2 3
2 4
3 4
`

and the program reported there is one component.
`
sgpyc@luigi:~/Projects/gunrock_build$ ./bin/cc market ../gunrock/tests/cc/simple_test.mtx
Loading Matrix-market coordinate-formatted graph ...
  Reading d

[2017-05-03 17:07] elalish commented on #240
Another question: does cc() consider its input as a directed or undirected graph? If the matrix is not symmetric, does it actually return only strongly connected components? I was assuming it was undirected and so didn't duplicate the edges...

[2017-05-03 17:09] elalish commented on #240
Can you try calling cc() directly using the vectors I specified? I think the error may be in the C API's conversion somewhere (since it does not take a .mtx).

[2017-05-03 17:14] sgpyc commented on #240
The CC() implementation do assume the input graph is undirected (via. edge doubling).
I think that may be the issue.

[2017-05-03 17:16] elalish commented on #240
when you say it assumes it is undirected, does that mean I am expected to do the edge doubling before I input it? Or does that mean it will always double the edges to cause it to be undirected? I was assuming the second, but if it's really the first, then I need to change my code.

[2017-05-03 17:23] sgpyc commented on #240
I'm afraid it's the first. We do that in our code before calling the CC() routine.

[2017-05-03 17:26] elalish commented on #240
Okay, good to know. So probably getting a number of components equal to zero is something like an error return on the input? Thanks for your help, though a little documentation on this would probably solve this for others. Part of the reason for my confusion is that the example here appears to put non-symmetric input into cc(): https://github.com/gunrock/gunrock/blob/master/shared_lib_tests/shared

[2017-05-04 15:11] elalish commented on #240
I can confirm that by sending in symmetric matrices I'm now getting the output I expect. Considering that with asymmetric input we're getting different results on different architectures, it seems like this might be a precondition worth testing and throwing an error if it's not met. Thanks for your swift help.

[2017-05-04 15:15] elalish commented on #235
+1 for this feature. Maybe you can leverage the way thrust tags vectors as host or device? Or just provide an execution policy input?

[2017-05-04 15:36] jowens opened #242 "atomic guard"
Massimiliano Fatica noted (when looking at our code) that:

if you don’t guard the function, the compiler will give an error.

Assigning to @neoblizz but @yzhwang and @sgpyc please comment!

[code]

[2017-05-04 17:56] sgpyc commented on #242
We do have the atomic guard https://github.com/gunrock/gunrock/blob/master/gunrock/util/device_intrinsics.cuh#L23 , to only define some atomic functions when nvcc version is less than 8.0.
I don't think atomicAdd(double) is only defined for compute capability >=6.x, as the master branch is running on K40c. My guess is although the support is not native, its supported somehow like what we did.
But

[2017-05-04 23:29] yzhwang commented on #242
It's defined in nvidia doc: https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#atomicadd
The reason that we are not facing this problem is probably because we are not using them? See pr's test: https://github.com/gunrock/gunrock/blob/master/tests/pr/test_pr.cu#L1070
I guess once we enable this in CUDA 8, we will somehow get a redefinition error during compile time?
The logic should b

[2017-05-05 18:48] AwesomeLemon opened #243 "Tests fail"
Hello.
I've build Gunrock according to instruction; saw no warnings or errors.
However, tests fail. Running "ctest -v" shows this:

[code]

LastTest.log looks like this:
[code]

I've tried building with cmake 3.5.2 and cmake 3.8.1 - no difference.
Also, I've tried running just one test like this:
[code]
and got this:
[code]
My system is Ubuntu 16.10, gcc and g++ are 4.9, and nvcc is 8.0. My GPU is

[2017-05-05 18:56] jowens commented on #243
Let's start with the simplest test that fails for you:

[code]

I'll try to replicate on our machine. We might ask you to run this through gdb to tell us specifically where it's failing.

[2017-05-05 19:03] AwesomeLemon commented on #243
@jowens
I've actually tried running gdb, although since it's my first encounter with it, I'm not sure whether I'm doing it right. So, what I did is:
[code]
Then I was shown some standard header, after which I've typed 'bt', and I don't know what to do with results:
[code]

[2017-05-05 19:07] jowens commented on #243
That is exactly what we want to see BUT you have to rebuild with debug flags (I think it's `-g`).

In CMakeLists.txt:
[code]

(then cmake again and rebuild)

Please someone else correct me if this is wrong.

[2017-05-05 19:09] jowens commented on #243
Just ran this on our "midas" machine (successfully), for the record. This is just using "git clone" of gunrock master branch.

[code]

[2017-05-05 23:03] Laurawly commented on #194
It turns out that max_queue_sizing and max_in_sizing is not correctly set initially in test_tc.cu. Bug fixed.

[2017-05-05 23:03] #194 closed

[2017-05-05 23:09] yzhwang commented on #194
Thank you @Laurawly !!!

[2017-05-06 12:37] AwesomeLemon commented on #243
So, I've set debug option in CMakeLists.txt. Then I've started gdb like that:
[code]
and got:
[code]
I guess my errors have something to do with boost? I've installed it via the script enclosed to this project.

[2017-05-06 12:41] jowens commented on #243
What is the argument to `boost::filesystem::path::stem()`?

[2017-05-06 12:42] jowens commented on #243
I think you do

[code]

[2017-05-06 12:54] AwesomeLemon commented on #243
Doesn't work. I've googled that I should try 'info sharedlibrary', so I did that.
Also I've run this: 'file /usr/local/lib/libboost_filesystem.so.1.58.0', and it shows 'not stripped'. The only stripped library is '/lib/x86_64-linux-gnu/libgcc_s.so.1', if it matters.
[code]

[2017-05-06 14:56] jowens commented on #243
I'm just not good enough at gdb to offer advice here (I haven't used it in many years). I would personally just put a printf in Gunrock's `Info::LoadGraph` and see what you're passing into the Boost libraries. This seems pretty simple to address when we figure out what's wrong.

[2017-05-09 13:02] AwesomeLemon commented on #243
Okay, everything dies on this call in Info::LoadGraph:
[code]
I've added print command before that call like this:
[code]
When executing, it prints:
[code]
This is a valid file: I can do
[code]
and it opens.

Then I noticed, that the stem() call is non-vital and is used as name of a dataset. I replaced it with 'market_filename_path.string()'. Test started working, but now it errs:
[code]

[2017-05-09 13:46] jowens commented on #243
Can you try a really simple test that only does boost stuff?

[code]

[code]

[2017-05-09 16:14] AwesomeLemon commented on #243
I've tried it and got:
[code]
After that I reinstalled boost, and tried again - same result. Then I removed '-mt' suffixes from lib names, and run that - it compiled without error. However, I cannot run it:
[code]
That's strange, cause the file surely exists:
[code]

[2017-05-09 16:14] jowens commented on #243
My boost version is multithreaded.

`ls -l /usr/local/lib/libboost_filesystem.so.1.58.0` ?

[2017-05-09 20:39] jowens commented on #243
Also relevant: http://stackoverflow.com/questions/480764/linux-error-while-loading-shared-libraries-cannot-open-shared-object-file-no-s

[2017-05-09 20:44] neoblizz commented on #243
You might have done just the simple boost install, gunrock uses the following boost libraries, when you do `cmake ..` does it show that these libraries were found?
[code]

[2017-05-10 10:24] AwesomeLemon commented on #243
@neoblizz it showed that they were found, yes. I've installed libboost-all-dev nonetheless, and tested stem.cpp again - no difference.

Then I've run clang++ without L and I (that is a capital i, not a lower l) options. ./stem worked, but showed only two first results, and died with segfault on the third.
After that I've purged everything on my system connected with boost (via apt remove, apt auto

[2017-05-10 10:28] AwesomeLemon commented on #243
Okay, I've started celebrating too early. BFS test doesn't fail, but it shows incorrect results (compared to output posted by @jowens several posts higher):
[code]

[2017-05-11 02:43] jowens commented on #243
@yzhwang @sgpyc any thoughts here? I've never actually tried to debug internal-Gunrock. It looks to me like it's just not running anything at all (all those -1s on nodes).

[2017-05-11 02:48] sgpyc commented on #243
I will take a look. It should not be the core, may just be some setup / config issue.

[2017-05-11 07:39] sgpyc commented on #243
just double checked on two systems, 1) MacOSX 10.12.4 with GT 750M (CP 3.0), 2) ubuntu 16.04.1 LTS with K40c (CP 3.5), both with CUDA 8.0. ctest past all 11 tests.

I noticed @AwesomeLemon uses a GTX 660, which is a fairly old device with compute capability 3.0. It's really hard to get access to similar device on a Linux system. I remembered ~1 year ago, all the texture accesses were replaced by _

[2017-05-11 08:00] AwesomeLemon commented on #243
@sgpyc
Unfortunately, I don't have any other GPUs.
Also I want to point out that ctest passes all tests on my system too, by which I mean that when running ctest, it shows that 11/11 passed. However, output which ctest generates to LastTest.log (which I've pasted in my previous post) seems wrong, and it's the same output that shows when running individual tests.

[2017-05-11 08:04] neoblizz commented on #243
@AwesomeLemon can you run a simple test in the bin folder: `./bfs rgg`

[2017-05-11 08:08] sgpyc commented on #243
Okey, I see what @AwesomeLemon means. The BFS on my GT 750M also produces incorrect results, although ctest said pass.

[2017-05-11 12:56] jowens commented on #243
@neoblizz can you take a look at the ctest regexps? we've had issues in the past that you've fixed that have been regexp-based.

[2017-05-11 15:31] neoblizz commented on #243
Commit: 7cab4347469e7b46b06c1a8df09a62ec361298b8 should fix this, can you please confirm that ctest works properly? @sgpyc

[2017-05-11 15:32] neoblizz commented on #243
@AwesomeLemon if you could, create a new build folder and run `cmake ..`, and please share the terminal output of that with us.

[2017-05-11 16:57] AwesomeLemon commented on #243
What I've done (in chronological order):
1) by request of @neoblizz I've run `./bfs rgg` Results:
[code]
Then I've pulled new commit, and rebuild the project. Then I've run `ctest -v`
Results were:
[code]

[2017-05-11 19:04] neoblizz commented on #243
@AwesomeLemon let's start with bfs first. I need the output of cmake, it should look like:
[code]
I want to see if everything is configured properly in your system, and this sort of summarizes it for us. It is strange that only BFS and PR are failing (so it might not be a config issue).

[2017-05-12 07:59] AwesomeLemon commented on #243
@neoblizz
[code]

[2017-05-13 06:14] sgpyc commented on #243
The root cause is here https://github.com/gunrock/gunrock/blob/master/gunrock/app/bfs/bfs_functor.cuh#L71

[2017-05-13 06:49] sgpyc commented on #243
should be solved with commit da961e5

[2017-05-13 12:01] AwesomeLemon commented on #243
@sgpyc Thanks, that fixed it for BFS.
Now just PageRank fails.
[code]

[2017-05-13 19:42] sgpyc commented on #243
The PR 'INCORRECT' thing is caused by how the program thinks floating point numbers are different from each other. More informatic measurements are in the lines following the 'INCORRECT' word:
[code]
which says the ranking errors are within 5%.

Another way is running PR in normalized mode. If you run the normalized PR (by giving the "--normalized"  parameter to the program), errors would be much

[2017-05-13 19:52] neoblizz commented on #243
@sgpyc do you think I should change the `ctest` to always run `--normalized --compensate` modes instead?

[2017-05-13 23:15] sgpyc commented on #243
@neoblizz I think that will help.

[2017-05-14 00:02] neoblizz commented on #243
Added, and that fixed PR results on my machine and mario. @AwesomeLemon can you confirm the latest commit on your end and close the issue if it is fixed? Thanks!

[2017-05-14 08:42] AwesomeLemon commented on #243
@neoblizz Everything works fine now, thanks for fixing it.

[2017-05-14 08:42] #243 closed

[2017-05-15 10:56] neoblizz commented on #242
`double` already has a guard on it in `device_intrinsics.cuh`, should the https://github.com/gunrock/gunrock/blob/master/gunrock/util/device_intrinsics.cuh#L48 also be protected? @yzhwang

[2017-05-15 11:10] neoblizz commented on #240
https://github.com/gunrock/gunrock/commit/cdab20bdba782dec57da1f5a68000d9a9a63d6d4 added a little comment for this issue in `shared_lib_cc.c`.

[2017-05-15 11:10] #240 closed

[2017-05-15 11:13] neoblizz commented on #186
Regexps was fixed along with the issue https://github.com/gunrock/gunrock/issues/243, the error was because we look for expression "CORRECT" and say the test is passed, but the word "INCORRECT" has "CORRECT" in it, and that is how the regex marked the test as passed even though it clearly said "INCORRECT". I found this mildly amusing.

[2017-05-15 11:13] #186 closed

[2017-05-15 11:15] neoblizz commented on #206
@sgpyc can these default issues be closed?

[2017-05-15 11:17] neoblizz commented on #219
@jayavanth were you able to get any input on this? They now have newer drivers available, any feedback on this will be appreciated!
[code]

[2017-05-15 11:51] neoblizz commented on #173
I am assuming your questions were answered. Just create a new issue or comment on this one if you have further questions regarding the comparison.

[2017-05-15 11:51] #173 closed

[2017-05-15 12:01] neoblizz commented on #108
This has been taken care of in the new api.

[2017-05-15 12:01] #108 closed

[2017-05-15 12:02] #162 closed

[2017-05-15 12:09] #222 closed

[2017-05-19 18:33] #242 closed

[2017-05-19 18:34] #229 closed

[2017-05-24 18:05] nsakharnykh commented on #153
We're moving forward with the single-GPU runs so if you can get us multi-GPU scripts we can do that as well!

[2017-05-24 20:54] jowens commented on #153
@sgpyc possible?

Thanks @nsakharnykh.

[2017-05-24 21:05] sgpyc commented on #153
I think they are in https://github.com/gunrock/gunrock/tree/master/dataset/test-scripts/ipdps17 .
Let me know if it runs into bug(s) or anything strange.

The figure numbers are according to the IPDPS paper:
Figure 2: Performance impact of partitioners on 3 primitives x 3 datasets
Figure 3: Memory consumption using different allocation schemes on kron, soc-orkut, and uk-2002 running BFS.
Figure 4:

[2017-05-25 21:48] neoblizz commented on #219
Closing this issue due to inactivity, the above driver update should have resolved it, open the issue again if that is not the case.

[2017-05-25 21:48] #219 closed

[2017-05-26 08:42] AwesomeLemon commented on #213
I'm interested in a Windows build too.
@justinstimatze, have you managed to make it work?
Maybe @neoblizz have made some unreported progress on the issue #107?

[2017-05-26 14:27] justinstimatze commented on #213
Hi! I have not made progress past what is reported here, but I've been
meaning to make another dive into it.

On Fri, May 26, 2017 at 1:42 AM, Alexander Chebykin <
notifications@github.com> wrote:

[2017-05-27 08:15] fishflag opened #245 "Is it possible to run Gunrock on gpgpu-sim through some modification?"
In current release, gunrock runs on real GPUs with CUDA 7.5 (or higher). I wonder if it is possible to run gunrock on gpugpu-sim (support cuda 4.0) through modifying the source code. If so, can anyone tell me how to? Thanks very much.

[2017-05-27 13:36] jowens commented on #245
We have no experience with gpgpu-sim at all. You might be better off asking the gpgpu-sim community ... ?

[2017-05-27 14:19] sgpyc commented on #245
The earliest Cuda version Gunrock had supported was 6.0, as I can remember, and the lowest compute capability is 3.0. While the core ideas are independent of the Cuda version, it would be very difficult and time consuming to port the library backwards.

If you are more interested in the data accessing patterns and less focus on performance, @yzh's mini-Gunrock achieved 80+% of the performance, and

[2017-06-01 22:10] Laurawly commented on #241
Both mgpu::Reduce and cub::Sum is wrong when output variable becomes int unsigned long. Tested using a host-side reduce and the result is correct.

[2017-06-01 22:15] jowens commented on #241
Can you reproduce this using not-Gunrock (with a simple standalone test case)? This seems ... anomalous ...; I just worry we've configured it wrong as opposed to it actually gives the wrong answer.

[2017-06-01 22:18] Laurawly commented on #241
Yeah definitely, should I commit the reproduced error somewhere?

[2017-06-01 22:21] jowens commented on #241
Wow, good question. Well, the most important thing to do is to make reproducing it as simple as possible, so ideally a single source file that computes both CPU and GPU results and clearly shows the discrepancy. If it's simple enough, just put it on pastebin (or make a gist on github). If you want to put it in source control, just make a public repo under your own github id for this repro case. I

[2017-06-02 06:40] Laurawly commented on #241
It turns out that mgpu doesn't have the option of having different input and output types for reduce. And our submodule cub version is outdated. I tested the most updated version 1.6.2, and its reduce doesn't have that bug anymore. Going to update cub's submodule version and change our use of moderngpu's reduce to cub's reduce.

[2017-06-02 07:21] Laurawly commented on #241
Bug resolved by using latest version of cub for reduce and changing tc count data type to long long.

[2017-06-02 07:21] #241 closed

[2017-06-02 12:44] jowens commented on #241
super! please feed back the latest results to our NVIDIA colleagues.

[2017-06-05 18:46] neoblizz commented on #245
Let us know if you have any updates on this @fishflag!

[2017-06-05 18:46] #245 closed

[2017-06-09 18:37] jowens opened #246 "upgrade CUB to 1.7"
No more warnings on CUDA 9.

[2017-06-09 18:41] jowens opened #247 "CUDA 9 warnings"
[code]

Hopefully I didn't miss any.

[2017-06-20 00:02] neoblizz commented on #247
@jowens could you confirm: commit # ec192f21c0260e7928df7ac0209bbe0810eb3b17

[2017-06-20 00:24] jowens commented on #247
[code]

[2017-06-20 00:24] jowens commented on #247
[code]

[2017-06-20 00:49] neoblizz commented on #247
Added them!

[2017-06-20 00:49] neoblizz commented on #246
CUB upgraded to 1.7.

[2017-06-20 00:49] #246 closed

[2017-06-20 01:06] neoblizz commented on #247
I might have to add `member_mask` to the new CUDA 9 calls, but I would like to confirm if the latest commit works (it passed all tests in ctest).

[2017-06-20 03:54] jowens commented on #247
Sorry, some errors on OS X.

[code]

[2017-06-20 03:59] neoblizz commented on #247
What CUDA 9 build are you using? Is it available on linux, I can test it locally before I ask you to test it on mac.

[2017-06-20 04:06] jowens commented on #247
[code]

[2017-06-20 18:38] neoblizz commented on #247
Commit# 3507838cb9b87de605e7ef8e2badfbaf3585faac should fix the bugs. Could you please confirm for OS X?

[2017-06-20 20:05] #247 closed

[2017-06-22 12:24] neoblizz commented on #28
I believe this was resolved in commit#: 2067b1826e8c4c55ead03eabf6eb185a217e266d (reopen and reassign if needed).

[2017-06-22 12:24] #28 closed

[2017-06-22 12:36] neoblizz commented on #96
We did switch to C++11 (we now also required it: https://github.com/gunrock/gunrock/blob/b097682e711d5361a58f894b040fdd1be7652813/CMakeLists.txt#L238).

[2017-06-22 12:36] #96 closed

[2017-06-22 12:41] neoblizz commented on #100
I believe the switch happened: https://github.com/gunrock/gunrock/search?l=Cuda&q=mt19937&type=&utf8=%E2%9C%93 (If I am incorrect, reopen the thread).

[2017-06-22 12:41] #100 closed

[2017-06-22 12:52] neoblizz commented on #90
Discussed in issues: #226 (public) and https://github.com/owensgroup/gunrock-TOPC-paper/issues/19 (private). Mentioned in TOPC paper available @ https://arxiv.org/abs/1701.01170.

**Final documentation available at:** http://gunrock.github.io/gunrock/doc/latest/md_methodology.html

[2017-06-22 12:52] #90 closed

[2017-06-22 12:56] neoblizz commented on #51
I believe all requirements were met, this was taken care of by Huan! Thanks!

[2017-06-22 12:56] #51 closed

[2017-06-22 13:01] neoblizz commented on #52
I don't think we need this issue anymore, https://github.com/gunrock/io exists for this purpose. We ended up using bash for all the tests ran for TOPC, and output per engine is recorded in gunrock/io. I am closing this issue for now, but if we need to work on this I will take care of it (open and reassign if needed @jowens).

[2017-06-22 13:01] #52 closed

[2017-06-22 13:04] neoblizz commented on #84
Was this ever resolved? MST code still exists in the dev branch and I recall us having some issues with it. Also need to know if issue #83 still a bug or was resolved?

[2017-06-22 13:09] neoblizz commented on #82
This was added with 0.4 release, to compile individual primitives using CMake: http://gunrock.github.io/gunrock/doc/latest/building_gunrock.html#compilation

* **GUNROCK_BUILD_APPLICATIONS** (default: ON) - Set off to only build one of the following primitive (GUNROCK\_APP\_* must be set on to build if this option is turned off.)
  * **GUNROCK_APP_BC** (default: OFF)
  * **GUNROCK_APP_BFS** (defau

[2017-06-22 13:09] #82 closed

[2017-06-22 13:13] neoblizz commented on #149
https://github.com/gunrock/gunrock/blob/15300c335688d0e9c4c599d8cc4a489fe8c61b52/gunrock/csr.cuh#L515 We can write to a binary file format as well.

[2017-06-22 13:13] #149 closed

[2017-06-22 14:03] jowens commented on #84
Fairly sure it's resolved. I'll reopen if it's a problem.

[2017-06-22 14:03] #84 closed

[2017-06-22 14:04] jowens commented on #83
@neoblizz is this in the dev build (if I build the dev build, it'll run MST)?

[2017-06-22 14:16] neoblizz commented on #83
Yes, this is the dev build. https://github.com/gunrock/gunrock/blob/dev/CMakeLists.txt#L280

[2017-06-22 14:30] neoblizz commented on #77
https://github.com/gunrock/io/tree/master/gunrock-output

[2017-06-22 14:30] #77 closed

[2017-06-22 14:38] jowens commented on #83
MST passes on dev on OS X.

[2017-06-22 14:38] #83 closed

[2017-06-22 14:40] jowens opened #248 "no shared_lib_mf in dev branch on OS X"
[code]

[2017-06-22 14:41] neoblizz commented on #213
@justinstimatze did you get a chance to work on this? I am thinking about refactoring some of the gunrock's code to support a windows build. It doesn't seem trivial but shouldn't be extremely tough either. I might bug you on some of the things you mentioned here, but if you have any further report please let me know! Thanks! 👍

[2017-06-22 14:42] neoblizz commented on #107
Windows build worked on in #213.

[2017-06-22 14:42] #107 closed

[2017-06-22 14:43] jowens opened #249 "MF does not pass on OSX/Ubuntu 16.04 dev branch"
I think it's just not working yet, which is fine, but if it's not working then take it out of ctest until it is working please.

[code]

[2017-06-22 14:43] jowens commented on #248
(Also see https://github.com/gunrock/gunrock/issues/249, it just might not be working yet.)

[2017-06-22 14:57] neoblizz commented on #248
@agalup I will use bfs as an example. Here's an explanation for adding the shared library (+test);

1. Your bfs_app.cu file should be defined and should have a function for example `gunrock_bfs();` (see https://github.com/gunrock/gunrock/blob/dev/gunrock/app/bfs/bfs_app.cu#L393)
2. Include the decelerations in `gunrock\gunrock.h` (see https://github.com/gunrock/gunrock/blob/f011bb033669091a8c3a6c6

[2017-06-22 14:58] jowens commented on #248
@neoblizz somewhere can you put this in an internal-documentation file? Eventually we want a "So you want to write a new Gunrock primitive" doc.

[2017-06-22 15:00] neoblizz commented on #248
@jowens Will add it to the docs. Just a note, I am not sure if we absolutely need the shared libraries for every primitive, because the tests just seem to show that we can do it, but you don't have to. More importantly, we need test driver under `tests/<primitive>/test_<primitive>.cu`.

[2017-06-22 15:02] justinstimatze commented on #213
Hi @neoblizz, I'm sorry to say I haven't made the time for it. Realistically, I don't think I'll be able to until after SIGGRAPH. I agree it doesn't seem extremely tough, just a little tedious. Please feel free to bug me! I can probably act as a tester for patches, if you need one.

[2017-06-22 15:04] neoblizz commented on #213
Your notes are really helpful! Thank you so much, good luck on SIGGRAPH!

[2017-06-22 15:12] neoblizz commented on #248
Just a reminder to self: There is a need of heavy commenting in the sample/template files so they are easy to replicate, this can be taken care of with #195 .

[2017-06-22 15:24] neoblizz commented on #249
`test_mf.cu` needs to print "CORRECT" if test was successful (see https://github.com/gunrock/gunrock/blob/4ace54365ec5cd724ee1f2e8a51cdc3fbe568dc0/tests/bfs/test_bfs.cu#L592 for example)

[code]

In CMakeLists.txt it looks for the word "CORRECT":
[code]

[2017-06-22 21:23] neoblizz opened #250 "CUDA 9: CUDA error 77: an illegal memory access was encountered"
[code]

[2017-06-22 21:34] jowens commented on #250
@sgpyc can you take a look at this when you have a chance?

[2017-06-23 05:46] sgpyc commented on #250
The __shfl*() __any*() __all*() __ballot*() function signatures are in cuda c programming guide B.13 and B.14. The width parameter is the warp size, which is the same for both before cuda 8 and cuda 9. BFS passes the indochina-2004 dataset on both K40 and Titan Xp.

[code]

[2017-06-23 10:05] jowens commented on #250
@neoblizz saw an error and @sgpyc did not? Trying to understand what happened here.

[2017-06-23 11:43] neoblizz commented on #250
@jowens yes, after last commit it should work. I had the width set incorrectly for the *_sync(). I will test this and report back, thank you @sgpyc!

[2017-06-23 13:45] jowens commented on #250
Oh, OK, didn't see any commits from you.

[2017-06-24 10:48] neoblizz commented on #250
Works, finishing up testing. Will upload results in gunrock/io.

[2017-06-25 22:00] agalup commented on #248
I make some changes but this code is still not completed.

[2017-06-26 04:09] jowens commented on #248
@agalup OK. It shouldn't be in dev if it doesn't work yet. It should be either commented out in ctest, or it should be in a different branch.

[2017-06-26 18:41] LeonHeTheFirst opened #251 "Incorrect BC Results from Library"
Using the code and example graph in shared_lib_bc.c, the results for betweenness centrality do not match the results produced by other tools, which match each other.

​igraph/snap:
0,0.5
1,0.5
2,2.33
3,1.83
4,1.83
5,0.67
6,0.33

​gunrock:
0,0
1,0.25
2,0.5
3,0.75
4,0
5,0
6,0

I have included a visualization of the sample graph along with the file. You can clearly see that the scores for nodes 0, 4,

[2017-06-26 19:38] neoblizz commented on #251
@LeonHeTheFirst how did you input your `test-simplified.txt` into `shared_lib_bc.c`?

[2017-06-26 19:56] LeonHeTheFirst commented on #251
@neoblizz Sorry, I should have explained myself a bit more clearly. I created a separate program using the code from shared_lib_bc.c and tried running it with a file ingest on test-simplified.txt. When that produced an incorrect output, I switched to using hard-coded arrays just like what shared_lib_bc.c has. That still produced the same erroneous results I gave above.

[2017-06-26 20:54] neoblizz commented on #251
@LeonHeTheFirst could you please share your edits with us? Because the results you posted for gunrock's `shared_lib_bc.c` are for the default graph:

[code]

[2017-06-26 21:07] LeonHeTheFirst commented on #251
@neoblizz That was the graph I used. The edits I was referring to were for something else and didn't influence the results even after I took them out. The issue is that the betweenness centrality values gunrock gives for that default graph are entirely different from other tools and from my hand calculations.

[2017-06-26 21:23] neoblizz commented on #250
@sgpyc this issue persists on SSSP if I use `LB_CULL`:
[code]
When I switched to TWC:
[code]

[2017-06-26 21:26] neoblizz commented on #250
[code]

[2017-06-27 17:29] neoblizz opened #252 "Runtime Error: LB_CULL in PageRank"
As discussed in https://github.com/gunrock/io/issues/35, LB_CULL traversal strategy with PageRank is invalid.

[2017-06-27 18:08] sgpyc commented on #250
For SSSP, when running ` cuda-memcheck ./bin/test_sssp_9.0_x86_64 market /data/gunrock_dataset/large/ak2010/ak2010.mtx --src=0 --undirected --iteration-num=1 --device=1 --traversal-mode=LB_CULL --v --queue-sizing=10`, the bug was reported to be at `gunrock/oprtr/edge_map_partitioned_cull/kernel.cuh:611`; but when using `-G` to get more accurate results, the error is gone. The error may show up at

[2017-06-27 18:22] jowens commented on #250
@sgpyc To be clear, is this a CUDA 9 error or an error that persists from CUDA 8?

[2017-06-27 18:24] sgpyc commented on #250
The error only shows up when compiled by CUDA 9. Things work as expected under CUDA 8.

[2017-06-27 18:29] jowens commented on #250
Oh, OK. NVIDIA is absolutely going to want to know about this. To be clear, on CUDA 8, the following command line works, and on CUDA 9, it does not?

`./bin/test_sssp_9.0_x86_64 market /data/gunrock_dataset/large/ak2010/ak2010.mtx --src=0 --undirected --iteration-num=1 --device=1 --traversal-mode=LB_CULL --v --queue-sizing=10`

[2017-06-27 18:34] sgpyc commented on #250
Yes, `test_sssp_8.0_x86_64` (SSSP compiled by CUDA 8) works with parameters `market /data/gunrock_dataset/large/ak2010/ak2010.mtx --src=0 --undirected --iteration-num=1 --device=1 --traversal-mode=LB_CULL --v --queue-sizing=10`, but `test_sssp_9.0_x86_64` (SSSP compiled by CUDA 9) doesn't.

[2017-06-27 18:36] neoblizz commented on #250
Should I run CUDA 8 SSSP with LB as well just to make the comparison fair?

[2017-06-27 18:39] jowens commented on #250
No, I think we'd rather keep around our best results. If it's broken, it's broken, and we hope NVIDIA will take a look at why it might be broken.

[2017-06-27 18:41] neoblizz commented on #250
Ok, understood.

[2017-06-28 02:56] neoblizz commented on #248
@agalup yeah, the changes were fine you are missing just one component now: Your test_mf.cu needs to print `CORRECT` if the result is correct and `INCORRECT` if it fails. So, basically, your reference code needs to be there or a way of checking algorithm's correctness. Refer to:

https://github.com/gunrock/gunrock/blob/4ace54365ec5cd724ee1f2e8a51cdc3fbe568dc0/tests/pr/test_pr.cu#L169

Prints corre

[2017-06-29 00:30] agalup commented on #249
@jowens @neoblizz I temporary commented this tests.

[2017-06-29 01:51] neoblizz commented on #251
@LeonHeTheFirst so, I investigated it. It is not that gunrock's bc produces incorrect result, it is actually just a partial bc run with sources set only to node=0: https://github.com/gunrock/gunrock/blob/master/gunrock/gunrock.h#L135 as you can see here if you pass in `NULL` in the 2nd parameter of `InitSetup(1, NULL)` it will only run partial bc.

To run the full bc, send `-1` as the 2nd paramete

[2017-06-29 02:07] jowens commented on #251
Thanks @neoblizz, good sleuthin'!

@sgpyc perhaps in the API redesign we can have a more intuitive API here than passing in -1?

[2017-06-29 15:33] alexperrone opened #253 "Enumerate triangles"
Enumerate triangles as list of vertices.

Note: the current roadmap mentions triangle counting but not enumerating the actual triangles.

https://github.com/gunrock/gunrock/blob/master/doc/road_map.md

[2017-06-29 15:48] alexperrone opened #254 "Sparse-matrix by sparse-matrix multiplication"
Couldn't find a function or example of sparse-matrix * sparse-matrix multiplication in gunrock or external dependencies (moderngpu and cub). Does an example exist for gunrock? Closest I could find in the codebase was sparse-matrix * vector.

There are two applications for this, the second one being a more specialized function: (1) relational algebra on the adjacency matrix to compute various proje

[2017-06-29 15:54] jowens commented on #254
You'll find this paper interesting: http://escholarship.org/uc/item/9hf0m6w3. We have at least the spirit of the functions you cite in this work, though that doesn't mean we have them all in the Gunrock core. In general one of our pieces of future work is to allow matrix operations and Gunrock operations to be integrated into the same dataflow (right now it's pretty much all Gunrock operations).

[2017-06-29 18:07] #206 closed

[2017-06-29 18:07] #207 closed

[2017-06-29 18:07] #208 closed

[2017-06-29 18:09] neoblizz commented on #2
This is a really old issue, I believe it has been resolved. If not, re-open and re-assign please.

[2017-06-29 18:09] #2 closed

[2017-06-29 18:12] neoblizz commented on #15
https://github.com/gunrock/gunrock/issues/243#issuecomment-301270446 It validates fine now.

[2017-06-29 18:12] #15 closed

[2017-06-29 18:13] neoblizz commented on #85
We need to documents this and some other things for gunrock developers.

[2017-06-29 18:16] neoblizz commented on #153
All scripts under https://github.com/gunrock/gunrock/tree/master/dataset/test-scripts

[2017-06-29 18:16] #153 closed

[2017-06-29 18:18] neoblizz commented on #191
https://github.com/gunrock/gunrock/issues/243#issuecomment-301270446 please report back if you still encounter errors, I will reopen the issue.

[2017-06-29 18:18] #191 closed

[2017-06-29 18:55] alexperrone commented on #254
That's funny. Re: speedups on triangles using matrix multiplication, we've tested avoiding multiplication altogether. Since the (unweighted) adjacency matrix is binary, @LeonHeTheFirst  realized for each entry in a dot-product of a row and column in A, we can perform a logical check if corresponding entries are non-zero, and if so, increment by 1 (i.e. no multiplication). That led to a speedup of

[2017-06-29 19:48] jowens commented on #254
For Gunrock, we currently just input CSR as our input format, so we'd need special handling to deal with a bit binary array/matrix. But it would make sense! The EmptyHeaded work and I believe Enterprise both used bit arrays.

[2017-06-29 21:18] Laurawly commented on #254
If I remember correctly, @ctcyang used csrgemm from CUSPARSE lib to implement our matrix-multiplication-based TC instead of his own optimized matrix multiplication (plz refer to the implementation section of the first paper John cited.) Also in the experiment section, we also mentioned that the profiler tells us that SpGEMM from cusparse is the bottleneck of our implementation since it's doing unn

[2017-06-30 06:49] SkBlaz opened #255 "Integration with sparse matrix from scipy"
Hello. I don't know if this is exactly issue material, but still. I'm trying to run your python examples (i.e., https://github.com/gunrock/gunrock/blob/master/python/pagerank.py). I see the input for this is standard sparse matrix CSR, if I understand the CSR correctly, there are three output arrays, yet you only take first two and manually asign the pointers for rows and columns individually. If

[2017-06-30 06:52] jowens commented on #255
We haven't touched python code for quite some time. @yzhwang any guidance here?

[2017-06-30 14:25] neoblizz commented on #255
@SkBlaz, I can answer your question. So, as you said there are three segments of a CSR format:
- Column indices: https://github.com/gunrock/gunrock/blob/master/python/toy_graph/col.txt
- Row offsets: https://github.com/gunrock/gunrock/blob/master/python/toy_graph/row.txt
- Data: https://github.com/gunrock/gunrock/blob/master/python/toy_graph/val.txt

Notice, the algorithm doesn't need the data to

[2017-06-30 15:09] SkBlaz commented on #255
Great, I figured it out meanwhile, it is nice to see we came to the same
conclusion. I didn't quite understand the pointer, so thank you for
additional clarification!

On Jun 30, 2017 16:25, "Muhammad Osama" <notifications@github.com> wrote:

[2017-06-30 15:12] neoblizz commented on #255
Awesome, let us know if you have any issues using gunrock!

[2017-06-30 15:12] #255 closed

[2017-06-30 17:18] LeonHeTheFirst commented on #251
@neoblizz Thanks for the help! It worked for me.

[2017-06-30 17:20] #251 closed

[2017-06-30 19:02] LeonHeTheFirst opened #256 "Betweenness Centrality Performance"
gunrock_bc() runs multiple orders of magnitude slower than CPU implementations.

    struct GRTypes data_t;                 // data type structure
    data_t.VTXID_TYPE = VTXID_INT;         // vertex identifier
    data_t.SIZET_TYPE = SIZET_INT;         // graph size type
    data_t.VALUE_TYPE = VALUE_FLOAT;       // attributes type

    int test[1] = {-1};
    struct GRSetup *config = InitSetup(1

[2017-06-30 19:07] jowens commented on #256
That is such a small graph, it's unlikely to run well on any GPU implementation. It's not nearly large enough to fill up the machine with work.

[2017-07-01 14:54] neoblizz commented on #256
@LeonHeTheFirst could you share your results (timing for cpu and gpu)?

[code]

What @jowens said is true, you don't have the right workload to fill up the GPU resources, but @yzhwang also mentioned an optimization we could do to make it significantly faster, by launching multiple partial executions at once in parallel and accumulating the result at the end. I think it is slower because you have s

[2017-07-07 13:11] LeonHeTheFirst commented on #256
Sorry about the late response. I'm not sure how to do timing for GPU, but the total execution took 10 seconds on my machine with an i7-3635QM and GT750M.

[2017-07-10 20:49] alexperrone commented on #256
@neoblizz is that run for your timing of "total time: 148.9849 ms" for 1 iteration, or does it do a complete run? That is, in reference to Issue #251 , is it equivalent of passing -1 or NULL? It took ~200 ms on my machine to run `./bin/bc` using your command. A CPU implementation using `igraph` takes around 2.3 seconds for a complete run, whereas using the configuration included by @LeonHeTheFirst

[2017-07-12 22:40] jowens opened #257 "abstract data structure accesses"
As we've previously discussed, I want to understand the data structure accesses we do on graph data structures in Gunrock's internals. We can start by writing them down here. (One of my summer projects is to better understand Gunrock's internals.) As I find the emails/notes you guys have written down before, I'll add them to this issue.

[2017-07-12 23:00] jowens commented on #257
@sgpyc 2 April 2017:

@sgpyc 3 April 2017:

@jowens 3 April 2017:

@sgpyc 3 April 2017:

@yzhwang 1 May 2017:

[2017-07-19 21:44] neoblizz commented on #256
It is for one iteration. @yzhwang can explain why we do 1 iteration instead of the full run. But the earlier statement still holds that the graph doesn't seem big enough to utilize a GPU's potential.

[2017-07-20 00:49] jowens commented on #256
Pretty sure that the standard way BC is evaluated in the GPU world is one iteration (e.g., previous projects do the same thing), so we did this for comparison purposes. I think this is because doing a full BC run on a graph of significant size takes a really long time.

I think it's fair to say that for a large graph, you'd run Gunrock's BC from each vertex in sequence (@yzhwang, yes?) and each of

[2017-07-20 01:09] yzhwang commented on #256
Correct. When setting the source node to be -1, we will do the full run. Again, on the GPU only when the data size reaches a certain level can we get a large performance win. Basically these small tests are sanity tests to make sure that our code works as expected but not for performance benchmark purpose.

[2017-08-04 23:42] robinyancey opened #258 "CSR representation for directed graphs"
The CSR as described in the paper _To Push or To Pull: On Reducing Communication and Synchronization in Graph Computations_ says that (the normal way is that) "A CSR representation stores each row of A contiguously. The ith row of A contains all vertices with an edge to vertex i" while "A CSC representation stores each column of A contiguously. The ith row of A contains all vertices with an edge f

[2017-08-05 00:13] jowens commented on #258
@yzhwang @sgpyc our CSR is outbound, right? a row contains all outbound edges for a particular vertex?

@dumerrill yours too, yeah?

[2017-08-05 17:07] sgpyc commented on #258
For DOBFS, the CSR contains outgoing edges, and the inverse CSR is actually the CSC, containing incoming edges. It should be safe to say "row = source vertex, column = destination vertex", but @yzhwang can point out if any special case exists.

[2017-08-05 20:44] robinyancey commented on #258
Perfect. Thank you. Exactly what I wanted to confirm.

[2017-08-06 18:02] yzhwang commented on #258
I believe both Gunrock and Merrill's b40c record outgoing edges in CSR format. It is difficult to say which is the normal way though (to record outgoing edges, or the incoming edges). At least all the high performance graph libraries I'm aware of seem to store outgoing edges in CSR for directed graphs.
 @ctcyang can comment more on how CSR and CSC are interpreted in the world of GraphBLAS.

[2017-08-07 11:23] zhz44 opened #259 "Compilation issue"
Hi,

I am trying to compile Gunrock on Fedora 23 with CUDA 7.5, the gcc version is 5.3.1, I am using the newest version of Gunrock, however, the cmake .. does not report any issue. However, when I am running make, I got the following error:

make
[  1%] Building NVCC (Device) object gunrock/CMakeFiles/gunrock.dir/__/externals/moderngpu/src/gunrock_generated_mgpucontext.cu.o
/usr/lib/gcc/x86_64-red

[2017-08-07 11:29] zhz44 commented on #259
Hi,

No worries, I think I know whats happened, the problem is that the GCC 5 does not work with CUDA 7.5.

[2017-08-07 11:34] jowens commented on #259
Yup, that's right.

http://developer.download.nvidia.com/compute/cuda/7.5/Prod/docs/sidebar/CUDA_Installation_Guide_Linux.pdf

[2017-08-07 11:34] #259 closed

[2017-08-08 17:49] ctcyang commented on #258
That matches my understanding too. I can see reasons why Scott Beamer used CSC to store outgoing edges. It's because in matrix multiplication notation with x being the input frontier vector, A adjacency matrix and y being the output frontier vector, y = x * A (eqn 1) represents a single graph traversal. If you want the frontier vector to come after the matrix, then you would need y = A^T * x (eqn

[2017-08-28 22:57] neoblizz commented on #250
@sgpyc I totally forgot to report this back here because I was busy with the internship stuff, but the fix was provided by Pramod Ramarao at NVIDIA:

[code]

[2017-08-28 22:58] neoblizz commented on #250
I know the fix works @sgpyc, I tested it, I just want to know why we made that decision of `VertexId                    vertices     [1];//SCRATCH_ELEMENTS];`

[2017-09-06 02:10] septicmk opened #260 "[CC] Segmentation fault on roadnet-CA"
I tried to run cc on [roadNet-CA](https://snap.stanford.edu/data/roadNet-CA.html) with
[code]

here is the output.(Segmentation fault)
[code]
but this graph is ok for BFS,PR,BC,SSSP.

[2017-09-06 16:34] jowens commented on #260
Did a clean build on our "mario" machine. CUDA 9, gcc 5.4. It passes. What versions are you running?

[code]

[2017-09-07 02:05] septicmk commented on #260
The gunrock version is `312c14f31516a4b7d9bd6d2b0fb6029de6d5797c`, Cuda 7.5, GCC 4.9.2. Both K40 and K20 failed.

[2017-09-11 15:43] jowens commented on #258
Maciej Besta: "Actually, the last comment seems to have summarized properly the
matter (whether one uses A or A^T). Edgar thinks similarly." Presumably referring to the nice summary by @ctcyang, thanks Carl and Maciej.

[2017-09-11 15:43] #258 closed

[2017-09-11 18:04] neoblizz commented on #260
@septicmk could you do a fresh `git clone --recursive https://github.com/gunrock/gunrock.git` and report the `cmake` output as well? Just want to see if it is the environment you are working in or gunrock itself.

[2017-09-13 10:02] septicmk commented on #260
Did a clean build on our K40 machine with the lastest version of gunrock.
cmake output:
[code]
and the CC also failed on roadNet-CA and the [soc-LiveJournal1](https://snap.stanford.edu/data/soc-LiveJournal1.html).

[2017-09-13 11:46] jowens commented on #260
Not seeing where things went wrong here ...

[2017-09-13 11:52] septicmk commented on #260
Passed com-orkut, hollywood-2009, indochina-2004, and msdoor.
Failed on roadNet-CA, roadNet-TX, soc-LiveJournal1, and wiki-talk. (All Segmentation Fault )

It is so weird ...

[2017-09-13 14:31] neoblizz commented on #260
@septicmk I think the downloaded dataset from SNAP are not in proper mtx format. I just downloaded it directly from that site and (for example roadNet-CA) and it is missing the following line:
`1971281 1971281 2766607` which is total number of `nodes nodes edges`.

[code]
SNAP has graphs as edgelists, gunrock uses matrix market format. You can download roadNet-CA by running `make` in `path/to/gunr

[2017-09-13 14:39] neoblizz commented on #260
The only other thing I see is you are missing metis, but that is optional and it shouldn't cause this bug.

[2017-09-14 02:13] septicmk commented on #260
I did notice that the dataset from SNAP are not in `.mtx` format. I wrote a script to add the missing header line like this:
[code]
I also generated random weight(0~999) for each edge for SSSP benchmark, but I believe it shouldn't cause the Segmentation Fault.

You can see the output in my first post, I think that gunrock could recognize the dataset.

      Parsing MARKET COO format (1971281 nodes

[2017-09-14 02:22] jowens commented on #260
Please use the `make` script that @neoblizz referenced just so we can all be sure we're using the same dataset with testing. If it's the dataset, we'll figure out why it doesn't work. If it's our code, well, we'll concentrate on that.

[2017-09-14 03:01] septicmk commented on #260
Hey, I know what is the problem. try this graph：
[code]
Segmentation fault.

however:
[code]
will pass.

[2017-09-14 12:57] neoblizz commented on #260
@septicmk yeah, I believe your script to convert edge list to mtx is causing this. I will recommend you look at `path/to/gunrock/dataset/large` for the datasets we have available in mtx format. And you can just run make in the folder for the dataset that you would want to try out. We have tested most of the datasets that you mentioned and they should be available in the datasets directory. I am cl

[2017-09-14 12:57] #260 closed

[2017-09-14 13:04] jowens commented on #260
That being said, we shouldn't be segfaulting in our code. I'd like to know why.

[2017-09-14 13:18] neoblizz commented on #260
@jowens one thing I can clearly see in what @septicmk generated initially is that it starts at 0, and mtx format specs requires to be started at 1: http://math.nist.gov/MatrixMarket/formats.html

[code]

[2017-09-14 13:39] jowens commented on #260
I'm not saying it's a legit graph. I'm saying that even with a totally messed up graph, we shouldn't be segfaulting, but instead should exit gracefully with a sensible error message ("you have a totally messed up graph").

[2017-09-14 14:02] neoblizz commented on #260
@jowens oh, fair enough. I can file an issue for that so we can add that in.

[2017-09-14 14:03] neoblizz opened #261 "Load Graph Error: Invalid Graph (MTX Required)"
Discussed in Issue #260, if an invalid graph exit with a proper error message instead of segfaults.

[2017-09-16 02:04] IslandGod opened #262 "A compilation error in make gunrock"
Hello!
Firstly, I ran:
[code]
And the cmake info is below:
[code]
It seems that these above commands  ran correctly.
Then , I met a compilation error when I ran `make` to build gunrock, which is list below:
[code]
Could you please help me, or point me in some direction? Any info will help, thank you!

[2017-09-16 02:12] neoblizz commented on #262
@IslandGod could you report back the output of `nvidia-smi` and `nvcc --version`?

[2017-09-16 02:14] neoblizz commented on #262
Adding to that, your output of cmake seems incomplete, could you empty the `build` and run `cmake ..` again and report the output back? It should show gcc and g++ versions in the output as well if it is not using the cached cmake files.

[2017-09-16 02:19] IslandGod commented on #262
Ok, the output of `nvidia-smi` and `nvcc --version `are below:
[code]
[code]
And I  empty the build and run `cmake .. ` again, the output is below:
[code]
But the error is still the same when I ran `make`.

[2017-09-16 02:24] neoblizz commented on #262
@IslandGod one last thing, could you run a sample under `/usr/local/cuda` and see if the cuda installation is fine? One thing that I noticed is that your driver version is pretty old. I am not sure if that is causing it, but it is worth updating the drivers.

[code]

[2017-09-16 02:36] IslandGod commented on #262
Thank you, I have ran some CUDA 8.0 samples without error.  The CUDA seems be installed correctly. I will try to update driver. But before that,  I am not sure the GTX 1080 is supported to run gunrock or not. Maybe, I should try to build it on K40. Could you tell me how could I change the GPU index to run gunrock?

[2017-09-16 02:41] neoblizz commented on #262
@IslandGod it is definitely supported to run on gunrock! We have tested kepler and pascal (GTX 1080) with our code. We use SMs to change the build for different GPUs and by default K40 and GTX 1080 are turned on. You could try switching SM61 to off: https://github.com/gunrock/gunrock/blob/master/CMakeLists.txt#L188

The reason why I think it is a cuda or cuda driver error is because of this:  `int

[2017-09-16 02:42] neoblizz commented on #262
@IslandGod you could also try installing and switching to `gcc-5` and `g++-5` using the following instructions: https://askubuntu.com/questions/26498/choose-gcc-and-g-version

[2017-09-16 02:47] sgpyc commented on #262
@IslandGod is it possible to downgrade your boost lib? I have encountered compilation problems using some newer version of boost with nvcc. I think 1.58 and 1.59 should be safe

[2017-09-16 02:48] neoblizz commented on #262
Good point! Boost installation is available at `gunrock/dep/`.

[2017-09-16 08:05] IslandGod commented on #262
After I changed boost version to 1.58, it ran make without error.
Thank you very much！

[2017-09-16 14:05] #262 closed

[2017-09-16 14:21] jowens commented on #262
@neoblizz sigh, we should probably put something in the cmake file to restrict Boost to working versions (or fix it for newer versions).

[2017-09-16 15:05] neoblizz commented on #262
@jowens this is a bug in CUDA 8.0, do you think we should still report it? https://github.com/ComputationalRadiationPhysics/picongpu/issues/2048 It was resolved in CUDA 9, so I am gonna attempt to compile gunrock + Boost 1.64 + CUDA 9.

[2017-09-16 15:40] neoblizz commented on #262
Build succeeds on CUDA 9 with Boost 1.64.

[2017-09-17 17:02] jowens commented on #262
👍

[2017-09-26 02:58] robinyancey opened #263 "Pagerank Associate Values"
It seems as if the VERTEX_ASSOCIATES and VALUE__ASSOCIATES in Gunrock algorithms are used to hold data associated with vertices (such as the current, original, or new rank for Pagerank or whether the neighbor has a parent for BFS).  Why does MAX_NUM_VERTEX_ASSOCIATES = 0 in the PR problem base when in Expand_Incoming_PR we increment the offset of the s_value_associate_org and s_value_associate_in

[2017-09-26 03:18] sgpyc commented on #263
NUM_VERTEX_ASSOCIATES = 0 for PR (https://github.com/gunrock/gunrock/blob/master/gunrock/app/pr/pr_enactor.cuh#L1109, the first number here), and NUM_VALUE__ASSOCIATES = 1 (as the second number). In Expand_Incoming_PR_Kernel (https://github.com/gunrock/gunrock/blob/master/gunrock/app/pr/pr_enactor.cuh#L147), NUM_VALUE__ASSOCIATES and NUM_VERTEX_ASSOCIATES are not used, and it's assumed only one va

[2017-09-26 03:38] robinyancey opened #264 "Breadth First Search Inverse_Expand Function"
Where and how is the inverse matrix (and inverse_row_offsets and inverse_column_indices) implemented in the BFS algorithm?

[2017-09-26 03:52] sgpyc commented on #264
It's the inverse of CSR, i.e. the CSC format of the same matrix.
Are you asking the data structure definition or how the content is prepared?

[2017-09-27 23:37] ctcyang commented on #123
I talked to some computer vision researchers in NVResearch. It seems a popular way to do image segmentation uses MST application as a primitive, who would find it useful if this primitive were fixed.

Latest update on MST. It seems there are two bugs:
1) regression bug that causes MST to break on fairly small datasets like delaunay_10 that happened between Aug 7 2015 and Feb 12, 2016.

- I checked

[2017-09-28 02:38] robinyancey commented on #264
I was wondering where the graph is prepared since I thought both the CSR and CSC are used in the direction optimized BFS.

[2017-09-28 02:39] robinyancey commented on #263
That answers my question. Thank you!

[2017-09-28 02:39] #263 closed

[2017-10-06 22:30] YuxinxinChen opened #265 "For loop here might be an error"
https://github.com/gunrock/gunrock/blob/dc9cadbb795a392bc0d33fd0766538c7fc4740da/gunrock/app/partitioner_base.cuh#L295

There is no begin and end curly braces for this for loop. If it is an empty loop, the next line of code: if command will have an out of bound error, and this makes the intention of this block of code ambiguous.

[2017-10-06 22:37] YuxinxinChen opened #266 "tpartition never used, weird, how the randomness used in RandomPartition class"
https://github.com/gunrock/gunrock/blob/dc9cadbb795a392bc0d33fd0766538c7fc4740da/gunrock/app/rp/rp_partitioner.cuh#L193

tpartition_table is not used in MakeSubGraph() call after initialization, so how the randomness is introduced into the partition?

[2017-10-07 00:32] YuxinxinChen commented on #266
it partition_table[0]

[2017-10-07 00:32] #266 closed

[2017-10-07 00:32] YuxinxinChen commented on #265
my badness. It is right

[2017-10-07 00:32] #265 closed

[2017-10-07 04:15] #256 closed

[2017-10-07 04:15] neoblizz commented on #256
If you have further questions, reopen this issue and let us know. :)

[2017-10-07 04:25] neoblizz commented on #85
New method suggested, let's move the discussion there: https://github.com/gunrock/gunrock/pull/267

[2017-10-07 04:25] #85 closed

[2017-10-07 04:38] neoblizz opened #268 "Implement a sample unit test using googletest."
Reference: https://github.com/google/googletest

[2017-10-07 17:01] neoblizz commented on #70
Multiple instances of this same issue are opened, see #142. And this is currently in progress by @sgpyc. Open this if you think we really need multiple of these.

[2017-10-07 17:01] #70 closed

[2017-10-07 18:04] neoblizz commented on #44
I am unable to recreate this bug, I believe it was fixed. Following are my tests:

PageRank on rgg:
[code]

[2017-10-07 18:06] neoblizz commented on #44
[code]

[2017-10-07 18:06] neoblizz commented on #44
[code]

[2017-10-07 18:08] neoblizz commented on #44
[code]

[2017-10-07 18:08] neoblizz commented on #44
Closing this issue for now, I see no problem with `--iteration-num=<num>`.

[2017-10-07 18:08] #44 closed

[2017-10-11 22:35] neoblizz opened #269 "Branch Cleanup: mpi-dev"
Branch Owner: @neoblizz
Please let me know if the branch can be deleted, you can transfer the branch over to your personal fork using the following steps:

[code]

After doing so, check https://github.com/username/gunrock to see if the branch now exists there, and if the latest commits match your branch in gunrock/gunrock. Questions? Ask me here, when the branch is transferred, I will get rid of i

[2017-10-11 22:36] neoblizz commented on #269
This is a sample! But yeah, done transferring `mpi-dev` to https://github.com/neoblizz/gunrock/tree/mpi-dev.

[2017-10-11 22:36] #269 closed

[2017-10-11 22:43] neoblizz opened #270 "Branch Cleanup: jowens-osx-random-omp"
Branch Owner: @jowens
Please let me know if the branch can be deleted, you can transfer the branch over to your personal fork using the following steps:

[code]

After doing so, check https://github.com/jowens/gunrock to see if the branch now exists there, and if the latest commits match your branch in gunrock/gunrock. Questions? Ask me here, when the branch is transferred, I will get rid of it in

[2017-10-11 22:53] neoblizz opened #271 "Branch Cleanup: mgpu-dev, dev_io, mgpu-cq"
Branch Owner: @sgpyc
Please let me know if the branch can be deleted, you can transfer the branch over to your personal fork using the following steps:

[code]

After doing so, check https://github.com/sgpyc/gunrock to see if the branch now exists there, and if the latest commits match your branch in gunrock/gunrock. Questions? Ask me here, when the branch is transferred, I will get rid of it in g

[2017-10-11 22:57] jowens commented on #270
I think I committed this branch long ago, right? Anyway, yes, delete it. I don't think we need it any more at all. (It was a branch to support OS X, which required figuring out how to use macports's OpenMP and clang's `<random>`.)

[2017-10-11 22:59] neoblizz opened #272 "Branch Cleanup: dev-sm"
Branch Owner: @Laurawly
Please let me know if the branch can be deleted, you can transfer the branch over to your personal fork using the following steps:

[code]

After doing so, check https://github.com/laurawly/gunrock to see if the branch now exists there, and if the latest commits match your branch in gunrock/gunrock. Questions? Ask me here, when the branch is transferred, I will get rid of i

[2017-10-11 23:00] neoblizz commented on #270
Yeah, the last commit is 2 years old. Got it! Deleting.

[2017-10-11 23:00] #270 closed

[2017-10-11 23:02] Laurawly commented on #272
I think this version has YZH's TC fixed. I'll try to move it after the IPDPS deadline.

[2017-10-11 23:05] neoblizz commented on #272
Thank you! 👍

[2017-10-27 09:47] Akodiat opened #275 "Issues with the python samples"
Hi, first of all, the python files seem to have an outdated lib file path:
`~/repo/gunrock/python$ python pagerank.py`
[code]

The path seem to have been updated in the commit https://github.com/gunrock/gunrock/commit/93e7bb976a658e6e1683ace1d232cbe2a3dfbd2b, but I need to change the path from:
[code]
to:
[code]
...in order to get them to run.

After the change, the samples seem to work fine, **ex

[2017-10-27 10:08] Akodiat commented on #275
...actually breath_first_search.py doesn't work either (with correct lib path), but at least it is providing CUDA errors:

`~/repo/gunrock/python$ python breath_first_search.py`
[code]
Right now I'm using CUDA 9.0, perhaps I should try older versions?

[2017-10-27 14:43] neoblizz commented on #275
@Akodiat our library interface for both bfs and sssp were changed a while ago, and the python scripts do not reflect the updated call to the functions. This was fixed in the `dev` branch from where you can copy the fixed files: https://github.com/gunrock/gunrock/tree/dev/python

Let me know if these work.

[2017-10-27 15:25] neoblizz opened #276 "Branch Cleanup: single-gpu, dev-intersection-op"
Branch Owner: @yzhwang
Please let me know if the branch can be deleted, you can transfer the branch over to your personal fork using the following steps:

[code]

After doing so, check https://github.com/yzhwang/gunrock to see if the branch now exists there, and if the latest commits match your branch in gunrock/gunrock. Questions? Ask me here, when the branch is transferred, I will get rid of it

[2017-10-27 16:02] neoblizz commented on #275
@Akodiat fixes are now live in the master branch as well, you don't have to switch, just do `git pull`.

[2017-10-27 16:02] #275 closed

[2017-10-28 21:01] neoblizz opened #277 "Gunrock's Code Coverage"
Will be recording my findings in this issue, feel free to provide any input.

https://testing.googleblog.com/2014/07/measuring-coverage-at-google.html
https://gcc.gnu.org/onlinedocs/gcc/Gcov.html (open source)
https://codecov.io/

[2017-10-30 10:13] Akodiat commented on #275
Thanks so much for your help! Now it works perfectly ☺️

[2017-11-01 22:12] neoblizz commented on #271
Some other branches that are also yours @sgpyc: dev_io, mgpu-cq

[2017-11-02 04:47] neoblizz commented on #277
Jenkin's Comment Test.

[2017-11-02 06:50] Laurawly commented on #272
@neoblizz Please feel free to remove this branch. I've had everything in dev now. Thanks!

[2017-11-02 14:09] #272 closed

[2017-11-02 14:11] neoblizz commented on #276
Branch `dev-intersection-op` seems really old too and is 62 commits behind.

[2017-11-02 14:13] neoblizz commented on #268
See pull request #273.

[2017-11-02 14:13] #268 closed

[2017-11-02 21:05] GunrockJenkins commented on #277
Jenkins Test Comment.

[2017-11-02 23:13] neoblizz commented on #277
Login at https://codecov.io/ to view gunrock's current code coverage. I am trying to set this up with Jenkins now. [![codecov](https://codecov.io/gh/gunrock/gunrock/branch/master/graph/badge.svg)](https://codecov.io/gh/gunrock/gunrock)

[2017-11-03 00:09] sgpyc commented on #271
I think the "fork" button forks every branches to my personal repo, and now I have all the branches

[2017-11-03 00:20] neoblizz commented on #271
Perfect! Can I go ahead and delete the dev_io, mgpu-cq and mgpu-dev? @sgpyc

[2017-11-03 00:41] #271 closed

[2017-11-03 11:34] mahmoodn opened #281 "Boost custom path"
I want to give a custom path for my Boost to the cmake. Where exactly should I add that path? It seems that FindBoost.cmake only searches for apt-get installed packages.

[2017-11-03 14:48] neoblizz commented on #281
[code]
Reference: https://stackoverflow.com/questions/3016448/how-can-i-get-cmake-to-find-my-alternative-boost-installation

You can also append `_boost_INCLUDE_SEARCH_DIRS` with your path @ https://github.com/gunrock/gunrock/blob/master/cmake/FindBoostHeaders.cmake#L236

[2017-11-03 16:10] mahmoodn opened #282 "make check failed"
I have exactly the same problem describe [here](https://github.com/gunrock/gunrock/issues/236). However, I didn't understand how the error has been resolved!
The system specs are
    **ubuntu 16.04
    gcc 4.8
    cmake 3.5.1
    CUDA 7.5
    nvidia-384-dev (installed via apt-get)**

Using `ctest -V`, I get

**test 7
      Start  7: SHARED_LIB_TEST_BFS

7: Test command: /home/mahmood/gunrock/build

[2017-11-03 16:20] jowens commented on #282
Can you build and run non-Gunrock GPU programs? Say, from the CUDA distribution, the sample apps? It looks like you have a problem with your CUDA setup / how it's talking to the GPU.

[2017-11-03 17:31] mahmoodn commented on #282
Well actually there is no physical GPU on the system!
I am planning to run gunrock on a GPU simulator. So, what should I actually do is to feed the run command to the simulator.
From your reply, I think the job has been finished here. I have successfully built gunrock and I can see the binaries (bc, bfs, cc, ...) in the bin folder.
I didn't see how to run a dataset in the documents. It has been st

[2017-11-03 17:35] jowens commented on #282
Here's a full Gunrock command line for BFS on the "hollywood-2009" dataset:

https://github.com/gunrock/io/blob/master/gunrock-output/topc/BFS_hollywood-2009_Thu%20Nov%2017%20114443%202016.json

`bfs market /data/Compare/topc-datasets/hollywood-2009.mtx --src=0 --undirected --idempotence --queue-sizing=6.5 --in-sizing=4 --iteration-num=10 --direction-optimized --device=0 --traversal-mode=LB_CULL -

[2017-11-03 17:37] neoblizz commented on #281
Since you were able to build gunrock, I am assuming this issue is solved. Closing it, please reopen/comment if you need further help with boost stuff.

[2017-11-03 17:37] #281 closed

[2017-11-03 17:38] neoblizz commented on #282
Adding to that there are some small datasets in `/path/to/gunrock/dataset/small` and if you would like to build the larger ones you can run `make` in `/dataset/large`.

[2017-11-03 17:39] jowens commented on #282
Here's a full run with the command line above (on our 'mario' system):

[code]

[2017-11-03 17:47] mahmoodn commented on #282
Many thanks for the quick replies.
I have noticed that there is also a [hollywood-2011](http://law.di.unimi.it/webdata/hollywood-2011/) dataset with larger nodes. This is just a suggestion...

May I know which part of the code starts the GPU section?

[2017-11-03 17:55] jowens commented on #282
Oh, we run all sorts of datasets. There are bigger ones there too. I just picked that one randomly.

@sgpyc probably can instantly tell you what the entry point is. I can't.

[2017-11-03 18:23] yzhwang commented on #276
Sorry for the delay. I've transferred both branches to my fork.
This branch is even with gunrock:single-gpu.
This branch is even with gunrock:dev-intersection-op.
You can get rid of both now.
single-gpu is not useful now. I think for dev-intersection-op, @Laurawly has put all the features into her branch or master. She is also doing more dev, so this one is safe to remove.
Thanks for the work Muha

[2017-11-03 18:25] neoblizz commented on #276
Thank you! Removing now. 👍

[2017-11-03 18:25] #276 closed

[2017-11-03 18:29] ctcyang commented on #282
Our BFS runs two kernels: an advance and a filter. For advance, we give the user a choice of 8 kernels that provide different load-balancing characteristics and the option of direction-optimized traversal (postfixed `_BACKWARD`). The first advance strategy `TWC_FORWARD` is [here](https://github.com/gunrock/gunrock/blob/master/gunrock/oprtr/advance/kernel.cuh#L274). The kernel entrypoint is within

[2017-11-03 19:13] mahmoodn commented on #282
Thanks. I am reading that.
I will close this topic now.

[2017-11-03 19:13] #282 closed

[2017-11-03 22:21] sgpyc commented on #250
The sssp run output is here
`
sgpyc@mario:~/Projects/gunrock_master/tests/sssp$ ./bin/test_sssp_9.0_x86_64 market /data/gunrock_dataset/large/soc-LiveJournal1/soc-LiveJournal1.mtx --src=0 --undirected --iteration-num=10 --device=1 --traversal-mode=LB_CULL
Loading Matrix-market coordinate-formatted graph ...
  Reading directly from stored binary CSR arrays ...
Done reading (1s).

Degree Histogram (

[2017-11-03 22:22] #250 closed

[2017-11-03 22:54] sgpyc commented on #211
should be solved by commit 62af100
[code]

[2017-11-03 22:54] #211 closed

[2017-11-03 23:06] sgpyc commented on #228
also solved by commit 62af100
[code]

[2017-11-03 23:06] #228 closed

[2017-11-06 11:06] mahmoodn opened #283 "Device check issue"
I want to feed the bfs to a simulator. So, I have to remove the "device check" in the gunrock code. Currently, when I run the application with the simulator command, I get:

[code]
I looked at the code for that messages. In multiple parts, this is checked and I doubt if simply commenting those part is the trick. Is it possible to bypass the existence check of the cuda device?
Any idea for that?

[2017-11-06 14:23] jowens commented on #283
It's not a "device check", it's actually figuring out which device we're targeting and setting it appropriately. Also we do use CUDA streams. These are legit and useful CUDA calls. I think this needs to be something you take up with the simulator authors.

[2017-11-09 21:30] jowens opened #285 "Gunrock app writing guide"
How do you write a Gunrock app? We need a documentation page that answers this question.

@neoblizz Assigning this to you, cc @sgpyc. I think it's important this be written by someone who is not @sgpyc. I will edit this and make comments for you. Assign it to me when you need a read.

This does not have to be very polished at this point. It can be rough. Do not let the perfect be the enemy of the

[2017-11-09 21:31] jowens opened #286 "Gunrock app porting guide"
How do you port a Gunrock app from old-API to new-API? We need a documentation page that answers this question.

Assigning this to @sgpyc, cc: @neoblizz. I will edit this and make comments for you. Assign it to me when you need a read. I would also like to port one app and will be the guinea pig (at least I hope I can). PageRank maybe.

This does not have to be very polished at this point. It can

[2017-11-09 23:54] sgpyc commented on #283
@mahmoodn If you are only running on single "device", then can replace `util::SetDevice()` https://github.com/gunrock/gunrock/blob/master/gunrock/util/test_utils.cu#L58 with something else. It's also safe to bypass any `cudaSetDevice()` calls, when using only single "device"; and bypass any 'cudaGetDevice()' to always return 0. If still failing at `cudaStreamCreate()`, then the GPU simulator you u

[2017-11-14 13:40] yvdriess opened #291 "Public C interface -- non-int32 data types"
Some graph benchmarks require larger datatypes to be used for labels and indices. For example, graph500 specifies vertex labels to allocate at least 48 bits.

The public C interface appears to only have implemented a single VTXID_TYPE: VTXID_INT. (This specializes in a large switch statement eventually to an int32, but the bfs() interface is hardcoded for int32 labels) The CUDA-portion of Gunrock

[2017-11-14 15:28] jowens commented on #291
In the short term, would just using the lower-level-not-public-C-interface Gunrock work for you?

[2017-11-14 15:55] yvdriess commented on #291
Definitely, although I am not sure what you are refering to. I couldn't find a lower-level C interface.
bfs() and gunrock_bfs() directly call into a CUDA dispatch_bfs() function with a switch statement that only implements the int32 cases.

[2017-11-14 15:57] jowens commented on #291
OK. Need one of the students to chime in then b/c I don't want to give you bad advice. :) @sgpyc ? (But he's at SC this week.) @neoblizz ?

[2017-11-14 17:11] sgpyc commented on #291
We do have plan to support more data types in the C-public interfaces (or C++, if full template support is needed).
The Gunrock internals are fully templatlized, we have tested 32-bit and 64-bit integers for vertex ids and edge ids, 32-bit and 64-bit floating points for edge values etc. But for non-standard datatypes, such as 24-bit integers, we may need some more efforts to verify our code and to

[2017-11-15 10:36] yvdriess commented on #291
Thank you, I will make the changes and issue a pull request.

[2017-11-26 11:18] bharathbs93 opened #293 "Converting from .graph to .mtx"
Is there any way to convert .graph input files(DIMACS) or .txt(SNAP) to a .mtx format which is accepted by GUNROCK?

[2017-11-26 18:37] neoblizz commented on #293
@bharathbs93 could you link me to this .graph format? Is it .gr format, if so we have a tool to convert it into .mtx under `gunrock/tools` (see https://github.com/gunrock/gunrock/tree/master/tools).

[2017-11-26 20:38] bharathbs93 commented on #293
@neoblizz I think the 9th Dimacs challenge had(.gr) format and the 10th had .graph format. Are .gr and .graph the same for GUNROCK?. Here is the link to both the .txt and .graph format(see:https://github.com/bharathbs93/Graph-Theory-Project).

[2017-11-27 00:04] bharathbs93 commented on #256
@neoblizz @jowens  Is there a comparison with [1] when doing full (i.e src = -1) BC with GUNROCK?

[1]	A. McLaughlin and D. A. Bader, “Scalable and high-performance betweenness centrality on the GPU,” presented at the SC '14: Proceedings of the International Conference for High-Performance Computing, Networking, Storage and Analysis, 2014, pp. 572–583.

[2017-11-27 00:16] jowens commented on #256
I don't think we've ever run a full BC (for all nodes) on any significant-sized graph. It would take a very very long time, as you might imagine. `soc-orkut` takes about half a second to run per node, and with 3M nodes ... that's more than two weeks, if I'm doing my math right.

[2017-11-27 00:36] bharathbs93 commented on #256
@jowens Could a multi-BFS approach similar to [1] if incorporated to GUNROCK fasten this process?.

[2017-11-27 00:48] jowens commented on #256
Sure! We admire Adam's work very much. But Gunrock currently doesn't have a notion of task parallelism, which would be necessary to implement what Adam did there.

[2017-11-27 00:50] ctcyang commented on #256
@bharathbs93 We're looking to add something similar to a multi-BFS approach using a GraphBLAS backend, but no timeline on this feature yet!

[2017-11-27 01:03] bharathbs93 commented on #256
@jowens Thank you for the input.

[2017-12-11 00:27] neoblizz commented on #293
@bharathbs93 sorry about the late reply, I looked into the .graph format and it seems different from the .gr format. I couldn't find specs on how the formatting happens and what each row means (and the cols). I think if you can find the spec it shouldn't be hard to write it into an mtx format as the specs for mtx are well defined and available here: http://math.nist.gov/MatrixMarket/formats.html

[2017-12-11 00:27] #293 closed

[2017-12-11 00:43] neoblizz commented on #293
Ok, so on further investigation `.graph` format is actually METIS graph format available here: http://people.sc.fsu.edu/~jburkardt/data/metis_graph/metis_graph.html

[2017-12-11 00:46] neoblizz commented on #283
This was very well answered, it seems like the simulator problem if it doesn't handle `cudaSetDevice()`, which has been around for a while now. Please let us know if you have more questions regarding this, closing the issue for now.

[2017-12-11 00:46] #283 closed

[2017-12-11 00:47] neoblizz commented on #261
Handled in the PR above.

[2017-12-11 00:47] #261 closed

[2017-12-11 00:49] neoblizz commented on #277
There's a guide on unit-testing and code coverage now, and codecov.io is set up to handle the dev branch, eventually master when we release the new version of gunrock. As unit tests are written, I expect the codecov to improve.

[2017-12-11 00:49] #277 closed

[2017-12-11 04:13] bharathbs93 commented on #293
Thanks for the help @neoblizz !

[2017-12-12 03:05] shivampdesai opened #295 "PR Shared Library Test: Inconsistent Node IDs"
Every run of shared_lib_pr gives multiple inconsistent ID values for the top ranked nodes. However, running pr on a different graph is giving consistent results in terms of node id and pagerank.

[2017-12-14 10:56] bookug opened #296 "gmock error when compiling"
When I compile the Gunrock using teh dev branch, errors are reported when Itype make command.
(I have installed gmock using yum install gmock-devel, but I do not find libgmock in my system)
[code]

[2017-12-14 15:32] jowens commented on #296
We're adding Google Test support. Can you install it and try again?

https://github.com/google/googletest

[2017-12-14 15:32] jowens commented on #296
(gmock has been absorbed into google test)

[2017-12-14 17:56] jowens opened #297 "gtest should probably be optional to build Gunrock ..."
... in the same way metis is.

[2017-12-15 05:37] neoblizz commented on #296
Please try this again after turning this option off: https://github.com/gunrock/gunrock/blob/dev/CMakeLists.txt#L69

[2017-12-15 05:39] neoblizz commented on #297
https://github.com/gunrock/gunrock/blob/dev/CMakeLists.txt#L69 option already exists, maybe I didn't completely cover all gtests, taking a look at it now.

[2017-12-15 12:39] bookug commented on #296
Thanks a lot. I try to change the option from ON to OFFin CMakeLists.txt, but it still does not work.
What can I do now?

[2017-12-15 12:40] bookug commented on #296
I used to compile the master branch , it works well.
It seems the master branch does not use the Google Test framework.
Is the problem located in GoogleTest framework?

[2017-12-15 16:25] neoblizz commented on #296
I am guessing the install you already have on your system is conflicting with our download method. Could you please switch back to dev and try `git pull` to update the repo and build again? It should be fixed after you turn the option back to OFF.

[2017-12-15 16:26] neoblizz commented on #297
Addressed in the Pull Request #298.

[2017-12-15 16:26] #297 closed

[2017-12-16 13:43] bookug commented on #296
yes, it works, thank you:)

[2017-12-16 17:40] #296 closed

[2017-12-25 03:32] septicmk opened #299 "The edgeweight used for web graph in SSSP benchmark"
I download the soc-orkut graph(using the script in your dataset/large/soc-orkut) but it has no weights for SSSP benchmark. I found you generate the weights in the range of 0~63？

https://github.com/gunrock/gunrock/blob/master/gunrock/graphio/market.cuh#L363

Is it the same in your PPoPP'16 paper? I just want to reproduce the SSSP experiment.
Thanks a million.

[2017-12-25 06:25] jowens commented on #299
Here's what we used:

https://github.com/gunrock/io/blob/master/gunrock-output/topc/SSSP_soc-orkut_Thu%20Nov%2017%20234030%202016.json

but I don't actually know where the weights come from. @sgpyc? @yzhwang?

[2017-12-25 06:48] sgpyc commented on #299
When asking for edge values and if they don't exist, the .mtx reader will generate from [0, 63] (https://github.com/gunrock/gunrock/blob/master/gunrock/graphio/market.cuh#L363 ). After generation, the graph (together with the edge weights) may be stored as hidden binary files in the same directory as the .mtx file, for speeding up the reading process.

[2017-12-28 22:06] allenkim0129 opened #300 "On the sample_example directory, 'cpu_graph_lib.cpp' file is missing."
Anyone know where I can find this file? I cannot run cmake, because this file was missing.

[2017-12-28 22:07] jowens commented on #300
Which branch are you running? master? dev?

[2018-01-02 18:21] allenkim0129 commented on #300
Its master branch.

[2018-01-02 19:16] jowens commented on #300
So that got deleted evidently more than 2 years ago. @yzhwang, any wisdom for us?

https://github.com/gunrock/gunrock/commit/d217070b3cff9056282965591d48c16a83b2a44b

[2018-01-03 18:16] jowens commented on #300
Also @neoblizz, building this (if not running it) ought to be part of the Jenkins runs.

[2018-01-03 23:14] yzhwang commented on #300
@allenkim0129 Are you trying to build from the head? In the commit @jowens referred to I did a refactoring and moved functions in cpu_graph_lib to test_utils.h. I've also updated the reference CPU algorithms from RefCPU{BC,CC,BFS} to Reference{BC,CC,BFS}. Anyway, that was an old refactoring. I'd ve surprised that if this doesn't build using the head of master branch.

[2018-01-03 23:57] jowens commented on #300
I'm pretty sure that the cmakefile still wants `cpu_graph_lib.cpp`.

[2018-01-04 02:14] ctcyang commented on #300
I just did a clean pull from master branch into an empty folder and Gunrock built correctly. So my recommendation would be doing that.

The most common CMake error I get has to do with CMake caching an old folder structure or changing `CMakeLists.txt`. That can lead to CMake requesting files that no longer exist. If you want to build into the same folder as before, you can try doing:
[code]

[2018-01-04 02:15] jowens commented on #300
Just checking, @ctcyang, _Gunrock_ built correctly or _sample\_example_ built correctly?

[2018-01-04 02:53] ctcyang commented on #300
Oops, I thought it was Gunrock you guys were talking about. I made a CMakeLists.txt that gets past the `cmake .` phase: https://gist.github.com/ctcyang/8d94004da377a526a8cd014662188096

However, typing `make` generates a bunch of errors having to do with the interface.

[code]

[2018-01-04 02:56] jowens commented on #300
Fixing this example might want to wait for @sgpyc's API rewrite.

[2018-01-07 13:24] bookug opened #301 "When can we use the subgraph isomorphsim program on GPU?"
Which algorithm are you using to solve the subgraph isomorphism problem on GPU?

[2018-01-07 17:49] jowens commented on #301
That work is very much in progress so we don't have any sort of firm answer yet. This at least gives some of our approaches to triangle-counting, which has some similarities to what we hope to eventually do with subgraph isomorphism ... https://escholarship.org/uc/item/9hf0m6w3

[2018-01-08 17:54] aicampbell opened #302 "Internal Compiler Error (codegen): "there was an error in verifying the lgenfe output!""
I'm currently trying to compile Gunrock with Cuda 9 and Boost 1.65.1 from my home directory.

While building, I get to:
 [5%]  Building NVCC (Device) object gunrock/CMakeFiles/gunrock.dir/app/pr/gunrock_generated_pr_app.cu.o

and get this error:
Error: Internal Compiler Error (codegen): "there was an error in verifying the lgenfe output!"

CMake Error at gunrock_generated_pr_app.cu.o.cmake:279 (me

[2018-01-08 17:56] jowens commented on #302
Wow. "Internal compiler error" is kind of hard to work out.

@neoblizz what version of Boost are we using? I seem to recall some issues with newest Boosts.

@aicampbell you should include stuff like "compiler version" and "OS" in your bug report.

[2018-01-08 18:04] aicampbell commented on #302
I'm running Debian 9, cmake 3.10.1 with the following compilers:
g++       4:6.3.0-4
 g++-6   6.3.0-18
gcc       4:6.3.0-4
gcc-6    6.3.0-18

I had this compiling a few weeks ago but all of the nodes I'm using got upgraded to Debian 9 and CUDA 9 which has broken everything for me.

I tried using an earlier version of Boost e.g 1.64 but I get this problem almost immediately:
#define __CUDACC_VER__

[2018-01-08 19:28] neoblizz commented on #302
This was reported to be an nvcc problem, I have seen this in past in another project. Could you try using gcc/g++ 5 with CUDA 9? And the boost version we recommend and have tested for is 1.58.

[2018-01-08 19:46] neoblizz commented on #300
@allenkim0129 does this happen on a regular gunrock build or are you trying to add the simple_example directory in the cmake file and then attempting a compile?

[2018-01-08 19:49] jowens commented on #302
Oh, yes, if you're not using a compiler version listed here (http://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html), you're gonna have a bad time, not just with Gunrock but with any CUDA code.

[2018-01-12 11:32] aicampbell commented on #302
I changed the compiler to gcc 5.5, used Boost 1.58 and everything worked.
Thanks for your help

[2018-01-12 11:32] #302 closed

[2018-01-23 16:39] #301 closed

[2018-02-07 19:39] neoblizz commented on #300
Closing this, because this is a template and this issue will be addressed in the dev_refactored.

[2018-02-07 19:39] #300 closed

[2018-02-08 23:13] imanima opened #308 "Connecting a java app to gunrock"
Hi Gunrock team,

we are working on a graph data processing platform written in Java (connected to Neo4j db) and we are planning on using Gunrock to do the heavy graph processing. What is the best way to connect to Gunrock from a java application ?

[2018-02-09 00:53] jowens commented on #308
Gunrock has C/C++ bindings. Does Java have any way to call these? You can look at the Gunrock-python code for examples.

We have no experience with Java+C in our group.

[2018-02-09 01:15] neoblizz commented on #308
As John mentioned, I will look into bindings to call C or Python functions, here's an example: https://stackoverflow.com/a/5963294 there are similar calls for python as well and you can find these interface in gunrock/tests. Hope this helps!

[2018-02-09 01:15] #308 closed

[2018-02-09 02:27] shivampdesai opened #309 "Max Flow Primitive"
Running MF on any graph input returns an array of inaccurate flow values (array of only 0s). I tried to return an array of flows rather than excess values but it produced the same result. The changes were made in test_mf.cu to the RunTests() function which makes calls to MF_Enactor and MF_Problem.

For the sample graph below, the expected result of maxflow is 23:

6 6 10
1 2 16
1 3 13
2 3 10
3 2 1

[2018-02-09 18:08] neoblizz commented on #309
This issue is also addressing the previously created issue regarding MF #249 #248. @agalup can we get some eyes on this? Any comment will be helful, we are looking for the host variable with the MF results.

[2018-02-09 18:09] #299 closed

[2018-02-09 18:11] neoblizz commented on #220
Addressed in dev_refactoried.

[2018-02-09 18:11] #220 closed

[2018-02-09 23:33] sgpyc commented on #264
here is the function that prepare both Csr and Csc representation of graphs,
https://github.com/gunrock/gunrock/blob/master/gunrock/util/info.cuh#L547.
The actual conversion happens at CsrToCsc() function, https://github.com/gunrock/gunrock/blob/master/gunrock/csr.cuh#L127.

The refactored code use similar idea (read in Csr or Coo, then convert to Csc), but the actual place of implementation may b

[2018-02-09 23:35] sgpyc commented on #286
The porting guide is drafted at https://github.com/gunrock/gunrock/blob/dev-refactor/doc/v0.5_portingguide.md

[2018-02-09 23:55] neoblizz commented on #264
Thanks for answering @sgpyc. @robinyancey let us know if you have any further questions!

[2018-02-09 23:55] #264 closed

[2018-02-10 00:06] Laurawly commented on #253
The current TC implementation doesn't do the enumeration but the subgraph matching implementation does! And you can find the app here under dev branch: https://github.com/gunrock/gunrock/tree/dev/gunrock/app/sm

[2018-02-10 00:11] neoblizz commented on #235
Feature supported in the refactored gunrock, this hasn't been tested yet.

https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/app/sssp/sssp_app.cu#L245
https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/app/sssp/sssp_app.cu#L280

Replace `util::HOST` with `util::DEVICE`.

[2018-02-10 00:11] #235 closed

[2018-02-10 00:23] neoblizz commented on #291
@yvdriess let us know if you tried anything, we'd love to add that in if possible. :)

[2018-02-10 04:32] robinyancey commented on #264
OK. Thank you so much! This is good to know

[2018-02-15 02:17] kks32 opened #311 "Finding the shortest path for a list of origin-destination pairs in a graph network (traffic routing of cities)"
Many thanks for a great framework.

I am looking at traffic routing problems as graphs for cities like SF / London. The edges in a graph represents the road network, vertices are typically junctions connecting 2 or more edges. A sample graph network of the Bay Area is at: https://gist.github.com/kks32/9cdef7561862d2541adc52ea6cf1415f in the MTX format. The value associated with a node pair is, in

[2018-02-15 22:05] neoblizz commented on #252
Solved in PR #310.

[2018-02-15 22:05] #252 closed

[2018-02-17 21:42] neoblizz opened #312 "Regression tests halting at CC on Volta"
I'll add more to this issue.

[2018-02-17 21:44] neoblizz commented on #312
This bug does not occur on the Voltas in CUDA 8.0, I am only seeing this in CUDA 9.

[2018-02-18 08:04] gangliao opened #314 "Support OpenMP on Mac OS X with GPU"
https://github.com/gunrock/gunrock/blob/40b65bd6239c6d74bc012cb6669c7f230f0c61a6/cmake/FindOpenMP.cmake#L21

[code]

The hard code is too weak.

You guys can use `ExternalProject_Add` to support OpenMP on MacOS X (https://cmake.org/cmake/help/v3.0/module/ExternalProject.html) where can build OpenMP (https://github.com/llvm-mirror/openmp) as an external project.

[2018-02-18 08:07] gangliao commented on #314
[code]

[2018-02-18 08:11] gangliao opened #316 "CMake warnings under OS X"
CMake warnings under OS X: MACOSX_RPATH is not specified for the following targets.

[2018-02-18 12:34] gangliao opened #317 "test cases failed on Mac OS X"
BFS failed on Mac OS X.

[code]

[code]

[code]

[2018-02-18 12:36] gangliao commented on #317
[code]

[2018-02-18 12:48] gangliao commented on #317
Fixed after setting `cmake -DGUNROCK_GENCODE_SM30=ON -DGUNROCK_GENCODE_SM50=ON ..` since GPU on my Mac is GTX 750M.

[code]

[2018-02-18 13:09] gangliao commented on #314
[code]

[2018-02-18 13:19] jowens commented on #316
Since upgrading my laptop (👍 ) I no longer have NVIDIA graphics in it (👎 ). No one's actively developing anything on OS X any more, sadly.

[2018-02-18 14:25] gangliao commented on #316
Yeah, I still use the old laptop with GTX 750M.

[2018-02-18 14:29] gangliao commented on #316
@jowens  We can install cuda in travis ci, then it can help to check the building process of Mac OS X with GPU [no test]. https://docs.travis-ci.com/user/reference/osx/

[2018-02-18 15:05] #314 closed

[2018-02-18 15:07] neoblizz commented on #316
PR merged.

[2018-02-18 15:07] #316 closed

[2018-02-18 15:07] neoblizz commented on #317
Perfect!

[2018-02-18 15:07] #317 closed

[2018-02-18 15:44] jowens commented on #316
@gangliao We don't exactly have a Mac in our server rack. :)

Please help me continue to harass NVIDIA employees to take a huge loss to put NVIDIA graphics in every MacBook Pro. Actually, my understanding is that we'll someday soon be able to buy a standalone GPU that plugs through USB-C , e.g., Razer Core, and hopefully use that.

[2018-02-18 15:53] gangliao commented on #316
@jowens  My former colleague in Baidu also plugs GPU on MacBook use that way since he likes coding in the modern editors e.g., VS CODE and QT.

[2018-02-18 15:56] jowens commented on #316
@gangliao I'll try to get some feedback on this. A little googling suggests that Apple is moving in this direction (spring 2018) for more eGPU support. For me, I want something that requires minimal/no hacking to make it work, I just want to plug something in and it works. Don't even care if I get graphics output. CUDA only.

[2018-02-18 21:52] jowens commented on #316
@gangliao https://developer.apple.com/development-kit/external-graphics/

The Sonnet boxes appear what I want here, though the OS release that puts them into support isn't out yet. Hopefully soon!

[2018-02-23 23:18] neoblizz opened #321 "Add XML output support"
Jenkins CI's junit uses xml to report results. We have rapidjson for JSON, need something for an XML output.

[2018-02-25 06:06] bookug opened #322 "What is the maximum dataset in the experiments?"
Is there any datasets with tens of thousands of nodes?

[2018-02-25 06:13] sgpyc commented on #322
We did test Gunrock with graphs in the range of hundred million vertices and billions of edges. The GPU memory size is the limiting factor in terms of how big the graph can be.

The following databases may be the starting point to look for them:
https://www.cise.ufl.edu/research/sparse/matrices/list_by_dimension.html
http://networkrepository.com/networks.php

[2018-02-26 19:49] #322 closed

[2018-03-07 16:50] jwyles opened #324 "Issues reproducing performance tests on Volta system."
I am trying to run some benchmark results on a DGX  Volta system, but am running across the following problems:

1. Matrix Market format input does not appear to work. When using the .MTX files downloaded via Makefile in /dataset/large, the pr and bfs executables crash with a segfault reading in the file:
[code]

2. The pr executable hangs (given rmat generated graph as input):
[code]

[2018-03-07 16:58] jowens commented on #324
Please tell us what OS, compiler version, CUDA version, and GPU you're using.

1. Can you give us a command-line you're running?
2. We're actively working on this (@neoblizz went back to patch up all the cooperative-groups-sync kind of code, but Volta still doesn't work for us). We're as eager to fix this as you are.

[2018-03-07 17:03] jwyles commented on #324
OS: Ubuntu 16.04
Compiler Version: GCC 4.8
CUDA version: 9.1
GPU: Quadro GV100

Note: The bfs executable does run through fine when using a generated rmat graph.

[2018-03-07 17:14] jwyles commented on #324
Any thoughts on the issue with reading in .MTX files? Is there something I am missing something there?

[2018-03-07 17:15] jowens commented on #324
Please give us your command-line ...

[2018-03-07 17:17] sgpyc commented on #324
I don't think the mtx issue is Volta related, since the part that crashed is purely CPU code.
Will try to reproduce the bug on our machine using @jwyles's command line

[2018-03-07 17:20] sgpyc commented on #324
By the way, can @jwyles try `ls -lart` in the directory containing the .mtx file?
The mtx reader will try to store a binary version of the file, and it's hidden.

[2018-03-07 17:22] jwyles commented on #324
[code]

[2018-03-07 17:26] neoblizz commented on #324
For problem 2) you could downgrade to CUDA 9 or CUDA 8, they seem to work with Voltas. This is a bug in CUDA 9.1 + Volta.

[2018-03-07 17:39] jwyles commented on #324
John,

The command lines I used are in the Github issue examples.

Cheers,

James

From: John Owens [mailto:notifications@github.com]
Sent: Wednesday, March 7, 2018 10:16 AM
To: gunrock/gunrock <gunrock@noreply.github.com>
Cc: James Wyles <jwyles@nvidia.com>; Author <author@noreply.github.com>
Subject: Re: [gunrock/gunrock] Issues reproducing performance tests on Volta system. (#324)

Please give

[2018-03-07 17:40] jowens commented on #324
Oh sorry. You're right.

[2018-03-07 18:25] jwyles commented on #324
I tried downgrading CUDA to 9.0, but still get the same hanging issue with pr.

[2018-03-07 22:44] sgpyc commented on #324
I can't reproduce the mtx issue, on top of the master branch, with or without the stored binary version of hollywood-2009.mtx. I noticed @jwyles 's gcc is 4.8, but the supported version should be at least 5.3.1 (http://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html).

My environment is: ubuntu 16.04 + GCC 5.4.0 + NVCC 9.1.85 + NVIDIA Driver 390.30, Titan V.

[2018-03-08 18:39] jwyles commented on #324
running ctest -vv:
[code]

And there it appears to hang up.

[2018-03-08 19:59] jwyles commented on #324
Re-compiling with GCC 5.4 fixed the issue with the segfaults while loading matrix market files. Still seeing hanging in pr and cc executables.

[2018-03-08 21:37] neoblizz commented on #324
@jwyles does it hang with CUDA 8 as well? I am not a 100% sure if the CUDA 9.1 + Volta bug is only in CUDA 9.1 or in 9 as well. @sgpyc can you comment on this?

[2018-03-09 11:28] sgpyc commented on #324
The hanging is the same as Issue #312, and can be reproduced by the attached code.
Any kernel using BlockScan or WarpScan routines will hit the same bug.
I think it's a bug in CUDA 9.1 itself.

[code]

[2018-03-09 14:59] jowens commented on #324
Should we loop Nikolai and/or Duane into this conversation?

Does the extra `__syncthreads()` solve the problem in Gunrock (do you have to do this in the scan routines we're using)?

[2018-03-10 22:12] sgpyc commented on #324
The current solution is to add `__all_sync(0xffffffffu, 1);` to sync all threads within a warp.
My guess is doing shuffle on lane 0 & 16 within a if statement some how messes up the internal active thread mask.

The WarpScan is mainly used to compute input and output positions. Other places we mainly use Scan routines from cub, which work fine.
I think Duane may know what went wrong.

[2018-03-10 22:35] jowens commented on #324
@dumerrill

[2018-03-12 00:03] jowens commented on #324
@nsakharnykh consider taking a peek at this and the workaround below?

https://github.com/gunrock/gunrock/pull/325

[2018-03-12 08:49] sgpyc commented on #324
I filed a bug report (2080669) via the NVIDIA developer program.
It has been reproduced, and I will post updates when available.

[2018-03-12 17:22] jowens commented on #324
you the man @sgpyc

[2018-03-12 20:57] sgpyc commented on #32
The refactored API has cleaner interface for the operators, e.g. https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/app/sssp/sssp_enactor.cuh#L129.
Now it only takes in 6 parameters.
@yzhwang consider closing this issue?

[2018-03-12 21:14] sgpyc commented on #26
Boost 1.58.0 seems to have the correct CC, at least outputs the same results as Gunrock for soc-twitter-2010.

[code]

[2018-03-12 21:14] #26 closed

[2018-03-12 21:26] sgpyc commented on #34
The std::this_thread::sleep_for() calls hang unexpectedly; sleep() from boost works fine, but we are making boost optional.
OpenMP seems to have better support on large GPU clusters, and low start-up latency.
Will use OpenMP instead of C++11 threading.

https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/app/enactor_base.cuh#L555

[2018-03-12 21:26] #34 closed

[2018-03-12 21:35] neoblizz commented on #249
Goes under issue #309.

[2018-03-12 21:35] #249 closed

[2018-03-12 21:35] neoblizz commented on #248
Goes under issue #309.

[2018-03-12 21:35] #248 closed

[2018-03-12 21:36] neoblizz commented on #309
Merging the MaxFlow issues into one issue. We should be able to address this soon.

[2018-03-12 21:37] neoblizz commented on #295
Yuechao answered this:

[2018-03-12 21:37] #295 closed

[2018-03-12 21:38] neoblizz commented on #312
Same bug as issue #324, just keeping one of the issues opened for this.

[2018-03-12 21:38] #312 closed

[2018-03-12 21:41] neoblizz commented on #253
Reopen the issue if something else is needed on this, but I feel like @Laurawly answered this! Thanks!

[2018-03-12 21:41] #253 closed

[2018-03-12 21:42] neoblizz commented on #195
Now exists in dev-refactored branch, will be merged soon.

[2018-03-12 21:42] #195 closed

[2018-03-12 21:44] sgpyc commented on #195
The template is here:
https://github.com/gunrock/gunrock/tree/dev-refactor/gunrock/app/Template

[2018-03-12 22:16] sgpyc commented on #49
The single GPU branch (https://github.com/sgpyc/gunrock/tree/single-gpu) is no longer compilable because of boost version mismatch.
The Gunrock paper at Sept 2015 (https://arxiv.org/pdf/1501.05387v3.pdf) listed bfs for rgg_n24 took 282.8 ms to finish, and the final version of paper listed 351.4 ms; top of dev and master branch can do it in 493 ms.
The BFS itself has ~2500 iterations, so rgg_n24 te

[2018-03-12 22:20] sgpyc commented on #57
The mgpu (not the mGPU-cq one) and dev branches had been merged, and 64-bit support has been native via. "--64bit-VertexId --64bit-SizeT --64bit--Value" for a long time.
Performance evaluation on single node has been done for the IPDPS 17 paper.

[2018-03-12 22:20] #57 closed

[2018-03-12 22:38] sgpyc commented on #61
The RemoveStandaloneNodes() call is still in test_cc.cu.
https://github.com/gunrock/gunrock/blob/dev/examples/cc/test_cc.cu#L607
Skipping it should not cause any issue, but we are keeping it for now for consistency.

If someone refactors the CC code, can add a command line option for this, with the default sets to use RemoveStandaloneNodes().

[2018-03-12 22:45] sgpyc commented on #69
Invalid filename now stops the program, with a suitable error message.

[code]

[2018-03-12 22:45] #69 closed

[2018-03-12 22:57] sgpyc commented on #71
I think now the CSR / CSC formats are handled correctly.
https://github.com/gunrock/gunrock/blob/dev/gunrock/util/info.cuh#L557

[2018-03-12 22:57] #71 closed

[2018-03-12 23:34] sgpyc commented on #80
https://github.com/gunrock/gunrock/blob/master/tests/bfs/test_bfs.cu#L542
And DOBFS has been merged into BFS.

[2018-03-12 23:34] #80 closed

[2018-03-13 00:50] sgpyc commented on #91
The command line parameters are handled by util::Parameters in the refactored code.
https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/util/parameters.h#L107
getopt is part of it.
https://github.com/gunrock/gunrock/blob/dev-refactor/gunrock/util/parameters.h#L468

The validation of command line parameters are in effect:
[code]

[2018-03-13 00:50] #91 closed

[2018-03-13 03:36] nsakharnykh commented on #324
Thanks for filing the bug, this is usually the right way to do it :) and I'm sorry I couldn't look at this any time soon - very busy up until GTC as usual. Hopefully the engineers assigned to the bug can find some time to look into this before I do.

[2018-03-13 04:55] jowens commented on #324
Thanks @nsakharnykh -- you're always on our side, much appreciated. Good luck with your GTC projects!

[2018-03-13 05:16] neoblizz commented on #146
@YuxinxinChen might be worth a look!

[2018-03-13 05:16] #146 closed

[2018-03-13 10:16] sgpyc commented on #110
I think this issue had been addressed by commit caa203b

[2018-03-13 10:16] #110 closed

[2018-03-13 10:24] sgpyc commented on #118
Use "--normalized" mode for PR solves this issue, with or without "--compensate".

[code]

[2018-03-13 10:24] #118 closed

[2018-03-13 10:29] sgpyc commented on #117
This issue should have been solved.

[code]

[2018-03-13 10:29] #117 closed

[2018-03-13 11:29] sgpyc commented on #127
"--64bit-VertexId" have been supported for some time.

[2018-03-13 11:29] #127 closed

[2018-03-13 11:34] sgpyc commented on #142
It has been done in the dev-refactor branch (https://github.com/gunrock/gunrock/tree/dev-refactor)

[2018-03-13 11:34] #142 closed

[2018-03-13 12:05] sgpyc commented on #212
This issue has been solved.

[code]

[code]

[2018-03-13 12:05] #212 closed

[2018-03-13 12:06] sgpyc commented on #202
This is a limitation of TWC, still exists in current implementation. Just don't select TWC for this kind of workload.

[code]

[2018-03-13 12:06] #202 closed

[2018-03-13 13:55] #150 closed

[2018-03-13 13:56] #151 closed

[2018-03-13 13:59] #121 closed

[2018-03-13 14:03] neoblizz commented on #49
"simple kernel just for this kind of workload" could be an issue in itself. It is a problem we both have been thinking about for a while. We can close this one though.

[2018-03-13 14:03] #49 closed

[2018-03-13 14:08] #111 closed

[2018-03-13 14:09] #105 closed

[2018-03-13 14:10] #109 closed

[2018-03-13 19:24] sgpyc commented on #122
Same as #233

[2018-03-13 19:24] #122 closed

[2018-03-22 18:23] jwyles opened #328 "Generating large Rmat graphs fails"
When running bfs generating an rmat graph  setting the rmat_scale greater than 25 gives errors. Either something like, for scale = 26:
[code]
or for larger, scale 30:

[code]

[2018-03-22 18:41] sgpyc commented on #328
You need the `--64bit-SizeT` command line argument.
In default settings, SizeT (the type of EdgeId) is 32bit signed, rmat with scale 26 and default edge factor 48 will have the number of edges larger than 2^31, which overflows 32bit signed integers.

For Scale 30, you need at least (2^30 * 48 * 4 Bytes / per-GPU memory size) GPUs to store the graph, double that if you use DOBFS or `--undirected`.

[2018-03-23 07:28] bookug opened #329 "how to generate R-MAT graphs?"
Does this project include this function?

[2018-03-23 07:35] sgpyc commented on #329
If you want to use R-MAT graphs within Gunrock, `rmat` or `grmat` command line parameters will generate them.

[2018-03-23 11:41] bookug commented on #329
Where is the grmat command?

[2018-03-23 15:51] jwyles commented on #328
Thanks that fixes it for me.

[2018-03-23 16:18] #328 closed

[2018-03-30 15:32] neoblizz commented on #329
@bookug I believe you can just use the following parameter for your primitive: `grmat --rmat_scale=22 --rmat_edgefactor=64`, all rmat configs apply to grmat as well.

[2018-04-03 23:17] YuxinxinChen commented on #146
@neoblizz Oh, only notice this now! Sorry, very useful recommendation!!! Thankssss~~~~

[2018-04-06 14:23] NaniBird opened #332 "Conversion from Boost Graph boost::adjacency_list"
Hi,

I have a `boost::adjacency_list` and would like to convert it to a gunrock-compatible object.
Is there any API allowing that ?

 Thank you

[2018-04-14 17:25] NaniBird commented on #332
So, should I convert it first to a `GRGraph` type beforehand ?

[2018-04-14 17:35] neoblizz commented on #332
@NaniBird we have two calls, gunrock_bfs which uses GRGraph struct or bfs which uses CSR format (therefore pointers to row_offsets and col_indices), you can decide which one to use.

[code]

[code]

We have a C and Python example of these too if you'd like to look at that:
https://github.com/gunrock/gunrock/blob/master/shared_lib_tests/shared_lib_bfs.c#L31
https://github.com/gunrock/gunrock/blob/m

[2018-04-14 17:43] NaniBird commented on #332
Ok, So no direct support for boost::adjacency_list.
Could be convenient to have a converter in gunrock between boost graph types and GRGraph.
Thanks anyway.

[2018-04-14 17:45] neoblizz commented on #332
With the new refactored code we have the ability to easily add support for this, but not in the master branch version. We will consider, thanks!

[2018-04-14 17:45] #332 closed

[2018-04-14 17:46] #329 closed

[2018-04-26 03:02] limadm commented on #322
Hi! I got a Titan Xp with 12G G5X memory. Are 1.4G nodes and 13G edges filling up all my memory? (The log says market cannot parse more than 388M)

[code]

[2018-04-26 03:16] jowens commented on #322
13G edges at 4 bytes per edge is 52 GB. If you have a GPU with 52 GB of memory, we'd sure like to hear about it. :)

[2018-05-08 02:46] bookug opened #333 "How is the shortest path algorithm implemented on GPU?"
Does there exist any mature papers or systems?

[2018-05-08 02:49] jowens commented on #333
Most graph frameworks on GPUs have some sort of shortest-path algorithm. The Gunrock paper talks a bit about how we implement ours, and this paper (https://escholarship.org/uc/item/8qr166v2) ought to be among the best algorithms (we're moving toward implementing this on Gunrock).

[2018-05-10 14:27] kf4ayt opened #334 "Compilation issue - cannot compile Pagerank project"
Greetings all,

In attempting to compile Gunrock, I have hit a 'snag' when 'make' attempts to compile the Pagerank project. Below is the command line output. For the record, I'm running Debian 9.4 with gcc 6.3.0, CUDA 9.1, Boost 1.67, and Metis 5.1. When going to install Gunrock, I cloned it from the Github site recursively.

Any help would be greatly appreciated as I've hit a dead-end in troubles

[2018-05-10 14:32] jowens commented on #334
CUDA is very specific on the compiler versions it requires. I don't even see Debian on the list here:

https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html

but my strong suspicion is that you need the right combination of OS/CUDA/gcc to avoid this error.

[2018-05-10 15:38] kf4ayt commented on #334
@jowens,

I installed the CUDA 9.1 toolkit (and the 390.48 display driver) via the Debian package system and have been compiling and running SSSP and APSP programs with success. I've also installed cuDNN v7.1 and it passed the post-install test (the MNIST example). Is Gunrock particularly OS-picky?

Regards,

Charles Johnson

PS For Debian, you can usually select Ubuntu and be OK if they don't hav

[2018-05-10 16:10] jowens commented on #334
I wouldn't say Gunrock is "OS-picky" as much as it uses modern CUDA constructs that might not be present in other packages. We have in the past identified CUDA compiler bugs via Gunrock. In our experience, the error you're seeing is a CUDA compiler bug.

I will ping someone at NVIDIA about what to do here, but I expect the answer will be one of these three:
1. We don't support Debian.
2. We do sup

[2018-05-10 21:15] jowens commented on #334
So I think the answers are 1 and 3. Unnamed NVIDIA person who's in a position to know notes

The Gunrock team is using Ubuntu 16.04 with gcc 5.4 (and we do not see this bug). If we saw this bug on our own systems, we would file a bug report with NVIDIA, since this appears to be an NVIDIA compiler bug.

[2018-05-11 13:37] bookug opened #335 "How to develop other graph algorithms based on Gunrock framework?"
The interface is not so clear, I need help:)
I read your paper titled "Fast Parallel Subgraph Matching on the GPU", and I want to compare the subgraph isomorphism algorithm in thsi paper.
Can you give me some advice on how to implement it? It is also ok to give me the code of that paper:)

[2018-05-11 14:47] jowens commented on #335
We're still actively developing this code so it's not really in the shape to share as any sort of completed project. Looks like the most recent version is here:

https://github.com/gunrock/gunrock/tree/dev/gunrock/app/sm

@Laurawly ?

[2018-05-11 19:45] sgpyc commented on #335
@bookug Take a look at the new (refactored) API in the dev-refactor branch? It should make things easier.
Mohammad and I gave a talk at GTC for how to write graph primitives in Gunrock, you can find it at https://github.com/gunrock/gunrock/blob/master/doc/Writing-Gunrock-Primitives.pdf and http://on-demand.gputechconf.com/gtc/2018/video/S8586/ .

[2018-05-13 17:55] kf4ayt commented on #334
@jowens,

My apologies for the delay in responding. What is the procedure for reporting a compiler bug to NVIDIA? I've looked through the developer part of their website, but couldn't find anything that looked appropriate.

In the meantime, do you think installing gcc 5.4 and attempting to compile Gunrock with that might fix the problem?

Regards,

Charles Johnson

[2018-05-14 01:03] jowens commented on #334
https://developer.nvidia.com/developer-program   <- apply there

[2018-05-14 01:04] jowens commented on #334
I can't offer any particular insight on what software versions are appropriate with Debian. All of our experience is Ubuntu, sorry.

[2018-05-18 17:14] limadm commented on #322
Thanks for the clarification, I'm working in a sparse matrix solver for GPU and wanted to import (or maybe complement) gunrock so I'll be back in some weeks, bye!

[2018-05-21 08:32] bookug opened #337 "Does your program support graphs with edge labels?"
Does your program support directed graphs or graphs with edge labels?

[2018-05-21 11:02] jowens commented on #337
Yes, both. SSSP would show you an example of edge weights. MatrixMarket (our input format) supports directed graphs.

[2018-05-21 11:02] #337 closed

[2018-05-23 03:58] chasingegg opened #340 "How to implement Personalized PageRank"
Based on the pagerank work, can we easily implement Personalized PageRank?

[2018-05-25 08:09] neoblizz commented on #340
@chasingegg we have a working RandomWalk implementation in the `dev` branch, as well as PageRank implementation. I am not sure how difficult it will be to make PPR working based off of that. @sgpyc might be able to comment on it.

[2018-05-25 17:30] sgpyc commented on #340
I remember the personalized page rank is just starting from a set of vertices (may contain just 1 single vertex) rather than starting from all vertices? If that's the case, modify `pr::Problem::DataSlice::Init()` in `gunrock/app/pr/pr_problem.cuh` will be sufficient. And also the CPU test routine if you care about result verification. It seems like someone already reserved this feature in the API

[2018-05-26 03:57] neoblizz commented on #321
I have a perl script that converts the json output to xml. Works for this purpose. 👍

[2018-05-26 03:57] #321 closed

[2018-05-26 07:48] neoblizz commented on #333
Not a paper, but we also discuss Gunrock's SSSP implementation in the GTC 2018 talk. It was a tutorial on how to write a graph primitive in Gunrock with SSSP as an example: https://github.com/gunrock/gunrock/blob/master/doc/Writing-Gunrock-Primitives.pdf, there is also a video available for this and the slides include the pseudocode of the algorithm.

[2018-05-26 07:48] #333 closed

[2018-05-26 07:51] neoblizz commented on #132
This was included in `graphio` support, marking as done. Any json stats file now has num of edges and vertices and a lot more info!

[2018-05-26 07:51] #132 closed

[2018-05-26 08:06] neoblizz commented on #321
I should look into a simpler way using `Google::Data::JSON`.

[code]

[2018-05-26 09:58] neoblizz commented on #321
Note junit command to record tests and artifacts: https://jenkins.io/doc/pipeline/tour/tests-and-artifacts/

[2018-06-24 12:56] mahmoodn opened #343 "gcc 6 issue"
Is there any way to workaround gcc-6 without downgrading the whole gcc version? When I run make, I get the following error

[code]

The cuda is 9.1 and ubuntu is 17.10. Any idea about that?

[2018-06-24 14:29] jowens commented on #343
This is a CUDA issue, not a Gunrock issue. CUDA only supports certain combinations of OS+compiler.

[2018-06-24 14:29] #343 closed

[2018-06-24 15:32] jowens commented on #343
We have repeatedly seen that issues with building and running Gunrock on compiler/OS combinations not on this list (https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html) are actually issues with the compiler/OS combination. I'm glad other stuff works for you. Gunrock uses a fair amount of C++11 features and CUDA 9 features and perhaps we stress the compiler/OS combination more tha

[2018-06-24 15:37] neoblizz commented on #343
And to add to that, you don't have to downgrade gcc, just use update-alternatives and add a gcc-6 installation in there along with others. That will make all of your CUDA 9 features work, and you can switch to the newest gcc-7 for all your other needs.

[2018-06-24 16:03] mahmoodn commented on #343
@neoblizz : Yes I did that.
@jowens : I will ask at the devtalk and come back later.

[2018-06-25 11:30] mahmoodn commented on #343
@jowens
Maybe cmake is using a different version of gcc which is not compatible with cuda. How can I check which gcc version is used by cmake? Or explicitly set gcc-6 in cmake files?

[2018-06-25 11:36] mahmoodn commented on #343
OK I ran the following commands to explicitly set CC and CXX to gcc-6 and g++-6, respectively. However, I now get a new error message.

[code]

Does the error mean that gunrock doesn't support cuda 9.1?!

[2018-06-25 13:50] jowens commented on #343
https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html says for Ubuntu 17.10, you need gcc 7.2.0.

[2018-06-25 13:53] neoblizz commented on #343
@mahmoodn the error that you have is still in CUDA because you don't have the right gcc support. You cannot mix and match the gcc and cuda versions as you like, please follow their wiki guide for the appropriate version you need and then use update-alternatives to set the gcc version instead of exporting it. Exporting doesn't always guarantee it (even if it shows up if you run gcc --v). We have no

[2018-06-25 15:35] mahmoodn commented on #343
@jowens: That document is about cuda 9.2. However, as I said before, I have installed cuda 9.1 on Ubuntu 17.10 at the time that 9.2 had not been released. I haven't upgraded cuda yet.

So, at the time that I decided to installed cuda 9.1, it said that gcc7 is unsupported. So, I used gcc 6 and it went smoothly and I am actually able to build some other programs using gcc6, nvcc and other staffs.

I

[2018-06-25 15:44] neoblizz commented on #343
@mahmoodn cmake is using the right gcc-6, if you say it is supported. Please navigate to `/usr/local/cuda/include/crt/common_functions.h` and comment out `line 64`, this is still a cuda related issue and has showed up in tensorflow and other libraries as well.

[2018-06-25 15:45] neoblizz commented on #343
EDIT: @mahmoodn before that, could you try using boost 1.58.0 instead?

[2018-06-25 17:20] mahmoodn commented on #343
@neoblizz
Without modifying cuda source, boost 1.58.0 passed that error. Later I got

[code]
Although internal compiler errors are related to gcc, I would like to test another version of boost, e.g. 1.60.0
!

[2018-06-25 17:28] neoblizz commented on #343
@mahmoodn more on this: https://github.com/h2oai/h2o4gpu/issues/607

[2018-06-25 17:29] neoblizz commented on #343
From the looks of it, they have taken care of a lot of issues within 9.1 in CUDA 9.2, and that makes sense because subversions usually means that there were bugs significant enough (like the one you see), to release a new version.

[2018-06-25 17:30] neoblizz commented on #343
We have also seen this same issue, here: https://github.com/gunrock/gunrock/issues/334

[2018-06-25 17:38] mahmoodn commented on #343
Yes I removed -std=c++11 option.
Thanks a lot. I can now see the binary files.

[2018-06-25 18:40] neoblizz commented on #343
@mahmoodn have you tried running ctest on it?

[2018-06-25 20:19] mahmoodn commented on #343
Yes it was fine. I also went to the dataset folder and made hollywood. I am trying to run one of the datasets. The document for simple example ([here](http://gunrock.github.io/gunrock/doc/0.1/simple_example.html)), seems to be a dev document. Is that the first step to understand gunrock?

[2018-06-25 20:23] neoblizz commented on #343
@mahmoodn great, running a dataset is fairly simple. For example: `path/to/bin/bfs market /path/to/dataset`, it may also be worth watching the presentation we gave it GTC that explains the underlying programming model and the new api under `dev-refactor` branch: http://on-demand.gputechconf.com/gtc/2018/video/S8586/

[2018-06-26 12:06] mahmoodn commented on #343
Consider the following run

mahmood@orca:hollywood-2009$ ~/gunrock/build/bin/bfs market hollywood-2009.mtx
Loading Matrix-market coordinate-formatted graph ...
Reading from hollywood-2009.mtx:
  Parsing MARKET COO format (1139905 nodes, 115031232 directed edges)... Done parsing (17s).
  Converting 1139905 vertices, 115031232 directed edges (unordered tuples) to CSR format...
Done converting (7s).

[2018-06-26 13:35] neoblizz commented on #343
The average elapsed time, min elapsed and max elapsed are GPU measurements. Preprocessing and post processing and before and after the computation as the name suggest.

Nvidia-smi maybe isn't the best way to check GPU utilization when the process is only 130ms long. Are you running nvidia-smi in a different window? What GPU are you using?

I don't quite understand why you'd need that control, beca

[2018-06-26 16:54] jowens opened #344 "Gunrock races reported in PLDI 2018 paper"
"CURD: a dynamic CUDA race detector", https://dl.acm.org/citation.cfm?id=3192368

Yuanfeng Peng (@stilltracy) reported the following two races (note line numbers are commented in the snippets below):

on ../../gunrock/util/soa_tuple.cuh,line 136 :

[code]

and ../../gunrock/util/scan/warp_scan.cuh,line 159:

[code]

@sgpyc can you take a look? @yzhwang also helpful if you look ...

[2018-06-26 19:40] mahmoodn commented on #343
When the task is offloaded to gpu, what does min and max elapsed mean? Is that related to more than one iteration for running the program?

For the threads, I just want to measure some gpu features for research. So, I would like to know what happens when two or eight bfs threads compete on the gpu resource? Just to measure some architectural features. Currently at some initial steps are cores reac

[2018-06-27 16:57] jowens commented on #344
New info from @stilltracy!

[code]

[code]

[2018-06-28 07:05] sgpyc commented on #344
The code pointed out are for warp/block level scan and iteration; they are quite deep, and used by the TWC_advance and CULL_filter operators. The data races are very difficult to detect. If @stilltracy have the condition (dataset + command line parameters) or any other info that can narrow down to when the race could happen, it will save us a lot of time.

By the way, are the data races from CUB o

[2018-06-28 13:12] jowens commented on #344
@stilltracy these are theoretical races, right? you didn't find them in practice, this is through program analysis?

[2018-06-28 15:02] appetrosyan opened #345 "DOes not compile on Mac OS X High sierra."
HI. Just tried to compile the library, but the compilation of

... /dep/gunrock/CMakeFiles/gunrock.dir/app/bfs/./gunrock_generated_bfs_app.cu.o

fails with an unreasonably long error message.

I'm using Xcode Command Line Tools v 9.0, to bypass NVCC not supporting clang v 9.1.

[2018-06-28 15:04] jowens commented on #345
What GPU are you using? 2012 MacBook Pro's?

I can't build this any more b/c I don't have an NVIDIA GPU-capable Mac. I am looking forward to eGPU support (hopefully soon).

For reference, can you paste in the entire compiler output here?

[2018-06-28 15:06] jowens commented on #345
I am generally nervous about what version of nvcc works with which version of xcode that works with which version of the NVIDIA drivers etc. ... I've had a lot of problems with that in the past.

[2018-06-28 15:06] appetrosyan commented on #345
Radeon Pro 560, the 2017 MBP's.

[2018-06-28 15:06] jowens commented on #345
Um, Radeon Pro? AMD's GPU?

[2018-06-28 15:07] appetrosyan commented on #345
Yes, as far as I'm aware, the library should be able to compile, and run in emulation mode on the CPU,

[2018-06-28 15:08] jowens commented on #345
Oh. Wow. Um, we didn't know that. I'm really nervous this has nothing to do with "our" code and instead with the compiler-driver-vendorcompiler stack ...

[2018-06-28 15:09] appetrosyan commented on #345
[code]

[2018-06-28 15:10] jowens commented on #345
For posterity, can you post your compiler version and your NVIDIA tools version?

[2018-06-28 15:10] appetrosyan commented on #345
Yes,

[code]

[2018-06-28 15:10] jowens commented on #345
and which Gunrock branch you're using (master?).

[2018-06-28 15:11] jowens commented on #345
I want "which xcode version and which NVIDIA toolchain version".

[2018-06-28 15:16] appetrosyan commented on #345
Oh sorry,

It's `xcode Command Line Tools v 9.0` running on `xcode 9.4.1`.

With `CUDA Driver Version: 396.64` and `CUDA toolkit 9.2`.

[2018-06-28 15:16] neoblizz commented on #344
Would this also be useful on the new dev-refactor branch with refactored code?

[2018-06-28 15:18] jowens commented on #345
OK, well, i have the exact same setup. But https://docs.nvidia.com/cuda/cuda-installation-guide-mac-os-x/index.html says that we need XCode 9.2.

[2018-06-28 15:19] appetrosyan commented on #345
I thought it meant just the command-line tools.

I'll try to install and see how it goes.

[2018-06-28 15:20] jowens commented on #345
NVIDIA (not just with OS X but with all compilers/platforms) has really really strict requirements about OS+compiler versions. Virtually every time we've had reported compiler issues, it's been because the user did not use the blessed compiler version.

[2018-06-28 15:23] appetrosyan commented on #345
Must be a pain. Explains why Apple don't ship Nvidia graphics any more.

[2018-06-28 15:28] jowens commented on #345
It's not an Apple problem, it's all other OSes as well. Example from earlier this week: https://github.com/gunrock/gunrock/issues/343. It is evidently really really hard to integrate & validate a compiler (gcc/clang) with NVIDIA's compiler/driver.

Apple no longer shipping NVIDIA graphics makes me sad too, but I think it's an orthogonal issue to the compiler issues.

[2018-06-28 15:37] appetrosyan commented on #345
Off topic rant, but

I think it might be related. Nvidia aren't very cooperative (Torvalds famously pulled a middle finger to them, Carmack called them the "The most unreasonable company he'd worked with").

Apple's whole pitch is providing a seamless experience (hence why `g++` actually calls `clang`), or **It just works**. With Nvidia things do tend to break often and usually not easy to fix. Go

[2018-06-28 15:52] appetrosyan commented on #345
Rolled back to `Xcode 9.2`. Same problem, exact same error message.

[2018-06-28 15:56] neoblizz commented on #345
I don't work with Mac and Mac compilation stuff, but it seems like a boost error. And we've seen that the most stable version of boost for us is 1.58.0. Could that maybe solve that error?

[2018-06-29 07:33] stilltracy commented on #344
@jowens these are actual races that were caught by CURD on a real execution.
@sgpyc I ran test/bfs rgg and observed the reported races.  Unfortunately, CURD currently can't give more detailed information about the call sites, such as call stacks, etc..
Yeah, some of the data races on CUB are on warp/block level scans etc.

[2018-06-29 14:46] jowens commented on #344
@sgpyc I don't know this low-level code, but is it possible to look at the code itself and figure out where the race might be, just from first principles?

[2018-06-29 14:55] neoblizz opened #348 "Gpuinfo in sysinfo.h is hardcoded to --device=0 (for JSON output)"
... make this selectable through command line `--device=#`. This is already there, it just doesn't propagate to `sysinfo.h` and ends up inputting the wrong device info in json (always set to gpu 0).

https://github.com/gunrock/gunrock/blob/f011bb033669091a8c3a6c6c3b0910e20287c615/gunrock/util/sysinfo.h#L84

[2018-06-29 15:03] neoblizz commented on #334
@kf4ayt were you able to resolve this issue?

[2018-06-29 16:00] jowens opened #349 "containerize Gunrock"
We should make a Docker container for Gunrock.

Not assigned yet, but something we ought to / need to do.

[2018-06-30 15:46] neoblizz opened #350 "Generating JSON results gunrock/io naming conventions and tags"
**use better tags**
why the test was conducted should go under tags.

**include the branch somewhere in the JSON**
master, dev, which branch it ran on?

**allow multiple tags**
--tag=x --tag=y that could output a [x,y] vector in tags

[2018-06-30 17:06] appetrosyan commented on #345
I'll try to uninstall the brew version of boost and downgrade.

[2018-07-03 01:18] kf4ayt commented on #334
@neoblizz,

Unfortunately, I've yet to be able to resolve the issue. Life took me off on a tangent, such that I've been unable to work on the problem further. I meant to close this thread some time ago, but time got away from me :-\

Later this summer, if I can either cobble together the pieces for a Ubuntu machine or set up one of my Debian machines with an SSD loaded with Ubuntu as an alternate

[2018-07-03 01:33] neoblizz commented on #334
@kf4ayt I hope you figure it out. I asked because I just noticed that you are using `Boost 1.67` and we found that `1.58` is the most stable with gunrock. That with upgrading your cuda to 9.2 would be something worth exploring.

I am going to close this issue for now, but feel free to return to it when you are working on it again. We would like to help you get it working!

[2018-07-03 01:33] #334 closed

[2018-07-06 15:33] neoblizz opened #352 "Update doxygen markdown paths, submodule gunrock/docs in gunrock/gunrock repository"
The following markdown paths must be updated for doxygen to use slate (gunrock/docs) paths instead:
https://github.com/gunrock/gunrock/blob/0e707e8c97bd226d92460ddbd26a933b4faddbca/doc/gunrock.doxygen#L790-L801

Make `gunrock/docs` a submodule under `gunrock/` and remove `gunrock/doc` directory. Include all doxygen files inside `gunrock/docs`.

[2018-07-06 15:41] neoblizz commented on #352
Link README.md -> index.html.md:
https://github.com/gunrock/docs/blob/master/deploy.sh#L24

[2018-07-06 15:48] neoblizz commented on #352
Don't forget to update https://github.com/gunrock/gunrock/blob/dev/doc/releasedoc.sh!

[2018-07-06 16:06] jowens commented on #352
@neoblizz was that last note a note to you?

[2018-07-06 16:44] neoblizz commented on #352
@jowens yes, all of this is my todo.

[2018-07-13 00:44] 1duo commented on #349
@jowens @neoblizz Sounds like an hour work for me. I'd be happy to contribute in my spare time. Let me know if needed. I'm sure this will help other users/developers to get started with Gunrock much easier.

[2018-07-13 01:17] neoblizz commented on #349
This will be a big help Yuduo, if you have some time on your hands! 😊

On Thu, Jul 12, 2018, 5:44 PM Yuduo Wu <notifications@github.com> wrote:

--
Muhammad Osama
Graduate Student
Department of Electrical and Computer Engineering
University of California, Davis

[2018-07-13 01:21] 1duo commented on #349
Cool. Any specific requirements? I guess we want ubuntu16.04 + CUDA 9.1 + boost 1.58?

[2018-07-13 01:24] neoblizz commented on #349
I have also tested everything on CUDA 9.2. And that should do it for
master/dev branch at least. In a later release boost is optional.

On Thu, Jul 12, 2018, 6:21 PM Yuduo Wu <notifications@github.com> wrote:

--
Muhammad Osama
Graduate Student
Department of Electrical and Computer Engineering
University of California, Davis

[2018-07-13 04:38] jowens commented on #349
@1duo this is super awesome. Um, just for all of us who don't know this, tell us why a container is good and what's going on here. I simply don't know squat about containers. I am so happy you're doing this. But I want to know why it's good for us. :)

[2018-07-13 12:36] Hugovb7 opened #358 "CUDA error when running Gunrock on GV100/GP100/Titan V"
When running Gunrock's test cases on GV100/GP100/Titan V, we've been seeing a few issues. Here's the details :

**Description:**

Run Gunrock on GV100,TitanV,GP100 with CUDA 9.2.148 + Driver 396.37,there is CUDA error in some test cases like:rmat_n24_e16.pr,rmat_n23_e32.pr,hollywood-2009.pr or some other pr test.

The error on GV100 and GP100:

[/home/jzhong/Gunrock/gunrock/app/pr/pr_enactor.cuh,

[2018-07-13 12:38] jowens commented on #358
Just for completeness, did you do these tests on previous microarchitectures (Kepler)? Is this a Volta-only failure?

[2018-07-13 12:46] Hugovb7 commented on #358
We also have the bug for Pascal (GP100). I can check for Kepler.

[2018-07-13 12:50] hugovbraun opened #359 "BC cTest failed intermittent on GV100"
We've been noticing some intermittent tests failure with GV100. Here's the details :

*Description:*

When run Gunrock testing,cTest will failed intermittent on GV100.
This issue exist with CUDA 9.2.148 + DRIVER 396.37,CUDA 9.1.85 and CUDA 9.0.176.
The failed test case:
          8 - SHARED_LIB_TEST_BC (Failed)
          2 - TEST_BC (Failed)

Notes:
On Titan V no such issue.

Detail test log :

[c

[2018-07-13 15:05] neoblizz commented on #358
Can you share other installation settings? Like the output of `cmake ..` in a new director? (Boost version, etc.)

[2018-07-13 18:58] 1duo commented on #349
@jowens My understanding: for Gunrock, it mostly helps users/developers to get started **faster** and **easier**.

- **Infrastructure agnostic**: no matter you have macOS, Linux (Ubuntu, CentOS, etc.), or Windows. Anyone has NVIDIA GPU(s) and driver installed (docker, with NVIDIA plugin, needs to mount both devices and drivers into containers), can run Gunrock easily.

- **No need to install depen

[2018-07-13 19:19] neoblizz commented on #345
@appetrosyan any luck with this?

[2018-07-13 19:32] neoblizz commented on #358
[code]

[code]

I am gonna try recreating with with the updated driver/cuda version.

[2018-07-13 19:37] jowens commented on #358
@neoblizz are you saying it worked for you (on Titan V)? (Do try multiple runs since @Hugovb7 said it was intermittent.)

[2018-07-13 20:09] neoblizz commented on #358
@jowens yeah, it is working for me. But I have slightly different driver/cuda version (still 9.2). I am running it a few more times.

[2018-07-13 21:21] appetrosyan commented on #345
Nope. Downgraded boost, still compiles with the same error. Could be because the boost version installed by `homebrew` and the system-wide are different. Apple sure loves hardlinks.

[2018-07-13 23:04] neoblizz commented on #358
Two more runs: [TitanV-PR.txt](https://github.com/gunrock/gunrock/files/2194413/TitanV-PR.txt)

Next step; I will update nvidia driver tonight.

[2018-07-15 18:23] #349 closed

[2018-07-15 19:11] neoblizz commented on #358
[issue#358.txt](https://github.com/gunrock/gunrock/files/2196018/issue.358.txt)

[2018-07-15 21:24] neoblizz opened #360 "Update gunrock_to_json.md doc file"
When you get a chance, please take a look at this: https://github.com/gunrock/gunrock/blob/dev/doc/gunrock_to_json.md